<template id="template-type-form">

    <article class="row">
        <card-title>
            <h1>{{ title }}</h1>
        </card-title>

        <form class="col s12" @submit.prevent="submit">

            <div class="row">
                <div class="col s12">
                    <card-main>
                        <card-content>
                            <div class="row">
                                <div class="col s6">
                                    <div class="row checkbox-users-main">
                                        <div class="col s12">
                                            <label>
                                                <span class="title-check">Enviar Notificación a: </span>
                                            </label>
                                        </div>
                                        <div class="col s12 input-checkbox-users">
                                            <label for="check-all-users">
                                                <input type="checkbox" id="check-all-users" @click="setUserType(1)"/>
                                                <span class="text-check">Todos los Usuarios (Pasajeros y Conductores)</span>
                                            </label>
                                        </div>
                                        <div class="col s12 input-checkbox-users">
                                            <label for="check-all-drivers">
                                                <input type="checkbox" id="check-all-drivers" @click="setUserType(2)"/>
                                                <span class="text-check">Todos los Conductores</span>
                                            </label>
                                        </div>
                                        <div class="col s12 input-checkbox-users">
                                            <label for="check-all-passengers">
                                                <input type="checkbox" id="check-all-passengers" @click="setUserType(3)"/>
                                                <span class="text-check">Todos los Pasajeros</span>
                                            </label>
                                        </div>
                                        <div class="col s12 autocomplete-users-main">
                                            <label>
                                                <span class="text-check__autocomplete">Buscar usuarios en base a: </span>
                                            </label>
                                            <label>
                                                <input name="user-type-selected" id="radio-passengers" type="radio" @click="getUsers(3)"/>
                                                <span class="text-check">Pasajeros</span>
                                            </label>
                                            <label>
                                                <input name="user-type-selected" id="radio-drivers" type="radio" @click="getUsers(2)"/>
                                                <span class="text-check">Conductores</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <input-autocomplete-users placeholder="Inserte el nombre aquí" :set-input="users" @getdata="_selectedUser" :disabled="disabled_auto" savenoresult sin-resultado="No encontrado. Presione enter para agregar"></input-autocomplete-users>
                                        </div>
                                        <div class="col s12 users-selected" v-for="(user,index) in users_selected">
                                            <img @click="remove(index)" :src="asset+'img/remove.png'" class="remove-img">
                                            <span>{{ user.name }} {{ user.user_type}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="row">
                                        <div class="col s12">
                                            <span class="check-desc-title">Titulo de Notificación</span>
                                            <input v-model="form.title" type="text" class="validate"></input>
                                        </div>
                                        <div class="col s12">
                                            <span class="check-desc-title">Mensaje de Notificación</span>
                                            <textarea id="message-box" v-model="form.description"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 center-align">
                                            <a href="#!" class="upload-file-button-notitifications">
                                                <button class="btn btn-send-image">Adjuntar Imagen</button>
                                                <input ref="fileInput" type="file" @change="setImage($event)">
                                            </a>
                                        </div>
                                        <div class="col s12 center-align image-selected" v-if="form.file_show.name != undefined">
                                            <img @click="removeImage()" :src="asset+'img/remove.png'" class="remove-img">
                                            <span>{{ form.file_show.name }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row btn-row">                       
                                <div class="col s12 btn-content center-align">
                                    <button class="btn btn-send-notification" type="submit">Enviar</button>
                                </div>
                            </div>
                        </card-content>
                    </card-main>
                </div>
            </div>
        </form>
    </article>
    
</template>

<style lang="scss" scoped>

    .upload-file-button-notitifications {
        position: relative;
        overflow: hidden;
        display: inline-block;
        margin-top: -2vh;
    }

    .upload-file-button-notitifications input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    .checkbox-users-main  {
        .checkbox-users-main-title {
            margin-top: -4vh;
        }
        label {
            .title-check {
                font-size: 16px;
                color: #5B5B5F;
            }
            .text-check {
                font-size: 14px;
                color: black;
                &__autocomplete{
                    color: #5B5B5F;
                    font-size: 13px;
                }
            }
        }
        a {
            color: #cd3030;
            font-size: 10px;
        }
        div {
            padding: 0px 5px 0px 5px !important;
        }
        .autocomplete-users-main {
            margin-top: 5.5vh;
        }
        .input-checkbox-users {
            margin-top: 1vh;
        }
        [type="radio"]:disabled + span {
            color: rgba(0, 0, 0, 0.42) !important;
        }
        div.users-selected span {
            font-style: italic;
        }
    }
    div.image-selected {
        margin-top: 2vh;
        span {
            font-style: italic;
        } 
    }
    .btn-send-image { 
        border: 2px solid #008f2f; 
        background-color: transparent;
        color: #008f2f;
        text-transform: capitalize;
        font-weight: bold;
        width: 20vw;
        line-height: 0;
    }
    .btn-send-notification { 
        background-color: #2f5597;
        color: white;
        text-transform: capitalize;
        font-weight: bold;
        width: 10vw;
    }
    textarea {
        height: 8rem !important;
    }
    div.autocomplete-users-main {
        [type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
            border: 2px solid #2f5597;
        }
        [type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
            background-color: #2f5597;
        }
    }
    .btn-row {
        margin-top: 5vh;
    }
    .remove-img {
        height: 12px;
        margin-right: 5px;
        margin-left: 1vw;
    }
</style>

<script>
export default {
    template: "#template-type-form",
    props: {
        url: {
            type: String,
            default: ""
        },
        title: {
            type: String,
            default: ""
        },
        'set-users': {
            type: Array,
            default() {
                return [];
            }
        }
    },
    data() {
        return {
            form: {
                title: "",
                file: {},
                file_show: {},
                description: "",
                user_type: "",
                users_ids: []
            },
            users: [],
            accept: ['png', 'jpg', 'jpeg'],
            disabled_auto: false,
            users_selected: [],
            asset: urlBase
        }
    },
    methods:{
        submit(){
            if(typeof this.form.id === "undefined"){
                this.register();
            }else{
                this.edit();
            }
        },
        
        register(){

            if (this.form.title == "") {
                swal("", "Debe ingresar un titulo para la Notificación", "error");
                return
            }

            if (this.form.description == "") {
                swal("", "Debe ingresar una descripcion para la Notificación", "error");
                return
            }

            showLoading();
            let formData = new FormData();
            formData.append('title',this.form.title)
            formData.append('file',this.form.file)
            formData.append('description',this.form.description)
            formData.append('user_type',this.form.user_type)
            formData.append('users_ids', JSON.stringify(this.form.users_ids))
            axios.post('admin/send-notifications', formData)
                .then(res => {
                    quitLoading();
                    if(res.data.result){
                        swal({
                            title: "",
                            text: `Se ha enviado la Notificación con éxito`,
                            timer: 2000,
                            showConfirmButton: false,
                            type: "success"
                        });

                        SocketApp.emit('admin-notification', {
                                type: this.form.user_type,
                                users: this.form.users_ids
                        })

                        this.clearVars()

                        // this._back(false, res.data.course);
                    }
                })
                .catch(err => {
                    quitLoading();
                    let message = "Disculpe, ha ocurrido un error";

                    if(err.response.status === 422){
                        message = err.response.data;
                    }

                    swal("", message, "error");
                });
        },

        edit(){
            this.form._method = "PUT";

            if (moment(this.form.end, 'HH:mm A') > moment(this.form.start, 'HH:mm A')) {
                swal('', 'La Hora de Fin no puede ser mayor a la Hora de Inicio', "error")
                return
            }

            showLoading();
            axios.post(`admin/send-notifications/${this.form.id}`, this.form)
                .then(res => {
                    quitLoading();
                    if(res.data.result){
                        swal({
                            title: "",
                            text: `Se ha editado la Notificación con éxito`,
                            timer: 2000,
                            showConfirmButton: false,
                            type: "success"
                        });

                        this._back(false);
                    }
                })
                .catch(err => {
                    quitLoading();
                    let message = "Disculpe, ha ocurrido un error";

                    if(err.response.status === 422){
                        message = err.response.data;
                    }
                    swal("", message.error, "error");
                });
        },

        _back(fast = false){
            if(fast){
                this.$emit('back', 2);
            }else{
                setTimeout(() => {
                    this.$emit('back', 2)
                }, 2000);
            }
        },

        activarInputsDate() {
            M.Timepicker.init(document.querySelector('#start'),{
                autoClose: true,
                i18n: pickDateI18n
            });
            M.Timepicker.init(document.querySelector('#end'),{
                autoClose: true,
                i18n: pickDateI18n
            });
        },

        setValue() {
            this.form.start = document.getElementById('start') != null ? moment(document.getElementById('start').value, 'hh:mm A').format('hh:mm A') : this.form.start
            this.form.end = document.getElementById('end') != null ? moment(document.getElementById('end').value, 'hh:mm A').format('hh:mm A') : this.form.end
        },

        getUsers(type) {
            showLoading();
            axios.post(`admin/send-notifications/users-type/${type}`)
                .then((res) => {
                    if (res.data.result) {
                        this.users = res.data.users;
                        this.form.users_ids = [];
                        this.users_selected = [];
                    }
                })
                .catch((err) => {
                    let message = "Disculpe, ha ocurrido un error";

                    swal("", message, "error");
                })
                .then(() => {
                    quitLoading();
                })
        },

        _selectedUser(item) {
            if (this.form.users_ids.length > 0) {
                this.users_selected.pop();
                this.form.users_ids.pop()
            }
            if (item.level == '2') {
                item.user_type = '(Conductor)'
            } else if (item.level == '3') {
                item.user_type = '(Pasajero)'
            }
            let found = this.form.users_ids.some((res) => {
                return res == item.id
            })
            if (!found) {
                this.users_selected.push(item)
                this.form.users_ids.push(item.id)
            } else {
                let index = this.users_selected.map(function(x) {return x.id; }).indexOf(item.id)
                if (this.users_selected[index].id == item.id) {
                    this.users_selected[index] = item;
                    this.form.users_ids[index] = itemid;
                } else {
                    this.users_selected.splice(index, 1);
                    this.form.users_ids.splice(index, 1);
                }
            }
            
        },
        setUserType(type) {
            let check = document.querySelector(`#check-all-users`)
            let checkDrivers = document.querySelector(`#check-all-drivers`)
            let checkPassengers = document.querySelector(`#check-all-passengers`)
            let radioDrivers = document.querySelector(`#radio-drivers`)
            let radioPassengers = document.querySelector(`#radio-passengers`)
            if (type == '1' && check.checked == true) {
                checkDrivers.checked = false;
                checkPassengers.checked = false;
                radioDrivers.disabled = true;
                radioPassengers.disabled = true;
                radioDrivers.checked = false;
                radioPassengers.checked = false;
                this.disabled_auto = true;
                this.form.user_type = type;
                this.form.users_ids = [];
                this.users_selected = [];
            } else if (type == '2' && checkDrivers.checked == true) {
                check.checked = false;
                checkPassengers.checked = false;
                radioDrivers.disabled = true;
                radioPassengers.disabled = true;
                radioDrivers.checked = false;
                radioPassengers.checked = false;
                this.disabled_auto = true;
                this.form.user_type = type;
                this.form.users_ids = [];
                this.users_selected = [];
            } else if (type == '3' && checkPassengers.checked == true) {
                check.checked = false;
                checkDrivers.checked = false;
                radioDrivers.disabled = true;
                radioPassengers.disabled = true;
                radioDrivers.checked = false;
                radioPassengers.checked = false;
                this.disabled_auto = true;
                this.form.user_type = type;
                this.form.users_ids = [];
                this.users_selected = [];
            }
            if (check.checked == false && checkDrivers.checked == false && checkPassengers.checked == false) {
                this.disabled_auto = false;
                radioDrivers.disabled = false;
                radioPassengers.disabled = false;
                this.form.user_type = "";
                this.form.users_ids = [];
                this.users_selected = [];
            }
            
        },
        remove(i) {
            this.users_selected.splice(i, 1);
            this.form.users_ids.splice(i, 1);
        },
        removeImage() {
            this.form.file = {};
            this.$refs.fileInput.value = null;
        },
        dataURItoBlob(dataURI) {
            // convert base64/URLEncoded data component to raw binary data held in a string
            var byteString;
            if (dataURI.split(',')[0].indexOf('base64') >= 0)
                byteString = atob(dataURI.split(',')[1]);
            else
                byteString = unescape(dataURI.split(',')[1]);

            // separate out the mime component
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

            // write the bytes of the string to a typed array
            var ia = new Uint8Array(byteString.length);
            for (var i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }

            return new Blob([ia], {type:mimeString});
        },
        setImage(evt) {

            let files = evt.target.files;
            let me = this
            for (let i = 0, f; (f = files[i]); i++) {
                //Solo admitimos imágenes y videos.
                let format = files[i].type.split('/')
                let answer = ((this.accept.indexOf(format[1])) > -1)   
                if (!answer) {
                    this.form.file = {}
                    swal('', 'Solo puede subir imagenes con formato PNG, JPG y JPEG', "error")
                    return false;
                }

                this.form.file = files[i]
                this.form.file_show = files[i]
                if (!this.form.file)
                    return;
                
                showLoading();
                var reader = new FileReader();
                let tipo = format;
                switch(tipo) {
                    case 'jpg':
                        tipo = 'image/jpeg';
                        break;

                    case 'png':
                        tipo = 'image/png';
                        break;

                    case 'jpeg':
                        tipo = 'image/jpeg';
                        break;

                    default: 
                        tipo = 'image/jpeg';
                        break;
                }
                // this.form[field] = this.form.file;
                reader.readAsDataURL(this.form.file);
                reader.onload = function(file) {
                    var tempImg = new Image();
                    tempImg.src = reader.result;

                    tempImg.onload = function() {
                        var MAX_WIDTH = 1000;
                        var MAX_HEIGHT = 1000;
                        var tempW = tempImg.width;
                        var tempH = tempImg.height;

                        if (tempW > tempH) {
                            if (tempW > MAX_WIDTH) {
                            tempH *= MAX_WIDTH / tempW;
                            tempW = MAX_WIDTH;
                            }
                        } else {
                            if (tempH > MAX_HEIGHT) {
                            tempW *= MAX_HEIGHT / tempH;
                            tempH = MAX_HEIGHT;
                            }
                        }
                        var resizedCanvas = document.createElement('canvas');
                        resizedCanvas.width = tempW;
                        resizedCanvas.height = tempH;
                        var ctx = resizedCanvas.getContext("2d");
                        ctx.drawImage(this, 0, 0, tempW, tempH);
                        var dataURL = resizedCanvas.toDataURL(tipo);
                        me.form.file = me.dataURItoBlob(dataURL);
                        quitLoading();
                    }
                }
                // let reader = new FileReader();

                // reader.onload = (theFile => {
                //     return e => {
                //         this.form.file = files[i]
                //     };
                // })(f);

                // reader.readAsDataURL(f);
            }
        },

        clearVars() {
            this.form = {
                title: "",
                file: {},
                file_show: {},
                description: "",
                user_type: "",
                users_ids: []
            },
            this.disabled_auto = false,
            this.users_selected = []
            this.clearChecks();
        },

        clearChecks() {
            let check = document.querySelector(`#check-all-users`)
            let checkDrivers = document.querySelector(`#check-all-drivers`)
            let checkPassengers = document.querySelector(`#check-all-passengers`)
            let radioDrivers = document.querySelector(`#radio-drivers`)
            let radioPassengers = document.querySelector(`#radio-passengers`)

            check.checked = false;
            check.disabled = false;
            checkPassengers.checked = false;
            checkPassengers.disabled = false;
            checkDrivers.checked = false;
            checkDrivers.disabled = false;

            radioDrivers.checked = false;
            radioDrivers.disabled = false;  
            radioPassengers.checked = false;          
            radioPassengers.disabled = false;    
        }
    },
    mounted(){
        this.users = this.setUsers;
    }
}
</script>
