<template id="template-users-index">

    <article class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12 center-align">
                    <h1 v-if="options === 0">Pasajeros Registrados</h1>
                    <h1 v-if="options === 1">Modificar Datos del Pasajero</h1>
                    <h1 v-if="options === 2">Consultar Pasajeros Nuevos</h1>
                    <h1 v-if="options === 3">Consultar Pasajeros Activos</h1>
                    <h1 v-if="options === 4">Consultar Pasajeros Bloqueados</h1>
                    <h1 v-if="options === 5">Consultar Pasajeros Eliminados</h1>
                </div>
            </div>
        
            <div class="row">
                <div class="col s12 m6 offset-m3" v-if="options === 0">
<!--                     <a href="#!" class="btn btn--block btn--option" @click="options = 1">
                        Crear Pasajero
                    </a> -->

                    <a href="#!" class="btn btn--block btn--option" @click="options = 2">
                        Consultar Pasajeros Nuevos
                    </a>

                    <a href="#!" class="btn btn--block btn--option" @click="options = 3">
                        Consultar Pasajeros Activos
                    </a>

                    <a href="#!" class="btn btn--block btn--option" @click="options = 4">
                        Consultar Pasajeros Desactivados y Bloqueados
                    </a>

                    <a href="#!" class="btn btn--block btn--option" @click="options = 5">
                        Consultar Pasajeros Eliminados
                    </a>
                </div>

            </div>

            <div class="row" v-if="options != 0">
                <div class="col s12">
                    <a href="#!" class="btn btn-back" @click="_resetView(0)">
                        <div class="btn-back__container">
                            <label class="label-back-cont">Volver</label>
                        </div>
                    </a>
                </div>
            </div>

            <passengers-form v-if="options === 1" :url="url" :passengers="passengers" :set-form="setForm" v-on:back="_resetView"></passengers-form>

            <passengers-read v-if="options === 2" :url="url" :set-table="dataTable" v-on:back="_resetView" v-on:edit="_edit" :set-status="0"></passengers-read>

            <passengers-read v-if="options === 3" :url="url" :set-table="dataTable" v-on:back="_resetView" v-on:edit="_edit" :set-status="1"></passengers-read>

            <passengers-read v-if="options === 4" :url="url" :set-table="dataTable" v-on:back="_resetView" v-on:edit="_edit" :set-status="2" :set-blocked="true"></passengers-read>

            <passengers-read v-if="options === 5" :url="url" :set-table="dataTable" v-on:back="_resetView" v-on:edit="_edit" :set-deleted="true"></passengers-read>
                
        </div>
    </article>

</template>

<script>
export default {
    template: "#template-users-index",
    props: {
        'url': {
            type: String,
            default: ""
        },
        users: {
            type: Array,
            default(){
                return []
            }
        },
        'set-table': {
            type: Array,
            default(){
                return []
            }
        }
    },
    data(){
        return {
            options: 0,
            'set-form': {},
            dataTable: []
        }
    },
    methods: {
        _resetView(option, data = {}){
            this.options = option;

            if(Object.entries(data).length > 0){

                let hasRow = false,
                    newArray = [];

                this.dataTable.forEach(el => {
                    if(el.id == data.id){
                        newArray.push(data);
                        hasRow = true;
                    }else{
                        newArray.push(el)
                    }
                });

                if(!hasRow){
                    newArray.push(data);
                }

                this.dataTable = newArray;
            }

            this.setForm = {};
        },

        _edit(data){
            this.options = data.option;
            this.setForm = data.data;
        }
    },
    created(){
        this.dataTable = this.setTable;
    }
}
</script>
