<template id="template-routes-form">
    <article class="col s12">
        <div class="row">
            <div class="col s12">
                <ul class="tabs tabs-fixed-width" id="tabs-routes">
                    <li class="tab col s2"><a href="#destinies-route">Rutas del<br/>Pasajero</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <a href="#!" class="btn btn-back" @click="_back">
                    <div class="btn-back__container">
                        <label class="label-back-cont">Volver</label>
                    </div>
                </a>
            </div>
        </div>
       

        <!-- ____________________________________________

        //               INFORMACION
        ____________________________________________ -->

        <card-main>
            <card-content>
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div id="destinies-route" class="col s12">
                                <table-byte :set-table="setTable">

                                <table-row slot="table-head" slot-scope="{ item }">
                                    <table-head>Identificación de Viaje</table-head>
                                    <table-head>Conductor</table-head>
                                    <table-head>Estado de la Ruta</table-head>
                                    <table-head>Metodo de Pago</table-head>
                                    <table-head>Costo del Viaje</table-head>
                                    <table-head>Distancia</table-head>
                                    <table-head>Fecha de la Ruta</table-head>
                                </table-row>

                                <table-row slot="table-row" slot-scope="{ item }">
                                    <table-cell>{{ item.id }}</table-cell>
                                    <table-cell>{{ item.driver == null ? 'No posee conductor asignado': item.driver.person.name + ' ' + item.driver.person.lastname }}</table-cell>
                                    <table-cell>{{ item.status_type }}</table-cell>
                                    <table-cell>{{ item.payment_type }}</table-cell>
                                    <table-cell>CLP {{ item.cost }}</table-cell>
                                    <table-cell>{{ item.distance }} KM</table-cell>
                                    <table-cell>{{ item.created_at | date }}</table-cell>
                                </table-row>

                                    <table-row slot="empty-rows">
                                        <table-cell colspan="6">
                                            No se encontraron registros.
                                        </table-cell>
                                    </table-row>

                                </table-byte>
                            </div>
                        </div>
                    </div>
                </div>
             
            </card-content>

        </card-main>

    </article>
</template>

<style lang="scss">
    .professional_information{
        display: flex;
        align-items: center;

        &:first-child{
            margin-top: 1rem;
        }

        .col{
            margin: 0;
        }
    }

    .input-filling{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .materialize-textarea{
        height: 3rem !important;
    }

    .assignment-content{
        padding-top: 1.7rem !important;
        padding-bottom: 1.7rem !important;
    }
</style>


<script>

export default {
    template: "#template-routes-form",
    props: {
        url: String,
        'url-base': {
            type: String,
            default: ""
        },
        'set-form': {
            type: Object,
            default(){
                return {};
            }
        },
        'url-back': {
            type: String,
            default: ""
        }
    },
    data(){
        return {
            desactivar:false,
            setTable: [],
            form: {
                to_user: '',
                driver: '',
                created_at: '',
                status_type: '',
                vehicle_type: '',
                cost: '',
                commission: '',
                payment_type: ''
            },
            // Modules
        }
    },
    methods:{

        convertToFormData(){
            let formData = new FormData();
            Object.getOwnPropertyNames(this.form).forEach(key => {
                if(key === "modules")
                {
                    formData.append(key, JSON.stringify(this.form[key]));
                }else if(key != "__ob__"){
                    if(this.form[key] != null && this.form[key] != 'null') {
                        formData.append(key, this.form[key]);
                    }
                }
            });

            return formData;
        },

        _back(fast = false){
            if(this.urlBack === ""){
                this.$emit('back', 0);
            }else{
                window.location = this.urlBack;
            }
        },
        _date(date, formatIni, formatFinal = "HH:mm:ss"){
            let hours = Math.floor(date / 3600);
            date = date - hours * 3600;
            let minutes = Math.floor(date / 60);
            let seconds = date - minutes * 60;
            date = hours+':'+minutes+':'+seconds

            return moment(date, 'H:m:s').format(formatFinal);
        }
    },
    created(){
    },
    mounted(){
        M.Tabs.init(document.querySelector('#tabs-routes'));

        if(Object.entries(this.setForm).length > 0){
            this.form = this.setForm
        }

        this.setTable = this.form 
        
    }
}
</script>
