<template id="template-users-index">

    <article class="row">
        <div class="col s12">

            <!-- Table -->
            <div class="col s12">

                <card-main>
                    <card-content>
                        <div class="row">
                            <!-- Table -->
                            <div class="col s12">
                                
                                <table-byte :set-table="table" :filters="['id','person.name', 'person.lastname', 'email']">

                                    <table-row slot="table-head" slot-scope="{ item }">
                                        <table-head>Identificación</table-head>
                                        <table-head>Nombre</table-head>
                                        <table-head>Correo Electrónico</table-head>
                                        <table-head>Estado</table-head>
                                        <table-head>Verificación SMS</table-head>
                                        <table-head>Fecha de Registro</table-head>
                                        <table-head>Acciones</table-head>
                                    </table-row>

                                    <table-row slot="table-row" slot-scope="{ item }">
                                        <table-cell>{{ item.id }}</table-cell>
                                        <table-cell>{{ item.person.name }} {{ item.person.lastname }}</table-cell>
                                        <table-cell>{{ item.email }}</table-cell>
                                        <table-cell v-if="item.deleted_at == null && item.status < '2' && item.pending_documents.length <= 0">{{ item.status == '0' ? 'Inactivo':'Activo' }}</table-cell>
                                        <table-cell v-if="item.status == '2' && item.deleted_at == null && item.pending_documents.length <= 0">Bloqueado</table-cell>
                                        <table-cell v-if="item.status == '3' && item.deleted_at == null && item.pending_documents.length <= 0">Desactivado</table-cell>
                                        <table-cell v-if="item.pending_documents.length > 0 && item.deleted_at == null">En Revisión</table-cell>
                                        <table-cell v-if="item.deleted_at != null">Eliminado</table-cell>
                                        <table-cell>{{ item.validate == '0' ? 'No':'Si' }}</table-cell>
                                        <table-cell>{{ item.created_at }}</table-cell>
                                        <table-cell>

                                            <a title="Ver Detalles"  href="#!" class="btn-action" @click="_view(item, 'view')">
                                                <i class="material-icons prefix">remove_red_eye</i>
                                            </a>

                                            <a title="Editar" v-if="item.deleted_at == null" href="#!" class="btn-action" @click="_edit(item, 'edit')">
                                                <i class="material-icons prefix">create</i>
                                            </a>

                                            <a title="Ver Viajes" v-if="item.has_been_passenger.length > '0'" :href="`${url}/${item.id}/routes`" class="btn-action">
                                                <i class="material-icons prefix">map</i>
                                            </a>

                                            <a :title="item.status == '0' ? 'Activar':'Desactivar'" v-if="item.deleted_at == null && item.status <= '1'" href="#!" class="btn-action" @click="_activateMod(item, 'activate')">
                                                <i class="material-icons prefix">{{ item.status == '0' ? 'check':'close' }}</i>
                                            </a>

                                            <a :title="item.status == '3' ? 'Activar':'Desactivar'" v-if="item.deleted_at == null && item.status == '3'" href="#!" class="btn-action" @click="_activateMod(item, 'activate')">
                                                <i class="material-icons prefix">{{ item.status == '3' ? 'check':'close' }}</i>
                                            </a>

                                            <a :title="item.status == '2' ? 'Desbloquear':'Bloquear'" v-if="item.deleted_at == null" href="#!" class="btn-action" @click="_block(item)">
                                                <i class="material-icons prefix">{{ item.status == '2' ? 'lock_open':'lock_outline' }}</i>
                                            </a>

                                            <a title="Solicitar Documentos" v-if="item.status != 2 && item.deleted_at == null" href="#!" class="btn-action" @click="_checkDocs(item, 'check')">
                                                <i class="material-icons prefix">format_list_bulleted</i>
                                            </a>

                                            <a :title="item.validate == '0' ? 'Validar':'Remover Validacion'" v-if="item.deleted_at == null && item.validate == '0' && item.status != '2'" href="#!" class="btn-action" @click="_validate(item)">
                                                <i class="material-icons prefix">{{ item.validate == '0' ? 'add_circle':'remove_circle' }}</i>
                                            </a>

                                            <a title="Eliminar" v-if="item.deleted_at == null" href="#!" class="btn-action" @click="_confirm(item, 'destroy')">
                                                <i class="material-icons prefix">delete</i>
                                            </a>

                                        </table-cell>
                                    </table-row>

                                    <table-row slot="empty-rows">
                                        <table-cell colspan="6">
                                            No se encontraron registros.
                                        </table-cell>
                                    </table-row>

                                </table-byte>
                            </div>

                            <!-- Modal -->
                            <byte-modal v-on:pressok="_delete" v-on:pressact="_activate" :confirm="modal.type.confirm" :activate="modal.type.activate" v-on:presscheck="_check" :check="modal.type.check" :check-modal="true">
                                <template v-if="modal.type.action == 'view'">

                                <div class="col s7">

                                    <div class="col s12">
                                        <div class="col s12 modal-title">
                                            <h3>Información Personal</h3>
                                        </div>
                                        <div class="col s12">
                                            <span>Nombre: </span> {{ modal.data.person.name }} {{ modal.data.person.lastname }}
                                        </div>

                                        <div class="col s12">
                                            <span>Correo Electronico: </span> {{ modal.data.email }}
                                        </div>

                                        <div class="col s12">
                                            <span>Teléfono: </span> {{ modal.data.person.phone }}
                                        </div>

                                        <div class="col s12">
                                            <span>Estado: </span> {{ modal.data.status == '0' ? 'Inactivo':'Activo' }}
                                        </div>

                                        <div class="col s12">
                                            <span>Tipo de Documento: </span> {{ modal.data.person.document_type_name }}
                                        </div>

                                        <div class="col s12">
                                            <span>RUT: </span> {{ modal.data.person.document }}
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="col s12 modal-title">
                                            <h3>Documentos del Pasajero</h3>
                                        </div>
                                        <div class="col s12">
                                            <span>Foto del Documento: </span> {{ modal.data.person.document_photo ==  null ? 'No ha cargado RUT o Pasaporte':'' }} <a target="_blank" rel="noopener noreferrer" :href="modal.data.person.document_photo | asset" v-if="modal.data.person.document_photo != null">Descargar</a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col s5">
                                    <div class="col s12 modal-title">
                                        <h3>Foto del Pasajero</h3>
                                    </div>
                                    <div class="col s12">
                                        <img :src="modal.data.person.photo | asset" class="responsive-img" v-if="modal.data.person.photo != null">
                                    </div>
                                </div>

                                </template>

                                <template v-if="modal.type.action == 'destroy'">
                                    <div class="container-confirmation">
                                        <div class="confimation__icon">
                                            <i class="material-icons">error_outline</i>
                                        </div>
                                        <div class="confirmation__text">
                                            <h5>¿Realmente desea <b>eliminar</b> este Pasajero?</h5>
                                        </div>
                                    </div>
                                </template>

                                <template v-if="modal.type.action == 'activate'">

                                    <div class="col s12 center-text-modal">
                                        <h5 v-if="modal.data.status == '0'">¿Realmente desea <b>activar</b> a este Pasajero?</h5>
                                        <h5 v-if="modal.data.status == '1'">¿Realmente desea <b>desactivar</b> a este Pasajero?</h5>
                                    </div>

                                    <div class="col s8">

                                        <div class="col s6">
                                            <div class="col s12 modal-title">
                                                <h3>Información Personal</h3>
                                            </div>
                                            <div class="col s12">
                                                <span>Nombre: </span> {{ modal.data.person.name }} {{ modal.data.person.lastname }}
                                            </div>

                                            <div class="col s12">
                                                <span>Correo Electronico: </span> {{ modal.data.email }}
                                            </div>

                                            <div class="col s12">
                                                <span>Estado: </span> {{ modal.data.status == '0' ? 'Inactivo':'Activo' }}
                                            </div>

                                            <div class="col s12">
                                                <span>Tipo de Documento: </span> {{ modal.data.person.document_type_name }}
                                            </div>

                                            <div class="col s12">
                                                <span>RUT: </span> {{ modal.data.person.document }}
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col s4">
                                        <div class="col s12 modal-title">
                                            <h3>Foto del Pasajero</h3>
                                        </div>
                                        <div class="col s12">
                                            <img :src="modal.data.person.photo | asset" class="responsive-img" v-if="modal.data.person.photo != null">
                                        </div>
                                    </div>

                                </template>

                                <template v-if="modal.type.action == 'check'">
                                    <div class="col s12 modal-check pad-left">
                                        <div class="col s12 modal-check-title">
                                            <h3>Solicitud de Documentos</h3>
                                        </div>
                                        <div class="col s12 modal-check-subtitle">
                                            <h5>Seleccione los documentos que requieren ser actualizados</h5>
                                        </div>
                                        <div class="col s6">
                                            <div class="col s12">
                                                <div class="col s12">
                                                    <label for="check-modal-photo">
                                                        <input type="checkbox" id="check-modal-photo" @click="_addCheck('1','2', modal.desc_checks.photo)"/>
                                                        <span class="title-check">Foto de Perfil</span>
                                                        <a target="_blank" rel="noopener noreferrer" :href="modal.data.person.photo | asset" v-if="modal.data.person.photo != null">&nbsp; Descargar</a>
                                                    </label>
                                                </div>
                                                <div class="col s12">
                                                    <span class="check-desc-title">Descripción</span>
                                                    <textarea v-model="modal.desc_checks.photo" id="message-box" class="max-width-input message-box" placeholder="¿Por qué solicita este Documento?"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s6">
                                            <div class="col s12">
                                                <div class="col s12">
                                                    <label for="check-modal-document-photo">
                                                        <input type="checkbox" id="check-modal-document-photo" @click="_addCheck('6','2', modal.desc_checks.document)"/>
                                                        <span class="title-check">Foto del Documento (RUT o Pasaporte)</span>
                                                        <a target="_blank" rel="noopener noreferrer" :href="modal.data.person.document_photo | asset" v-if="modal.data.person.document_photo != null">&nbsp; Descargar</a>
                                                    </label>
                                                </div>
                                                <div class="col s12">
                                                    <label>
                                                        <span>Fecha de Expiración: </span> {{ modal.data.person.expiration_document != null ? modal.data.person.expiration_document : 'No ha cargado RUT o Pasaporte' }}
                                                    </label>
                                                </div>
                                                <div class="col s12">
                                                    <span class="check-desc-title">Descripción</span>
                                                    <textarea v-model="modal.desc_checks.document" id="message-box" class="max-width-input message-box" placeholder="¿Por qué solicita este Documento?"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>

                            </byte-modal>
                        </div>
                    </card-content>
                </card-main>
            </div>
        </div>
    </article>
   
</template>

<style lang="scss" scoped>
    .center-text-modal {
        display: flex;
        justify-content: center
    }
    .modal-title {
        h3 {
            color: #336535;
            border-bottom: 3px solid #336535;
        }
    }
</style>

<script>
export default {
    template: "#template-users-index",
    props: {
        url: {
            type: String,
            default: ""
        },
        'set-table': {
            type: Array,
            default(){
                return []
            }
        },
        'set-validate': {
            type: Boolean,
            default: false
        },
        'set-blocked': {
            type: Boolean,
            default: false
        },
        'set-status': {
            type: Number,
            default: 1,
        },
        'set-deleted': {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            zones: [],
            component: "Zona",
            modal: {
                init: {},
                title: "",
                type: {
                    confirm: false,
                    action: ''
                },
                data: {
                    name: '',
                    assignments:[]
                },
                checks: [],
                desc_checks: {
                    photo: '',
                    document: ''
                }
            },
            options: {
                deleted: false,
                status: 0,
                validate: false,
                blocked: false
            }
        }
    },
    computed: {
        table() {
            let arr = this.setTable.filter(res => {
                if (this.options.deleted == true) {
                    if (res.deleted_at != null) {
                        if (moment(res.created_at, 'DD/MM/YYYY HH:mm:ss', true).isValid() != true) {
                            res.created_at =  moment(res.created_at).format('DD/MM/YYYY HH:mm:ss');
                        }
                        return res
                    }
                } else {
                    if (this.options.validate == true) {
                        if (res.deleted_at == null && res.status == this.options.status && res.validate == '0') {
                            if (moment(res.created_at, 'DD/MM/YYYY HH:mm:ss', true).isValid() != true) {
                                res.created_at =  moment(res.created_at).format('DD/MM/YYYY HH:mm:ss');
                            }
                            return res
                        }
                    } else if (this.options.blocked == true) {
                        if (res.deleted_at == null && res.status >= '2') {
                            if (moment(res.created_at, 'DD/MM/YYYY HH:mm:ss', true).isValid() != true) {
                                res.created_at =  moment(res.created_at).format('DD/MM/YYYY HH:mm:ss');
                            }
                            return res
                        }
                    } else {
                        if (res.deleted_at == null && res.status == this.options.status) {
                            if (moment(res.created_at, 'DD/MM/YYYY HH:mm:ss', true).isValid() != true) {
                                res.created_at =  moment(res.created_at).format('DD/MM/YYYY HH:mm:ss');
                            }
                            return res
                        }
                    }
                }

            })
            return arr
        }
    },
    methods:{

        _view(data, action){
            this.modal.title = "Ver Pasajero";
            this.modal.type.action = action;
            this.modal.type.confirm = false;
            this.modal.type.activate = false;
            this.modal.data = data;
            this.modal.init.open();
        },

        _edit(data, action){
            this.$emit('edit', {data: data, option: 1});
        },

        _confirm(data, action){
            this.modal.title = "Eliminar Pasajero";
            this.modal.type.action = action;
            this.modal.type.confirm = true;
            this.modal.type.activate = false;
            this.modal.type.check = false;
            this.modal.data = data;
            this.modal.init.open();
        },
        _activateMod(data, action){
            this.modal.title = "Activar Pasajero";
            this.modal.type.action = action;
            this.modal.type.confirm = false;
            this.modal.type.activate = true;
            this.modal.type.check = false;
            this.modal.data = data;
            this.modal.init.open();
        },
        _checkDocs(data, action){
            this.modal.checks = []
            this.modal.title = "Solicitar Documentos";
            this.modal.type.action = action;
            this.modal.type.confirm = false;
            this.modal.type.activate = false;
            this.modal.type.check = true;
            this.modal.data = data;
            this.modal.init.open();
        },
        _activate(){
            axios.post(`admin/passengers-activate/${this.modal.data.id}`)
                .then(res => {
                    if (res.data.result) {
                        this.modal.data.status = res.data.user
                        this.modal.init.close();
                        swal('', res.data.msg, "success")
                        // setTimeout(()=>{
                        //     location.reload();
                        // }, 1500)
                        if (res.data.user == '3') {
                            SocketApp.emit('usuario-desactivado', { id: this.modal.data.id })
                        }
                    }
                })
                .catch(err => {
                    console.log(err, 'err')
                    swal('', 'Disculpe, ha ocurrido un error', "error")
                });
        },
        _validate(data){
            swal({
                title: "Seguro que desea activar a este Pasajero?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#2f5597",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: true,
                closeOnCancel: true
            },
            function(isConfirm){
                if (isConfirm) {
                    showLoading();
                    axios.post(`admin/passengers-validate/${data.id}`)
                        .then(res => {
                            if (res.data.result) {
                                data.validate = res.data.validate
                                swal('', res.data.msg, "success")
                                if (data.validate == '1') {
                                    SocketApp.emit('usuario-validated', { user_id: data.id })
                                }
                            }
                        })
                        .catch(err => {
                            swal('', 'Disculpe, ha ocurrido un error', "error")
                        })
                        .then(() => {
                            quitLoading();
                        });
                }
            });
        },
        _block(data){
            axios.post(`admin/passengers-block/${data.id}`)
                .then(res => {
                    if (res.data.result) {
                        data.status = res.data.user
                        swal('', res.data.msg, "success")
                        if (data.status == '2') {
                            SocketApp.emit('usuario-desactivado', { id: data.id })
                        }
                        // setTimeout(()=>{
                        //     location.reload();
                        // }, 1500)
                    }
                })
                .catch(err => {
                    swal('', 'Disculpe, ha ocurrido un error', "error")
                });
        },
        _delete() {

            const me = this;

            const index = this.setTable.findIndex(e => e.id == this.modal.data.id );

            this.modal.init.close();

            axios.delete(`admin/passengers/${this.modal.data.id}`)
                .then( r => {
                    this.setTable[index].deleted_at = r.data.user;
                    swal('', 'Se ha eliminado al Pasajero con éxito', "success");
                    SocketApp.emit('usuario-desactivado', { id: me.modal.data.id })
                })
                .catch( e => swal('', 'Disculpe, ha ocurrido un error', "error") );

        },
        _check() {
            console.log(this.modal.checks, 'checks checks')
            if (this.modal.checks.length > 0) {
                this.modal.checks.forEach(res => {
                    if (res.type == '1') {
                        res.text = this.modal.desc_checks.photo
                    } else if (res.type == '6') {
                        res.text = this.modal.desc_checks.document
                    }
                })
                axios.post(`admin/users/users-check-documents/${this.modal.data.id}`, {checks: this.modal.checks})
                    .then(res => {
                        if (res.data.result) {
                            swal('', res.data.msg, "success");
                            let countR = 0
                            let countA = 0
                            let reason = ''
                            this.modal.checks.forEach(resp => {
                                if (resp.status == '2') {
                                    countR += 1
                                    let text = ''
                                    if (resp.type == '1') {
                                            text = `La Foto de Perfil fue Rechazada, `
                                        if (this.modal.desc_checks.photo != '') {
                                            text += `Motivo: ` + this.modal.desc_checks.photo + ', '
                                        }
                                    } else if (resp.type == '6') {
                                            text = `El Documento (RUT o Pasaporte) fue Rechazado, `
                                        if (this.modal.desc_checks.document != '') {
                                            text += `Motivo: ` + this.modal.desc_checks.document + ', '
                                        }
                                    }
                                    reason += text
                                } else if (resp.status == '1') {
                                    countA += 1
                                }
                            })
                            reason = reason.replace(/,\s*$/, "");
                            this.modal.data.pending_documents = res.data.docs
                            let pos = this.setTable.map(function(e) { return e.id; }).indexOf(this.modal.data.id);
                            if (countR > 0) {
                                SocketApp.emit('notification', {
                                        type: 6,
                                        user_id: this.modal.data.id,
                                        description: reason
                                })
                                Vue.set(this.setTable[pos], 'pending_documents', res.data.rejects)
                            }
                            if (countR == 0 && countA == res.data.docs.length) {
                                SocketApp.emit('notification', {
                                        type: 7,
                                        user_id: this.modal.data.id
                                })
                            }
                            this.modal.desc_checks = {
                                photo: '',
                                vehicle: '',
                                license: '',
                                permit: '',
                                criminal: '',
                                document: ''
                            }
                            let checks = document.querySelectorAll('input[type="checkbox"]');
                            for(let i =0; i< checks.length;i++){
                                let check = checks[i];
                                if(!check.disabled){
                                    check.checked = false;
                                }
                            }
                            this.modal.checks = []
                            this.modal.init.close()
                        }
                    })
                    .catch(err => {
                        console.log(err)
                        swal('', 'Disculpe, ha ocurrido un error', "error")
                    })
            } else {
                this.modal.checks = []
                this.modal.init.close()
                let checks = document.querySelectorAll('input[type="checkbox"]');
                for(let i =0; i< checks.length;i++){
                    let check = checks[i];
                    if(!check.disabled){
                        check.checked = false;
                    }
                }
            }
        },
        _addCheck(type,status,text) {
            let obj = {
                status: status,
                type: type,
                text: text
            }
            let found = this.modal.checks.some((item) => {
                return item.type === type
            })
            if (!found) {
                this.modal.checks.push(obj)
            } else {
                let arr = this.modal.checks.filter((item) => {
                    return item.type != obj.type
                })
                this.modal.checks = arr
            }
        },
        _back(fast = false){
            if(fast){
                this.$emit('back', 0);
            }else{
                setTimeout(() => {
                    this.$emit('back', 0)
                }, 2000);
            }
        }
    },
    mounted () {
        this.modal.init = M.Modal.init(document.querySelector('.modal'));
        this.options.deleted = this.setDeleted
        this.options.status = this.setStatus
        this.options.validate = this.setValidate
        this.options.blocked = this.setBlocked
    }
}
</script>
