<template id="template-table-row">
    <tr :class="paint">
        <slot></slot>
    </tr>
</template>


<script>
export default {
    template: "#template-table-row",
    props: {
        data: {
            type: Object,
            default(){
                return {};
            }
        },
        paint: {
            type: String,
            default() {
                return '';
            }
        }
    },
    data() {
        return {
            td: {}
        }
    },
    methods: {
        
    }
}
</script>