<template id="template-routes-form">
    <article class="col s12">
        <div class="row">
            <div class="col s12">
                <ul class="tabs tabs-fixed-width" id="tabs-routes">
                    <li class="tab col s2"><a href="#information-route">Información de<br/>la Ruta</a></li>
                    <li class="tab col s2"><a href="#destinies-route">Destinos de<br/>la Ruta</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <a href="#!" class="btn btn-back" @click="_back">
                    <div class="btn-back__container">
                        <label class="label-back-cont">Volver</label>
                    </div>
                </a>
            </div>
        </div>
       

        <!-- ____________________________________________

        //               INFORMACION
        ____________________________________________ -->

        <card-main>
            <card-content>
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div id="information-route" class="col s12">
                                <div class="input-field col s12 m6">
                                    <input type="text" class="validate" v-model="form.to_user.fullname" readonly disabled>
                                    <label for="to_user" class="active">Pasajero</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input type="text" class="validate" v-model="form.driver.fullname" readonly disabled>
                                    <label for="driver" class="active">Conductor</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input type="text" class="validate" v-model="form.created_at" readonly disabled>
                                    <label for="date" class="active">Fecha</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input type="text" class="validate" v-model="form.created_at_time" readonly disabled>
                                    <label for="time" class="active">Hora</label>
                                </div>
                                 <div class="input-field col s12 m6">
                                    <!-- <input type="text" class="validate" v-model="form.time" readonly disabled>
                                    <label for="time" class="active">Duración</label> -->
                                </div> 
                                <div class="input-field col s12 m6">
                                    <input type="text" class="validate" v-model="form.distance" readonly disabled>
                                    <label for="distance" class="active">Distancia</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input type="text" class="validate" v-model="form.status_type" readonly disabled>
                                    <label for="status_type" class="active">Estado</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input type="text" class="validate" v-model="form.vehicle_type.name" readonly disabled>
                                    <label for="vehicle_type" class="active">Tipo de Vehículo</label>
                                </div>
                                <div v-if="form.payments.length == '1'">
                                    <div class="col s12 m12 no-padding">
                                        <h5 class="center-align subtitle">Metodos de Pago</h5>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input type="text" class="validate" v-model="form.payment_type" readonly disabled>
                                        <label for="payment_type" class="active">Tipo de Pago</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input type="text" class="validate" v-model="form.cost" readonly disabled>
                                        <label for="cost" class="active">Costo</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input type="text" class="validate" v-model="form.commission" readonly disabled>
                                        <label for="commission" class="active">Comisión</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input type="text" class="validate" v-model="form.driver_earning" readonly disabled>
                                        <label for="driver_earning" class="active">Ganancia al Conductor</label>
                                    </div>
                                </div>
                                <div v-if="form.payments.length > '1'">
                                    <div class="col s12 m12 no-padding">
                                        <h5 class="center-align subtitle">Metodos de Pago</h5>
                                    </div>
                                    <div v-for="payment in form.payments">  
                                        <div class="input-field col s12 m6">
                                            <input type="text" class="validate" v-model="payment.method_type" readonly disabled>
                                            <label for="payment_type" class="active">Tipo de Pago</label>
                                        </div>
                                        <div class="input-field col s12 m6">
                                            <input type="text" class="validate" v-model="payment.total_seen" readonly disabled>
                                            <label for="cost" class="active">Costo</label>
                                        </div>
                                        <div class="input-field col s12 m6">
                                            <input type="text" class="validate" v-model="payment.commission_seen" readonly disabled>
                                            <label for="commission" class="active">Comisión</label>
                                        </div>
                                        <div class="input-field col s12 m6">
                                            <input type="text" class="validate" v-model="payment.balance" readonly disabled>
                                            <label for="driver_earning" class="active">Ganancia al Conductor</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="destinies-route" class="col s12">
                                <table-byte :set-table="setTableDestinations">

                                <table-row slot="table-head" slot-scope="{ item }">
                                    <table-head>Tipo</table-head>
                                    <table-head>Dirección</table-head>
                                </table-row>

                                <table-row slot="table-row" slot-scope="{ item }">
                                    <table-cell> {{ item.route_type }} </table-cell>
                                    <table-cell> {{ item.address }} </table-cell>
                                </table-row>

                                    <table-row slot="empty-rows">
                                        <table-cell colspan="3">
                                            No se encontraron registros.
                                        </table-cell>
                                    </table-row>

                                </table-byte>
                                
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
             
            </card-content>

        </card-main>

    </article>
</template>

<style lang="scss">
    #map {
        height: 400px;
    }

    .professional_information{
        display: flex;
        align-items: center;

        &:first-child{
            margin-top: 1rem;
        }

        .col{
            margin: 0;
        }
    }

    .input-filling{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .materialize-textarea{
        height: 3rem !important;
    }

    .assignment-content{
        padding-top: 1.7rem !important;
        padding-bottom: 1.7rem !important;
    }
    .center-align .subtitle {
        margin-top: 1rem !important;
    }
</style>


<script>

import Geocoder from "@pderas/vue2-geocoder";
 
Vue.use(Geocoder, {
    googleMapsApiKey: 'AIzaSyB2AYKCUTc1BJJaL_SVBT7TwTPI85lCW5A'
});

export default {
    template: "#template-routes-form",
    props: {
        url: String,
        'url-base': {
            type: String,
            default: ""
        },
        'set-form': {
            type: Object,
            default(){
                return {};
            }
        },
        'url-back': {
            type: String,
            default: ""
        }
    },
    data(){
        return {
            existsParada: false,
            origen: {},
            destino: {},
            parada: [],
            desactivar:false,
            setTableDestinations: [],
            map: null,
            zoom: 12,
            icons: [
                `${urlBase}img/maps/ubicacion1.png`, 
                `${urlBase}img/maps/ubicacion2.png`,
                `${urlBase}img/maps/ubicacion3.png` 
            ],
            form: {
                to_user: '',
                driver: '',
                created_at: '',
                created_at_time: '',
                status_type: '',
                vehicle_type: '',
                cost: '',
                commission: '',
                driver_earning: '',
                payment_type: '',
                destinies: [],
                payments: []
            },
            markers: []
            // Modules
        }
    },
    methods:{

        convertToFormData(){
            let formData = new FormData();
            Object.getOwnPropertyNames(this.form).forEach(key => {
                if(key === "modules")
                {
                    formData.append(key, JSON.stringify(this.form[key]));
                }else if(key != "__ob__"){
                    if(this.form[key] != null && this.form[key] != 'null') {
                        formData.append(key, this.form[key]);
                    }
                }
            });

            return formData;
        },

        _back(fast = false){
            if(this.urlBack === ""){
                this.$emit('back', 0);
            }else{
                // window.location = this.urlBack;
                window.history.back();
            }
        },
        _date(date, formatIni, formatFinal = "HH:mm:ss"){
            let hours = Math.floor(date / 3600);
            date = date - hours * 3600;
            let minutes = Math.floor(date / 60);
            let seconds = date - minutes * 60;
            date = hours+':'+minutes+':'+seconds

            return moment(date, 'H:m:s').format(formatFinal);
        },
        _initMap() {
            console.log('EMA')
            console.log(this.form.distance)
           

            let lastIndex = this.form.to_destinies.length - 1
            let origenLatitud = parseFloat(this.form.to_destinies[0].latitud)
            let origenLongitud = parseFloat(this.form.to_destinies[lastIndex].latitud)
            let destinoLatitud = parseFloat(this.form.to_destinies[0].longitud)
            let destinoLongitud = parseFloat(this.form.to_destinies[lastIndex].longitud)

            let latCenter = origenLatitud + origenLongitud
            latCenter = latCenter / 2;

            let lngCenter = destinoLatitud + destinoLongitud
            lngCenter = lngCenter / 2;

            let center = { 
                lat: latCenter, 
                lng: lngCenter 
            }

            // this.distanceService = new google.maps.DistanceMatrixService
            this.directionsService = new google.maps.DirectionsService
            this.directionsDisplay  = new google.maps.DirectionsRenderer({
                suppressMarkers: true,
                polylineOptions: {
                    strokeColor: "#000",
                    strokeWeight: 5
                },
                preserveViewport: true
            })
           
            // let origen = { lat: origenLatitud, lng: origenLongitud }
            // let destino = { lat: destinoLatitud, lng: destinoLongitud }

            // let response = this._getDistance(origen, destino)
            
            this.map = new google.maps.Map(document.getElementById('map'), {
                center,
                zoom: this.zoom
            });
            this.directionsDisplay.setMap(this.map)
        },
        _addMarker(latLng, type, route_type, address) {
            let constentString = `<b>${route_type}</b>: <br> ${address}`

            let infoWindow = new google.maps.InfoWindow({
                content: constentString
            })

            let marker = new google.maps.Marker({
                map: this.map,
                draggable: false,
                position: latLng,
                icon: this.icons[type],
                title: route_type
            })

            marker.addListener('click', () => {
                infoWindow.open(this.map, marker)
            })

            this.markers.push(marker)
        },
        _displayRoute(origin, destination, waypoints) {
            this.directionsService.route({
                origin,
                destination,
                travelMode: 'DRIVING',
                waypoints,
                }, (response, status) => {
                if (status === 'OK') {
                    this.directionsDisplay.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
    },
    created(){},
    mounted(){
        if (this.setForm.description) {
            this.setForm.to_destinies[0].description = this.setForm.description;
        }     

        this.setForm.payments.forEach(res => {
            if (res.method == '1') {
                res.method_type = 'Tarjeta de Credito'
            } else if (res.method == '2') {
                res.method_type = 'Efectivo'
            } else if (res.method == '3') {
                res.method_type = 'Promocion'
            }
            res.total_seen = 'CLP ' + parseInt(res.total)
            res.commission_seen = 'CLP ' + parseInt(res.commission)
            res.balance = 'CLP ' + String(parseInt(res.total - res.commission))
        })

        M.Tabs.init(document.querySelector('#tabs-routes'));

        if(Object.entries(this.setForm).length > 0){
            this.form = this.setForm
        }

        if(this.form.distance > 100) {
            this.zoom = 8
        } 

        if(this.zoom > 2000) {
            this.zoom = 6
        }

        if(this.form.distance > 5000) {
            this.zoom = 3
        }

        this.form.time = this._date(this.form.time)
        this.form.created_at_time = moment(this.form.created_at, 'YYYY-MM-DD HH:mm:ss').format('LT A')
        this.form.created_at = moment(this.form.created_at, 'YYYY-MM-DD HH:mm:ss').format('DD-MM-YYYY')

        this.form.cost = 'CLP ' + this.form.cost
        this.form.commission = 'CLP ' + this.form.commission
        this.form.driver_earning = 'CLP ' + this.form.driver_earning
        // this.form.distance = this.form.distance + ' KM'

        if (this.form.to_user != null && this.form.to_user != undefined) {
                if(this.form.to_user.person != null && this.form.to_user.person != 'null' && this.form.to_user.person != undefined) {
                    this.form.to_user.fullname = this.form.to_user.person.name + ' ' + this.form.to_user.person.lastname
                } else {
                    this.form.to_user.fullname = 'No posee Pasajero asignado'
                }
        } else {
        this.form.to_user = {
                fullname: 'No posee Pasajero asignado'
            }
        }

        if (this.form.driver != null && this.form.driver != undefined) {
            if(this.form.driver.person != null && this.form.driver.person != 'null' && this.form.driver.person != undefined) {
                this.form.driver.fullname = this.form.driver.person.name + ' ' + this.form.driver.person.lastname
            } else {
                this.form.driver.fullname = 'No posee Conductor asignado'
            }
        } else {
        this.form.driver= {
                fullname: 'No posee Conductor asignado'
            }
        }

        /** 
         *  Mapa de la ruta
         * 
         * **/
        Vue.$geocoder.setDefaultMode('lat-lng');
        this._initMap()
        this.existsParada = this.form.to_destinies.length > 2
        this.form.to_destinies.forEach((dst,index) => {

            var latLngObj = {
                lat: parseFloat(dst.latitud),
                lng: parseFloat(dst.longitud)
            }

            if(index == 0) { // ORIGEN DE LA RUTA
                this.origen = latLngObj
            }
            
            if (index == 1 && this.existsParada) { // SI EXISTE PARADA 
                this.parada.push({ // ARRAY PARA WAYPOINTS
                    location: latLngObj,
                    stopover: true,
                })
            }         

            if(index == 2 || (index == 1 && !this.existsParada)){ // DESTINO
                this.destino = latLngObj
            }
            
            Vue.$geocoder.send(latLngObj, response => { 
                if (dst.description) {
                  dst.address = dst.description
                }
                else {
                  dst.address = response.results[0].formatted_address  
                }                
                this._addMarker(latLngObj, dst.type, dst.route_type, dst.address)
                dst.index = index + 1;
            });
        })

        this._displayRoute(this.origen, this.destino, this.parada)

        setTimeout(()=>{
            this.setTableDestinations = this.form.to_destinies 
        }, 2000)
    }
}
</script>
