<template id="template-users-index">

    <article class="row">
        <div class="col s12 ">
            <div class="row">
                <div class="col s12 center-align">
                    <h1 v-if="options == 0">Rutas</h1>
                    <h1 v-if="options == 1">Creación de Rutas</h1>
                    <h1 v-if="options == 2">Consultar Rutas Creadas</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="col s12 m6 offset-m3" v-if="options == 0">
                    <a href="#!" class="btn btn--block btn--option" @click="options = 1">
                        Creación de Rutas
                    </a>
                    <a href="#!" class="btn btn--block btn--option" @click="options = 2">
                        Consultar Rutas Creados
                    </a>
                    <a href="#!" class="btn btn--block btn--option" @click="options = 3">
                        Detalles de Ruta
                    </a>
                </div>
            </div>

            <div class="row" v-if="options != 2">
                <div class="col s12">
                    <a href="#!" class="btn btn-back" @click="options = 0">
                        <div class="btn-back__container">
                            <label class="label-back-cont">Volver</label>
                        </div>
                    </a>
                </div>
            </div>


            <div class="row">
                <div class="col s12">
                    <routes-form v-if="options === 1" :url="url" v-on:back="_resetView"></routes-form>
                    <read-routes v-if="options === 2" :url="url" v-on:back="_resetView" :routes="routes"></read-routes>
                    <route-detail-form v-if="options === 3" :url="url" v-on:back="_resetView"></route-detail-form>
                </div>
            </div>
        </div>
    </article>
</template>

<script>

import ReadRoutes from './ReadRoutes.vue';

export default {
    template: "#template-users-index",
    components: { ReadRoutes },
    props: {
        'url': {
            type: String,
            default: ""
        },
        routes: {
            type: Array,
            default () {
                return []
            }
        },
        
    },
    data () {
        return {
            options: 2,
            modal: {
                init: {},
                title: "",
                type: {
                    confirm: false,
                    action: 'view'
                },
                data: {
                    name: ''
                }
            }
        }
    },
    methods: {
        _resetView(option){
            this.options = option;
        },
        
    },
    mounted () {
        this.modal.init = M.Modal.init(document.querySelector('.modal'));
    }
}
</script>
