<template id="template-student">
    <card-main>
        <card-content>
            <article class="row">
                
                <!-- <div class="col s4">
                    <select name="" id="" class="browser-default" v-model="filter">
                        <option value="">Todos</option>
                        <option value="4">Rutas</option>
                    </select>				
                </div> -->

                <div class="col s12">
                    <table-byte :set-table="routes" :filters="['id','to_user.fullname', 'to_user.name', 'to_user.lastname','driver.name', 'driver.lastname', 'driver.fullname', 'vehicle_type.name', 'status_type']">

                        <table-row slot="table-head" slot-scope="{ item }">
                            <table-head>Identificación</table-head>
                            <table-head>Pasajero</table-head>
                            <table-head>Conductor</table-head>
                            <table-head>Fecha</table-head>
                            <!-- <table-head>Duracion</table-head> -->
                            <!-- <table-head>Distancia</table-head> -->
                            <table-head>Estado</table-head>
                            <table-head>Tipo de vehículo</table-head>
                            <table-head>Costo</table-head>
                            <!-- <table-head>Comision</table-head> -->
                            <table-head>Acciones</table-head>
                        </table-row>

                        <table-row slot="table-row" slot-scope="{ item }">
                            <table-cell>{{ item.id }}</table-cell>
                            <table-cell>{{ item.to_user == null ? 'No posee pasajero asignado': item.to_user.person.name + ' ' + item.to_user.person.lastname }}</table-cell>
                            <table-cell>{{ item.driver == null ? 'No posee conductor asignado': item.driver.person.name + ' ' + item.driver.person.lastname }}</table-cell>
                            <table-cell>{{ item.created_at | date }}</table-cell>
                            <!-- <table-cell>{{ item.time | time }}</table-cell> -->
                            <!-- <table-cell>{{ item.distance }} KM</table-cell> -->
                            <table-cell>{{ item.status_type }}</table-cell>
                            <table-cell>{{ item.vehicle_type.name }}</table-cell>
                            <table-cell>CLP {{ item.cost }}</table-cell>
                            <!-- <table-cell>CLP {{ item.commission }}</table-cell> -->
                            <table-cell>

                                <a :href="`${url}/${item.id}/edit`" class="btn-action">
                                    <i class="material-icons prefix">map</i>
                                </a>
                                
                            </table-cell>

                        </table-row>

                        <table-row slot="empty-rows">
                            <table-cell colspan="8">
                                No se encontraron registros.
                            </table-cell>
                        </table-row>

                    </table-byte>

                    <byte-modal v-on:pressok="_delete" v-on:presscancel="_close" :confirm="modal.type.confirm">
                        <template v-if="modal.type.action == 'view' && modal.data.person">

                            <template v-if="modal.data.level ==  '4'">
                                <div class="col s12">
                                    <h3>Datos Personales</h3>
                                </div>
                                
                                <div class="col s9">
                                    <div class="col s12">
                                        <span>Nombre: </span> {{ modal.data.person.name }} {{ modal.data.person.lastname }}
                                    </div>

                                    <div class="col s12">
                                        <span>Correo electronico: </span> {{ modal.data.email }}
                                    </div>

                                    <div class="col s12">
                                        <span>Estado: </span> {{ modal.data.status == '0' ? 'Inactivo':'Activo' }}
                                    </div>

                                </div>
                                <!-- <div class="col s3">
                                    <div class="col s12">
                                        <img :src="modal.data.person.photo" class="responsive-img" v-if="modal.data.person.photo != null">
                                    </div>
                                </div> -->

                            </template>

                        </template>

                        <template v-if="modal.type.action == 'destroy'">
                            <div class="container-confirmation">
                                <div class="confimation__icon">
                                    <i class="material-icons">error_outline</i>
                                </div>
                                <div class="confirmation__text">
                                    <h5>¿Realmente desea <b>Eliminar</b> al <b> Ruta</b>?</h5>
                                </div>
                            </div>
                        </template>
                    </byte-modal>
                </div>

            </article>
        </card-content>
    </card-main>
</template>

<script>
	export default {
		template: "#template-student",
		props: {
			url: String,
			routes: {
				type: Array,
				default () {
					return []
				}
			}
		},
		data () {
			return {
                modal: {
                    init: {},
                    title: "",
                    type: {
                        confirm: false,
                        action: 'view'
                    },
                    data: {
                        id: '',
                        name: ''
                    }
                }
			}
		},
		methods: {
            _back(){
                this.$emit('back', 0);
            },
            _detail(data, action){
                this.$emit('detail', {data: data, option: 3});
            },
			_view(data, action){
                this.modal.title = "Ver Ruta";
                this.modal.type.action = action;
                this.modal.type.confirm = false;
                this.modal.data = data;
                this.modal.init.open();
                setTimeout(() => {
                    var elems = document.querySelectorAll('.collapsible');
                    var instances = M.Collapsible.init(elems);
                }, 300)
                
            },
            _initCollabsible () {
                console.log('asd')
            },
            _destroyCollabsible () {
                instances.destroy()
            },
            _confirm(data, action){
                this.modal.title = "Eliminar Ruta";
                this.modal.type.action = action;
                this.modal.type.confirm = true;
                this.modal.data = data;
                this.modal.init.open();
            },
            _activate_mod(data, action){
                if (data.status == '0') {
                    this.modal.title = "Activar Ruta";
                } else {
                    this.modal.title = "Desactivar Ruta";
                }
                this.modal.type.action = action;
                this.modal.type.activate = true;
                this.modal.data = data;
                this.modal.init.open();
            },
            _delete(){
                let index = this.routes.findIndex(e => {
                    return e.id == this.modal.data.id
                })
                
                this.modal.init.close()

                axios.delete(`admin/routes/${this.modal.data.id}`)
                    .then(res => {
                        if(res.data.result == undefined){
                            this.routes.splice(index, 1);
                            swal('', 'Se ha eliminado la Ruta con éxito', 'success');
                        }
                        
                    })
                    .catch(err => {
                        swal('', 'Disculpe, ha ocurrido un error', "error")
                    });
		    },
            _close() {
                this.modal.init.close()
                this.modal.title = "";
                this.modal.type.action = 'view';
                this.modal.type.confirm = false;
                this.modal.data = {};
            },
            _activate(data){

                axios.post(`admin/routes-activate/${data.id}`)
                    .then(res => {
                        if (res.data.result) {
                            data.status = res.data.user
                            swal('', res.data.msg, "success")
                        }
                    })
                    .catch(err => {
                        swal('', 'Disculpe, ha ocurrido un error', "error")
                    });
            },
        },
        mounted () {
            this.modal.init = M.Modal.init(document.querySelector('.modal'));

            this.routes.forEach(r =>{
                if (r.to_user != null && r.to_user != undefined) {
                    if (r.to_user != null && r.to_user != undefined) {
                        Object.getOwnPropertyNames(r.to_user.person).forEach(key => {
                            if(r.to_user.person[key] != null && r.to_user.person[key] != 'null' && r.to_user.person[key] != undefined) {
                                r.to_user[key] = r.to_user.person[key];
                            }
                        });
                        r.to_user.fullname = r.to_user.name + ' ' + r.to_user.lastname
                    } else {
                    r.to_user= { name: 'No posee pasajero asignado',
                                lastname: '',
                                fullname: '',
                                person: {
                                    name: 'No posee pasajero asignado',
                                    lastname: '',
                                    fullname: '',
                                }
                        }
                    }
                } else {
                    r.to_user= { name: 'No posee pasajero asignado',
                                lastname: '',
                                fullname: '',
                                person: {
                                    name: 'No posee pasajero asignado',
                                    lastname: '',
                                    fullname: '',
                                }
                    }
                }
                if (r.driver != null && r.driver != undefined) {
                    if (r.driver != null && r.driver != undefined) {    
                        Object.getOwnPropertyNames(r.driver.person).forEach(key => {
                            if(r.driver.person[key] != null && r.driver.person[key] != 'null' && r.driver.person[key] != undefined) {
                                r.driver[key] = r.driver.person[key];
                            }
                        });
                        r.driver.fullname = r.driver.name + ' ' + r.driver.lastname
                    } else {
                        r.driver= { name: 'No posee conductor asignado',
                                    lastname: '',
                                    fullname: '',
                                    person: {
                                        name: 'No posee conductor asignado',
                                        lastname: '',
                                        fullname: '',
                                    }
                        }
                    }
                } else {
                    r.driver= { name: 'No posee conductor asignado',
                                lastname: '',
                                fullname: '',
                                person: {
                                    name: 'No posee conductor asignado',
                                    lastname: '',
                                    fullname: '',
                                }
                    }
                }
            })
        }
	}
</script>