<template id="template-student">
    <card-main>
        <card-content>
            <article class="row">
                
                <!-- <div class="col s4">
                    <select name="" id="" class="browser-default" v-model="filter">
                        <option value="">Todos</option>
                        <option value="4">Rutas</option>
                    </select>               
                </div> -->

                <div class="col s12">
                    <table-byte :set-table="routes" :filters="['id','to_user.fullname', 'to_user.name', 'to_user.lastname','vehicle_type.name', 'status_type']">

                        <table-row slot="table-head" slot-scope="{ item }">
                            <table-head>Identificación</table-head>
                            <table-head>Pasajero</table-head>
                            <table-head>Fecha</table-head>
                            <!-- <table-head>Duracion</table-head> -->
                            <table-head>Distancia</table-head>
                            <table-head>Estado</table-head>
                            <table-head>Tipo de vehículo</table-head>
                            <table-head>Costo</table-head>
                            <!-- <table-head>Comision</table-head> -->
                            <table-head>Acciones</table-head>
                        </table-row>

                        <table-row slot="table-row" slot-scope="{ item }">
                            <table-cell>{{ item.id }}</table-cell>
                            <table-cell>{{ item.to_user == null ? 'No posee pasajero asignado': item.to_user.person.name + ' ' + item.to_user.person.lastname }}</table-cell>
                            <table-cell>{{ item.created_at | date }}</table-cell>
                            <!-- <table-cell>{{ item.time | time }}</table-cell> -->
                            <table-cell>{{ item.distance }} KM</table-cell>
                            <table-cell>{{ item.status_type }}</table-cell>
                            <table-cell>{{ item.vehicle_type.name }}</table-cell>
                            <table-cell>CLP {{ item.cost }}</table-cell>
                            <!-- <table-cell>CLP {{ item.commission }}</table-cell> -->
                            <table-cell>

                                <a :href="`${url}/${item.id}/edit`" class="btn-action">
                                    <i class="material-icons prefix">map</i>
                                </a>
                                
                            </table-cell>

                        </table-row>

                        <table-row slot="empty-rows">
                            <table-cell colspan="8">
                                No se encontraron registros.
                            </table-cell>
                        </table-row>

                    </table-byte>
                </div>
            </article>
        </card-content>
    </card-main>
</template>

<script>
    export default {
        template: "#template-student",
        props: {
            url: String,
            routes: {
                type: Array,
                default () {
                    return []
                }
            }
        },
        data () {
            return {
                modal: {
                    init: {},
                    title: "",
                    type: {
                        confirm: false,
                        action: 'view'
                    },
                    data: {
                        id: '',
                        name: ''
                    }
                }
            }
        },
        methods: {
            _back(){
                this.$emit('back', 0);
            }
        },
        mounted () {
            this.modal.init = M.Modal.init(document.querySelector('.modal'));

            this.routes.forEach(r =>{
                r.cost = parseInt(r.cost)
                if (r.to_user != null && r.to_user != undefined) {
                    if (r.to_user != null && r.to_user != undefined) {
                        Object.getOwnPropertyNames(r.to_user.person).forEach(key => {
                            if(r.to_user.person[key] != null && r.to_user.person[key] != 'null' && r.to_user.person[key] != undefined) {
                                r.to_user[key] = r.to_user.person[key];
                            }
                        });
                        r.to_user.fullname = r.to_user.name + ' ' + r.to_user.lastname
                    } else {
                    r.to_user= { name: 'No posee pasajero asignado',
                                lastname: '',
                                fullname: '',
                                person: {
                                    name: 'No posee pasajero asignado',
                                    lastname: '',
                                    fullname: '',
                                }
                        }
                    }
                } else {
                    r.to_user= { name: 'No posee pasajero asignado',
                                lastname: '',
                                fullname: '',
                                person: {
                                    name: 'No posee pasajero asignado',
                                    lastname: '',
                                    fullname: '',
                                }
                    }
                }
            })
        }
    }
</script>