.chat-module{

    .card-content{
        padding: 0 !important;
    }

    .scrollbar-list-chats{
        max-height: 605px;
    }

    .list-chats{
        margin: 0;
        max-height: auto;
        border-right: 2px solid #9a999e;
        // overflow-y: auto;

        &__item{
            padding-left: 12px;
            padding-top: 12px;
            padding-bottom: 5px;
            border-bottom: 2px solid #9a999e;
            transcition: ease all .3s;
            cursor: pointer;
            position: relative;

            p{
                margin: 0 !important;
            }

            &__person{
                font-family: "Lato-Bold";
            }

            &__action{
                font-family: "Lato-Regular";
            }

            &__date{
                font-family: "Lato-Light";
            }

            &__badge{
                display: block;
                height: 30px;
                width: 30px;
                position: absolute;
                right: 1rem;
                top: 0;
                bottom: 0;
                margin: auto;
                background-color: $bogui-blue;
                color: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &--active{
                background-color: #c2c3c9;
                transcition: ease all .3s;
            }
        }
    }
}

.height-content{
    height: 605px;
}

.flex-end{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.scrollbar-list-message{
    width: 100%;
    max-height: 525px;

    .list-msj{
        min-height: auto;
    }
}

.list-msj{
    width: calc(100% - 10px);
    min-height: 504px;
    margin-bottom: 21px;
    padding-bottom: 1.5rem;

    ul li{
        display: flex;
        margin-top: .5rem;
    }

    .li-left{
        justify-content: flex-start
    }

    .li-right{
        justify-content: flex-end
    }

    .bubble{
        color: #333;
        font-family: "Lato-Regular";
        font-size: .97rem;
        padding: .7rem 2rem;
        padding-bottom: 0.3rem;

        // font-weight: 600;
        .date{
            font-size: .65rem;
            font-style: italic;
            padding-top: 1.5rem;
            font-family: "Lato-Italic";
        }
    }
    
    $size-border-radius: 20px;
    .sender{
        background-color: rgba($chat-admin, 1);
        border-radius: $size-border-radius 0 0 $size-border-radius;
        margin-left: 3rem;
        padding-right: 1rem;

        .date{
            float: right;
        }
    }

    .receiver{
        background-color: rgba($chat-coductor, 1);
        border-radius: 0 $size-border-radius $size-border-radius 0;
        margin-right: 3rem;
        padding-left: 1rem;

        .date{
            float: left;
        }
    }

    &__no-message, &__no-selected-chat, &--with-messages{
        font-family: "Lato-Italic";
        font-size: 1.3rem;
        text-align: center;
        padding-top: 1rem;
    }

    &__no-message, &__no-selected-chat{
        height: 495px;
        
        &--height-half{
            height: $height-half;
        }
    }

    &--with-messages{
        min-height: 504px;
    }

}

.wrapper-footer-chat{
    display: flex;
    align-items: center;

    .content-textarea{
        margin: 0;
    }

    // Caja de mensajes
    .message-box {
        // padding: .7rem 0 0.6rem .5rem;
        padding-top: .4rem;
        padding-left: .5rem;
        font-family: "Lato-Regular";
        resize: none;
        min-height: 4rem;
        outline: none;
        border: 1px solid rgb(169, 169, 169) !important;
        background-color: #fff;

        &::placeholder{
            font-family: "Lato-Italic";
        }
    }

    .content-btn-chat{
        display: flex;

        .send-button, .adjuntar-button{
            padding: 0;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            box-shadow: unset;
            display: flex;
            justify-content: center;
            align-items: center;

            .send-button-font, .adjuntar-button-font{
                color: #fff;
                line-height: 100%;
                font-size: 1.7rem !important;
            }
        }

        .send-button {
            background-color: $bogui-blue !important;
            margin-right: .5rem;
        }

        .adjuntar-button {
            background-color: $bogui-red !important;
        }
    }

}

.escribir-mensajes{
    .max-width-input{
        height: 65px;
    }
}

.content-upload{
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    margin: auto;
    border-bottom: 1px solid rgba(0,0,0,.2);
    flex-wrap: wrap;

    &__preview-image{
        margin: auto;
        width: 100% !important;
    }

    &__preview-no-image{
        height: 180px;
        width: 230px;
        margin: auto;
        user-select: none;

        i{
            font-size: 5rem !important;
        }
    }

    &__message{
        width: 100%;
        height: 4.5rem;
        border: 1px solid rgb(169, 169, 169) !important;
        outline: unset !important;
        background-color: #fff;
        resize: none;
        border-radius: 4px;
        padding-left: .4rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem;

        &::placeholder{
            font-family: "Lato-Italic";
        }
    }

    &__btn{
        text-align: center;
        padding-top: .5rem;

        &-file{
            position: relative;
            border-radius: 10px !important;

            input[type="file"]{
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer !important;
            }
        }
    }

    &__btn-remove{
        position: absolute;
        top: .5rem;
        right: 0;
        display: block;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease all .3s;
        
        i{
            font-size: 2rem !important;
            color: $bogui-red !important;
            margin-left: -1px;
            transition: ease all .3s;
        }

        &:hover{
            background-color: rgba(0,0,0,.8);

            i{
                color: #fff !important;
            }
        }
    }
}

.height-half{
    height: $height-half;
}

.btn-to-list{
    margin: 10px auto !important;
    width: 126px;
    margin: auto;
    border-radius: 20px !important;
    z-index: 100000;
}

.content-messages{
    position: relative;
}

@media (max-width: 600px){
    .height-content{
        height: 392px;
        padding-bottom: 1rem !important;
    }

    .content-messages{
        padding-top: 4rem;
    }

    .scrollbar-list-chats{
        height: 400px;
    }

    .list-msj{
        margin-top: 3rem;

        &__no-message, &__no-selected-chat, &--with-messages{
            font-family: "Lato-Italic";
            font-size: 1.3rem;
            text-align: center;
            padding-top: 1rem;
        }

        &__no-message, &__no-selected-chat{
            height: 250px;
            
            &--height-half{
                height: $height-half;
            }
        }

        &--with-messages{
            min-height: 260px;
        }

        ul li{
            padding-bottom: 1rem;
        }
    }

    .wrapper-footer-chat{
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
}

@media (max-width: 600px){
    .modal-content{
        padding-left: 7px;
        padding-right: 12px
    }

    .content-upload{
        &__preview-no-image{
            height: 150px;
            width: 160px;

            .no-image{
                margin: auto;
            }
        }

        &__btn-remove{
            right: -1rem;
        }
    }
}