@mixin gradient-green {
    background: #55ad29;
    background: -moz-linear-gradient(top,  #6dd142 0%, #55ad29 100%);
    background: -webkit-linear-gradient(top,  #6dd142 0%,#55ad29 100%); 
    background: linear-gradient(to right,  #6dd142 0%,#55ad29 100%); 
}

[type="checkbox"].filled-in:not(:checked)+label.checkbox-impegno:after {
    height: 2rem;
    width: 5rem;
    border-radius: .6rem;
    border: 3px solid $color-light-green-end;
    transition: all linear 0.45s;
}

[type="checkbox"].filled-in:checked+label.checkbox-impegno:after{
    height: 2rem;
    width: 5rem;
    border-radius: .6rem;
    border: none !important;
    @include gradient-green;
}

[type="checkbox"].filled-in:checked+label.checkbox-impegno:before{
    display: none !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after, [type="checkbox"].filled-in:checked+label:after{
    border: none !important;
    background-color: inherit !important;
}