@font-face {
    font-family: $font-family;
    src:  url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Italic.ttf") format("truetype"), url("../fonts/Lato-Light.ttf") format("truetype"),  url("../fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Regular";
    src:  url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Bold";
    src:  url("../fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Light";
    src:  url("../fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Italic";
    src:  url("../fonts/Lato-Italic.ttf") format("truetype");
}


h1 {
    font-size: 2.4rem !important;
    font-style: italic !important;
    font-weight: bold !important;
}