@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype"), url("../fonts/poppins/Poppins-Italic.ttf") format("truetype"), url("../fonts/poppins/Poppins-Light.ttf") format("truetype"), url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../fonts/poppins/Poppins-Light.ttf") format("truetype");
}

body, html, * {
  font-family: 'Poppins';
  overflow-x: hidden;
}

h3 {
  text-align: center;
  padding: 10px;
  max-width: 500px;
  font-family: 'Poppins-Light';
  margin: 0 auto;
}

@media (max-width: 500px) {
  h3 {
    font-size: 25px;
  }
}

.mapa {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mapa img {
  max-width: 250px;
}

.ruta__info__footer {
  background: #f7f7f8;
  padding: 10px;
}

@media screen and (max-width: 750px) {
  .ruta__info__footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
}

.ruta__info__footer__logo img {
  width: 5rem;
}

.ruta__info__footer__mas a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: right;
  font-size: 14px;
}

.ruta__info__footer__mas img {
  width: 30px;
  margin-left: 10px;
}
