@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype"), url("../fonts/poppins/Poppins-Italic.ttf") format("truetype"), url("../fonts/poppins/Poppins-Light.ttf") format("truetype"), url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../fonts/poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
}

body {
  font-family: 'Poppins';
}

#map {
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 750px) {
  #map {
    height: 60vh;
  }
}

.no-padding {
  padding: 0;
}

.rute__infor_conductor__avatar img {
  width: 30px;
  height: 30px;
  border-radius: 60px;
}

.ruta {
  overflow-x: hidden;
}

.ruta__info__header {
  height: calc(100vh - 58px);
}

@media screen and (max-width: 750px) {
  .ruta__info__header {
    height: auto !important;
    margin-bottom: 58px !important;
  }
}

.ruta__info__bold {
  font-family: 'Poppins-SemiBold';
}

.ruta__info__light {
  font-family: 'Poppins-Light';
}

.ruta__info__italic {
  font-style: italic;
}

.ruta__info__title {
  color: white;
  padding: .5rem;
}

.ruta__info__title--proceso {
  background: #001a5a;
}

.ruta__info__title--cancelada {
  background: #a01127;
}

.ruta__info__title--finalizada {
  background: #444242;
}

.ruta__info__steps {
  background: #f7f7f8;
  padding: .5rem 1.2rem;
}

.ruta__info__steps__title {
  font-family: 'Poppins-Light';
  color: #5b5b5f;
  font-style: italic;
}

.ruta__info__steps__img {
  width: 15px;
}

.ruta__info__steps__space {
  padding: .4rem 0;
}

.ruta__info__conductor {
  padding: .5rem 1rem;
}

.ruta__info__conductor__detail {
  padding: .5rem 0;
}

.ruta__info__footer {
  background: #f7f7f8;
  padding: 1rem .4rem .6rem .4rem;
}

@media screen and (max-width: 750px) {
  .ruta__info__footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
}

.ruta__info__footer__logo img {
  width: 5rem;
}

.ruta__info__footer__mas a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: right;
  font-size: 14px;
}
