<template id="template-star-rating">
    <div :style="styles" v-if="rating < 0.5">
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
    </div>
    <div :style="styles" v-else-if="rating >= 0.5 && rating < 1">
        <i class="material-icons">star_half</i>
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
    </div>
    <div :style="styles" v-else-if="rating >= 1 && rating < 1.5">
        <i class="material-icons">star</i>
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
    </div>
    <div :style="styles" v-else-if="rating >= 1.5 && rating < 2">
        <i class="material-icons">star</i>
        <i class="material-icons">star_half</i>
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
    </div>
    <div :style="styles" v-else-if="rating >= 2 && rating < 2.5">
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
    </div>
    <div :style="styles" v-else-if="rating >= 2.5 && rating < 3">
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star_half</i>
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
    </div>
    <div :style="styles" v-else-if="rating >= 3 && rating < 3.5">
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
    </div>
    <div :style="styles" v-else-if="rating >= 3.5 && rating < 4">
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star_half</i>
        <i class="material-icons">star_border</i>
    </div>
    <div :style="styles" v-else-if="rating >= 4 && rating < 4.5">
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star_border</i>
    </div>
    <div :style="styles" v-else-if="rating >= 4.5 && rating < 5">
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star_half</i>
    </div>
    <div :style="styles" v-else-if="rating >= 5">
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
    </div>
</template>

<style lang="scss" scoped>

</style>


<script>
export default {
    template: "#template-star-rating",
    name: "star-rating",
    props: {
        styles: {
            type: Object,
            default(){
                return {
                    margin: 'auto'
                }
            }
        },
        'set-stars': {
            type: String,
            default: "0"
        },
    },
    data() {
        return {
            star_rating: "",
        };
    },
    computed: {
        rating() {
            return this.star_rating = this.setStars;
            console.log(this.star_rating, 'Estrellas')
        }
    },
    methods: {
    },
    mounted(){
    }
};
</script>
