<template>
    <div class="container-fluid">
		<div class="row ruta">
			<div class="col-md-8 col-sm-12 no-padding">
				<div class="ruta__mapa">
					<div id="map"></div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 no-padding">
				<div class="ruta__info">
					<div class="ruta__info__header">
						<div class="ruta__info__title " :class="{ 'ruta__info__title--proceso': route.status == 1,
																  'ruta__info__title--finalizada': route.status == 2,
																   'ruta__info__title--cancelada':  route.status == 3}">
							<span class="ruta__info__bold" v-if="route.status == 1">Comenzó carrera</span> 
							<span class="ruta__info__bold" v-if="route.status == 2">Carrera finalizada</span> 
							<span class="ruta__info__bold" v-if="route.status == 3">Carrera cancelada</span> 
							<span class="ruta__info__light ruta__info__italic">a las {{ route.updated_at | hour }}</span>
						</div>
		
						<div class="ruta__info__steps">
							<div class="ruta__info__steps__space" :key="i" v-for="(destinity, i) in setTableDestinations">
								<div class="row">
									<div class="col-3">
										<span class="ruta__info__steps__title">{{ destinity.route_type }}</span>
									</div>
									<div class="col-9">
										<img :src="icons[destinity.type]" width="8" alt="">
										{{ destinity.address }}
									</div>
								</div>
							</div>
						</div>
		
						<div class="ruta__info__conductor">
							<div class="ruta__info__conductor__detail" v-if="id == '' || id == route.user_id">
								<div class="row">
									<div class="col-2">
										<div class="rute__infor_conductor__avatar">
											<img :src="`${baseURL}${driver.person.photo}`" alt="" width="30">
										</div>
									</div>
									<div class="col-8">
										<span class="ruta__info__light">Conductor:</span> {{ driver.person.name }} {{ driver.person.lastname }}
									</div>
								</div>
							</div>

							<div class="ruta__info__conductor__detail" v-if="id == route.driver_id">
								<div class="row">
									<div class="col-2">
										<div class="rute__infor_conductor__avatar">
											<img :src="`${baseURL}${route.to_user.person.photo}`" alt="" width="30">
										</div>
									</div>
									<div class="col-8">
										<span class="ruta__info__light">Pasajero:</span> {{ route.to_user.person.name }} {{ route.to_user.person.lastname }}
									</div>
								</div>
							</div>
		
							<div class="ruta__info__conductor__detail">
								<div class="row">
									<div class="col-2">
										<img :src="`${baseURL}img/star.png`" alt="" width="20">
									</div>
									<div class="col-8">
										<span class="ruta__info__light">Calificación:</span> {{ driver.average }}
									</div>
								</div>
							</div>
		
							<div class="ruta__info__conductor__detail">
								<div class="row">
									<div class="col-2"> 
										<img :src="`${baseURL}img/car.png`" alt="" width="35">
									</div>
									<div class="col-5">
										<span class="ruta__info__light">Vehículo:</span> {{ route.vehicle_type.name }}
									</div>
									<div class="col-5">
										<span class="ruta__info__light">Placa:</span> {{ driver.vehicle.plate }}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="ruta__info__footer">
						<div class="row">
							<div class="col-4">
								<div class="ruta__info__footer__logo">
									<img :src="`${baseURL}img/logo_sin_lienzo.png`" alt="" width="60">
								</div>
							</div>
							<div class="col-8">
								<div class="ruta__info__footer__mas">
									<a :href="`${baseURL}`" target="_blank">
										Conoce más de Bogui
										<img :src="`${baseURL}img/arrow.png`" alt="" width="17">
									</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</template>

<style>
	.rute__infor_conductor__avatar {
		border-radius: 50%;
	}
</style>

<script>
import Geocoder from "@pderas/vue2-geocoder";
import moment from 'moment';
import io from 'socket.io-client';
import { GOOGLE_API_KEY } from '../../.env';

Vue.use(Geocoder, {
    googleMapsApiKey: GOOGLE_API_KEY
});

Vue.$geocoder.setDefaultMode('lat-lng');

export default {
    data () {
        return {
			data: 'asd',
			map: null,
			baseURL: baseURL,
			icons: [
                `${baseURL}img/maps/ubicacion1.png`, 
                `${baseURL}img/maps/ubicacion2.png`,
                `${baseURL}img/maps/ubicacion3.png` 
			],
			markers: [],
			zoom: 12,
			existsParada: false,
			origen: {},
			destino: {},
			parada: [],
			setTableDestinations: [],
			vehicle: null
        }
	},
	props: ['route', 'driver', 'id'],
	filters: {
		hour: (value) => {
			return moment(value).format('HH:mm');
		}
	},
	mounted () {

		const socket = io(location.protocol + '//' + location.host + ':11020');

		socket.on('carrera-finalizada',data => {
			if (data.ruta_id == this.route.id) {
				window.location.reload();
			}
		});

		socket.on('carrera-finalizada',data => {
			if (data.ruta_id == this.route.id) {
				window.location.reload();
			}
		});

		socket.on('cancelada-conductor',data => {
			if (data.route == this.route.id) {
				window.location.reload();
			}
		});

		socket.on('cancelada-cliente',data => {
			if (data.route == this.route.id) {
				window.location.reload();
			}
		});

		this.determineZoom() // Se determina el zoom
		this.initMap() // Se inicia el mapa
		this.getOriginAndDestination() // Determina origen destino y paradas
		this.displayRoute(this.origen, this.destino, this.parada) // Renderiza la ruta
		
		setTimeout(()=>{
			this.setTableDestinations = this.route.to_destinies 
		}, 2000)

		let continuar = true;

		socket.on('driver-position', data => {
			if(data.user.id == this.route.driver.id && this.route.status == '1') {
				if (continuar) {

					let latLng  = {
						lat: data.latitude,
						lng: data.longitude
					}

					if(!this.vehicle) {
						this.createVehicle(latLng)
					} else {
						this.moveVehicle(latLng)
						if (data.rotation) this.rotate(data.rotation);
					}

					setTimeout( () => continuar = true, 250);
				}
			}
		})

		socket.on('carrera-finalizada', data => {
			if(data.id == this.route.driver.id) window.location.reload();
		})

		socket.on('cancelada-conductor', data => {
			if (data.route == this.route.id) window.location.reload();
		});

	},
    methods: {
    	rotate(rotationAngle) {
		  $('img[src="' + `${baseURL}img/vehicle.png` + '"]').css({
	        'transform': 'rotate(' + rotationAngle + 'deg)',
	        'transform-origin': '25px 25px'
	      });
    	},
		moveVehicle(data) {
			var numDeltas = 100;
			var deltaLat;
			var deltaLng;

			deltaLat = (data.lat - this.vehicle.getPosition().lat()) / numDeltas;
			deltaLng = (data.lng - this.vehicle.getPosition().lng()) / numDeltas;
			for (let i = 0; i < numDeltas; i++) {
				setTimeout(() => {
					let lat = this.vehicle.getPosition().lat() + deltaLat;
					let lng = this.vehicle.getPosition().lng() + deltaLng;
					this.vehicle.setPosition({ lat, lng });
				},100);				
			}
      	},
		getOriginAndDestination () {
			this.existsParada = this.route.to_destinies.length > 2
			this.route.to_destinies.forEach((dst,index) => {

				var latLngObj = {
					lat: parseFloat(dst.latitud),
					lng: parseFloat(dst.longitud)
				}

				if(index == 0) { // ORIGEN DE LA RUTA
					this.origen = latLngObj
				}
				
				if (index == 1 && this.existsParada) { // SI EXISTE PARADA 
					this.parada.push({ // ARRAY PARA WAYPOINTS
						location: latLngObj,
						stopover: true,
					})
				}         

				if(index == 2 || (index == 1 && !this.existsParada)){ // DESTINO
					this.destino = latLngObj
				}
				
				Vue.$geocoder.send(latLngObj, response => { 
					dst.address = response.results[0].formatted_address
					this.addMarker(latLngObj, dst.type, dst.route_type, dst.address)
					dst.index = index + 1;
				});
			})
		},

		/**
		 * Método que inicializa el mapa, carga el directionService para renderizar la ruta
		 * Aquí tambien se calcula el centro del mapa
		 */
        initMap() {
            let lastIndex = this.route.to_destinies.length - 1
            let origenLatitud = parseFloat(this.route.to_destinies[0].latitud)
            let origenLongitud = parseFloat(this.route.to_destinies[lastIndex].latitud)
            let destinoLatitud = parseFloat(this.route.to_destinies[0].longitud)
            let destinoLongitud = parseFloat(this.route.to_destinies[lastIndex].longitud)

            let latCenter = origenLatitud + origenLongitud
            latCenter = latCenter / 2;

            let lngCenter = destinoLatitud + destinoLongitud
            lngCenter = lngCenter / 2;

            let center = { 
                lat: latCenter, 
                lng: lngCenter 
            }

            this.directionsService = new google.maps.DirectionsService
            this.directionsDisplay  = new google.maps.DirectionsRenderer({
                suppressMarkers: true,
                polylineOptions: {
                    strokeColor: "#00c4f2",
                    strokeWeight: 6
                },
                preserveViewport: true
            })
            
            this.map = new google.maps.Map(document.getElementById('map'), {
				center,
				zoom: this.zoom,
				mapTypeId: google.maps.MapTypeId.ROADMAP
            });
			this.directionsDisplay.setMap(this.map)
		},
		
		/**
		 * Método de calcula el zoom en el mapa segun la distancia que tiene la ruta
		 */
		determineZoom() {
			if(this.route.distance > 100) {
				this.zoom = 8
			} 

			if(this.zoom > 2000) {
				this.zoom = 6
			}

			if(this.route.distance > 5000) {
				this.zoom = 3
			}
		},

		/**
		 * Método que crea los markers de origen, destino y si existe para también
		 * @param latLng (Object) Objeto que entiende google maps con latitud y longitud
		 * @param type (Number) Tipo de marker (0. Origen, 1. Destino, 2. Parada adicional)
		 * @param route_type (String) Texto que determina el tipo
		 * @param address (String) Dirección del marker
		 */ 
		addMarker(latLng, type, route_type, address) {
            let contentString = `<b>${route_type}</b>: <br> ${address}`

            let infoWindow = new google.maps.InfoWindow({
                content: contentString
            })

            let marker = new google.maps.Marker({
                map: this.map,
                draggable: false,
                position: latLng,
                icon: this.icons[type],
                title: route_type
            })

            marker.addListener('click', () => {
                infoWindow.open(this.map, marker)
            })

            this.markers.push(marker)
		},

		/**
		 * Método que renderiza la ruta en el mapa
		 * @param origin (Object) Objeto con latitul y longitud del origin de la ruta
		 * @param destionation (Object) Objeto con latitul y longitud del destino de la ruta
		 * @param waypoints (Array) Parada de la ruta si existe default []
		 */
		displayRoute(origin, destination, waypoints) {
            this.directionsService.route({
                origin,
                destination,
                travelMode: 'DRIVING',
                waypoints,
                }, (response, status) => {
                if (status === 'OK') {
					this.directionsDisplay.setDirections(response);
					console.log('adsasd')
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
		},


		createVehicle (latLng) {
            let vehicle = new google.maps.Marker({
                map: this.map,
                draggable: false,
                position: latLng,
                icon: `${baseURL}img/vehicle.png`,
                title: this.driver.email
			})
			
			this.vehicle = vehicle
		},

		/**
		 * Elimina el marker anterior
		 */
		deleteVehicle () {
			if(!this.vehicle) {
				return
			}
			this.vehicle.setMap(null)
		}
		
    }
}
</script>
