<template id="template-users-form">

    <article class="row">
        <card-title>
            <h1>{{ title }}</h1>
        </card-title>

        <form class="col s12">

            <div class="row">
                <div class="col s12 m12 offset-m2 offset-s2">
                    <h1>Detalles de Calificaciones de {{ form.name }} {{ form.lastname }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <card-main>
                        <card-content>
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input type="text" class="validate" v-model="form.name" readonly disabled>
                                    <label for="name" class="active">Nombre</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input type="text" class="validate" v-model="form.lastname" readonly disabled>
                                    <label for="lastname" class="active">Apellido</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <ul class="tabs tabs-fixed-width" id="tabs-ratings">
                                        <li class="tab col s2"><a href="#reviewed-users">Usuarios <br/>Calificados</a></li>
                                        <li class="tab col s2"><a href="#reviewers-users">Usuarios <br/>Calificadores</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row">
                                <div id="reviewed-users" class="col s12">
                                    <table-byte :set-table="setTableReviewed">

                                        <table-row slot="table-head" slot-scope="{ item }">
                                            <table-head>Identificación</table-head>
                                            <table-head>Nombre</table-head>
                                            <table-head>Identificación de Ruta</table-head>
                                            <table-head>Calificacion</table-head>
                                        </table-row>

                                        <table-row slot="table-row" slot-scope="{ item }">
                                            <table-cell>{{ item.reviewer.id }}</table-cell>
                                            <table-cell>{{ item.reviewer.person.name }} {{ item.reviewer.person.lastname }}</table-cell>
                                            <table-cell>{{ item.route_id }}</table-cell>
                                            <table-cell>{{ item.points }}</table-cell>
                                        </table-row>

                                        <table-row slot="empty-rows">
                                            <table-cell colspan="6">
                                                No se encontraron registros.
                                            </table-cell>
                                        </table-row>

                                    </table-byte>
                                </div>
                                <div id="reviewers-users" class="col s12">
                                    <table-byte :set-table="setTableReviewer">

                                        <table-row slot="table-head" slot-scope="{ item }">
                                            <table-head>Identificación</table-head>
                                            <table-head>Nombre</table-head>
                                            <table-head>Identificación de Ruta</table-head>
                                            <table-head>Calificacion Promedio</table-head>
                                        </table-row>

                                        <table-row slot="table-row" slot-scope="{ item }">
                                            <table-cell>{{ item.reviewed.id }}</table-cell>
                                            <table-cell>{{ item.reviewed.person.name }} {{ item.reviewed.person.lastname }}</table-cell>
                                            <table-cell>{{ item.route_id }}</table-cell>
                                            <table-cell>{{ item.points }}</table-cell>
                                        </table-row>

                                        <table-row slot="empty-rows">
                                            <table-cell colspan="6">
                                                No se encontraron registros.
                                            </table-cell>
                                        </table-row>

                                    </table-byte>
                                </div>
                            </div>

                        </card-content>
                    </card-main>
                </div>
            </div>
        </form>
    </article>
    
</template>

<style lang="scss" scoped>
    .days{
        margin-top: 20px;
        margin-bottom: 0;

        p{
            margin: 0;
        }
    }
    .professional_information{
        display: flex;
        align-items: center;

        &:first-child{
            margin-top: 1rem;
        }

        .col{
            margin: 0;
        }
    }

    .input-filling{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .materialize-textarea{
        height: 3rem !important;
    }

    .assignment-content{
        padding-top: 1.7rem !important;
        padding-bottom: 1.7rem !important;
    }
</style>


<script>
export default {
    template: "#template-users-form",
    props: {
        url: {
            type: String,
            default: ""
        },
        'set-form': {
            type: Object,
            default: function() {
                return {};
            }
        },
        title: {
            type: String,
            default: ""
        }
    },
    data() {
        return {
            form: {
                name: '',
                lastname: '',
                average: '',
                id: ''
            },
            setTableReviewed: [],
            setTableReviewer: []
        }
    },
    methods:{
        _back(fast = false){
            if(fast){
                this.$emit('back', 2);
            }else{
                setTimeout(() => {
                    this.$emit('back', 2)
                }, 2000);
            }
        },

        getUsers(){
            axios.post(`admin/ratings/get-users`, this.form)
                .then(res => {
                    if (res.data.result) {
                        this.setTableReviewed = res.data.reviewed
                        this.setTableReviewer = res.data.reviewer
                        console.log(res.data, 'data data')
                    }
                })
        }
    },
    created(){
        if(Object.entries(this.setForm).length > 0){

            Object.getOwnPropertyNames(this.setForm.person).forEach(key => {
                if(this.setForm.person[key] != null && this.setForm.person[key] != 'null') {
                    this.form[key] = this.setForm.person[key];
                }

            });
            Object.getOwnPropertyNames(this.setForm).forEach(key => {
                this.form[key] = this.setForm[key];
            });

            document.querySelectorAll('label').forEach(el => {
                el.classList.add('active');
            });
        }
        this.getUsers();
    },
    mounted(){
        M.Tabs.init(document.querySelector('#tabs-ratings'));
    }
}
</script>
