<template id="template-users-index">

    <article class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12 center-align">
                    <h1 v-if="options === 0">Reporte de Calificaciones</h1>
                    <h1 v-if="options === 1">Calificaciones de Usuarios</h1>
                    <h1 v-if="options === 2">Calificaciones a Bogui</h1>
                </div>
            </div>
        
            <div class="row">
                <div class="col s12 m6 offset-m3" v-if="options === 0">
                    <a href="#!" class="btn btn--block btn--option" @click="options = 1">
                        Calificaciones de Usuarios
                    </a>
                    <a href="#!" class="btn btn--block btn--option" @click="options = 2">
                        Calificaciones a Bogui
                    </a>
                </div>
            </div>

            <div class="row" v-if="options != 0">
                <div class="col s12">
                    <a href="#!" class="btn btn-back" @click="options = 0">
                        <div class="btn-back__container">
                            <label class="label-back-cont">Volver</label>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <ratings-read v-if="options === 1" :url="url" :set-table="dataTable" v-on:back="_resetView" v-on:detail="_detail"></ratings-read>
                    <ratings-app-read v-if="options === 2" :url="url" :set-table2="dataTable2" v-on:back="_resetView" v-on:detail="_detail"></ratings-app-read>
                    <!-- <rating-user-form v-if="options === 4" :url="url" :users="users" :set-form="setForm" v-on:back="_resetView"></rating-user-form> -->
                </div>
            </div>
        </div>
    </article>

</template>

<script>

import FormRatings from './FormRatings.vue';

export default {
    template: "#template-users-index",
    props: {
        'url': {
            type: String,
            default: ""
        },
        users: {
            type: Array,
            default(){
                return []
            }
        },
        'set-table': {
            type: Array,
            default(){
                return []
            }
        },
        'set-table2': {
            type: Array,
            default() {
                return []
            }
        }
    },
    data(){
        return {
            options: 0,
            'set-form': {},
            dataTable: [],
            dataTable2: [],
        }
    },
    methods: {
        _resetView(option, data = {}){
            this.options = option;

            if(Object.entries(data).length > 0){

                let hasRow = false,
                    newArray = [];

                this.dataTable.forEach(el => {
                    if(el.id == data.id){
                        newArray.push(data);
                        hasRow = true;
                    }else{
                        newArray.push(el)
                    }
                });

                if(!hasRow){
                    newArray.push(data);
                }

                this.dataTable = newArray;
            }

            this.setForm = {};
        },
        _edit(data){
            this.options = data.option;
            this.setForm = data.data;
        },
        _detail(data){
            this.options = data.option;
            this.setForm = data.data;
        }
    },
    created(){
        this.dataTable = this.setTable;
        this.dataTable2 = this.setTable2;
    }
}
</script>
