<template id="template-users-index">

    <article class="row">
        <div class="col s12">

            <!-- Table -->
            <div class="col s12">

                <card-main>
                    <card-content>
                        <div class="row">
                            <!-- Table -->
                            <div class="col s12">
                                
                                <table-byte :set-table="setTable2" :filters="['reviewer.id','reviewer.person.name', 'reviewer.person.lastname', 'reviewer.level_type']">

                                    <table-row slot="table-head" slot-scope="{ item }">
                                        <table-head>Identificación</table-head>
                                        <table-head>Nombre</table-head>
                                        <table-head>Tipo de Usuario</table-head>
                                        <table-head>Estado</table-head>
                                        <table-head>Calificación</table-head>
                                    </table-row>

                                    <table-row slot="table-row" slot-scope="{ item }">
                                        <table-cell>{{ item.reviewer.id }}</table-cell>
                                        <table-cell>{{ item.reviewer.person.name }} {{ item.reviewer.person.lastname }}</table-cell>
                                        <table-cell>{{ item.reviewer.level_type }}</table-cell>
                                        <table-cell v-if="item.deleted_at == null">{{ item.status == '0' ? 'Inactivo':'Activo' }}</table-cell>
                                        <table-cell v-else>Eliminado</table-cell>
                                        <table-cell> <star-rating :set-stars="item.reviewer.averageBogui"></star-rating> </table-cell>
                                    </table-row>

                                    <table-row slot="empty-rows">
                                        <table-cell colspan="5">
                                            No se encontraron registros.
                                        </table-cell>
                                    </table-row>

                                </table-byte>
                            </div>
                        </div>
                    </card-content>
                </card-main>
            </div>
        </div>
    </article>
   
</template>

<script>

import StarRating from '../snippets/StarRating.vue';

export default {
    template: "#template-users-index",
    components: { StarRating },
    props: {
        url: {
            type: String,
            default: ""
        },
        'set-table2': {
            type: Array,
            default(){
                return []
            }
        }
    },
    data() {
        return {
            zones: [],
            component: "Zona",
            modal: {
                init: {},
                title: "",
                type: {
                    confirm: false,
                    action: ''
                },
                data: {
                    name: '',
                    assignments:[]
                }
            },
        }
    },
    methods:{

        _view(data, action){
            this.modal.title = "Ver Conductor";
            this.modal.type.action = action;
            this.modal.type.confirm = false;
            this.modal.data = data;
            this.modal.init.open();
        },

        _detail(data, action){
            this.$emit('detail', {data: data, option: 4});
        },

        _confirm(data, action){
            this.modal.title = "Eliminar Conductor";
            this.modal.type.action = action;
            this.modal.type.confirm = true;
            this.modal.data = data;
            this.modal.init.open();
        },

        _back(fast = false){
            if(fast){
                this.$emit('back', 0);
            }else{
                setTimeout(() => {
                    this.$emit('back', 0)
                }, 2000);
            }
        }
    },
    mounted () {
        console.log(this.setTable2, 'setTable2')
        this.modal.init = M.Modal.init(document.querySelector('.modal'));
    }
}
</script>
