<template id="template-users-index">

    <article class="row">
        <div class="col s12">

            <!-- Table -->
            <div class="col s12">

                <card-main>
                    <card-content>
                        <div class="row">
                            <!-- Table -->
                            <div class="col s12">
                                
                                <table-byte :set-table="setTable" :set-select="selects" :filters="['id','person.name', 'person.lastname', 'level_type']">

                                    <table-row slot="table-head" slot-scope="{ item }">
                                        <table-head>Identificación</table-head>
                                        <table-head>Nombre</table-head>
                                        <!-- <table-head>Tipo de Usuario</table-head> -->
                                        <table-head>Estado</table-head>
                                        <table-head>Calificación</table-head>
                                        <!-- <table-head>Acciones</table-head> -->
                                    </table-row>

                                    <table-row slot="table-row" slot-scope="{ item }">
                                        <table-cell>{{ item.id }}</table-cell>
                                        <table-cell>{{ item.person.name }} {{ item.person.lastname }}</table-cell>
                                        <!-- <table-cell>{{ item.level_type }}</table-cell> -->
                                        <table-cell>{{ item.status == '0' ? 'Inactivo':'Activo' }}</table-cell>
                                        <table-cell> <star-rating :set-stars="item.average"></star-rating> </table-cell>
<!--                                         <table-cell>

                                            <a href="#!" class="btn-action" @click="_detail(item, 'detail')">
                                                <i class="material-icons prefix">remove_red_eye</i>
                                            </a>

                                        </table-cell> -->
                                    </table-row>

                                    <table-row slot="empty-rows">
                                        <table-cell colspan="5">
                                            No se encontraron registros.
                                        </table-cell>
                                    </table-row>

                                </table-byte>
                            </div>

                            <!-- Modal -->
                            <!-- <byte-modal v-on:pressok="_delete" :confirm="modal.type.confirm">
                                <template v-if="modal.type.action == 'view'">

                                <div class="col s9">

                                    <div class="col s12">
                                        <span>Nombre: </span> {{ modal.data.person.name }} {{ modal.data.person.lastname }}
                                    </div>

                                    <div class="col s12">
                                        <span>Correo Electronico: </span> {{ modal.data.email }}
                                    </div>

                                    <div class="col s12">
                                        <span>Estado: </span> {{ modal.data.status == '0' ? 'Inactivo':'Activo' }}
                                    </div>

                                    <div class="col s12">
                                        <span>Tipo de Documento: </span> {{ modal.data.person.document_type_name }}
                                    </div>

                                    <div class="col s12">
                                        <span>RUT: </span> {{ modal.data.person.document }}
                                    </div>

                                    <div class="col s12">
                                        <span>Foto del Documento: </span> {{ modal.data.person.document_photo ==  null ? 'No ha cargado RUT o Pasaporte':'' }} <a target="_blank" rel="noopener noreferrer" :href="modal.data.person.document_photo | asset" v-if="modal.data.person.document_photo != null">Descargar</a>
                                    </div>

                                    <div class="col s12">
                                        <span>Permiso: </span> {{ modal.data.person.permit ==  null ? 'No ha cargado permiso':'' }} <a target="_blank" rel="noopener noreferrer" :href="modal.data.person.permit | asset" v-if="modal.data.person.permit != null">Descargar</a>
                                    </div>

                                    <div class="col s12">
                                        <span>Antecedentes: </span> {{ modal.data.person.criminal_records ==  null ? 'No ha cargado antecedentes':'' }} <a target="_blank" rel="noopener noreferrer" :href="modal.data.person.criminal_records | asset" v-if="modal.data.person.criminal_records != null">Descargar</a>
                                    </div>

                                </div>

                                <div class="col s3">
                                    <div class="col s12">
                                        <img :src="modal.data.person.photo | asset" class="responsive-img" v-if="modal.data.person.photo != null">
                                    </div>
                                </div>

                                </template>

                                <template v-if="modal.type.action == 'destroy'">
                                    <div class="container-confirmation">
                                        <div class="confimation__icon">
                                            <i class="material-icons">error_outline</i>
                                        </div>
                                        <div class="confirmation__text">
                                            <h5>¿Realmente desea <b>eliminar</b> este conductor?</h5>
                                        </div>
                                    </div>
                                </template>
                            </byte-modal> -->
                        </div>
                    </card-content>
                </card-main>
            </div>
        </div>
    </article>
   
</template>

<script>

import StarRating from '../snippets/StarRating.vue';

export default {
    template: "#template-users-index",
    components: { StarRating },
    props: {
        url: {
            type: String,
            default: ""
        },
        'set-table': {
            type: Array,
            default(){
                return []
            }
        }
    },
    data() {
        return {
            zones: [],
            component: "Zona",
            // selects: [{
            //     value: '2',
            //     text: 'Conductor'
            // },{
            //     value: '3',
            //     text: 'Pasajero'
            // }],
            selects: [],
            modal: {
                init: {},
                title: "",
                type: {
                    confirm: false,
                    action: ''
                },
                data: {
                    name: '',
                    assignments:[]
                }
            },
        }
    },
    methods:{

        _view(data, action){
            this.modal.title = "Ver Conductor";
            this.modal.type.action = action;
            this.modal.type.confirm = false;
            this.modal.data = data;
            this.modal.init.open();
        },
        _detail(data, action){
            this.$emit('detail', {data: data, option: 4});
        },

        _confirm(data, action){
            this.modal.title = "Eliminar Conductor";
            this.modal.type.action = action;
            this.modal.type.confirm = true;
            this.modal.data = data;
            this.modal.init.open();
        },
        _back(fast = false){
            if(fast){
                this.$emit('back', 0);
            }else{
                setTimeout(() => {
                    this.$emit('back', 0)
                }, 2000);
            }
        }
    },
    mounted () {
        this.modal.init = M.Modal.init(document.querySelector('.modal'));
    }
}
</script>
