// General

body {
	padding-top: 58.98px;
	padding-bottom: 0px !important;
	font-family: 'Helvetica';
	button, input[type="submit"] {
		outline: 0px !important;
	}
	input, button {
		box-shadow: none !important;
	}
}

[v-cloak] {
	display: none;
}

header {
	.navbar {
		@media (max-width: 767px) {
			.navbar-collapse {
				margin-left: 20px;
				margin-top: 10px;
				margin-bottom: 5px;
			}			
		}
		background-color: $white !important;
		border-bottom: 1px solid $red !important;
		a {
			color: $black !important;
		}
		.dropdown {
			@media (min-width: 768px) {
				margin-left: 10px;
				margin-right: 10px;
			}
		}
		.ser-bogui {
			background-color: $black !important;
			color: $white !important;
			padding-left: 25px !important;
			padding-right: 25px !important;
			display: inline-block;
			@media (min-width: 768px) {
				margin-left: 25px;
			}
		}
	}
	.dropdown-menu {
		border-radius: 0px !important;
		border: 0px !important;
		padding: 0px !important;
		@media (min-width: 768px) {
			padding-top: 7px !important;
			a {
				&:first-child {
					border-top: 1px solid $red !important;
				}
				&:not(:first-child) {
					border-top: 1px solid rgba($red,.5) !important;
				}			
			}
		}
	}
	.navbar-brand img {
		width: 100px;
		margin-left: 20px;
		margin-right: 20px;
	}	
	.dropdown-item {
		background-color: darken($white,2) !important;
		transition: 1s;
		&:hover {
			background-color: darken($white,8) !important;
		}
	}
	@media (min-width: 768px) {
		.dropdown:hover {
			&::before {
				content: '';
				display: inline-block;
				background-color: $red;
				width: 100%;
				height: 10px;
				position: absolute;
				top: -10px;
			}
			& > .dropdown-menu {
			  display: block;
			}
		}
		.dropdown-toggle:after { 
			content: none
		}
	}	
}

footer {
	background-color: $black !important;
	color: $white;
	margin-bottom: -18px;
	.row-links {
		padding: 30px;
		ul {
			list-style: none;
			padding-left: 0px !important;
			a {
				color: $white !important;
				font-size: 14px;
			}
			@media (max-width: 767px) {
				text-align: center;
			}
		}
		h3 {
			font-weight: bold;
			font-size: 18px;
			margin-bottom: 20px;
			@media (max-width: 767px) {
				text-align: center;
			}
		}
	}
	.tiendas-footer {
		border-top: 1px solid rgba($white,.5);
		border-bottom: 1px solid rgba($white,.5);
		padding: 20px;
		p {
			font-size: 15px;
			span {
				font-size: 16px;
			}
		}
		.puntero {
			width: 20px;
		}
		a {
			color: $white !important;
		}
		img {
			width: 200px;
		}
		.appstore {
			text-align: right;
		}
		.googleplay {
			text-align: left;
		}
		@media (max-width: 767px) {
			.appstore, .googleplay {
				text-align: center !important;
				margin-bottom: 10px;
				margin-top: 10px;
			}			
		}
	}
	.copy {
		padding: 15px;
		font-size: 14px;
		margin-bottom: 0px !important;
		padding-bottom: 30px !important;
		a {
			color: $white !important;
		}
	}
}