// Mixins

@mixin degradadoGris() {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(174,173,179,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(174,173,179,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(174,173,179,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(174,173,179,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(174,173,179,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(174,173,179,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aeadb3', GradientType=0 );
}