<template id="template-type-form">

    <article class="row">
        <card-title>
            <h1>{{ title }}</h1>
        </card-title>

        <form class="col s12" @submit.prevent="submit">

            <div class="row">
                <div class="col s12">
                    <card-main>
                        <card-content>
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input type="text" class="validate datepicker" id="start" v-model="form.start" @change="setValue()">
                                    <label for="amount">Comienzo del Horario Nocturno</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input type="text" class="validate datepicker" id="end" v-model="form.end" @change="setValue()">
                                    <label for="amount">Fin del Horario Nocturno</label>
                                </div>
                            </div>

                            <div class="row">                       
                                <div class="col s12 btn-content center-align">
                                    <button class="btn btn-success" type="submit">Guardar registro</button>
                                </div>
                            </div>
                        </card-content>
                    </card-main>
                </div>
            </div>
        </form>
    </article>
    
</template>

<style lang="scss" scoped>
    .days{
        margin-top: 20px;
        margin-bottom: 0;

        p{
            margin: 0;
        }
    }
</style>


<script>
export default {
    template: "#template-type-form",
    props: {
        url: {
            type: String,
            default: ""
        },
        'set-form': {
            type: Object,
            default: function() {
                return {};
            }
        },
        title: {
            type: String,
            default: ""
        },
    },
    data() {
        return {
            form: {
                start: "",
                end: "",
                id: ""
            },
        }
    },
    methods:{
        submit(){
            if(typeof this.form.id === "undefined"){
                this.register();
            }else{
                this.edit();
            }
        },
        
        register(){

            showLoading();
            axios.post('admin/nightmode', this.form)
                .then(res => {
                    quitLoading();
                    if(res.data.result){
                        swal({
                            title: "",
                            text: `Se ha registrado el Horario para el Modo Nocturno con éxito`,
                            timer: 2000,
                            showConfirmButton: false,
                            type: "success"
                        });

                        this._back(false, res.data.nightmode);
                    }
                })
                .catch(err => {
                    quitLoading();
                    let message = "Disculpe, ha ocurrido un error";

                    if(err.response.status === 422){
                        message = err.response.data;
                    }

                    swal("", message, "error");
                });
        },

        edit(){
            this.form._method = "PUT";

            if (moment(this.form.end, 'HH:mm A') > moment(this.form.start, 'HH:mm A')) {
                swal('', 'La Hora de Fin no puede ser mayor a la Hora de Inicio', "error")
                return
            }

            showLoading();
            axios.post(`admin/nightmode/${this.form.id}`, this.form)
                .then(res => {
                    quitLoading();
                    if(res.data.result){
                        swal({
                            title: "",
                            text: `Se ha editado el Horario para el Modo Nocturno con éxito`,
                            timer: 2000,
                            showConfirmButton: false,
                            type: "success"
                        });

                        this._back(false);
                    }
                })
                .catch(err => {
                    quitLoading();
                    let message = "Disculpe, ha ocurrido un error";

                    if(err.response.status === 422){
                        message = err.response.data;
                    }
                    swal("", message.error, "error");
                });
        },

        _back(fast = false){
            if(fast){
                this.$emit('back', 2);
            }else{
                setTimeout(() => {
                    this.$emit('back', 2)
                }, 2000);
            }
        },

        activarInputsDate() {
            M.Timepicker.init(document.querySelector('#start'),{
                autoClose: true,
                i18n: pickDateI18n
            });
            M.Timepicker.init(document.querySelector('#end'),{
                autoClose: true,
                i18n: pickDateI18n
            });
        },

        setValue() {
            this.form.start = document.getElementById('start') != null ? moment(document.getElementById('start').value, 'hh:mm A').format('hh:mm A') : this.form.start
            this.form.end = document.getElementById('end') != null ? moment(document.getElementById('end').value, 'hh:mm A').format('hh:mm A') : this.form.end
        }
    },
    mounted(){
        console.log(this.url)
        this.activarInputsDate()
        if(Object.entries(this.setForm).length > 0){

            this.form = this.setForm;

            this.form.id = this.setForm.id;

            // this.form.start = moment(this.form.start, 'HH:mm:ss').format('hh:mm A')
            // this.form.end = moment(this.form.end, 'HH:mm:ss').format('hh:mm A')

            document.querySelectorAll('label').forEach(el => {
                el.classList.add('active');
            });
        }
    }
}
</script>
