<template id="template-nightmode-index">

    <article class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12 center-align">
                    <h1 v-if="options === 0">Modo Nocturno</h1>
                    <h1 v-if="options === 1">Editar Modo Nocturno</h1>
                    <h1 v-if="options === 2">Consultar Modo Nocturno</h1>
                </div>
            </div>
        
            <div class="row">
                <div class="col s12 m6 offset-m3" v-if="options === 0">

                    <a href="#!" class="btn btn--block btn--option" @click="options = 1">
                        Editar Modo Nocturno
                    </a>

                    <a href="#!" class="btn btn--block btn--option" @click="options = 2">
                        Consultar Modo Nocturno
                    </a>
                </div>

            </div>

            <div class="row" v-if="options != 2">
                <div class="col s12">
                    <a href="#!" class="btn btn-back" @click="options = 2">
                        <div class="btn-back__container">
                            <label class="label-back-cont">Volver</label>
                        </div>
                    </a>
                </div>
            </div>

            <!-- TARIFAS POR VIAJE -->

            <nightmode-form v-if="options === 1" :url="url" :nightmode="nightmode" :set-form="setForm" v-on:back="_resetView"></nightmode-form>

            <nightmode-read v-if="options === 2" :url="url" :set-table="dataTable" v-on:back="_resetView" v-on:edit="_edit"></nightmode-read>

        </div>
    </article>

</template>

<script>
export default {
    template: "#template-nightmode-index",
    props: {
        'url': {
            type: String,
            default: ""
        },
        nightmode: {
            type: Array,
            default(){
                return []
            }
        },
        'set-table': {
            type: Array,
            default(){
                return []
            }
        }
    },
    data(){
        return {
            options: 2,
            'set-form': {},
            dataTable: []
        }
    },
    methods: {
        _resetView(option, data = {}){
            this.options = option;

            if(Object.entries(data).length > 0){

                let hasRow = false,
                    newArray = [];

                this.dataTable.forEach(el => {
                    if(el.id == data.id){
                        newArray.push(data);
                        hasRow = true;
                    }else{
                        newArray.push(el)
                    }
                });

                if(!hasRow){
                    newArray.push(data);
                }

                this.dataTable = newArray;
            }

            this.setForm = {};
        },

        _edit(data){
            this.options = data.option;
            this.setForm = data.data;
        }
    },
    created(){
        this.dataTable = this.setTable;
    }
}
</script>
