<template id="template-passenger-earning">
    <card-main>
        <card-content>
            <article class="row">

                <div class="col s12">
                    <table-byte :set-table="passengers" :filters="['person.name', 'person.lastname']">

                        <table-row slot="table-head" slot-scope="{ item }">
                            <table-head>Pasajero</table-head>
                            <table-head>Estado</table-head>
                            <table-head>Ingresos Totales Generados</table-head>
                            <table-head>Acciones</table-head>
                        </table-row>

                        <table-row slot="table-row" slot-scope="{ item }">
                            <table-cell>{{ item.person.name }} {{ item.person.lastname }}</table-cell>
                            <table-cell v-if="item.deleted_at == null">{{ item.status == '0' ? 'Inactivo':'Activo' }}</table-cell>
                            <table-cell v-else>Eliminado</table-cell>
                            <table-cell>CLP {{ item.total }}</table-cell>
                            <table-cell>
                                <a title="Ver Detalles" :href="`${url}/${item.id}/details-passenger`" class="btn-action">
                                    <i class="material-icons prefix">account_balance_wallet</i>
                                </a>
                            </table-cell>
                        </table-row>
                        <table-row slot="empty-rows">
                            <table-cell colspan="4">
                                No se encontraron registros.
                            </table-cell>
                        </table-row>

                    </table-byte>
                </div>

            </article>
        </card-content>
    </card-main>
</template>

<style lang="scss">
    .modal {
        z-index: 999999 !important;
    }
</style>

<script>
    export default {
        template: "#template-passenger-earning",
        props: {
            url: String,
            passengers: {
                type: Array,
                default () {
                    return []
                }
            }
        },
        data () {
            return {
                filter: '',
                modal: {
                    init: {},
                    title: "",
                    type: {
                        confirm: false,
                        action: '',
                        check: true
                    },
                    data: {
                        id: '',
                        amount: 0
                    }
                }
            }
        },
        methods: {
            _back(){
                this.$emit('back', 0);
            },
            _view(data, action){
                this.modal.title = "Pagar al Conductor";
                this.modal.type.action = action;
                this.modal.type.confirm = true;
                this.modal.data = data;
                this.modal.init.open();
                setTimeout(() => {
                    var elems = document.querySelectorAll('.collapsible');
                    var instances = M.Collapsible.init(elems);
                }, 300)
                
            },
            _initCollabsible () {
                console.log('asd')
            },
            _destroyCollabsible () {
                instances.destroy()
            },
            _close() {
                this.modal.init.close()
                this.modal.title = "";
                this.modal.type.action = 'view';
                this.modal.type.confirm = false;
                this.modal.data.amount = 0;
                this.modal.type.check = true
            },
        },
        mounted () {
            this.modal.init = M.Modal.init(document.querySelector('.modal'));
        }
    }
</script>