<template id="template-reports-form">
    <article class="col s12">
        <div class="row">
            <div class="col s12">
                <ul class="tabs tabs-fixed-width" id="tabs-reports">
                    <li class="tab col s2"><a href="#weekly-report">Resumen Semanal</a></li>
                    <li class="tab col s2"><a href="#report-routes">Resumen de<br/> Viajes</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <a href="#!" class="btn btn-back" @click="_back">
                    <div class="btn-back__container">
                        <label class="label-back-cont">Volver</label>
                    </div>
                </a>
            </div>
        </div>
       

        <!-- ____________________________________________

        //               PERSONAL
        ____________________________________________ -->

        <card-main>
            <card-content>
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div id="weekly-report" class="col s12">
                                <div class="input-field col s12 m6">
                                    <label for="from">Fecha de Inicio</label>
                                    <input id="from" type="text" class="validate datepicker" @change="getWeeklyReport()">
                                </div>
                                <div class="input-field col s12 m6">
                                    <label for="to">Fecha de Fin</label>
                                    <input id="to" type="text" class="validate datepicker" @change="getWeeklyReport()">
                                </div>
                                <div class="col s12 m12 no-padding" v-if="weekly.bogui_earning != ''">
                                    <h5 class="center-align subtitle">Reporte Semanal</h5>
                                    <br>
                                    <div class="input-field col s12 m6">
                                        <input type="text" class="validate" v-model="weekly.bogui_earning" readonly disabled>
                                        <label for="bogui_earning" class="active">Ganancias Generadas</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input type="text" class="validate" v-model="weekly.distance_traveled" readonly disabled>
                                        <label for="distance_traveled" class="active">Distancia Recorrida</label>
                                    </div>
                                    <br>
                                    <div class="input-field col s12 m6">
                                        <a :href="url_download" class="btn waves-effect send-button">
                                            <i class="material-icons send-button-font">book</i>
                                            Generar Reporte
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="report-routes" class="col s12">
                                <table-byte :set-table="setTableRoutes">

                                <table-row slot="table-head" slot-scope="{ item }">
                                    <table-head>Identificación de Viaje</table-head>
                                    <table-head>Metodo de Pago</table-head>
                                    <table-head>Costo del Viaje</table-head>
                                    <table-head>Comisión de Bogui</table-head>
                                    <table-head>Ganancia del Conductor</table-head>
                                    <table-head>Fecha de la Ruta</table-head>
                                </table-row>

                                <table-row slot="table-row" slot-scope="{ item }">
                                    <table-cell>{{ item.id }}</table-cell>
                                    <table-cell>{{ item.payment_type }}</table-cell>
                                    <table-cell>CLP {{ item.cost }}</table-cell>
                                    <table-cell>CLP {{ item.commission }}</table-cell>
                                    <table-cell>CLP {{ item.balance }}</table-cell>
                                    <table-cell>{{ item.created_at | date }}</table-cell>
                                </table-row>

                                    <table-row slot="empty-rows">
                                        <table-cell colspan="6">
                                            No se encontraron registros.
                                        </table-cell>
                                    </table-row>

                                </table-byte>
                            </div>
                        </div>
                    </div>
                </div>
            </card-content>
        </card-main>
    </article>
</template>

<style lang="scss">
    .professional_information{
        display: flex;
        align-items: center;

        &:first-child{
            margin-top: 1rem;
        }

        .col{
            margin: 0;
        }
    }

    .input-filling{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .materialize-textarea{
        height: 3rem !important;
    }

    .assignment-content{
        padding-top: 1.7rem !important;
        padding-bottom: 1.7rem !important;
    }
</style>


<script>

export default {
    template: "#template-reports-form",
    props: {
        url: String,
        'url-base': {
            type: String,
            default: ""
        },
        'url-back': {
            type: String,
            default: ""
        }
    },
    data(){
        return {
            setTableRoutes: [],
            weekly: {
                bogui_earning: '',
                distance_traveled: ''
            },
            routes: [],
            url_download: ''
        }
    },
    methods:{

        convertToFormData(){
            let formData = new FormData();
            Object.getOwnPropertyNames(this.form).forEach(key => {
                if(key === "modules")
                {
                    formData.append(key, JSON.stringify(this.form[key]));
                }else if(key != "__ob__"){
                    if(this.form[key] != null && this.form[key] != 'null') {
                        formData.append(key, this.form[key]);
                    }
                }
            });

            return formData;
        },

        _back(fast = false){
            if(this.urlBack === ""){
                this.$emit('back', 0);
            }else{
                window.location = this.urlBack;
            }
        },
        getWeeklyReport() {
            let from = document.getElementById('from') != null ? document.getElementById('from').value : ''
            let to = document.getElementById('to') != null ? document.getElementById('to').value : ''
            if (from != '' & to != '') {
            from = moment(from, 'DD-MM-YYYY').startOf('day').format('YYYY-MM-DD HH:mm:ss')
            to = moment(to, 'DD-MM-YYYY').endOf('day').format('YYYY-MM-DD HH:mm:ss')
            let wdk = moment(from).format('DD-MM-YYYY')
            let wdt = moment(to).format('DD-MM-YYYY')
                if (from > to) {
                    swal('', 'La Fecha de Inicio no puede ser mayor a la Fecha de Fin', "error")
                    return
                }
                let data = {
                    from: from,
                    to: to
                }
                axios.post('admin/finances/weekly-report-bogui', data)
                    .then(res =>{
                        if (res.data.result) {
                            this.weekly = res.data.weekly
                            this.setTableRoutes = res.data.routes
                            Object.getOwnPropertyNames(res.data.weekly).forEach(key => {
                                if (key == 'distance_traveled') {
                                    this.weekly[key] = res.data.weekly[key] + ' KM'
                                } else {
                                    this.weekly[key] = 'CLP ' + res.data.weekly[key]
                                }
                            });
                            this.url_download = urlBase + `admin/finances/weekly-report-bogui-excel/${wdk}/${wdt}`
                        }
                    })
                    .catch(err => {
                        swal('', 'Disculpe, ha ocurrido un error', "error")
                    });
            }
        },
        activarInputsDate() {
            M.Datepicker.init(document.querySelector('#from'),{
                format: 'dd-mm-yyyy',
                autoClose: true,
                minDate: moment().startOf('week')._d,
                maxDate: moment().endOf('week')._d,
                i18n: pickDateI18n
            });
            M.Datepicker.init(document.querySelector('#to'),{
                format: 'dd-mm-yyyy',
                autoClose: true,
                minDate: moment().startOf('week')._d,
                maxDate: moment().endOf('week')._d,
                i18n: pickDateI18n
            });
        }
    },
    created(){
    },
    mounted(){
        M.Tabs.init(document.querySelector('#tabs-reports'))
        this.activarInputsDate()
        this.setTableRoutes = this.routes
    }
}
</script>