<template id="template-driver-earning">
    <card-main>
        <card-content>
            <article class="row">

                <div class="col s12">
                    <table-byte :set-table="drivers" :filters="['person.name', 'person.lastname']">

                        <table-row slot="table-head" slot-scope="{ item }">
                            <table-head>Conductor</table-head>
                            <table-head>Estado</table-head>
                            <table-head>Ingresos Totales</table-head>
                            <table-head>Ganancia Bogui</table-head>
                            <table-head>Saldo del Conductor</table-head>
                            <table-head>Acciones</table-head>
                        </table-row>

                        <table-row slot="table-row" slot-scope="{ item }">
                            <table-cell>{{ item.person.name }} {{ item.person.lastname }}</table-cell>
                            <table-cell v-if="item.deleted_at == null">{{ item.status == '0' ? 'Inactivo':'Activo' }}</table-cell>
                            <table-cell v-else>Eliminado</table-cell>
                            <table-cell>CLP {{ item.total }}</table-cell>
                            <table-cell>CLP {{ item.commission }}</table-cell>
                            <table-cell>CLP {{ item.balance }}</table-cell>
                            <table-cell>
                                <a title="Ver Detalles" :href="`${url}/${item.id}/details`" class="btn-action">
                                    <i class="material-icons prefix">account_balance_wallet</i>
                                </a>
<!--                                 <a v-if="item.balance > 0" href="#!" class="btn-action" @click="_view(item, 'confirm')">
                                    <i class="material-icons prefix">attach_money</i>
                                </a> -->
                            </table-cell>
                        </table-row>
                        <table-row slot="empty-rows">
                            <table-cell colspan="5">
                                No se encontraron registros.
                            </table-cell>
                        </table-row>

                    </table-byte>

                    <byte-modal v-on:pressok="_payment(modal.data)" v-on:presscancel="_close" :confirm="modal.type.confirm">
                        <template v-if="modal.type.action == 'confirm'">
                            <div class="col s12">
                                <h3>{{modal.title}} {{ modal.data.person.name }} {{ modal.data.person.lastname }}</h3>
                            </div>
                            <div class="container-confirmation">
                                <div class="confirmation__text">
                                    <h5>¿Realmente desea pagar a este Conductor?</h5>
                                    <p>
                                        <label>
                                            <input type="checkbox" checked="checked" @click="_fullAmount()"/>
                                            <span>Pagar Monto completo?</span>
                                        </label>
                                    </p>
                                    <div class="col s12" v-if="modal.type.check == false">
                                        <div class="input-field col s12 m6">
                                            <input id="amount" type="number" class="validate" v-model="modal.data.amount">
                                            <label for="amount" class="active">Cantidad a Pagar</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </byte-modal>
                </div>

            </article>
        </card-content>
    </card-main>
</template>

<style lang="scss">
    .modal {
        z-index: 999999 !important;
    }
</style>

<script>
    export default {
        template: "#template-driver-earning",
        props: {
            url: String,
            drivers: {
                type: Array,
                default () {
                    return []
                }
            }
        },
        data () {
            return {
                filter: '',
                modal: {
                    init: {},
                    title: "",
                    type: {
                        confirm: false,
                        action: '',
                        check: true
                    },
                    data: {
                        id: '',
                        amount: 0
                    }
                }
            }
        },
        methods: {
            _back(){
                this.$emit('back', 0);
            },
            _view(data, action){
                this.modal.title = "Pagar al Conductor";
                this.modal.type.action = action;
                this.modal.type.confirm = true;
                this.modal.data = data;
                this.modal.init.open();
                setTimeout(() => {
                    var elems = document.querySelectorAll('.collapsible');
                    var instances = M.Collapsible.init(elems);
                }, 300)
                
            },
            _initCollabsible () {
                console.log('asd')
            },
            _destroyCollabsible () {
                instances.destroy()
            },
            _close() {
                this.modal.init.close()
                this.modal.title = "";
                this.modal.type.action = 'view';
                this.modal.type.confirm = false;
                this.modal.data.amount = 0;
                this.modal.type.check = true
            },
            _payment(data){
                let send = {
                    id: data.id,
                    balance: data.balance,
                    amount: data.balance
                }
                if (this.modal.type.check != true) {
                    if (data.amount != 0 && data.amount != '') {
                        if (data.amount > data.balance) {
                            swal('', 'No puede pagar una cantidad mayor a la deuda del conductor', "error")
                            return
                        }
                        send.amount = data.amount
                    } else {
                        swal('', 'Debe ingresar una cantidad valida', "error")
                        return
                    }
                }
                axios.post(`admin/finances-driver-pay`, send)
                    .then(res => {
                        if (res.data.result) {
                            data.balance = data.balance - send.amount
                            this._close()
                            swal('', res.data.msg, "success")
                        }
                    })
                    .catch(err => {
                        swal('', 'Disculpe, ha ocurrido un error', "error")
                    });
            },
            _fullAmount() {
                if (this.modal.type.check == false) {
                    this.modal.type.check = true;
                } else {
                    this.modal.type.check = false;
                }
            }
        },
        mounted () {
            this.modal.init = M.Modal.init(document.querySelector('.modal'));
        }
    }
</script>