<template id="template-treasury-index">

    <article class="row">
        <div class="col s12">
            <div class="col s12" v-if="options != 0">
                <a href="#!" class="btn btn-back" @click="options = 0">
                    <div class="btn-back__container">
                        <label class="label-back-cont">Volver</label>
                    </div>
                </a>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <h1 v-if="options == 0">Finanzas</h1>
                    <h1 v-if="options == 1">Ganancias</h1>
                    <h1 v-if="options == 2">Egreso</h1>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6 offset-m3" v-if="options === 0">
                    <a href="#!" class="btn btn--block btn--option" @click="options = 1">
                        Ganancias
                    </a>

                    <!-- <a :href="url | urlExpenses" class="btn btn--block btn--option">
                        Egresos
                    </a> -->
                </div>

            </div>

            <div class="row">
                <ingress-invoice v-if="options === 1" :url="url" v-on:back="_resetView"></ingress-invoice>
            </div>
        </div>
    </article>

</template>

<script>
// import ConceptForm from './FormConcept.vue';

export default {
    template: "#template-treasury-index",
    //components: { ConceptForm },
    props: {
        'url': {
            type: String,
            default: ""
        },
        concepts: {
            type: Array,
            default(){
                return []
            }
        },
        students: {
            type: Array,
            default (){
                return []
            }
        }
    },
    data () {
        return {
            options: 0
        }
    },
    filters: {
        urlGenerate (url) {
            return url + '/generate'
        },

        urlExpenses (url){
            return urlBase + 'admin/egresses'
        },

        urlConsult () {
            return urlBase + 'admin/invoices/consult'
        }
    },
    methods: {
        _resetView(option){
            this.options = option;
        },
    }
}
</script>
