<template id="template-finance-index">

    <article class="row">
        <div class="col s12 ">
            <div class="row">
                <div class="col s12 center-align">
                    <h1 v-if="options == 0">Reportes de Finanzas</h1>
                    <h1 v-if="options == 1">Reporte de Ganancias por Conductor</h1>
                    <h1 v-if="options == 2">Reporte de Pagos al Conductor</h1>
                    <h1 v-if="options == 3">Reporte de Ingresos por Usuario</h1>
                    <h1 v-if="options == 4">Reporte de Ganancias de Bogui</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="col s12 m6 offset-m3" v-if="options == 0">
                    <a href="#!" class="btn btn--block btn--option" @click="options = 1">
                        Reporte de Ganancias por Conductor
                    </a>

                    <a href="#!" class="btn btn--block btn--option" @click="options = 2">
                        Reporte de Pagos al Conductor
                    </a>

                    <a href="#!" class="btn btn--block btn--option" @click="options = 3">
                        Reporte de Ingresos por Usuario
                    </a>

                    <a href="#!" class="btn btn--block btn--option" @click="options = 4">
                        Reporte de Ganancias de Bogui
                    </a>
                </div>
            </div>

            <div class="row" v-if="options != 0">
                <div class="col s12">
                    <a href="#!" class="btn btn-back" @click="options = 0">
                        <div class="btn-back__container">
                            <label class="label-back-cont">Volver</label>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <finance-earnings-driver v-if="options === 1" :url="url" v-on:back="_resetView" :drivers="drivers"></finance-earnings-driver>

                    <finance-payments-driver v-if="options === 2" :url="url" v-on:back="_resetView"></finance-payments-driver>

                    <finance-earnings-passenger v-if="options === 3" :url="url" v-on:back="_resetView" :passengers="passengers"></finance-earnings-passenger>

                    <finance-earnings-bogui v-if="options === 4" :url="url" v-on:back="_resetView"></finance-earnings-bogui>

                </div>
            </div>

        </div>

    </article>

</template>

<script>

export default {
    template: "#template-finance-index",
    props: {
        'url': {
            type: String,
            default: ""
        },
        drivers: {
            type: Array,
            default () {
                return []
            }
        },
        payments: {
            type: Array,
            default () {
                return []
            }
        },
        passengers: {
            type: Array,
            default () {
                return []
            }
        },
        bogui: {
            type: Array,
            default () {
                return []
            }
        }
        
    },
    data () {
        return {
            options: 0,
            upload: true
        }
    },
    methods: {
        _resetView(option){
            this.options = option;
        },
        
    },
    mounted () {
    }
}
</script>