<template id="template-ingreso-index">

    <div class="row">
        <div class="col s12">
            <div class="col s12" v-if="options != 0">
                <a href="#!" class="btn btn-back" @click="options = 0">
                    <div class="btn-back__container">
                        <label class="label-back-cont">Volver</label>
                    </div>
                </a>
            </div>
            <div class="row">
                <div class="col s12 m6 offset-m3" v-if="options === 0">
                    <!-- <a href="#!" class="btn btn--block btn--option" @click="options = 1">
                        Generar Recibos de Caja
                    </a> -->

                    <a href="#!" class="btn btn--block btn--option" @click="options = 2">
                        Consultar Recibos de Caja
                    </a>
                </div>
            </div>
            <div class="row">
                <!-- <treasure-generate-invoice v-if="options === 1" :url="url" v-on:back="_resetView"></treasure-generate-invoice> -->
                <treasure-consult-invoice v-if="options === 2" :url="url" v-on:back="_resetView"></treasure-consult-invoice>
            </div>
        </div>
    </div>

</template>

<script>

export default {
    template: "#template-ingreso-index",
    props: {
        'url': {
            type: String,
            default: ""
        },
    },
    data () {
        return {
            options: 0,
            modal: {
                init: {},
                title: "",
                type: {
                    confirm: false,
                    action: 'view'
                },
                data: {
                    name: ''
                }
            }
        }
    },
    methods: {
        _resetView(option){
            this.options = option;
        },
        
    },
    mounted () {
        this.modal.init = M.Modal.init(document.querySelector('.modal'));
    }
}
</script>
