<template id="template-payment-drivers">
    <card-main>
        <card-content>
            <article class="row">

                <div class="col s12">
                    <table-byte :set-table="payments" :filters="['user.person.name', 'user.person.lastname', 'paid_by.person.name', 'paid_by.person.lastname', 'created_at']">

                        <table-row slot="table-head" slot-scope="{ item }">
                            <table-head>Conductor</table-head>
                            <table-head>Fecha del Pago</table-head>
                            <table-head>Cantidad Pagada</table-head>
                            <table-head>Deuda al Momento</table-head>
                            <table-head>Deuda Actual</table-head>
                            <table-head>Pagado por</table-head>
                        </table-row>

                        <table-row slot="table-row" slot-scope="{ item }">
                            <table-cell>{{ item.user.person.name }} {{ item.user.person.lastname }}</table-cell>
                            <table-cell>{{ item.created_at | date }}</table-cell>
                            <table-cell>CLP {{ item.total }}</table-cell>
                            <table-cell>CLP {{ item.debt }}</table-cell>
                            <table-cell>CLP {{ item.debt - item.total }}</table-cell>
                            <table-cell> {{ item.paid_by.person.name + ' ' + item.paid_by.person.lastname }}
                            </table-cell>
                        </table-row>
                        <table-row slot="empty-rows">
                            <table-cell colspan="6">
                                No se encontraron registros.
                            </table-cell>
                        </table-row>

                    </table-byte>
                </div>

            </article>
        </card-content>
    </card-main>
</template>

<script>
	export default {
		template: "#template-payment-drivers",
		props: {
			url: String,
		},
		data () {
			return {
				filter: '',
                payments: [],
                modal: {
                    init: {},
                    title: "",
                    type: {
                        confirm: false,
                        action: 'view'
                    },
                    data: {
                        id: '',
                        name: ''
                    }
                }
			}
		},
		methods: {
            _back(){
                this.$emit('back', 0);
            },
            _initCollabsible () {
                console.log('asd')
            },
            _destroyCollabsible () {
                instances.destroy()
            },
            _close() {
                this.modal.init.close()
                this.modal.title = "";
                this.modal.type.action = 'view';
                this.modal.type.confirm = false;
                this.modal.data = {};
            }
        },
        created() {
            axios.get('admin/finances/get-payments')
                .then(res => {
                    res.data.payments.forEach(res => {
                        if (res.paid_by.person == null) {
                            let person = {
                                name: 'Administrador',
                                lastname: ''
                            }
                            res.paid_by.person = person
                        }
                    })
                    this.payments = res.data.payments
                })
                .catch(err => {
                    swal('', 'Disculpe, ha ocurrido un error', "error")
                })
        },
        mounted () {
            this.modal.init = M.Modal.init(document.querySelector('.modal'));
        }
	}
</script>