<template id="template-teacher-form">
    <article class="col s12">
        <div class="row">
            <div class="col s12">
                <ul class="tabs tabs-fixed-width" id="tabs-teacher">
                    <li class="tab col s2"><a href="#information-personal">Información del<br/> Tema de Soporte</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <a href="#!" class="btn btn-back" @click="_back">
                    <div class="btn-back__container">
                        <label class="label-back-cont">Volver</label>
                    </div>
                </a>
            </div>
        </div>
       

        <!-- ____________________________________________

        //               PERSONAL
        ____________________________________________ -->
        <card-main>
            <card-content>
                <div class="row">
                    <div class="col s12">
                        <div id="information-personal" class="col s12">

                            <div class="input-field col s12 m6">
                                <input id="description" type="text" class="validate" v-model="form.description">
                                <label for="description">Titulo</label>
                            </div>
                            <div class="input-filling col s12 m6">
                                <label for="">Tipo</label>
                                <select name="type" id="type" class="browser-default" v-model="form.type">
                                    <option value="" selected="" disabled>Seleccione</option>
                                    <option :value="i + 1" v-for="(g, i) in types" :key="'type-' + i">{{ g }}</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 center-align">
                        <button class="btn btn-success" @click="store" :disabled="desactivar">Guardar registro</button>
                    </div>
                </div>
             
            </card-content>

        </card-main>

    </article>
</template>

<style lang="scss">
    .professional_information{
        display: flex;
        align-items: center;

        &:first-child{
            margin-top: 1rem;
        }

        .col{
            margin: 0;
        }
    }

    .input-filling{
        margin-bottom: 1rem;
    }

    .materialize-textarea{
        height: 3rem !important;
    }

    .assignment-content{
        padding-top: 1.7rem !important;
        padding-bottom: 1.7rem !important;
    }
</style>


<script>
export default {
    template: "#template-teacher-form",
    props: {
        url: String,
        'url-base': {
            type: String,
            default: ""
        },
        'set-form': {
            type: Object,
            default(){
                return {};
            }
        },
        'url-back': {
            type: String,
            default: ""
        }
    },
    data(){
        return {
            desactivar:false,
            form: {
                description: ""
            },
            types: ['Tema de Soporte' ,'Tema de Ayuda'],
        }
    },
    methods:{
        _photo (photo) {
            this.form.photo = documento.file;
        },
        
        _document (documento) {
            this.form.document = documento.file
        },

        store(){
            this.desactivar = true
            if(typeof this.form.id === 'undefined'){
                this.registration();
            }else{
                this.edit();
            }
        },

        registration(){
            
            axios.post('admin/support', this.convertToFormData())
                .then(res => {
                    
                    swal({
                        title: "",
                        text: `Se ha registrado el Tema de Soporte correctamente`,
                        timer: 2000,
                        showConfirmButton: false,
                        showOkButton: false,
                        type: "success"
                    },()=>{
                        location.reload(true)
                    });
                })
                .catch(err => {
                this.desactivar = false

                    let message = "Disculpe, ha ocurrido un error";
                    
                    if(err.response.status === 422){
                        message = err.response.data.error;
                    }

                    swal('', message, 'error');
                });
        },

        edit(){
            this.form._method = "PUT";

            axios.post(`admin/support/${this.form.id}`, this.convertToFormData())
                .then(res => {
                    
                    swal({
                        title: "",
                        text: `Se ha actualizado el Tema de Soporte correctamente`,
                        timer: 2000,
                        showConfirmButton: false,
                        showOkButton: false,
                        type: "success"
                    },()=>{
                        location = urlBase + "admin/support";
                    });
                })
                .catch(err => {
                this.desactivar = false

                    let message = "Disculpe, ha ocurrido un error";
                    
                    if(err.response.status === 422){
                        message = err.response.data.error;
                    }

                    swal('', message, 'error');
                });
        },

        convertToFormData(){
            let formData = new FormData();
            Object.getOwnPropertyNames(this.form).forEach(key => {
                if(key != "__ob__"){
                    if(this.form[key] != null && this.form[key] != 'null') {
                        formData.append(key, this.form[key]);
                    }
                }
            });

            return formData;
        },

        _back(fast = false){
            if(this.urlBack === ""){
                this.$emit('back', 0);
            }else{
                window.location = this.urlBack;
            }
        }
    },
    created(){
    },
    mounted(){
        M.Tabs.init(document.querySelector('#tabs-teacher'));

        M.Datepicker.init(document.querySelector('#date-init'),{
            onClose: this._selectBirthate,
            format: 'dd-mm-yyyy',
            autoClose: true,
            i18n: pickDateI18n
        });

        if(Object.entries(this.setForm).length > 0){

            Object.getOwnPropertyNames(this.setForm).forEach(key => {
                this.form[key] = this.setForm[key];
            });

        }
    }
}
</script>
