<template id="template-student">
    <card-main>
        <card-content>
            <article class="row">
                
                <!-- <div class="col s4">
                    <select name="" id="" class="browser-default" v-model="filter">
                        <option value="">Todos</option>
                        <option value="4">Temas de Soporte</option>
                    </select>               
                </div> -->

                <div class="col s12">
                    <table-byte :set-table="supports" :filters="['id','description', 'type_theme']">

                        <table-row slot="table-head" slot-scope="{ item }">
                            <table-head>Identificación</table-head>
                            <table-head>Descripción</table-head>
                            <table-head>Tipo de Tema</table-head>
                            <table-head>Acciones</table-head>
                        </table-row>

                        <table-row slot="table-row" slot-scope="{ item }">
                            <table-cell>{{ item.id }}</table-cell>
                            <table-cell>{{ item.description }} </table-cell>
                            <table-cell>{{ item.type_theme }} </table-cell>
                            <table-cell>
                                <a title="Editar" :href="`${url}/${item.id}/edit`" class="btn-action">
                                    <i class="material-icons prefix">edit</i>
                                </a>

<!--                                 <a title="Eliminar" href="#!" class="btn-action"  @click="_confirm(item, 'destroy')">
                                    <i class="material-icons prefix">delete</i>
                                </a> -->
                            </table-cell>

                        </table-row>

                        <table-row slot="empty-rows">
                            <table-cell colspan="3">
                                No se encontraron registros.
                            </table-cell>
                        </table-row>

                    </table-byte>

                    <byte-modal v-on:pressok="_delete" v-on:presscancel="_close" :confirm="modal.type.confirm">
                        <template v-if="modal.type.action == 'view' && modal.data.person">

                            <template v-if="modal.data.level ==  '4'">
                                <div class="col s12">
                                    <h3>Datos Personales</h3>
                                </div>
                                
                                <div class="col s9">
                                    <div class="col s12">
                                        <span>Nombre: </span> {{ modal.data.person.name }} {{ modal.data.person.lastname }}
                                    </div>

                                    <div class="col s12">
                                        <span>Correo electronico: </span> {{ modal.data.email }}
                                    </div>

                                    <div class="col s12">
                                        <span>Estado: </span> {{ modal.data.status == '0' ? 'Inactivo':'Activo' }}
                                    </div>

                                </div>

                            </template>

                        </template>

                        <template v-if="modal.type.action == 'destroy'">
                            <div class="container-confirmation">
                                <div class="confimation__icon">
                                    <i class="material-icons">error_outline</i>
                                </div>
                                <div class="confirmation__text">
                                    <h5>¿Realmente desea <b>Eliminar</b> el <b> Tema de Soporte</b>?</h5>
                                </div>
                            </div>
                        </template>
                    </byte-modal>
                </div>

            </article>
        </card-content>
    </card-main>
</template>

<script>
    export default {
        template: "#template-student",
        props: {
            url: String,
            supports: {
                type: Array,
                default () {
                    return []
                }
            }
        },
        data () {
            return {
                filter: '',
                modal: {
                    init: {},
                    title: "",
                    type: {
                        confirm: false,
                        action: 'view'
                    },
                    data: {
                        id: '',
                        name: ''
                    }
                }
            }
        },
        methods: {
            _back(){
                this.$emit('back', 0);
            },
            _view(data, action){
                this.modal.title = "Ver Tema de Soporte";
                this.modal.type.action = action;
                this.modal.type.confirm = false;
                this.modal.data = data;
                this.modal.init.open();
                setTimeout(() => {
                    var elems = document.querySelectorAll('.collapsible');
                    var instances = M.Collapsible.init(elems);
                }, 300)
                
            },
            _initCollabsible () {
                console.log('asd')
            },
            _destroyCollabsible () {
                instances.destroy()
            },
            _confirm(data, action){
                this.modal.title = "Eliminar Tema de Soporte";
                this.modal.type.action = action;
                this.modal.type.confirm = true;
                this.modal.data = data;
                this.modal.init.open();
            },
            _activate_mod(data, action){
                if (data.status == '0') {
                    this.modal.title = "Activar Tema de Soporte";
                } else {
                    this.modal.title = "Desactivar Tema de Soporte";
                }
                this.modal.type.action = action;
                this.modal.type.activate = true;
                this.modal.data = data;
                this.modal.init.open();
            },
            _delete(){
                let index = this.supports.findIndex(e => {
                    return e.id == this.modal.data.id
                })
                
                this.modal.init.close()

                axios.delete(`admin/support/${this.modal.data.id}`)
                    .then(res => {
                        if(res.data.result == undefined){
                            this.supports.splice(index, 1);
                            swal('', 'Se ha eliminado al Tema de Soporte con éxito', 'success');
                        }
                        
                    })
                    .catch(err => {
                        swal('', 'Disculpe, ha ocurrido un error', "error")
                    });
            },
            _close() {
                this.modal.init.close()
                this.modal.title = "";
                this.modal.type.action = 'view';
                this.modal.type.confirm = false;
                this.modal.data = {};
            },
            _activate(data){

                axios.post(`admin/support-activate/${data.id}`)
                    .then(res => {
                        if (res.data.result) {
                            data.status = res.data.user
                            swal('', res.data.msg, "success")
                        }
                    })
                    .catch(err => {
                        swal('', 'Disculpe, ha ocurrido un error', "error")
                    });
            },
        },
        mounted () {
            this.modal.init = M.Modal.init(document.querySelector('.modal'));
        }
    }
</script>