// Font family
$font-family: 'Lato';

// With sidebar menu
$with-sidebar-menu: 300px;

// Colors
$white: #fff;
$color-blue: #2f5597;
$color-gray: #EDEEF0;
$color-light-blue: #4a72b2;
$color-green: #008f2f;
$color-light-green: #92d050;
$color-light-green-end: #75aa39;
$color-orange: #cb6120;
$color-grey: #b7b7bb;
$bogui-red: #f70000;
$bogui-blue: #2f5597;
$chat-coductor: #f4d09f;
$chat-admin: #f4f2ae;

$backgrounds-tabs: (
    1: #4AA39D,
    2: #3352A8,
    3: #7245A0,
    4: #983A9B,
    5: #A3337B,
    6: #D63E51
);

$height-half: 360px