$gris: #444242;
$azul: #001a5a;
$rojo: #a01127;
$gris-claro: #5b5b5f;
$gris-clarito: #f7f7f8;
$font-family: 'Poppins';

$break-small: 750px;

@font-face {
    font-family: $font-family;
    src:  url("../fonts/poppins/Poppins-Regular.ttf") format("truetype"), url("../fonts/poppins/Poppins-Italic.ttf") format("truetype"), url("../fonts/poppins/Poppins-Light.ttf") format("truetype"),  url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: $font-family + "-Light";
    src:  url("../fonts/poppins/Poppins-Light.ttf") format("truetype");
}

body, html, * {
    font-family: 'Poppins';
    overflow-x: hidden;
}

h3 {
	text-align: center;
	padding: 10px;
	max-width: 500px;
	font-family: 'Poppins-Light';
	margin: 0 auto;

	@media (max-width: 500px) {
		font-size: 25px;
	}
}

.mapa {
	img {
		max-width: 250px;
	}	
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.ruta__info__footer {
	background: $gris-clarito;
	// padding: 1rem .4rem .6rem .4rem;
	padding: 10px;

	@media screen and (max-width: $break-small) {
	    position: fixed;
	    bottom: 0px;
	    width: 100%;
	}

	&__logo {
	    img {
	        width: 5rem;
	    }
	}

	&__mas {
	    a {
	        color: black;
	        text-decoration: none;
	        display: block;
	        text-align: right;
	        font-size: 14px;
	    }
	    img {
	    	width: 30px;
	    	margin-left: 10px;
	    }
	}
}
