//
// OJOOOOOOOO
//
// ESTE ARCHIVO ES A PARTE DE TODO EL PROYECTO SOLO FUNCIONA PARA LA PAGINA DE RUTA
// QUE SE MUESTRA CON EL ENLACE DE COMPARTIR DE LA APP

$gris: #444242;
$azul: #001a5a;
$rojo: #a01127;
$gris-claro: #5b5b5f;
$gris-clarito: #f7f7f8;
$font-family: 'Poppins';

$break-small: 750px;

@font-face {
    font-family: $font-family;
    src:  url("../fonts/poppins/Poppins-Regular.ttf") format("truetype"), url("../fonts/poppins/Poppins-Italic.ttf") format("truetype"), url("../fonts/poppins/Poppins-Light.ttf") format("truetype"),  url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: $font-family + "-Regular";
    src:  url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: $font-family + "-Bold";
    src:  url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: $font-family + "-Light";
    src:  url("../fonts/poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: $font-family + "-SemiBold";
    src:  url("../fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
}

body {
    font-family: 'Poppins';
}

#map {
    height: 100vh;

    @media screen and (max-width: $break-small) {
        height: 60vh;
    }

    width: 100%;
}

.no-padding {
    padding: 0;
}

.rute__infor_conductor__avatar img {
    width: 30px;
    height: 30px;
    border-radius: 60px;
}

.ruta {
    overflow-x: hidden;

    &__info {

        &__header {
            height: calc(100vh - 58px);
        
            @media screen and (max-width: $break-small) {
                height: auto !important;
                margin-bottom: 58px !important;
            }
        }
       
        &__bold {
            font-family: 'Poppins-SemiBold';
        }

        &__light {
            font-family: 'Poppins-Light';
        }

        &__italic {
            font-style: italic;
        }

        &__title {

            &--proceso {
                background: $azul;
            }

            &--cancelada {
                background: $rojo;
            }

            &--finalizada {
                background: $gris;
            }

            color: white;
            padding: .5rem;
        }

        &__steps {
            background: $gris-clarito;
            padding: .5rem 1.2rem;

            &__title {
                font-family: 'Poppins-Light';
                color: $gris-claro;
                font-style: italic;
            }

            &__img {
                width: 15px;
            }

            &__space {
                padding: .4rem 0;
            }
        }

        &__conductor {
            padding: .5rem 1rem;

            &__detail {
                padding: .5rem 0;

            }
        }

        &__footer {
            background: $gris-clarito;
            padding: 1rem .4rem .6rem .4rem;
            
            @media screen and (max-width: $break-small) {
                position: fixed;
                bottom: 0px;
                width: 100%;
            }

            &__logo {
                img {
                    width: 5rem;
                }
            }

            &__mas {
                a {
                    color: black;
                    text-decoration: none;
                    display: block;
                    text-align: right;
                    font-size: 14px;
                }
            }
        }
    }
}