<template id="template-chats-active">
    <card-main class="chat-module row">
        <card-content class="col s12">

            <article class="row no-mb">

                <div class="col s12 m5 not-pr height-content" v-show="_showListMovil">

                    <vue-scrollbar classes="scrollbar-list-chats" ref="Scrollbar" :speed="100">
                        <ul class="list-chats">

                            <li v-for="(ch,i) in chats_list" :key="`chat-${i}`" class="list-chats__item" :id="'list-chats__item-' + ch.id" @click="openMessageBox(ch.id, ch.chat_user[0].user_id, 'list-chats__item-' + ch.id)">

                                <p class="list-chats__item__person">
                                    <b>{{ ch.chat_user[0].users[0].level == '2' ? 'Conductor' : 'Pasajero' }}
                                    {{ ch.chat_user[0].users[0].person.name + ' ' + ch.chat_user[0].users[0].person.lastname }}</b>
                                </p>

                                <p class="list-chats__item__action">{{ ch.support_type.description }}</p>

                                <p class="list-chats__item__date">{{ ch.created_at }}</p>

                                <span class="list-chats__item__badge" v-if="ch.count > 0">
                                    {{ ch.count }}
                                </span>
                            </li>

                            <li v-if="chats_list.length == 0">
                                No hay chats.
                            </li>

                        </ul>
                    </vue-scrollbar>

                </div>

                <div class="col s12 m7 height-content flex-end content-messages" v-show="_showMessageMovil">
                    <a href="#!" class="btn btn-to-list hide-on-med-and-up" @click="active_chat = 0">
                        Ver Lista
                    </a>
                    <vue-scrollbar classes="scrollbar-list-message" ref="Scrollbar" :speed="100">
                        <div class="list-msj" :class="messages.length > 0 ? 'list-msj--with-messages' : ''">

                            <transition-group v-if="messages.length > 0 && active_chat != 0" name="list" tag="ul" mode="out-in">
                                <li v-for="(m, i) in messages" :class="m.user_id == user ? 'li-right' : 'li-left'" :key="'mensaje-' + i">
                                    <div class="bubble nl2br" :class="m.user_id == user ? 'sender' : 'receiver'" >
                                        <div class="preview-img" v-if="m.file != null">
                                            <a target="_blank" rel="noopener noreferrer" :href="m.file | asset">
                                                <img :src="m.file | asset">
                                            </a>
                                        </div>
                                        {{ m.text }}
                                        <div class="date">{{ m.created_at }}</div>
                                    </div>
                                </li>
                            </transition-group>

                            <div v-else-if="messages.length === 0 && active_chat != 0">
                                <p class="list-msj__no-message">No se han enviado mensajes.</p>
                            </div>

                            <div v-else>
                                <p class="list-msj__no-selected-chat">Seleccione un Chat</p>
                            </div>

                        </div>
                    </vue-scrollbar>

                    <div class="wrapper-footer-chat">
                        <div class="col s9 content-textarea">
                            <div class="input-field message-area">
                                <textarea v-model="textmsg" id="message-box" class="max-width-input message-box" placeholder="Mensaje"></textarea>
                            </div>
                        </div>
                        
                        <div class="col s3 right-align no-padding content-btn-chat">
                            <a class="btn waves-effect send-button" @click="sendMessage()">
                                <i class="material-icons send-button-font">send</i>
                            </a>
                            <a class="btn waves-effect adjuntar-button" v-if="upload" @click="_uploadModal('confirm')">
                                <i class="material-icons adjuntar-button-font">attach_file</i>
                            </a>
                        </div>
                    </div>
                </div>

                <byte-modal v-on:pressok="uploadImages" :confirm="modal.type.confirm">
                    <template v-if="modal.type.action == 'confirm'">

                        <div class="col s12">
                            <h1 style="margin-bottom: 0;">Seleccione el archivo a subir</h1>

                            <!-- Previsualizacion de la imagen que se obtiene a traves del methodod: -->
                            <div class="preview-img-modal col s12">
                                <ul class="col s12 no-padding">
                                    <li class="content-upload" v-for="(input, index) in modal.inputs" :key="'image-' + index">

                                        <div class="col s12 m5 content-upload__preview">

                                            <img :src="input.preview" v-if="input.preview !== '' && typeof input.preview !== 'object'" class="content-upload__preview-image">

                                            <div class="content-upload__preview-no-image no-image" v-else>
                                                <i class="material-icons" style="font-size: 80px;">image</i>
                                            </div>

                                            <div class="content-upload__btn">
                                                <a href="#!" class="btn content-upload__btn-file">
                                                    <input type="file" @change="_previsualizar($event, index)">
                                                    Añadir
                                                </a>
                                            </div>

                                        </div>

                                        <div class="col s12 m7 no-padding">
                                            <textarea class="content-upload__message" placeholder="Mensaje" v-model="input.text"></textarea>
                                        </div>

                                        <a href="#!" class="content-upload__btn-remove" @click="deleteRow(index)">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col s12">
                            <button class="btn btn--blue" @click="addRow">
                                <i class="material-icons left">add</i>
                                Agregar Imagen
                            </button>
                        </div>

                    </template>
                </byte-modal>
            </article>
        </card-content>
    </card-main>
</template>

<style lang="scss">
    .modal {
        z-index: 999999 !important;
    }
    .preview-img{
        display: flex;
        justify-content: center;
        height: 180px;
        margin-bottom: .9rem;

        img{
            height: 180px;
            width: 150px;
            object-fit: contain;
        }
    }
    .preview-img-modal{
        display: flex;
        justify-content: center;
        margin-bottom: .9rem;

        .no-image{
            flex: 0 1 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 5rem;
            background: #fff;
        }

        .li {
            height: 300px;
            width: 300px;
            object-fit: contain
        }

        img{
            height: 180px;
            width: 150px;
            object-fit: contain;
        }
    }

</style>

<script>
    export default {
        template: "#template-chats-active",
        props: {
            url: String,
            'set-chats': {
                type: Array,
                default () {
                    return []
                }
            },
            'set-user': {
                type: Number,
                default () {
                    return 0
                }
            },
            upload: {
                type: Boolean,
                default: false
            },
            btn: {
                type: Boolean,
                default: true
            }
        },
        data () {
            return {
                chats_list: [],
                messages: [],
                textmsg: '',
                active_chat: 0,
                user: 0,
                receiver: 0,
                uploader: '',
                uploads: [],
                source: '',
                isResponsive: false,
                modal: {
                    init: {},
                    title: "",
                    preview: "",
                    file: "",
                    accept: ['png', 'jpg', 'jpeg'],
                    isVideo: false,
                    isImage: false,
                    inputs: [],
                    type: {
                        confirm: false,
                        action: ''
                    }
                },
            }
        },
        methods: {
            _back(){
                this.$emit('back', 0);
            },
            _initCollabsible () {
                console.log('asd')
            },
            _destroyCollabsible () {
                instances.destroy()
            },
            _uploadModal(action){
                this.modal.title = "Subir Imagen";
                this.modal.type.action = action;
                this.modal.type.confirm = true;
                this.uploads = [];
                this.modal.inputs = [];
                this.modal.init.open();
            },
            _close() {
                this.modal.init.close()
                this.modal.title = "";
                this.modal.type.action = 'view';
                this.modal.type.confirm = false;
                this.modal.data = {};
            },
            openMessageBox(chat_id, receiver_id, id) {
                this.active_chat = chat_id;
                this.receiver = receiver_id;
                this.messages = [];
                
                let index = this.chats_list.findIndex(el => {return el.id == chat_id});
                this.chats_list[index].count = 0;
                this.chats_list[index].message_count = 0;

                document.querySelectorAll(".list-chats__item").forEach(el => {
                    el.classList.remove("list-chats__item--active"); 
                });

                document.querySelector(`#${id}`).classList.add("list-chats__item--active");

                axios.get(`admin/chats/${chat_id}/messages`)
                    .then(res => {
                        res.data.messages.forEach(el => {
                            el.created_at = moment(el.created_at).format("DD-MM-YYYY HH:mm:ss")
                            this.messages.push(el);
                        });
                        
                        this.$refs.Scrollbar.scrollToY(0);

                        setTimeout(() => {
                            let height = document.querySelector(".list-msj").clientHeight;
                            this.$refs.Scrollbar.scrollToY(height + 10);
                        }, 500)
                    })
            },
            sendMessage() {
                if (this.textmsg == '') {
                    swal('', 'No puede mandar un mensaje vacio', "warning")
                    return
                }
                let data = {
                    user_id: this.user,
                    receiver_id: this.receiver,
                    text: this.textmsg,
                    chat_id: this.active_chat,
                    file: null,
                    created_at: moment().format('DD-MM-YYYY HH:mm:ss')
                }
                // this.messages.push(data)
                SocketApp.emit('send-message', data)
                 let params = {
                      tx: this.user,
                      rx: this.receiver
                    };
                SocketApp.emit( "update-floatwidget", params );
                this.textmsg = ''
                M.Collapsible.init(document.querySelectorAll('.collapsible'), {
                    accordion: true
                });
            },
            _previsualizar(evt,index) {

                let files = evt.target.files;
                showLoading();
                for (let i = 0, f; (f = files[i]); i++) {
                    //Solo admitimos imágenes y videos.
                    console.log(files[i], 'file')
                    let format = files[i].type.split('/')
                    let answer = ((this.modal.accept.indexOf(format[1])) > -1)   
                    if (!answer) {
                        this.modal.inputs.splice(index,1)
                        this.uploads.splice(index,1)
                        quitLoading();
                        swal('', 'Solo puede subir imagenes con formato PNG, JPG y JPEG', "error")
                        return false;
                    }
                    
                    let reader = new FileReader();

                    reader.onload = (theFile => {
                        return e => {
                            Vue.set(this.modal.inputs[index], 'preview', e.target.result)
                            // this.uploads.push(files[i])
                            this.addFile(files[i],index)
                        };
                    })(f);

                    reader.readAsDataURL(f);
                }

                console.log(this.modal.inputs, 'inputs modal')
            },
            dataURItoBlob(dataURI) {
                // convert base64/URLEncoded data component to raw binary data held in a string
                var byteString;
                if (dataURI.split(',')[0].indexOf('base64') >= 0)
                    byteString = atob(dataURI.split(',')[1]);
                else
                    byteString = unescape(dataURI.split(',')[1]);

                // separate out the mime component
                var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

                // write the bytes of the string to a typed array
                var ia = new Uint8Array(byteString.length);
                for (var i = 0; i < byteString.length; i++) {
                    ia[i] = byteString.charCodeAt(i);
                }

                return new Blob([ia], {type:mimeString});
            },
            addFile(uploadfile,index) {
                let me = this
                let file_upload = uploadfile
                console.log(file_upload, 'file addFile')
                let format = file_upload.type.split('/')
                var reader = new FileReader();
                let tipo = format;
                switch(tipo) {
                    case 'jpg':
                        tipo = 'image/jpeg';
                        break;

                    case 'png':
                        tipo = 'image/png';
                        break;

                    case 'jpeg':
                        tipo = 'image/jpeg';
                        break;

                    default: 
                        tipo = 'image/jpeg';
                        break;
                }
                reader.readAsDataURL(file_upload);
                reader.onload = function(file) {
                    var tempImg = new Image();
                    tempImg.src = reader.result;

                    tempImg.onload = function() {
                        var MAX_WIDTH = 1000;
                        var MAX_HEIGHT = 1000;
                        var tempW = tempImg.width;
                        var tempH = tempImg.height;

                        if (tempW > tempH) {
                            if (tempW > MAX_WIDTH) {
                            tempH *= MAX_WIDTH / tempW;
                            tempW = MAX_WIDTH;
                            }
                        } else {
                            if (tempH > MAX_HEIGHT) {
                            tempW *= MAX_HEIGHT / tempH;
                            tempH = MAX_HEIGHT;
                            }
                        }
                        var resizedCanvas = document.createElement('canvas');
                        resizedCanvas.width = tempW;
                        resizedCanvas.height = tempH;
                        var ctx = resizedCanvas.getContext("2d");
                        ctx.drawImage(this, 0, 0, tempW, tempH);
                        var dataURL = resizedCanvas.toDataURL(tipo);
                        file_upload = me.dataURItoBlob(dataURL);
                        let splitted = uploadfile.name.split(".");
                        file_upload.name = me.randomName()+'.'+splitted[1].toLowerCase()
                        Vue.set(me.modal.inputs[index], 'name', file_upload.name)
                        me.uploads.push(file_upload)
                        quitLoading();
                    }
                }
            },
            randomName() {
              var text = "";
              var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

              for (var i = 0; i < 32; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

              return text;
            },
            addRow() {
                this.modal.inputs.push({
                    preview: '',
                    file: '',
                    text: '',
                    name: ''
                })
            },
            deleteRow(index) {
              this.modal.inputs.splice(index,1)
              this.uploads.splice(index,1)
            },
            uploadImages() {
                if (this.uploads.length > 0 && this.modal.inputs.length > 0) {
                    this.uploader.submitFiles(this.uploads)
                }
                this.modal.init.close();
            }
        },

        computed: {
            _showMessageMovil(){
                let width = window.outerWidth;

                if(width < 601){
                    return this.active_chat !== 0;
                }

                return true;
            },

            _showListMovil(){
                let width = window.outerWidth;

                if(width < 601){
                    return this.active_chat === 0;
                }

                return true;
            }
        },

        mounted () {
            this.$bus.$emit('set-chat', false)
            this.$bus.$emit('set-notification', true)
            this.modal.init = M.Modal.init(document.querySelector('.modal'));

            let me = this;
            this.source = 'chats/';
            this.user = this.setUser;

            this.setChats.forEach(el => {
                
                if (moment(el.created_at, 'DD/MM/YYYY', true).isValid() != true) {
                    el.created_at =  moment(el.created_at).format('DD/MM/YYYY');
                }
                el.count = 0;
                if (el.message_count > 0) {
                    el.count = el.message_count;
                } else {
                    el.count = 0;
                }
                this.chats_list.push(el);
            });

            this.uploader = new SocketIOFileUpload(SocketApp)

            // this.uploader.listenOnInput(document.getElementById("add-file"));

            // Carga del Archivo:
            this.uploader.addEventListener("progress", function(event){
                var percent = event.bytesLoaded / event.file.size * 100;
                console.log(percent.toFixed(2), "porcentaje cargado");
            });

            // Una vez que el archivo este cargado:
            this.uploader.addEventListener("complete", function(event){
                console.log(event, 'evento complete')
                me.modal.inputs.forEach(input => {
                    if (event.file.name == input.name) {
                        me.textmsg = input.text
                    }
                });

                let data = {
                    user_id: me.user,
                    receiver_id: me.receiver,
                    text: me.textmsg,
                    chat_id: me.active_chat,
                    file: me.source + event.file.name,
                    created_at: moment().format('YYYY-MM-DD HH:mm:ss')
                }
                // me.messages.push(data)
                SocketApp.emit('send-message', data)
                let params = {
                     tx: me.user,
                     rx: me.receiver
                   };
               SocketApp.emit( "update-floatwidget", params );
                me.textmsg = ''
            });

            SocketApp.on('send-message', data => {
                if (data.chat_id == this.active_chat) {
                    data.created_at = moment(data.created_at).format('DD-MM-YYYY HH:mm:ss')
                    this.messages.push(data);
                    return;
                }

                let index = this.chats_list.findIndex(el => {return el.id == data.chat_id});

                if(index < 0){
                    axios.post(`admin/chats/new-chat/${data.chat_id}`)
                        .then(res => {
                            res.data.chat.count = 0;
                            res.data.chat.message_count = 0;
                            res.data.chat.created_at = moment(res.data.chat.created_at).format('DD/MM/YYYY');
                            this.chats_list.unshift(res.data.chat);

                            index = this.chats_list.findIndex(el => {return el.id == data.chat_id});
                            this.chats_list[index].count = this.chats_list[index].count + 1;
                        });
                }else{
                    this.chats_list[index].count = this.chats_list[index].count + 1;
                }
            });
        }
    }
</script>