<template id="template-histories-active">
    <card-main class="chat-module row">
        <card-content class="col s12">
            <article class="row">
                <div class="col s12 m5 not-pr border--right-gray height-half" v-show="_showListMovil">

                    <vue-scrollbar classes="scrollbar-list-chats" ref="Scrollbar" :speed="100">
                        <ul class="list-chats border--right-none">

                            <li v-for="(ch,i) in chats_list" :key="`chat-${i}`" class="list-chats__item" :id="'list-chats__item-' + ch.id" @click="openMessageBox(ch.id, ch.chat_user[0].user_id, 'list-chats__item-' + ch.id)">

                                <p class="list-chats__item__person">
                                    <b>{{ ch.chat_user[0].users[0].level === '2' ? 'Conductor' : 'Pasajero' }}
                                    {{ ch.chat_user[0].users[0].person.name + ' ' + ch.chat_user[0].users[0].person.lastname }}</b>
                                </p>

                                <p class="list-chats__item__action">{{ ch.support_type.description }}</p>

                                <p class="list-chats__item__date">{{ ch.created_at }}</p>

                                <span class="list-chats__item__badge" v-if="ch.count > 0">
                                    {{ ch.count }}
                                </span>
                            </li>

                            <li v-if="chats_list.length == 0">
                                No hay chats.
                            </li>

                        </ul>
                    </vue-scrollbar>

                </div>

                <div class="col s12 m7 content-messages" v-show="_showMessageMovil">
                    <a href="#!" class="btn btn-to-list hide-on-med-and-up" @click="active_chat = 0">
                        Ver Lista
                    </a>

                    <vue-scrollbar classes="scrollbar-list-message" ref="Scrollbar" :speed="100">
                        <div class="list-msj" :class="messages.length > 0 ? 'list-msj--with-messages' : ''">

                            <transition-group v-if="messages.length > 0 && active_chat != 0" name="list" tag="ul" mode="out-in">
                                <li v-for="(m, i) in messages" :class="m.user_id == user ? 'li-right' : 'li-left'" :key="'mensaje-' + i">
                                    <div class="bubble nl2br" :class="m.user_id == user ? 'sender' : 'receiver'" >
                                        <div class="preview-img" v-if="m.file != null">
                                            <a target="_blank" rel="noopener noreferrer" :href="m.file | asset">
                                                <img :src="m.file | asset">
                                            </a>
                                        </div>
                                        {{ m.text }}
                                        <div class="date">{{ m.created_at }}</div>
                                    </div>
                                </li>
                            </transition-group>

                            <div v-else-if="messages.length === 0 && active_chat != 0">
                                <p class="list-msj__no-message list-msj__no-message--height-half">No se han enviado mensajes.</p>
                            </div>

                            <div v-else>
                                <p class="list-msj__no-selected-chat list-msj__no-selected-chat--height-half">Seleccione un Chat</p>
                            </div>

                        </div>
                    </vue-scrollbar>
                </div>

                <!-- <byte-modal v-on:pressok="uploadImages" :confirm="modal.type.confirm">
                    <template v-if="modal.type.action == 'confirm'">

                        <div class="col s12">
                            <h1>Seleccione el archivo a subir</h1>

                            <div class="preview-img-modal col s12">
                                <ul>
                                    <li class="" v-for="(input, index) in modal.inputs">
                                        <img :src="input.preview" v-if="input.preview !== '' && typeof input.preview !== 'object'">
                                        <div class="no-image" v-else>
                                            <i class="material-icons" style="font-size: 80px;">image</i>
                                        </div>
                                        <input type="file" @change="_previsualizar($event, index)">
                                        <input type="text" v-model="input.text">
                                    <button @click="deleteRow(index)">Eliminar</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col s12">
                            <button @click="addRow">Agregar Imagen</button>
                        </div>
                    </template>
                </byte-modal> -->

            </article>
        </card-content>
    </card-main>
</template>

<style lang="scss">
    .preview-img{
        display: flex;
        justify-content: center;
        height: 180px;
        margin-bottom: .9rem;

        img{
            height: 180px;
            width: 150px;
            object-fit: contain;
        }
    }
    .preview-img-modal{
        display: flex;
        justify-content: center;
        margin-bottom: .9rem;

        .no-image{
            flex: 0 1 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 5rem;
            background: #fff;
        }

        .li {
            height: 300px;
            width: 300px;
            object-fit: contain
        }

        img{
            height: 180px;
            width: 150px;
            object-fit: contain;
        }
    }
</style>

<script>
    export default {
        template: "#template-histories-active",
        props: {
            url: String,
            'set-histories': {
                type: Array,
                default () {
                    return []
                }
            },
            'set-user': {
                type: Number,
                default () {
                    return 0
                }
            },
            upload: {
                type: Boolean,
                default: false
            },
            btn: {
                type: Boolean,
                default: true
            }
        },
        data () {
            return {
                chats_list: [],
                messages: [],
                textmsg: '',
                active_chat: 0,
                user: 0,
                receiver: 0,
                uploader: '',
                uploads: [],
                source: '',
                modal: {
                    init: {},
                    title: "",
                    preview: "",
                    file: "",
                    accept: ['png', 'jpg', 'jpeg'],
                    isVideo: false,
                    isImage: false,
                    inputs: [],
                    type: {
                        confirm: false,
                        action: ''
                    }
                },
            }
        },
        methods: {
            _back(){
                this.$emit('back', 0);
            },
            _initCollabsible () {
                console.log('asd')
            },
            _destroyCollabsible () {
                instances.destroy()
            },
            _uploadModal(action){
                this.modal.title = "Subir Imagen";
                this.modal.type.action = action;
                this.modal.type.confirm = true;
                this.uploads = [];
                this.modal.inputs = [];
                this.modal.init.open();
            },
            openMessageBox(chat_id, receiver_id) {
                this.active_chat = chat_id
                this.receiver = receiver_id
                this.messages = []
                axios.get(`admin/chats/${chat_id}/messages`)
                    .then(res => {
                        this.messages = res.data.messages
                    })
            },
            sendMessage() {
                if (this.textmsg == '') {
                    swal('', 'No puede mandar un mensaje vacio', "warning")
                    return
                }
                let data = {
                    user_id: this.user,
                    receiver_id: this.receiver,
                    text: this.textmsg,
                    chat_id: this.active_chat,
                    file: null,
                    created_at: moment().format('YYYY-MM-DD HH:mm:ss')
                }
                this.messages.push(data)
                SocketApp.emit('send-message', data)
                this.textmsg = ''
                M.Collapsible.init(document.querySelectorAll('.collapsible'), {
                    accordion: true
                });
            },
            _previsualizar(evt,index) {

                let files = evt.target.files;

                for (let i = 0, f; (f = files[i]); i++) {
                    //Solo admitimos imágenes y videos.
                    console.log(files[i], 'file')
                    let format = files[i].type.split('/')
                    let answer = ((this.modal.accept.indexOf(format[1])) > -1)   
                    if (!answer) {
                        swal('', 'Solo puede subir imagenes', "error")
                        return false;
                    }
                    
                    let reader = new FileReader();

                    reader.onload = (theFile => {
                        return e => {
                            Vue.set(this.modal.inputs[index], 'preview', e.target.result)
                            Vue.set(this.modal.inputs[index], 'name', files[i].name)
                            this.uploads.push(files[i])
                        };
                    })(f);

                    reader.readAsDataURL(f);
                }
            },
            addRow() {
              this.modal.inputs.push({
                preview: '',
                file: '',
                text: '',
                name: ''
              })
            },
            deleteRow(index) {
              this.modal.inputs.splice(index,1)
              this.uploads.splice(index,1)
            },
            uploadImages() {
                if (this.uploads.length > 0 && this.modal.inputs.length > 0) {
                    this.uploader.submitFiles(this.uploads)
                }
                this.modal.init.close();
            }
        },
        computed: {
            _showMessageMovil(){
                let width = window.outerWidth;

                if(width < 601){
                    return this.active_chat !== 0;
                }

                return true;
            },

            _showListMovil(){
                let width = window.outerWidth;

                if(width < 601){
                    return this.active_chat === 0;
                }

                return true;
            }
        },
        mounted () {
            let me = this
            this.source = 'chats/'
            this.user = this.setUser
            this.chats_list = this.setHistories
        }
    }
</script>
