<template id="template-chats-index">

    <article class="row">
        <div class="col s12 ">
            <div class="row">
                <div class="col s12 center-align">
                    <h1 v-if="options == 0">Chats de Soporte y Ayuda</h1>
                    <h1 v-if="options == 1">Chats Activos</h1>
                    <h1 v-if="options == 2">Chats Archivados</h1>
                </div>
            </div>
            
            <div class="row no-mb">
                <div class="col s12 m6 offset-m3" v-if="options == 0">
                    <a href="#!" class="btn btn--block btn--option" @click="options = 1">
                        Chats Activos
                    </a>

                    <a href="#!" class="btn btn--block btn--option" @click="options = 2">
                        Chats Archivados
                    </a>
                </div>
            </div>

            <div class="row no-mb" v-if="options != 0">
                <div class="col s12">
                    <a href="#!" class="btn btn-back" @click="options = 0">
                        <div class="btn-back__container">
                            <label class="label-back-cont">Volver</label>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <chats-active v-if="options === 1" :url="url" v-on:back="_resetView" :set-chats="chats" :set-user="user" :upload="upload"></chats-active>
            
                    <chats-archived v-if="options === 2" :url="url" v-on:back="_resetView" :set-histories="histories" :set-user="user"></chats-archived>

                </div>
            </div>

        </div>

    </article>

</template>

<script>

export default {
    template: "#template-chats-index",
    props: {
        'url': {
            type: String,
            default: ""
        },
        user: {
            type: Number,
            default: 0
        },
        chats: {
            type: Array,
            default () {
                return []
            }
        },
        histories: {
            type: Array,
            default () {
                return []
            }
        },
        
    },
    data () {
        return {
            options: 0,
            upload: true
        }
    },
    methods: {
        _resetView(option){
            this.options = option;
        },
        
    },
    mounted () {
    }
}
</script>