<template id="template-type-form">

    <article class="row">
        <card-title>
            <h1>{{ title }}</h1>
        </card-title>

        <form class="col s12" @submit.prevent="submit">

            <div class="row">
                <div class="col s12 m12 offset-m5 offset-s5">
                    <h1>Tipo de Tarifa de Viaje</h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <card-main>
                        <card-content>
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input type="text" class="validate" v-model="form.name">
                                    <label for="name">Titulo</label>
                                </div>
                            </div>

                            <div class="row">                       
                                <div class="col s12 btn-content center-align">
                                    <button class="btn btn-success" type="submit">Guardar registro</button>
                                </div>
                            </div>
                        </card-content>
                    </card-main>
                </div>
            </div>
        </form>
    </article>
    
</template>

<style lang="scss" scoped>
    .days{
        margin-top: 20px;
        margin-bottom: 0;

        p{
            margin: 0;
        }
    }
</style>


<script>
export default {
    template: "#template-type-form",
    props: {
        url: {
            type: String,
            default: ""
        },
        'set-form': {
            type: Object,
            default: function() {
                return {};
            }
        },
        title: {
            type: String,
            default: ""
        },
    },
    data() {
        return {
            form: {
                name: "",
                id: ""
            },
        }
    },
    methods:{
        submit(){
            if(typeof this.form.id === "undefined"){
                this.register();
            }else{
                this.edit();
            }
        },
        
        register(){
            console.log(this.form, 'form form form')
            showLoading();
            axios.post('admin/types-tariff', this.form)
                .then(res => {
                    quitLoading();
                    if(res.data.result){
                        swal({
                            title: "",
                            text: `Se ha registrado el Tipo de Tarifa de Viaje con éxito`,
                            timer: 2000,
                            showConfirmButton: false,
                            type: "success"
                        });

                        this._back(false, res.data.course);
                    }
                })
                .catch(err => {
                    quitLoading();
                    let message = "Disculpe, ha ocurrido un error";

                    if(err.response.status === 422){
                        message = err.response.data;
                    }

                    swal("", message, "error");
                });
        },

        edit(){
            this.form._method = "PUT";
            axios.post(`admin/types-tariff/${this.form.id}`, this.form)
                .then(res => {
                    quitLoading();
                    if(res.data.result){
                        swal({
                            title: "",
                            text: `Se ha editado el Tipo de Tarifa de Viaje con éxito`,
                            timer: 2000,
                            showConfirmButton: false,
                            type: "success"
                        });

                        this._back(false);
                    }
                })
                .catch(err => {
                    quitLoading();
                    let message = "Disculpe, ha ocurrido un error";

                    if(err.response.status === 422){
                        message = err.response.data;
                    }
                    
                    swal("", message, "error");
                });
        },

        _back(fast = false){
            if(fast){
                this.$emit('back', 2);
            }else{
                setTimeout(() => {
                    this.$emit('back', 2)
                }, 2000);
            }
        }
    },
    mounted(){
        console.log(this.url)
        if(Object.entries(this.setForm).length > 0){

            this.form = this.setForm;

            this.form.id = this.setForm.id;

            document.querySelectorAll('label').forEach(el => {
                el.classList.add('active');
            });
        }
    }
}
</script>
