<template id="template-tariffs-index">

    <article class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12 center-align">
                    <h1 v-if="options === 0">Tarifas de Viaje y Comisión por Viaje</h1>
                    <h1 v-if="options === 1">Crear Nueva Tarifas de Viaje</h1>
                    <h1 v-if="options === 2">Consultar Tarifas de Viaje Creadas</h1>
                    <h1 v-if="options === 4">Crear Nuevo Tipo de Tarifas de Viaje</h1>
                    <h1 v-if="options === 6">Consultar Tipos de Tarifas de Viaje Creadas</h1>
                    <h1 v-if="options === 7">Consultar Comisión por Viaje</h1>
                </div>
            </div>
        
            <div class="row">
                <div class="col s12 m6 offset-m3" v-if="options === 0">
                    <!-- <a href="#!" class="btn btn--block btn--option" @click="options = 1">
                        Crear Nueva Tarifa de Viaje
                    </a> -->

                    <!-- <a href="#!" class="btn btn--block btn--option" @click="options = 4">
                        Crear Nuevo Tipo de Tarifas de Viaje
                    </a> -->

                    <a href="#!" class="btn btn--block btn--option" @click="options = 2">
                        Consultar Tarifas de Viajes
                    </a>

                    <!-- <a href="#!" class="btn btn--block btn--option" @click="options = 6">
                        Consultar Tipos de Tarifas de Viajes
                    </a> -->

                    <a href="#!" class="btn btn--block btn--option" @click="options = 7">
                        Consultar Comisión por Viaje
                    </a>
                </div>

            </div>

            <div class="row" v-if="options != 0">
                <div class="col s12">
                    <a href="#!" class="btn btn-back" @click="options = 0">
                        <div class="btn-back__container">
                            <label class="label-back-cont">Volver</label>
                        </div>
                    </a>
                </div>
            </div>

            <!-- TARIFAS POR VIAJE -->

            <tariffs-form v-if="options === 1" :url="url" :tariffs="tariffs" v-on:back="_resetView"></tariffs-form>

            <tariffs-form v-if="options === 3" :url="url" :tariffs="tariffs" :set-form="setForm" v-on:back="_resetView"></tariffs-form>

            <tariffs-read v-if="options === 2" :url="url" :set-table="dataTable" v-on:back="_resetView" v-on:edit="_edit"></tariffs-read>

            <!-- TIPO DE TARIFAS -->

            <tariffs-type-form v-if="options === 4" :url="url2" :types="types" v-on:back="_resetView"></tariffs-type-form>

            <tariffs-type-form v-if="options === 5" :url="url2" :types="types" :set-form="setForm" v-on:back="_resetView"></tariffs-type-form>

            <tariffs-type-read v-if="options === 6" :url="url2" :set-table="dataType" v-on:back="_resetView" v-on:edit="_edit"></tariffs-type-read>

            <!-- COMISIONES -->

            <tariffs-commission-form v-if="options === 8" :url="url" :commissions="commissions" v-on:back="_resetView"></tariffs-commission-form>

            <tariffs-commission-form v-if="options === 9" :url="url" :commissions="commissions" :set-form="setForm" v-on:back="_resetView"></tariffs-commission-form>

            <tariffs-commission-read v-if="options === 7" :url="url" :set-table="dataCommission" v-on:back="_resetView" v-on:edit="_edit"></tariffs-commission-read>

        </div>
    </article>

</template>

<script>
export default {
    template: "#template-tariffs-index",
    props: {
        'url': {
            type: String,
            default: ""
        },
        tariffs: {
            type: Array,
            default(){
                return []
            }
        },
        tariffstype: {
            type: Array,
            default(){
                return []
            }
        },
        commissions: {
            type: Array,
            default(){
                return []
            }
        },
        'set-table': {
            type: Array,
            default(){
                return []
            }
        },
        'set-type': {
            type: Array,
            default(){
                return []
            }
        },
        'set-commission': {
            type: Array,
            default(){
                return []
            }
        }
    },
    data(){
        return {
            options: 0,
            'set-form': {},
            dataTable: []
        }
    },
    methods: {
        _resetView(option, data = {}){
            this.options = option;

            if(Object.entries(data).length > 0){

                let hasRow = false,
                    newArray = [];

                this.dataTable.forEach(el => {
                    if(el.id == data.id){
                        newArray.push(data);
                        hasRow = true;
                    }else{
                        newArray.push(el)
                    }
                });

                if(!hasRow){
                    newArray.push(data);
                }

                this.dataTable = newArray;
            }

            this.setForm = {};
        },

        _edit(data){
            this.options = data.option;
            this.setForm = data.data;
        }
    },
    created(){
        this.dataTable = this.setTable;
        this.dataCommission = this.setCommission;
        this.dataType = this.setType;
    }
}
</script>
