<template id="template-courses-index">

    <article class="row">
        <div class="col s12">

            <!-- Table -->
            <div class="col s12">

                <card-main>
                    <card-content>
                        <div class="row">
                            <!-- Table -->
                            <div class="col s12">
                                
                                <table-byte :set-table="setTable" :filters="['vehicle_type_id']">

                                    <table-row slot="table-head" slot-scope="{ item }">
                                        <table-head>Identificación</table-head>
                                        <table-head>Titulo</table-head>
                                        <!-- <table-head>Registrado por</table-head> -->
                                        <table-head>Acciones</table-head>
                                    </table-row>

                                    <table-row slot="table-row" slot-scope="{ item }">
                                        <table-cell>{{ item.id }}</table-cell>
                                        <table-cell>CLP {{ item.name }}</table-cell>
                                        <!-- <table-cell>{{ item.registered.name }}</table-cell> -->
                                        <table-cell>
                                            <!-- <a href="#!" class="btn-action" @click="_view(item, 'view')">
                                                <i class="material-icons prefix">remove_red_eye</i>
                                            </a> -->

                                            <a title="Editar" href="#!" class="btn-action" @click="_edit(item, 'edit')">
                                                <i class="material-icons prefix">create</i>
                                            </a>

                                            <!-- <a href="#!" class="btn-action" @click="_confirm(item, 'destroy')">
                                                <i class="material-icons prefix">delete</i>
                                            </a> -->

                                        </table-cell>
                                    </table-row>

                                    <table-row slot="empty-rows">
                                        <table-cell colspan="3">
                                            No se encontraron registros.
                                        </table-cell>
                                    </table-row>

                                </table-byte>
                            </div>

                            <!-- Modal -->
                            <byte-modal v-on:pressok="_delete" :confirm="modal.type.confirm">
                                <template v-if="modal.type.action == 'view'">

                                    <div class="col s12">
                                        <span>Tipo de Vehiculo: </span> {{ modal.data.name }}
                                    </div>

                                    <div class="col s12 mt-1">
                                        Tipo de Tarifa:
                                    </div>

                                </template>

                                <template v-if="modal.type.action == 'destroy'">
                                    <div class="container-confirmation">
                                        <div class="confimation__icon">
                                            <i class="material-icons">error_outline</i>
                                        </div>
                                        <div class="confirmation__text">
                                            <h5>¿Realmente desea <b>eliminar</b> este curso?</h5>
                                        </div>
                                    </div>
                                </template>
                            </byte-modal>
                        </div>
                    </card-content>
                </card-main>
            </div>
        </div>
    </article>
   
</template>

<script>
export default {
    template: "#template-courses-index",
    props: {
        url: {
            type: String,
            default: ""
        },
        'set-table': {
            type: Array,
            default(){
                return []
            }
        }
    },
    data() {
        return {
            zones: [],
            component: "Zona",
            modal: {
                init: {},
                title: "",
                type: {
                    confirm: false,
                    action: ''
                },
                data: {
                    name: '',
                    assignments:[]
                }
            },
        }
    },
    methods:{

        _view(data, action){
            this.modal.title = "Ver Tipo de Tarifa";
            this.modal.type.action = action;
            this.modal.type.confirm = false;
            this.modal.data = data;
            this.modal.init.open();
        },

        _edit(data, action){
            this.$emit('edit', {data: data, option: 3});
        },

        _confirm(data, action){
            this.modal.title = "Eliminar Tipo de Tarifa";
            this.modal.type.action = action;
            this.modal.type.confirm = true;
            this.modal.data = data;
            this.modal.init.open();
        },

        _delete() {
            let index = this.setTable.findIndex(e => {
                return e.id == this.modal.data.id
            })

            this.modal.init.close();

            axios.delete(`admin/types-tariff/${this.modal.data.id}`)
                .then(res => {
                    this.setTable.splice(index, 1)
                    swal('', 'Se ha eliminado la Tipo de Tarifa con éxito', "success");
                    this._back();
                })
                .catch(err => {
                    swal('', 'Disculpe, ha ocurrido un error', "error")
                });
        },

        _back(fast = false){
            if(fast){
                this.$emit('back', 0);
            }else{
                setTimeout(() => {
                    this.$emit('back', 0)
                }, 2000);
            }
        }
    },
    mounted () {
        console.log(this.url)
        this.modal.init = M.Modal.init(document.querySelector('.modal'));
    }
}
</script>