// Beneficios (Conductor)

#beneficios-conductor {

	// Beneficios

	.beneficios {
		// @include degradadoGris();
		padding: 20px;
		padding-top: 40px;
		padding-left: 40px;
		@media (max-width: 767px) {
			padding: 30px !important;
		}
		text-align: center;
		.bold {
			font-weight: bold;
		}
		img {
			width: 95%;
			margin: 0 auto;
			max-width: 600px;
			margin-top: 20px;
		}
		p {
			text-align: left;
		}
		h1 {
			font-size: 50px;
			@media (max-width: 767px) {
				font-size: 30px;
			}			
			margin: 0 auto;
			margin-bottom: 30px;
			strong {
				font-weight: bold;
				color: $blue;
			}
		}
		ul {
			text-align: left;
			list-style: none;
			@media (max-width: 600px) {
				padding-left: 0px !important;
			}
			li {
				margin-top: 20px;
				position: relative;
				@media (min-width: 601px) {
					padding-left: 55px;
					@for $i from 1 through 5 {
						&:nth-child(#{$i}) {
							&::before {
								content: '#{$i}';
								position: absolute;
								color: $blue;
								font-size: 50px;
								font-weight: bold;
								left: 0px;
								top: -15px;
							}
						}
					}
				}				
			}
		}
	}	
	
	// Ganancias

	.ganancias {
		min-height: 80vh;
		background-image: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		.container-mensaje {
			position: absolute;
			top: 30px;
			left: 30px;
			img {
				width: 40px;
				margin-right: 20px;
				display: inline-block;
				position: relative;
				top: 80px;
				@media (max-width: 600px) {
					width: 30px;
					top: 50px;
					margin-right: 10px;
				}
			}
			h1 {
				color: $white;
				padding-left: 70px;
				@media (max-width: 600px) {
					font-size: 20px;
					text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
				}
			}
		}
	}
}