// Beneficios (Pasajero)

#beneficios-pasajero {
	
	// Beneficios

	.beneficios {
		padding: 40px;
		text-align: center;
		h1 {
			font-size: 45px;
			max-width: 400px;
			margin: 0 auto;
			margin-bottom: 20px;
			strong {
				color: $blue;
			}
		}
		button {
			background-color: $black !important;
			border-radius: 0px !important;
			border: 0px !important;
			color: $white !important;
			font-size: 18px;
			min-width: 250px;
			margin-top: 20px;
			margin-bottom: 30px;
		}
		.buen-viaje {
			text-align: center;
		}
		p {
			font-size: 14px;
			text-align: justify;
		}
		img {
			width: 90%;
			margin: 0 auto;
		}
	}

	// Lista

	.lista-beneficios {
		padding: 30px;
		.row > div {
			text-align: center;
			img, svg {
				width: 80%;
				max-width: 180px;
				margin: 0 auto;
				margin-bottom: 15px;
				path {
					transition: 1s;
				}
				cursor: pointer;
				&:hover {
					path {
						fill: $red2;	
					}	
				}							
			}
			h2 {
				font-size: 20px;
				font-weight: bold;
			}
			p {
				font-size: 13px;
				width: 90%;
				margin: 0 auto;
				margin-bottom: 25px;
			}
		}
	}

	// Viaja Seguro

	.viajar-seguro {
		min-height: 80vh;
		background-image: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		.container-mensaje {
			position: absolute;
			bottom: 30px;
			left: 30px;
			img {
				width: 40px;
				margin-right: 20px;
				display: inline-block;
				position: relative;
				top: 80px;
				@media (max-width: 600px) {
					width: 30px;
					top: 50px;
					margin-right: 10px;
				}
			}
			h1 {
				color: $white;
				padding-left: 70px;
				@media (max-width: 600px) {
					font-size: 20px;
					text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
				}
			}
		}
	}
}