// Código de Verificación

#codigo {
	background-image: url('../img/login.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 60px;
	@media (max-width: 600px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	form {
		background-color: $gray;
		border-top: 10px solid $red;
		width: 90%;
		max-width: 450px;
		margin: 0 auto;
		.container-form {
			border: 1px solid $gray2;
			border-top: 0px !important;
			padding: 30px;
		}
		button[type="button"] {
			width: 100%;
			border-radius: 25px;
			background-color: $white !important;
			border: 1px solid $black !important;
			color: $black !important;
		}
		button[type="submit"] {
			background-color: $black !important;
			color: $white !important;
			border-radius: 25px;
			width: 100%;
			@media (max-width: 767px) {
				margin-top: 20px;
			}
		}
		input {
			border-radius: 0px !important;
			border-color: $gray2 !important;
		}
		p {
			font-size: 16px;
			text-align: center;
			font-weight: 600;
		}
	}
}