// Consigue Empleo

#consigue-empleo {

	// Consigue Empleo

	.consigue-empleo {
		padding: 30px;
		img {
			width: 95%;
			margin: 0 auto;
		}
		h1 {
			font-weight: bold;
			font-size: 45px;
			@media (max-width: 600px) {
				font-size: 30px;
			}
			text-align: center;
			.red {
				color: $red;
			}
		}
		ul {
			list-style: none;
			li {
				&::before {
					content: '';
					width: 12px;
					height: 12px;
					display: inline-block;
					background-color: $red;
					border-radius: 24px;
					margin-right: 10px;
				}
			}
		}
	}

	// Edad

	.edad {
		background-color: $gray;
		text-align: center;
		padding: 30px;
		img {
			width: 90%;
			margin: 0 auto;
		}
		.bold {
			font-weight: bold;
		}
		.container-edad {
			h3 {
				max-width: 350px;
				margin: 0 auto;
				margin-bottom: 20px;
				font-size: 35px;
				strong {
					color: $blue;
				}
			}
			p {
				color: $black;
				font-size: 16px;
				text-align: left;
				width: 90%;
				margin: 0 auto;
				margin-bottom: 30px;
			}
			button {
				background-color: $black !important;
				border-radius: 0px !important;
				border: 0px !important;
				color: $white !important;
				font-size: 18px;
				min-width: 250px;
				margin-bottom: 30px;
			}
		}
	}

	// Banner

	.banner {
		img {
			width: 100%;
		}
	}
}