// Mi Cuenta

#account {
	padding: 60px;
	@media (max-width: 600px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	.container-saludo {
		text-align: center;
		img {
			width: 400px;
			@media (max-width: 650px) {
				width: 90%;
			}
		}
	}
	h1 {
		font-weight: 600;
		font-size: 40px;
		@media (max-width: 650px) {
			font-size: 30px;
		}
	}
	h3 {
		font-weight: bold;
		font-size: 30px;
		margin-top: 25px;
		margin-bottom: 25px;
		@media (max-width: 650px) {
			font-size: 20px;
		}
	}
	p {
		max-width: 700px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.tiendas {
		border-top: 1px solid rgba($white,.5);
		border-bottom: 1px solid rgba($white,.5);
		padding: 20px;
		p {
			font-size: 15px;
			span {
				font-size: 16px;
			}
		}
		.puntero {
			width: 20px;
		}
		a {
			color: $white !important;
		}
		img {
			width: 200px;
		}
		.appstore {
			text-align: right;
		}
		.googleplay {
			text-align: left;
		}
		@media (max-width: 767px) {
			.appstore, .googleplay {
				text-align: center !important;
				margin-bottom: 10px;
				margin-top: 10px;
			}			
		}
	}
}