// Home

#home {

	// Banner

	.banner {
		$min: 630px;

		@media (max-width: 991px) {
			height: auto;
			margin-bottom: 30px;
		}

		height: $min;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		margin-bottom: 100px;
		background-image: url('../img/inicio.jpg');
		@media (max-width: 991px) {
			background-image: none !important;
		}

		.row-mensaje {
			min-height: $min;
			@media (max-width: 991px) {
				min-height: auto !important;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				background-image: url('../img/inicio_responsive.jpg');
			}
		}

		.container-mensaje {
			margin-top: $min - 250px;
			@media (max-width: 991px) {
				margin-top: 20px;
				margin-bottom: 45px;
			}
			margin-left: 30px;
			img {
				width: 40px;
				margin-right: 20px;
				display: inline-block;
				position: relative;
				top: 80px;
				@media (max-width: 600px) {
					width: 30px;
					top: 50px;
					margin-right: 10px;
				}
			}
			h1 {
				color: $white;
				padding-left: 70px;
				@media (max-width: 600px) {
					font-size: 20px;
					text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
				}
			}
		}

		a {
			text-decoration: none !important;
			p {
				color: $black !important;
			}
			.p-red {
				color: $red !important;
			}
		}

		form {
			background-color: $gray;
			border-top: 8px solid $red;
			width: 70%;
			margin: 0 auto;
			@media (min-width: 992px) {
				position: absolute;
				top: 50px;
			}			
			// @media (max-width: 991px) {
			// 	margin-top: 50px;
			// 	margin-bottom: 50px;
			// }
			@media (max-width: 991px) {
				width: 100%;
			}
			.btn-mapa {
				width: 100%;
				border-radius: 0px !important;
				margin-bottom: 15px;
				border: 2px solid rgba($black,.7);
				background-color: $white !important;
				color: $black !important;
				font-weight: normal;
				font-size: 14px;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			.row {
				.img-avatar {
					width: 70px;
					margin: 0 auto;
					margin-left: 35px;
					@media (max-width: 500px) {
						display: none;
					}
				}
			}
			.border-red-bottom {
				cursor: pointer;
				border-bottom: 2px solid $red;
				width: 100%;
				margin: 0 auto;
				padding-bottom: 10px;
			}
			.arrow-red {
				position: absolute;
				right: 15px;
				margin-top: 10px;
				@media (max-width: 1250px) {
					display: none;
				}
			}
			h4 {
				&:not(.h4-conductor) {
					margin-left: 20px;
					color: $red;
				}
				&.h4-conductor {
					margin-top: 20px;
					margin-left: 20px;
				}
			}
			.row-avatar {				
				width: 100%;
				margin: 0 auto;
				margin-top: 20px;
				p {
					font-size: 20px;
					margin-left: 10px;
					margin-bottom: 5px;
				}
			}
			.container-border {
				border: 1px solid $gray2;
				border-top: 0px;
				padding: 25px;
				@media (max-width: 991px) {
					border-width: 0px !important;
				}
			}
			input, select {
				border-radius: 0px !important;
				box-shadow: none !important;
				border: 1px solid $gray2;
			}
			button {
				background-color: $black !important;
				color: $white !important;
				border-radius: 25px;
				width: 150px;
				font-weight: 600;
			}
			p {
				font-size: 12px;
				text-align: center;
				a {
					color: $blue !important;
					font-weight: 600;
				}
			}
		}
	}

	// Proceso

	.proceso {
		padding: 40px;
		text-align: center;
		.item-line {
			position: relative;
			@media (min-width: 992px) {
				&::after {
					content: '';
					display: inline-block;
					width: 100px;
					height: 4px;
					background-color: $blue;
					position: absolute;
					top: 80px;
					right: -50px;
				}
			}			
		}
		img {
			width: 180px;
			margin: 0 auto;
			margin-bottom: 20px;
			@media (max-width: 767px) {
				margin-top: 30px;
			}
		}
		h3 {
			font-weight: bold;
			width: 80%;
			@media (max-width: 600px) {
				width: 100%;
			}
			margin: 0 auto;
		}
		p {
			font-size: 18px;
			width: 80%;
			@media (max-width: 600px) {
				width: 100%;
			}
			margin: 0 auto;
			margin-top: 10px;
		}
	}

	// Beneficios

	.beneficios {
		padding: 40px;
		text-align: center;
		h1 {
			font-size: 45px;
			max-width: 400px;
			margin: 0 auto;
			margin-bottom: 20px;
			strong {
				color: $blue;
			}
		}
		button {
			background-color: $black !important;
			border-radius: 0px !important;
			border: 0px !important;
			color: $white !important;
			font-size: 18px;
			min-width: 250px;
			margin-top: 20px;
			margin-bottom: 30px;
		}
		p {
			font-size: 14px;
		}
		img {
			width: 90%;
			margin: 0 auto;
		}
	}

	// Chile es uno solo

	.chile-solo {
		padding: 40px;
		background-color: $gray;
		.container-img-chile {
			@media (max-width: 767px) {
				text-align: center;
			}
		}
		img {
			max-width: 300px;
		}
		.container-chile {
			width: 90%;
			@media (max-width: 767px) {
				width: 100%;
			}
			margin: 0 auto;
		}
		p {
			margin-top: 20px;
		}
		h2 {
			border-bottom: 3px solid $blue;
			color: $red;
			font-size: 45px;
			font-weight: bold;
			@media (max-width: 767px) {
				font-size: 35px;
				padding-bottom: 10px;
			}
			@media (max-width: 500px) {
				font-size: 25px;
			}
		}
		h3 {
			font-size: 35px;
			@media (max-width: 500px) {
				font-size: 25px;
			}
		}
		.bold {
			text-align: center;
			color: $red;
			font-weight: bold;
			font-size: 16px;
		}
	}

	// Promociones

	.promociones {
		text-align: center;
		padding: 30px;
		img {
			width: 90%;
			margin: 0 auto;
		}
		h1 {
			margin-top: 30px;
			font-size: 45px;
			@media (max-width: 600px) {
				font-size: 25px;
			}
		}
		strong {
			color: $blue;
		}
		button {
			border: 3px solid $black;
			border-radius: 0px !important;
			font-size: 25px;
			background-color: transparent !important;
			min-width: 250px;
			margin-top: 25px;
			i.fa {
				position: relative;
				top: 2px;
			}
		}
	}
	
	// Solicitar

	.solicitar {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		padding: 40px;
		h1 {
			text-align: center;
			max-width: 400px;
			margin: 0 auto;
			strong {
				font-weight: bold;
				color: $red;
			}
		}
		img {
			width: 200px;
			margin-top: 20px;
		}
		.appstore {
			text-align: right;
		}
		.googleplay {
			text-align: left;
		}
		@media (max-width: 991px) {
			.appstore, .googleplay {
				text-align: center !important;
				margin-bottom: 10px;
				margin-top: 10px;
			}			
		}
	}

	// Edad

	.edad {
		text-align: center;
		padding: 30px;
		img {
			width: 90%;
			margin: 0 auto;
		}
		.container-edad {
			h3 {
				max-width: 350px;
				margin: 0 auto;
				margin-bottom: 20px;
				font-size: 35px;
				strong {
					color: $blue;
				}
			}
			p {
				color: $black;
				font-size: 16px;
				text-align: left;
				width: 90%;
				margin: 0 auto;
				margin-bottom: 30px;
			}
			button {
				background-color: $black !important;
				border-radius: 0px !important;
				border: 0px !important;
				color: $white !important;
				font-size: 18px;
				min-width: 250px;
				margin-bottom: 30px;
			}
		}
	}
}