// Información Legal

#informacion {

	padding: 40px;
	.nav-responsive {
		display: none;
		@media (max-width: 767px) {
			display: block;
		}
	}
	.nav-no-responsive {
		@media (max-width: 767px) {
			display: none;
		}
	}

	h3 {
		color: darken($gray,20);
		font-size: 20px;
	}
	
	// Nav

	.nav-informacion {
		ul {
			list-style: none;
			padding-left: 0px !important;
			margin-top: 10px;
			li {
				border: 1px solid $black;
				padding: 10px;
				cursor: pointer;
				&.active {
					background-color: $black;
					color: $white;
				}
				i {
					margin-right: 10px;
				}
				&:first-child {
					border-bottom: 0px !important;
				}
			}			
		}
	}

	h2 {
		font-weight: bold;
	}

	p {
		text-align: justify;
		&.bold {
			font-weight: bold;
		}
	}

}