// Nosotros

#nosotros {

	// Que es

	.que-es {
		img {
			width: 90%;
		}
		h1 {
			font-weight: bold;
			text-align: center;
			margin-bottom: 20px;
		}
		.container-que-es {
			width: 90%;
			margin: 0 auto;
			margin-top: 30px;
			margin-bottom: 30px;
			a {
				color: $red !important;
				text-decoration: none !important;
				font-size: 25px;
				font-weight: bold;
				text-align: center;
				&::before {
					content: '';
					display: inline-block;
					width: 100%;
					height: 3px;
					background-color: $red;
				}
			}
		}
		p {
			text-align: justify;
		}
	}

	// Mision

	.mision {
		.row > div {
			padding: 0px !important;
		}
		.mision-bg {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
		}
		h1 {
			color: $blue;
			text-align: center;
			font-weight: bold;
		}
		.container-mision {
			padding: 40px;
			background-color: $gray;
			p {
				text-align: justify;
				font-size: 14px;
			}
		}
	}

	// Beneficios

	.beneficios {
		@include degradadoGris();
		padding: 20px;
		padding-top: 40px;
		padding-left: 40px;
		@media (max-width: 767px) {
			padding: 30px !important;
		}
		text-align: center;
		img {
			width: 90%;
			margin: 0 auto;
			max-width: 400px;
			margin-top: 20px;
		}
		p {
			text-align: left;
		}
		h1 {
			font-size: 50px;
			width: 350px;
			@media (max-width: 767px) {
				font-size: 30px;
				width: 100%;
			}			
			margin: 0 auto;
			margin-bottom: 30px;
			strong {
				font-weight: bold;
				color: $red;
			}
		}
		ul {
			text-align: left;
			list-style: none;
			@media (max-width: 600px) {
				padding-left: 0px !important;
			}
			li {
				margin-top: 20px;
				position: relative;
				@media (min-width: 601px) {
					padding-left: 55px;
					@for $i from 1 through 5 {
						&:nth-child(#{$i}) {
							&::before {
								content: '#{$i}';
								position: absolute;
								color: $red;
								font-size: 50px;
								font-weight: bold;
								left: 0px;
								top: -15px;
							}
						}
					}
				}				
			}
		}
	}	

	// Bogui cerca de ti

	.cerca {
		height: 100vh;
		@media (max-width: 767px) {
			height: 80vh;
		}
		@media (max-width: 550px) {
			height: 60vh;
		}
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: bottom center;
		background-color: $gray2;
		margin-top: -1px;
		margin-bottom: -8px;
		h1 {
			font-size: 30px;
			max-width: 700px;
			padding-left: 30px;
			padding-right: 30px;
			text-align: center;
			margin: 0 auto;
			padding-top: 25px;
			span.red {
				color: $red;
			}
		}
	}
}