// Registro

#register {
	background-image: url('../img/login.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 60px;
	@media (max-width: 600px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	.btn-regresar {
		background-color: $black !important;
		color: $white !important;
		font-size: 18px;
		border-radius: 0px !important;
		border: 0px !important;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.validate {
		input, select {
			border: 1px solid $red !important;
		}
		&.form-group-file > label {
			color: $red !important;
		}
		&.form-group-photo > label {
			color: $red !important;
		}
	}

	.btn-regresar-mini {
		background-color: transparent !important;
		color: $black !important;
		font-size: 14px;
		border-radius: 0px !important;
		border: 0px !important;
		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;
		i {
			margin-right: 5px;
		}
	}

	input[type="file"] {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}

	.form-group-file > label {
	    font-size: 18px;
	    font-weight: 700;
	    color: rgba($black,.8);
	    background-color: $white;
	    display: inline-block;
	    width: 100%;
	    cursor: pointer;
	    border: 1px solid $red;
	    padding: 10px;
	    font-weight: normal;
	    padding-left: 80px;
	    position: relative;
	    &::before {
	    	content: url('../img/icons/file.png');
	    	position: absolute;
	    	left: 20px;
	    }
	}

	.form-group-file.active > label {
		&::before {
	    	content: url('../img/icons/check.png');
	    	position: absolute;
	    	left: 20px;
	    	padding-top: 2.5px;
	    }
	}

	.photo {
		width: 150px;
		height: 150px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		border-radius: 300px;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	h3.info {
		text-align: center;
		font-size: 20px;
		margin-top: 20px;
	}
	
	.form-group-photo > label {
	    font-size: 18px;
	    font-weight: 700;
	    color: $white;
	    border-radius: 25px;
	    background-color: $black;
	    display: inline-block;
	    width: 100%;
	    max-width: 300px;
	    cursor: pointer;
	    padding: 10px;
	    font-weight: normal;
	    position: relative;
	    display: block;
	    margin: 0 auto;
	    margin-bottom: 20px;
	    text-align: center;
	}

	.select-form {
		background-color: $gray;
		border-top: 10px solid $red;
		width: 90%;
		max-width: 450px;
		margin: 0 auto;
		.container-form {
			border: 1px solid $gray2;
			border-top: 0px !important;
		}
		.container-login {
			border-top: 1px solid rgba($red,.5);
			border-bottom: 1px solid rgba($red,.5);
			padding: 30px;
			a {
				text-decoration: none !important;
			}
			p {
				color: $black !important;
				font-style: italic;
				font-weight: normal;
				font-size: 13px;
			}
			img {
				width: 100px;
				margin-bottom: 20px;
			}
		}
		.container-mensaje {
			padding: 10px;
			p {
				font-size: 22px;
				margin-top: 10px;
				margin-bottom: 5px !important;
			}
			a {
				text-decoration: none !important;
				color: $red !important;
			}
			h3 {
				margin-bottom: 10px;
				padding-top: 0px !important;
			}
			h2 {
				margin-top: 10px;
				color: $black !important;
				@media (max-width: 600px) {
					font-size: 20px;
				}
			}
		}
		button {
			background-color: $black !important;
			color: $white !important;
			border-radius: 25px;
			width: 80%;
			margin-bottom: 20px;
		}
		input, select {
			border-radius: 0px !important;
			border-color: $gray2 !important;
		}
		p {
			font-size: 14px;
			text-align: center;
		}
		h2, h3 {
			color: $red;
			font-weight: 600;
		}
	}

	.formulario {

		form {
			background-color: $gray;
			border-top: 8px solid $red;
			width: 90%;
			margin: 0 auto;
			margin-top: 50px;
			margin-bottom: 50px;
			position: relative;
			max-width: 650px;
			.btn-mapa {
				width: 100%;
				border-radius: 0px !important;
				margin-bottom: 15px;
				border: 2px solid rgba($black,.7);
				background-color: $white !important;
				color: $black !important;
				font-weight: normal;
				font-size: 14px;
				padding-top: 10px;
				padding-bottom: 10px;
				white-space: normal;
			}
			.row {
				.img-avatar {
					width: 70px;
					margin: 0 auto;
					margin-left: 35px;
					@media (max-width: 500px) {
						display: none;
					}
				}
			}
			.border-red-bottom {
				cursor: pointer;
				border-bottom: 2px solid $red;
				width: 100%;
				margin: 0 auto;
				padding-bottom: 10px;
				p {
					@media (max-width: 600px) {
						font-size: 16px !important;
						margin-bottom: 10px;
					}		
					&.p-dinero {
						margin-left: -60px;
					}			
				}
			}
			.arrow-red {
				position: absolute;
				right: 15px;
				margin-top: 10px;
				@media (max-width: 1130px) {
					display: none;
				}
			}
			h4 {
				&:not(.h4-conductor) {
					margin-left: 20px;
					color: $red;
				}
				&.h4-conductor {
					margin-top: 20px;
					margin-left: 20px;
				}
			}
			.row-avatar {				
				width: 100%;
				margin: 0 auto;
				margin-top: 20px;
				p {
					font-size: 20px;
					margin-left: 10px;
					margin-bottom: 5px;
				}
			}
			.container-border {
				border: 1px solid $gray2;
				border-top: 0px;
				padding: 25px;
			}
			input, select {
				border-radius: 0px !important;
				box-shadow: none !important;
				border: 1px solid $gray2;
			}
			button {
				background-color: $black !important;
				color: $white !important;
				border-radius: 25px;
				width: 150px;
				font-weight: 600;
			}
			p {
				font-size: 12px;
				text-align: center;
				a {
					color: $blue !important;
					font-weight: 600;
				}
			}
		}
	}
}