// Reset

#reset {
	background-image: url('../img/login.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 60px;
	@media (max-width: 600px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	.btn-regresar {
		background-color: $black !important;
		color: $white !important;
		font-size: 18px;
		border-radius: 0px !important;
		border: 0px !important;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 20px;
	}

	form {
		background-color: $gray;
		border-top: 10px solid $red;
		width: 90%;
		max-width: 450px;
		margin: 0 auto;
		.container-form {
			border: 1px solid $gray2;
			border-top: 0px !important;
		}
		.container-login {
			border-top: 1px solid rgba($red,.5);
			// border-bottom: 1px solid rgba($red,.5);
			padding: 30px;
			padding-top: 15px;
			a {
				text-decoration: none !important;
			}
			p {
				font-size: 15px;
			}
		}
		.container-mensaje {
			padding: 10px;
			p {
				font-size: 22px;
				margin-top: 10px;
				margin-bottom: 5px !important;
			}
			a {
				text-decoration: none !important;
				color: $red !important;
			}
			h3 {
				margin-bottom: 10px;
				padding-top: 0px !important;
			}
			h2 {
				margin-top: 10px;
			}
		}
		button[type="button"] {
			width: 100%;
			border-radius: 25px;
			background-color: $white !important;
			border: 1px solid $black !important;
			color: $black !important;
		}
		button[type="submit"] {
			background-color: $black !important;
			color: $white !important;
			border-radius: 25px;
			width: 200px;
		}
		input {
			border-radius: 0px !important;
			border-color: $gray2 !important;
		}
		p {
			font-size: 14px;
			text-align: center;
		}
		h2, h3 {
			color: $black;
			font-weight: 600;
		}
	}
}