// Solicitar

#solicitar {

	// Proceso

	.proceso {
		padding: 40px;
		text-align: center;
		.item-line {
			position: relative;
			@media (min-width: 992px) {
				&::after {
					content: '';
					display: inline-block;
					width: 100px;
					height: 4px;
					background-color: $blue;
					position: absolute;
					top: 80px;
					right: -50px;
				}
			}			
		}
		img {
			width: 180px;
			margin: 0 auto;
			margin-bottom: 20px;
			@media (max-width: 767px) {
				margin-top: 30px;
			}
		}
		h3 {
			font-weight: bold;
			width: 80%;
			@media (max-width: 600px) {
				width: 100%;
			}
			margin: 0 auto;
		}
		p {
			font-size: 18px;
			width: 80%;
			@media (max-width: 600px) {
				width: 100%;
			}
			margin: 0 auto;
			margin-top: 10px;
		}
	}

	// Promociones

	.promociones {
		background-color: $gray;
		padding: 40px;
		img {
			width: 90%;
			margin: 0 auto;
		}
		p {
			text-align: center;
			font-size: 14px;
		}
		.bold {
			color: $blue;
			font-weight: bold;
		}
		h1 {
			text-align: center;
			color: $blue;
			font-weight: bold;
			margin-bottom: 20px;
		}
		.container-tiendas {
			img {
				width: 200px;
				margin-top: 20px;
			}
			.appstore {
				text-align: right;
			}
			.googleplay {
				text-align: left;
			}
			@media (max-width: 767px) {
				.appstore, .googleplay {
					text-align: center !important;
					margin-bottom: 10px;
					margin-top: 10px;
				}			
			}
		}
	}
}