<template id="template-modal">
    <div :id="this.id" class="modal">
        <div class="modal-content row">
            <!-- <h4 v-if="title != ''">{{ title }}</h4> -->
            <slot></slot>
        </div>
        <div class="modal-footer">
            <template v-if="confirm">
                <a href="#!" v-on:click="_close" class="modal-close btn-modal-close btn-flat">Cancelar</a>
                <a href="#!" v-on:click="_accept" class="btn-flat btn-modal-send">{{ btnOk }}</a>
            </template>
            <template v-if="activate">
                <a href="#!" v-on:click="_close" class="modal-close btn-modal-close btn-flat">Cancelar</a>
                <a href="#!" v-on:click="_activate" class="btn-flat btn-modal-send">{{ btnOk }}</a>
            </template>
            <template v-if="check">
                <a href="#!" v-on:click="_check" v-if="check && checkModal" class="btn-modal-send btn-flat">Enviar</a>
                <a href="#!" v-on:click="_check" v-if="check && docsModal" class="btn-modal-accept btn-flat">Aceptar</a>
                <a href="#!" v-on:click="_close" class="modal-close btn-modal-close btn-flat">Cancelar</a>
            </template>
            <template v-if="!activate && !confirm && !check">
                <a href="#!" v-on:click="_close" class="modal-close btn-modal-accept btn-flat">{{ btnOk }}</a>
            </template>
        </div>
    </div>
</template>

<style lang="scss">
    .modal-footer {
        margin-top: -4vh;
        margin-bottom: 2vh;
        text-align: center !important;
        a.btn-modal-send {
            border: 2px solid #336535;
            color: #336535;
            font-weight: bold;
        }
        a.btn-modal-accept {
            border: 2px solid #1a6983;
            color: #1a6983;
            font-weight: bold;
        }
        a.btn-modal-close {
            border: 2px solid #cd3030;
            color: #cd3030;
            font-weight: bold;
        }
    }
</style>


<script>
export default {
    template: "#template-modal",
    props: {
        confirm: {
            type: Boolean,
            default: false
        },
        activate: {
            type: Boolean,
            default: false
        },
        check: {
            type: Boolean,
            default: false
        },
        'btn-ok': {
            type: String,
            default: "Aceptar"
        },
        title: {
            type: String
        },
        id: {
            type: String,
            default: "modal1"
        },
        'check-modal': {
            type: Boolean,
            default: false
        },
        'docs-modal': {
            type: Boolean,
            default: false
        }
    },
    methods:{
        _accept(){
            this.$emit('pressok', true);
        },
        _activate(){
            this.$emit('pressact', true);
        },
        _check(){
            this.$emit('presscheck', true);
        },
        _close(){
            this.$emit('presscancel', true);
        }
    }
}
</script>
