<template id="template-type-form">

    <article class="row">
        <card-title>
            <h1>{{ title }}</h1>
        </card-title>

        <form class="col s12" @submit.prevent="submit">

            <div class="row">
                <div class="col s12">
                    <card-main>
                        <card-content>
                            <div class="row">
                                <div class="col s12">
                                    <span class="check-desc-title">Titulo de la Ventana de Informacion</span>
                                    <input v-model="form.title" type="text" class="validate">
                                </div>
                                <div class="col s12">
                                    <span class="check-desc-title">Descripcion de la Ventana de Informacion</span>
                                    <textarea id="message-box" v-model="form.description"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 center-align">
                                    <a href="#!" class="upload-file-button-notitifications">
                                        <input-document-edit :styles="{ margin: 'unset' }" v-on:file_compressed="_file" image :file="form.logo_url" :type-file="'file'" :identification="form.id" ></input-document-edit>
                                    </a>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="input-field col s12 m6">
                                    <input type="text" class="validate datepicker" id="start_date" v-model="form.start_date" @change="setValue()">
                                    <label for="amount">Fecha de Inicio</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input type="text" class="validate datepicker" id="end_date" v-model="form.end_date" @change="setValue()">
                                    <label for="amount">Fecha de Culminacion</label>
                                </div>
                            </div> -->

                            <div class="row">                       
                                <div class="col s12 btn-content center-align">
                                    <button class="btn btn-success" type="submit">Guardar registro</button>
                                </div>
                            </div>
                        </card-content>
                    </card-main>
                </div>
            </div>
        </form>
    </article>
    
</template>

<style lang="scss" scoped>
    .days{
        margin-top: 20px;
        margin-bottom: 0;

        p{
            margin: 0;
        }
    }
</style>


<script>
export default {
    template: "#template-type-form",
    props: {
        url: {
            type: String,
            default: ""
        },
        'set-form': {
            type: Object,
            default: function() {
                return {};
            }
        },
        title: {
            type: String,
            default: ""
        },
    },
    data() {
        return {
            form: {
                title: "",
                description: "",
                file: {},
                file_send: {},
                id: ""
            },
        }
    },
    methods:{

        _file(data) {
            this.form.file = data.file.name;
            this.form.file_send = data.file;
        },

        submit(){
            if(typeof this.form.id === "undefined"){
                this.register();
            }else{
                this.edit();
            }
        },
        
        register(){

            showLoading();
            axios.post('admin/information', this.form)
                .then(res => {
                    quitLoading();
                    if(res.data.result){
                        swal({
                            title: "",
                            text: `Se ha registrado la Ventana de Informacion con éxito`,
                            timer: 2000,
                            showConfirmButton: false,
                            type: "success"
                        });

                        this._back(false, res.data.information);
                    }
                })
                .catch(err => {
                    quitLoading();
                    let message = "Disculpe, ha ocurrido un error";

                    if(err.response.status === 422){
                        message = err.response.data;
                    }

                    swal("", message, "error");
                });
        },

        edit(){
            this.form._method = "PUT";

            if (moment(this.form.end_date, 'HH:mm A') > moment(this.form.start_date, 'HH:mm A')) {
                swal('', 'La Hora de Fin no puede ser mayor a la Hora de Inicio', "error")
                return
            }

            showLoading();
            axios.post(`admin/information/${this.form.id}`, this.convertToFormData())
                .then(res => {
                    quitLoading();
                    if(res.data.result){
                        swal({
                            title: "",
                            text: `Se ha editado la Ventana de Informacion con éxito`,
                            timer: 2000,
                            showConfirmButton: false,
                            type: "success"
                        });

                        this._back(false, res.data.information);
                    }
                })
                .catch(err => {
                    quitLoading();
                    let message = "Disculpe, ha ocurrido un error";

                    if(err.response.status === 422){
                        message = err.response.data;
                    }
                    swal("", message.error, "error");
                });
        },

        _back(fast = false, data = {}){
            if(fast){
                this.$emit('back', 2, data);
            }else{
                setTimeout(() => {
                    this.$emit('back', 2, data)
                }, 2000);
            }
        },

        activarInputsDate() {
            M.Timepicker.init(document.querySelector('#start_date'),{
                autoClose: true,
                i18n: pickDateI18n
            });
            M.Timepicker.init(document.querySelector('#end_date'),{
                autoClose: true,
                i18n: pickDateI18n
            });
        },

        convertToFormData(){
            let formData = new FormData();
            Object.getOwnPropertyNames(this.form).forEach(key => {
                if(key != "__ob__"){
                    if(this.form[key] != null && this.form[key] != 'null') {
                        formData.append(key, this.form[key]);
                    }
                }
            });
            return formData;
        },

        setValue() {
            this.form.start_date = document.getElementById('start_date') != null ? moment(document.getElementById('start_date').value, 'hh:mm A').format('hh:mm A') : this.form.start_date
            this.form.end_date = document.getElementById('end_date') != null ? moment(document.getElementById('end_date').value, 'hh:mm A').format('hh:mm A') : this.form.end_date
        }
    },
    mounted(){
        this.activarInputsDate()
        if(Object.entries(this.setForm).length > 0){

            this.form = this.setForm;

            this.form.id = this.setForm.id;
            this.form.logo_url =  urlBase+this.form.logo

            document.querySelectorAll('label').forEach(el => {
                el.classList.add('active');
            });
        }
    }
}
</script>
