<template id="template-courses-index">

    <article class="row">
        <div class="col s12">

            <!-- Table -->
            <div class="col s12">

                <card-main>
                    <card-content>
                        <div class="row">
                            <!-- Table -->
                            <div class="col s12">
                                
                                <table-byte :set-table="table">

                                    <table-row slot="table-head">
                                        <!-- <table-head>Identificación</table-head> -->
                                        <table-head>Titulo</table-head>
                                        <table-head>Descripcion</table-head>
                                        <table-head>Tipo</table-head>
                                        <!-- <table-head>Estado</table-head> -->
                                        <!-- <table-head>Registrado por</table-head> -->
                                        <table-head>Acciones</table-head>
                                    </table-row>

                                    <table-row slot="table-row" slot-scope="{ item }">
                                        <!-- <table-cell>{{ item.id }}</table-cell> -->
                                        <table-cell>{{ item.title }}</table-cell>
                                        <table-cell>{{ item.description }}</table-cell>
                                        <table-cell>{{ item.type_text }}</table-cell>
                                        <!-- <table-cell>{{ item.registered.name }}</table-cell> -->
                                        <table-cell>
                                            <!-- <a href="#!" class="btn-action" @click="_view(item, 'view')">
                                                <i class="material-icons prefix">remove_red_eye</i>
                                            </a> -->

                                            <a title="Editar" href="#!" class="btn-action" @click="_edit(item, 'edit')">
                                                <i class="material-icons prefix">create</i>
                                            </a>

                                            <!-- <a href="#!" class="btn-action" @click="_confirm(item, 'destroy')">
                                                <i class="material-icons prefix">delete</i>
                                            </a> -->

                                        </table-cell>
                                    </table-row>

                                    <table-row slot="empty-rows">
                                        <table-cell colspan="4">
                                            No se encontraron registros.
                                        </table-cell>
                                    </table-row>

                                </table-byte>
                            </div>

                            <!-- Modal -->
                            <byte-modal v-on:pressok="_delete" :confirm="modal.type.confirm">
                                <template v-if="modal.type.action == 'view'">

                                </template>
                            </byte-modal>
                        </div>
                    </card-content>
                </card-main>
            </div>
        </div>
    </article>
   
</template>

<script>
export default {
    template: "#template-courses-index",
    props: {
        url: {
            type: String,
            default: ""
        },
        'set-table': {
            type: Array,
            default(){
                return []
            }
        }
    },
    data() {
        return {
            component: "Informacion",
            modal: {
                init: {},
                title: "",
                type: {
                    confirm: false,
                    action: ''
                },
                data: {}
            },
        }
    },
    computed: {
		table() {
			let arr = this.setTable.filter(res => {
				if (res.type == '1') {
					res.type_text =  'Conductor';
				} else if (res.type == '2') {
                    res.type_text = 'Pasajero'
                } else if (res.type == '3') {
                    res.type_text = 'Ambos'
                }
				return res
            })
			return arr
		}
	},
    methods:{
        _view(data, action){
            this.modal.title = "Ver Modo Nocturno";
            this.modal.type.action = action;
            this.modal.type.confirm = false;
            this.modal.data = data;
            this.modal.init.open();
        },

        _edit(data, action){
            this.$emit('edit', {data: data, option: 1});
        },

        _confirm(data, action){
            this.modal.title = "Eliminar Modo Nocturno";
            this.modal.type.action = action;
            this.modal.type.confirm = true;
            this.modal.data = data;
            this.modal.init.open();
        },

        _delete() {
            let index = this.setTable.findIndex(e => {
                return e.id == this.modal.data.id
            })

            this.modal.init.close();

            axios.delete(`admin/nightmode/${this.modal.data.id}`)
                .then(res => {
                    this.setTable.splice(index, 1)
                    swal('', 'Se ha eliminado el Modo Nocturno', "success");
                    this._back();
                })
                .catch(err => {
                    swal('', 'Disculpe, ha ocurrido un error', "error")
                });
        },

        _back(fast = false){
            if(fast){
                this.$emit('back', 0);
            }else{
                setTimeout(() => {
                    this.$emit('back', 0)
                }, 2000);
            }
        }
    },
    mounted () {
        this.modal.init = M.Modal.init(document.querySelector('.modal'));
    }
}
</script>
