<template id="consult-ingress-invoice">

    <article class="row">
        <div class="col s12 content__principal">
            <section class="row">
                <div class="col s12">
                    <div class="row">
                        <div :class="option!=1 ? 'col s12 m3 item_filtro' : 'col s12 m3 item_active1'" @click="option = 1">
                            <span>Consolidado</span>
                        </div>
                        <div :class="option!=2 ? 'col s12 m3 item_filtro' : 'col s12 m3 item_active2'" @click="option = 2">
                            <span >Por estudiante</span>
                        </div>
                        <div :class="option!=3 ? 'col s12 m3 item_filtro' : 'col s12 m3 item_active3'" @click="option = 3">
                            <span>Por fecha de pago</span>
                        </div>
                        <div :class="option!=4 ? 'col s12 m3 item_filtro' : 'col s12 m3 item_active4'" @click="option = 4">
                            <span>Por forma de pago</span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row">
                <div class="col s12 no-padding">

                    <card-main v-if="option != 1">
                        <card-content>
                            <div class="row">
                                <div class="col s12 m5" v-if="option == 2">
                                    <label>{{egress?'Beneficiario':'Estudiante'}}</label>
                                    <select class="browser-default" v-model="filtros.student" v-if="!egress">
                                        <option value="">Seleccione</option>
                                        <option v-for="(item,index) in students" :value="item.id" :key="index">
                                            {{item.first_name}} {{item.middle_name}} {{item.surname}} {{item.second_name}}
                                        </option>
                                    </select>
                                    <input type="text" v-model="filtros.student" v-if="egress">
                                </div>
                                <div class="col s12 m5" v-if="option == 3">
                                    <div class="row">
                                        <div class="col s12 m6">
                                            <label for="desde">Desde</label>
                                            <input id="desde" type="text" class="validate datepicker browser-default input-impegno ">
                                        </div>
                                        <div class="col s12 m6">
                                            <label for="hasta">Hasta</label>
                                            <input id="hasta" type="text" class="validate datepicker browser-default input-impegno ">
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m5" v-if="option == 4">
                                    <label>Método de pago</label>
                                    <select class="browser-default" v-model="filtros.type">
                                        <option value="">Seleccione</option>
                                        <option value="1">Efectivo</option>
                                        <option value="2">Transferencia</option>
                                        <option value="3">Cheque</option>
                                        <option value="4">Comisión</option>
                                    </select>
                                </div>
                                <div class="col s12 m5 content__btn" v-if="option != 1">
                                    <button class="btn btn-continue" @click="getConsolidad">Consultar</button>
                                </div>
                            </div>
                            
                        </card-content>
                    </card-main>

                </div>
                <div class="col s12 no-padding">
                    <section class="table__content">

                        <table-byte :set-table="items">

                            <table-row slot="table-head">
                                <table-head class="th-align-center">Números de recibos</table-head>
                                <table-head class="th-align-center">Estudiante</table-head>
                                <table-head class="th-align-center">Fecha de recibo</table-head>
                                <table-head class="th-align-center">Valor</table-head>
                                <table-head class="th-align-center">Forma de pago</table-head>
                                <table-head class="th-align-center">Consulta</table-head>
                                <table-head class="th-align-center">Imprimir</table-head>
                                <table-head class="th-align-center">Anular</table-head>
                            </table-row>

                            <table-row slot="table-row" slot-scope="{ item }" :class="item.status == 0 ? 'rec_anulada' : ''">
                                <table-cell class="th-align-center">{{item.id}}</table-cell>
                                <table-cell>{{item.people.first_name}} {{item.people.middle_name}} {{item.people.surname}} {{item.people.second_name}}</table-cell>
                                <table-cell>{{parseFecha(item.fecha)}}</table-cell>
                                <table-cell>{{item.total | money}}</table-cell>
                                <table-cell>
                                    {{item.type == '1' ? 'Efectivo' : item.type == 2 ? 'Transferencia': item.type == 3 ? 'Cheque':'Comisión'}}
                                </table-cell>
                                <table-cell class="th-align-center">
                                    <a href="#" class="btn-action" @click="viewItem(item)">
                                        <img :src="'img/icons/ico-ver.png' | asset" alt="" class="img-responsive">
                                    </a>
                                </table-cell>
                                <table-cell class="th-align-center">
                                    <a href="#" class="btn-action" v-if="item.status == 1" @click="imprimir(item.id)">
                                        <img :src="'img/icons/ico-pdf.png' | asset" alt="" class="img-responsive">
                                    </a>
                                </table-cell>
                                <table-cell class="th-align-center">
                                    <a href="#" class="btn-action" v-if="item.status == 1" @click="cancelar(item.id,index)">
                                        <img :src="'img/icons/ico-eliminar.png' | asset" alt="" class="img-responsive">
                                    </a>
                                </table-cell>
                            </table-row>

                            <table-row slot="empty-rows">
                                <table-cell colspan="8">
                                    No se encontraron registros.
                                </table-cell>
                            </table-row>
                        </table-byte>

                    </section>
                </div>
            </section>
        </div>


        <div id="modal1" class="modal">
            <div class="modal-content">
                <section class="contenedor_principal">
                    <div class="content__left">
                        <div class="content__colegio">
                            <span>{{school.name}}</span>
                            <span>{{school.nit}}</span>
                        </div>
                        <div class="content__estudiante">
                            <div class="studiante__data background__green">
                                <span>Estudiante</span>
                            </div>
                            <div class="studiante__info">
                                <span> {{viewRecibo.people.first_name}} {{viewRecibo.people.middle_name}} {{viewRecibo.people.surname}} {{viewRecibo.people.second_name}} </span>
                            </div>
                            <div class="studiante__data background__green">
                                <span>Identificación</span>
                            </div>
                            <div class="studiante__info">
                                <span> {{viewRecibo.people.identification}} </span>
                            </div>
                        </div>
                        <div class="content__abonos">
                            <div class="content_body">

                                <table>
                                    <thead>
                                        <tr class="background__green">
                                            <th>Facturas</th>
                                            <th>Abonos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item, index) in viewRecibo.details" :key="index">
                                            <td>{{item.correlative}}</td>
                                            <td>{{item.monto_abonar | money}}</td>
                                        </tr>
                                        <tr>
                                            <td class="footer_text">Total recibido</td>
                                            <td class="footer_monto">{{viewRecibo.total | money}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                            <div class="content__letras">
                            <span>{{viewRecibo.total | amountInLetters}}</span>
                        </div>
                    </div>
                    <div class="content__right">
                        <div class="content__caja">
                            <div class="caja__titulo">
                                <span>Recibo de caja</span>
                            </div>
                            <div class="caja__numero">
                                <span>N°</span>
                                <span>{{viewRecibo.id}}</span>
                            </div>
                        </div>
                        <div class="content__fecha">
                            <div class="caja__titulo">
                                <span>Fecha de pago</span>
                            </div>
                            <div class="caja__fecha">
                                <span>{{viewRecibo.fecha | date}}</span>
                            </div>
                        </div>
                        <div class="content__pago">
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-al-center">Forma de pago</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Efectivo</td>
                                        <td class="text-al-center"> <i class="material-icons" v-if="viewRecibo.type == 1">clear</i> </td>
                                    </tr>
                                    <tr>
                                        <td>Transferencia</td>
                                        <td class="text-al-center"> <i class="material-icons" v-if="viewRecibo.type == 2">clear</i> </td>
                                    </tr>
                                    <tr>
                                        <td>Cheque</td>
                                        <td class="text-al-center"> <i class="material-icons" v-if="viewRecibo.type == 3">clear</i> </td>
                                    </tr>
                                    <tr>
                                        <td>Comisión</td>
                                        <td class="text-al-center"> <i class="material-icons" v-if="viewRecibo.type == 4">clear</i> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
                <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cerrar</a>
            </div>
        </div>
    </article>
</template>

<style lang="scss">
    .th-align-center {
        text-align: center;
    }
    .rec_anulada{
        background-color:#ab28288a;
        color: white;
    }
    .content_body table tr td {
        padding: 0px 10px;
    }
    .content__letras{
        margin-top: 4vh;
        color: brown;
        width: 100%;
        text-align: center;
    }

    %item_active{
        // background-color: #4a72b2;
        color: white;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .item_filtro {
        background: white;
        color: #4a72b2;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: thin solid #4a72b2;
    }

    .item_active, .item_filtro{
        height: 75px;
        line-height: 20px;
        cursor: pointer;
    }

    .item_filtro:nth-child(1) {
        border: 1px solid #4AA39D;

    }
    .item_active1 {
        @extend %item_active;
        background: #4AA39D !important;
    }

    .item_filtro:nth-child(2) {
        border: 1px solid #3352A8;

    } 
    .item_active2 {
        @extend %item_active;
        background: #3352A8 !important;
    }

    .item_filtro:nth-child(3) {
        border: 1px solid #7245A0;

    }
    .item_active3 {
        @extend %item_active;
        background: #7245A0 !important;
    }

    .item_filtro:nth-child(4) {
        border: 1px solid #983A9B;
    }
    .item_active4 {
   
        @extend %item_active;
        background: #983A9B !important;
    }

    .table__content{
        background-color: white;
        border: thin solid #2f5597 !important;
        padding: 4vh;
    }
    .table__content thead th{
        border-bottom: 2px solid #2f5597 !important;
    }
    .content__principal section:nth-child(1){
        padding-left: 8vh;
        padding-right: 8vh;
    }
    .content__principal section:nth-child(2){
        padding-left: 8vh;
        padding-right: 8vh;
    }
    .content__btn{
        height: 67px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>


<script>

export default {
    template: "#consult-ingress-invoice",
    props: {
        'url': {
            type: String,
            default: ""
        },
        "egress":{
            type:Boolean,
            default:false
        }
    },
    data () {
        return {
            items:[],
            option:1,
            filtros:{
                student:'',
                type:'',
            },
            school:{},
            viewRecibo:{
                id:'',
                fecha:'',
                details:[{
                    correlative:'',
                    monto_abonar:0
                }],
                people:{}
            },
            viewRecibos:[],
            students:[],
            modal: {
                init: {},
                title: "",
                type: {
                    confirm: false,
                    action: 'view'
                },
                data: {
                    name: ''
                }
            }
        }
    },
    watch:{
        'option':function(data){
            this.items = [];

            if(data == 1){
                this.getConsolidad()
            }else if(data == 3){
                setTimeout(()=>{
                    this.activarInputsDate()
                },500)
            }
        }
    },
    computed: {

    },
    methods: {
        _resetView(option){
            this.options = option;
        },
        parseFecha(valor) {
            return moment(valor).format('DD-MM-YYYY');
        },
        getConsolidad() {
            this.filtros.option = this.option
            this.filtros.desde = document.getElementById('desde') != null ? document.getElementById('desde').value : ''
            this.filtros.hasta = document.getElementById('hasta') != null ? document.getElementById('hasta').value : ''
            let rutaData = this.egress ? 'admin/egress/all' : 'admin/payments/all';
            axios.post(rutaData,this.filtros).then((resp)=>{
                if(resp.data.result){
                   this.items = resp.data.recibos
                }else{
                    swal('Información',resp.data.msg,'error');
                }
            }).catch(()=>{
                swal('No se han podido obtener los registros, intente de nuevo')
            })
        },
        getStudents(){
            axios.get('admin/treasure/students').then((resp)=>{
                this.students = resp.data.students
                this.school = resp.data.school
            }).catch((err)=>{
                swal("",'No ha sido posible cargar los estudiantes. Intente nuevamente','error')
            })
        },
        activarInputsDate() {
            M.Datepicker.init(document.querySelector('#desde'),{
                onClose: this._selectBirthate,
                format: 'dd-mm-yyyy',
                autoClose: true,
                i18n: pickDateI18n
            });
            M.Datepicker.init(document.querySelector('#hasta'),{
                onClose: this._selectBirthate,
                format: 'dd-mm-yyyy',
                autoClose: true,
                i18n: pickDateI18n
            });
        },
        imprimir(item) {
            window.open(`recibo/${item}`);
        },
        cancelar(item,pos) {
            swal({
                title: "Estas seguro de anular?",
                text: "Esto no podrá revertirse",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                showCancelButton: true,
            },(willCancel)=>{
                if(willCancel){
                    let ruta = this.egress ? 'admin/egress/cancel' : 'admin/payments/cancel'
                    axios.post(ruta,{
                        id:item
                    }).then((resp)=>{
                        if(resp.data.result){
                            this.items[pos].status = 0;
                            swal('Información','Recibo anulado','success');
                        }else{
                            swal('Información',resp.data.msg,'error')
                        }
                    }).catch((err)=>{
                        swal('Información','No ha sido posible anular el recibo, itente nuevamente','error');
                    })
                }
            })
        },

        viewItem(item) {
            this.viewRecibo = item;
            this.modal.init = M.Modal.init(document.querySelector('#modal1'));
            this.modal.init.open()
        }
    },
    mounted () {
        this.modal.init = M.Modal.init(document.querySelector('.modal'));
        this.getStudents()
        this.getConsolidad()
    }
}
</script>
