<template id="generate-ingress-invoice">

    <article class="row">
        <div class="col s12">
            <div class="row contenedor__generar" v-if="!generarRecibo">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <card-main>
                                <card-content>
                                    <div class="row">
                                        <div class="col s12 m4">
                                            <label>Estudiante</label>
                                            <select class="browser-default style-input" v-model="student" @change="getInvoices">
                                                <option v-for="(item,index) in students" :value="item.id" :key="index">
                                                    {{item.first_name}} {{item.middle_name}} {{item.surname}} {{item.second_name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col s12 m4">
                                            <label>Método de pago</label>
                                            <select class="browser-default style-input" v-model="pay">
                                                <option value="">Seleccione</option>
                                                <option value="1">Efectivo</option>
                                                <option value="2">Transferencia</option>
                                                <option value="3">Cheque</option>
                                                <option value="4">Comisión</option>
                                            </select>
                                        </div>
                                        <div class="col s12 m4">
                                            <label>Fecha de pago</label>
                                            <input type="text" id="fecha" class="datepicker style-input" @change="setFecha">
                                        </div>
                                    </div>
                                </card-content>
                            </card-main>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <section class="table__content white">
                                <table class="bordered">
                                <thead>
                                    <tr>
                                        <th class="text-al-center th-content">Factura</th>
                                        <th class="text-al-center th-content">Fecha de factura</th>
                                        <th class="text-al-center th-content">Valor</th>
                                        <th class="text-al-center th-content">Abonos</th>
                                        <th class="text-al-center th-content">Saldo de factura</th>
                                        <th class="text-al-center th-content">Dias de mora</th>
                                        <th class="text-al-center th-content">Valor del Pago</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in items" :key="index">
                                        <td class="text-al-center" >{{ item.correlative }}</td>
                                        <td class="text-al-center" >{{ item.fecha }}</td>
                                        <td class="text-al-center" >{{ item.total | money}}</td>
                                        <td class="text-al-center" >{{ item.abono | money}}</td>
                                        <td class="text-al-center" >{{ item.total - item.abono | money}}</td>
                                        <td class="text-al-center" >{{ item.mora }}</td>
                                        <td>
                                            <input style="text-align:right; width: 100%;" type="number" class="browser-default" v-model="item.monto_abonar" min="0" :max="item.total" @keyup="comprobateAmount(item)">
                                        </td>
                                    </tr>
                                    <tr v-if="items.length == 0">
                                        <td colspan="7">
                                            <span>No tiene facturas pendientes</span>
                                        </td>
                                    </tr>
                                    <tr class="tr_footer">
                                    <td colspan="5"></td>
                                    <td colspan="1" class="content__total_span monto_color text-al-center">
                                        <span>Total Abonos</span>
                                        </td> 
                                        <td colspan="1" class="content__total_monto monto_color text-al-right">
                                            <span>{{montoTotal | money}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </section>
                            
                        </div>
                        <div class="col s12">
                            <div class="content__btn center-align">
                                <button class="btn btn-flat btn__imprimir" @click="generateRecibe">Imprimir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" v-if="generarRecibo">
                <div class="col s12">
                    <section class="contenedor_principal">
                        <div class="content__left">
                            <div class="content__colegio white">
                                <span>{{school.name}}</span>
                                <span>{{school.nit}}</span>
                            </div>
                            <div class="content__estudiante white">
                                <div class="studiante__data background__green">
                                    <span>Estudiante</span>
                                </div>
                                <div class="studiante__info">
                                    <span> {{ data_student.first_name }} {{data_student.surname}} </span>
                                </div>
                                <div class="studiante__data background__green">
                                    <span>Identificación</span>
                                </div>
                                <div class="studiante__info">
                                    <span> {{data_student.identification}} </span>
                                </div>
                            </div>
                            <div class="content__abonos white">
                                <div class="content_body">
                                    <table class="responsive-table">
                                        <thead>
                                            <tr class="background__green">
                                                <th class="">Facturas</th>
                                                <th class="">Abonos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in items" :key="index" v-if="item.monto_abonar != 0">
                                                <td>{{item.correlative}}</td>
                                                <td>{{item.monto_abonar | money}}</td>
                                            </tr>
                                            <tr>
                                                <td class="footer_text">Total Recibido</td>
                                                <td class="footer_monto">{{montoTotal | money}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                             <div class="content__letras white">
                                <span>{{montoTotal | amountInLetters}}</span>
                            </div>
                            <div class="content__buttons_pagar">
                                <button class="btn btn-flat" @click="savePayments">imprimir recibo</button>
                                <button class="btn btn-flat red" @click="generarRecibo = false;">Cancelar</button>
                            </div>
                        </div>
                        <div class="content__right">
                            <div class="content__caja white">
                                <div class="caja__titulo">
                                    <span>Recibo de caja</span>
                                </div>
                                <div class="caja__numero">
                                    <span>N°</span>
                                    <span>{{correlative == null ? '1' : correlative.correlative}}</span>
                                </div>
                            </div>
                            <div class="content__fecha white">
                                <div class="caja__titulo">
                                    <span>Fecha de pago</span>
                                </div>
                                <div class="caja__fecha">
                                    <span>{{fecha_diinero}}</span>
                                </div>
                            </div>
                            <div class="content__pago white">
                                <table>
                                    <thead>
                                        <tr>
                                            <th colspan="2" class="text-al-center">Forma de pago</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Efectivo</td>
                                            <td class="text-al-center"> <i class="material-icons" v-if="pay == 1">clear</i> </td>
                                        </tr>
                                        <tr>
                                            <td>Transferencia</td>
                                            <td class="text-al-center"> <i class="material-icons" v-if="pay == 2">clear</i> </td>
                                        </tr>
                                        <tr>
                                            <td>Cheque</td>
                                            <td class="text-al-center"> <i class="material-icons" v-if="pay == 3">clear</i> </td>
                                        </tr>
                                        <tr>
                                            <td>Comisión</td>
                                            <td class="text-al-center"> <i class="material-icons" v-if="pay == 4">clear</i> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </article>
</template>

<style>
.style-input{
    border: 1px solid #f2f2f2 !important;
    border-radius: 10px !important;
    height: 40px !important;
}
.text-al-center{
    text-align: center;
}
.monto_color{
    background-color: #cb6120;
    color: white;
    font-weight: bold;
}
.text-al-right{
    text-align: right;
}

.btn__imprimir{
    background-color: #4a72b2;
    color: white;
}

.tr_footer{
    border-bottom: none !important;
}
.content__btn{
    margin: 2vh;
}
.content__btn button {
    border-radius: 10px;
}
.content__letras{
    margin-top: 4vh;
    color: brown;
    width: 100%;
    text-align: center;
}
</style>


<script>

export default {
    template: "#generate-ingress-invoice",
    props: {
        'url': {
            type: String,
            default: ""
        },
    },
    data () {
        return {
            options: 0,
            items:[],
            pay:'',
            fecha_diinero:'',
            student:'',
            students:[],
            data_student:{},
            generarRecibo:false,
            school:{},
            correlative:{},
            modal: {
                init: {},
                title: "",
                type: {
                    confirm: false,
                    action: 'view'
                },
                data: {
                    name: ''
                }
            }
        }
    },

    watch:{
        'generarRecibo':function(old){
            console.log(old, ' hola')
            setTimeout(()=>{
                M.Datepicker.init(document.querySelector('#fecha'),{
                    onClose: this._selectBirthate,
                    format: 'dd-mm-yyyy',
                    autoClose: true
                });
            },1000)
        }
    },
    computed: {
        montoTotal: function() {
            let monto = 0;
            this.items.map((ele)=>{
                if(ele.monto_abonar != undefined || ele.monto_abonar != ''){
                    monto += parseFloat(ele.monto_abonar)
                }
            })

            return monto;
        },
    },
    methods: {
        comprobateAmount (item) {
            if(item.total < item.monto_abonar) {
                item.monto_abonar = item.total
            }
        },
        generateRecibe () {
            if(this.items.length == 0) {
                swal('', 'No hay facturas agregadas', 'error')
                return 
            }

            if(!this.student) {
                swal('', 'Debe seleccionar un estudiantes', 'error')
                return
            }

            if(!this.pay) {
                swal('', 'Debe seleccionar un metodo de pago', 'error')
                return
            }

            if(!this.fecha_diinero) {
                swal('', 'Debe seleccionar un la fecha de pago', 'error')
                return
            }

            let added = 0
            let supera = 0
            this.items.forEach(e => {
                if(e.total < e.monto_abonar) {
                    supera++
                }
                if(e.monto_abonar != 0) {
                    added++
                }
            })

            if(supera > 0) {
                swal('', 'No puede ingresar un monto mayor al de la factura', 'error')
                return
            }

            if(added == 0) {
                swal('', 'Debes agregar el monto a abonar', 'error')
                return 
            }


            this.generarRecibo = true
        },
        _resetView(option){
            this.options = option;
        },
        getStudents(){
            axios.get('admin/treasure/students').then((resp)=>{
                this.students = resp.data.students
                this.school = resp.data.school,
                this.correlative = resp.data.correlative
            }).catch((err)=>{
                swal("",'No ha sido posible cargar los estudiantes. Intente nuevamente','error')
            })
        },
        getInvoices() {
            this.data_student = this.students.find((element)=>{
                if(element.id == this.student){
                    return element;
                }
            })
            axios.post('admin/treasure/invoices',{person:this.student}).then((resp)=>{
                if(resp.data.result){
                    this.items = resp.data.data
                }else{
                    swal("",resp.data.msg,'error');
                }
            }).catch((err)=>{
                swal("",'No ha sido posible cargar las facturas pendientes. Intente nuevamente','error')
            })
        },
        setFecha() {
            this.fecha_diinero = document.getElementById('fecha').value
        },
        savePayments() {
            swal({
                title: "Estas seguro de crear este recibo?",
                text: "",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                showCancelButton: true,
            }, (willDelete)=>{
                console.log(willDelete)
                if(willDelete){

                    this.items = this.items.filter((ele)=>{
                        if(ele.monto_abonar > 0){
                            return ele
                        }
                    })
                    axios.post('admin/payments/new',{
                        people:this.student,
                        type:this.pay,
                        invoices:this.items,
                        fecha:this.fecha_diinero,
                        total:this.montoTotal
                    }).then((resp)=>{
                        if(resp.data.result){
                            this.items = [];
                            this.generarRecibo = false;
                            swal('', 'Se ha realizado el abono con éxito', 'success')
    
                            let host = window.location.hostname
                            let path = window.location.pathname
                            window.open(`recibo/${resp.data.recibo}`,'_blank');
                            setTimeout(() => {
                                location.reload()
                            },1000)

                        }else{
                            swal('Información',resp.data.msg,'error')
                        }
                    }).catch((err)=>{
                        console.log(err);
                        
                    })
                }
            });
        }
    },
    mounted () {
        this.modal.init = M.Modal.init(document.querySelector('.modal'));
        M.Datepicker.init(document.querySelector('#fecha'),{
            onClose: this._selectBirthate,
            format: 'dd-mm-yyyy',
            autoClose: true,
            i18n: pickDateI18n
        });

        this.getStudents()
    }
}
</script>
