<template id="template-teacher-form">
    <article class="col s12">
        <div class="row">
            <div class="col s12">
                <ul class="tabs tabs-fixed-width" id="tabs-teacher">
                    <li class="tab col s2"><a href="#information-personal">Información <br/> Personal</a></li>
                    <li class="tab col s2"><a href="#profile-assigned">Permisos <br/> Asignados</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <a href="#!" class="btn btn-back" @click="_back">
                    <div class="btn-back__container">
                        <label class="label-back-cont">Volver</label>
                    </div>
                </a>
            </div>
        </div>
       

        <!-- ____________________________________________

        //               PERSONAL
        ____________________________________________ -->
        <card-main>
            <card-content>
                <div class="row">
                    <div class="col s12">
                        <div id="information-personal" class="col s12">
                            <div class="input-field col s12 m6">
                                <input id="name" type="text" class="validate" v-model="form.name">
                                <label for="name">Nombre</label>
                            </div>

                            <div class="input-field col s12 m6">
                                <input id="lastname" type="text" class="validate" v-model="form.lastname">
                                <label for="lastname">Apellido</label>
                            </div>

                            <div class="input-field col s12 m6">
                                <input id="email" type="email" class="validate" v-model="form.email">
                                <label for="email">Correo Electrónico</label>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- ____________________________________________

                //               Perfil
                ____________________________________________ -->

                 <div id="profile-assigned" class="col s12">

                    <h5 class="center-align subtitle">Seleccione los Módulos asignados de este moderador</h5>

                    <div class="col s12 m6 no-padding">
                         <!-- Drivers -->
                        <div class="col s6 m6">Módulo Conductores</div>
                        <div class="col s6 m6">
                            <p>
                                <input type="checkbox" id="module-drivers" class="filled-in" value="1" v-model="form.modules">
                                <label for="module-drivers" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>
                        <!-- Passengers -->
                        <div class="col s6 m6">Módulo Pasajeros</div>
                        <div class="col s6 m6">
                            <p>
                                <input type="checkbox" id="module-passengers" class="filled-in" value="2" v-model="form.modules">
                                <label for="module-passengers" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>
                        <!-- Tariffs -->
<!--                         <div class="col s6 m6">Módulo Tarifas</div>
                        <div class="col s6 m6">
                            <p>
                                <input type="checkbox" id="module-tariffs" class="filled-in" value="3" v-model="form.modules">
                                <label for="module-tariffs" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div> -->

                        <!-- Support -->
                        <div class="col s6 m6">Módulo Chat</div>
                        <div class="col s6 m6">
                            <p>
                                <input type="checkbox" id="module-support" class="filled-in" value="4" v-model="form.modules">
                                <label for="module-support" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>

                        <!-- Configuracion -->
                        <div class="col s6">Módulo Configuración</div>
                        <div class="col s6">
                            <p>
                                <input type="checkbox" id="module-configuration" class="filled-in" value="12" v-model="form.modules">
                                <label for="module-configuration" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>

                        <!-- Finances -->
<!--                         <div class="col s6 m6">Módulo Ganancias</div>
                        <div class="col s6 m6">
                            <p>
                                <input type="checkbox" id="module-finances" class="filled-in" value="5" v-model="form.modules">
                                <label for="module-finances" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div> -->

                    </div>
                    <div class="col s12 m6 no-padding">
                        
                        <!-- Promotions -->
                        <div class="col s6">Módulo Promociones</div>
                        <div class="col s6">
                            <p>
                                <input type="checkbox" id="module-promotions" class="filled-in" value="7" v-model="form.modules">
                                <label for="module-promotions" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>

                        <!-- Routes -->
 <!--                        <div class="col s6">Módulo Rutas</div>
                        <div class="col s6">
                            <p>
                                <input type="checkbox" id="module-routes" class="filled-in" value="8" v-model="form.modules">
                                <label for="module-routes" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div> -->

                        <!-- Ratings -->
                        <div class="col s6">Módulo Calificaciones</div>
                        <div class="col s6">
                            <p>
                                <input type="checkbox" id="module-ratings" class="filled-in" value="9" v-model="form.modules">
                                <label for="module-ratings" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>

                        <!-- Reports -->
<!--                         <div class="col s6">Módulo Reportes</div>
                        <div class="col s6">
                            <p>
                                <input type="checkbox" id="module-reports" class="filled-in" value="10" v-model="form.modules">
                                <label for="module-reports" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div> -->

                        <!-- Moderators -->
                        <div class="col s6">Módulo Moderadores</div>
                        <div class="col s6">
                            <p>
                                <input type="checkbox" id="module-moderators" class="filled-in" value="11" v-model="form.modules">
                                <label for="module-moderators" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>

                        <div class="col s6">Módulo Notificaciones</div>
                        <div class="col s6">
                            <p>
                                <input type="checkbox" id="module-notifications" class="filled-in" value="13" v-model="form.modules">
                                <label for="module-notifications" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col s12 center-align">
                        <button class="btn btn-success" @click="store" :disabled="desactivar">Guardar registro</button>
                    </div>
                </div>
             
            </card-content>

        </card-main>

    </article>
</template>

<style lang="scss">
    .professional_information{
        display: flex;
        align-items: center;

        &:first-child{
            margin-top: 1rem;
        }

        .col{
            margin: 0;
        }
    }

    .input-filling{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .materialize-textarea{
        height: 3rem !important;
    }

    .assignment-content{
        padding-top: 1.7rem !important;
        padding-bottom: 1.7rem !important;
    }
</style>


<script>
export default {
    template: "#template-teacher-form",
    props: {
        url: String,
        'url-base': {
            type: String,
            default: ""
        },
        'set-form': {
            type: Object,
            default(){
                return {};
            }
        },
        'url-back': {
            type: String,
            default: ""
        }
    },
    data(){
        return {
            desactivar:false,
            form: {
                name: "",
                lastname: "",
                email: "",
                modules: [],
            },
            // Modules
        }
    },
    methods:{
        _photo (photo) {
            this.form.photo = documento.file;
        },
        
        _document (documento) {
            this.form.document = documento.file
        },

        store(){
            this.desactivar = true
            if(typeof this.form.id === 'undefined'){
                this.registration();
            }else{
                this.edit();
            }
        },

        registration(){
            
            axios.post('admin/moderators', this.convertToFormData())
                .then(res => {
                    
                    swal({
                        title: "",
                        text: `Se ha registrado al Moderador correctamente`,
                        timer: 2000,
                        showConfirmButton: false,
                        showOkButton: false,
                        type: "success"
                    },()=>{
                        location.reload(true)
                    });
                })
                .catch(err => {
                this.desactivar = false

                    let message = "Disculpe, ha ocurrido un error";
                    
                    if(err.response.status === 422){
                        message = err.response.data.error;
                    }

                    swal('', message, 'error');
                });
        },

        edit(){
            this.form._method = "PUT";

            axios.post(`admin/moderators/${this.form.id}`, this.convertToFormData())
                .then(res => {
                    
                    swal({
                        title: "",
                        text: `Se ha actualizado al Moderador correctamente`,
                        timer: 2000,
                        showConfirmButton: false,
                        showOkButton: false,
                        type: "success"
                    },()=>{
                        location = urlBase + "admin/moderators";
                    });
                })
                .catch(err => {
                this.desactivar = false

                    let message = "Disculpe, ha ocurrido un error";
                    
                    if(err.response.status === 422){
                        message = err.response.data.error;
                    }

                    swal('', message, 'error');
                });
        },

        convertToFormData(){
            let formData = new FormData();
            Object.getOwnPropertyNames(this.form).forEach(key => {
                if(key === "modules")
                {
                    formData.append(key, JSON.stringify(this.form[key]));
                }else if(key != "__ob__"){
                    if(this.form[key] != null && this.form[key] != 'null') {
                        formData.append(key, this.form[key]);
                    }
                }
            });

            return formData;
        },

        _back(fast = false){
            if(this.urlBack === ""){
                this.$emit('back', 0);
            }else{
                window.location = this.urlBack;
            }
        }
    },
    created(){
    },
    mounted(){
        M.Tabs.init(document.querySelector('#tabs-teacher'));

        M.Datepicker.init(document.querySelector('#date-init'),{
            onClose: this._selectBirthate,
            format: 'dd-mm-yyyy',
            autoClose: true,
            i18n: pickDateI18n
        });

        if(Object.entries(this.setForm).length > 0){

            Object.getOwnPropertyNames(this.setForm.person).forEach(key => {
                if(key == 'permission'){
                    this.setForm.person[key].forEach(el => {
                        this.form.modules.push(el.id);
                    });
                }else{
                    if(this.setForm.person[key] != null && this.setForm.person[key] != 'null') {
                        this.form[key] = this.setForm.person[key];
                    }
                }

            });
            Object.getOwnPropertyNames(this.setForm).forEach(key => {
                this.form[key] = this.setForm[key];
            });

            this.setForm.permission_user.forEach(el => {
                this.form.modules.push(el.id);
            });
        }
    }
}
</script>
