<template id="template-student">
    <card-main>
        <card-content>
            <article class="row">

                <div class="col s12">
                    <table-byte :set-table="mods" :filters="['id','person.name', 'person.lastname', 'email']">

                        <table-row slot="table-head" slot-scope="{ item }">
                            <table-head>Identificación</table-head>
                            <table-head>Nombre</table-head>
                            <table-head>Correo Electrónico</table-head>
                            <table-head>Estado</table-head>
                            <table-head>Acciones</table-head>
                        </table-row>

                        <table-row slot="table-row" slot-scope="{ item }">
                            <table-cell>{{ item.id }}</table-cell>
                            <table-cell>{{ item.person.name }} {{ item.person.lastname }}</table-cell>
                            <table-cell>{{ item.email }}</table-cell>
                            <table-cell>{{ item.status == '0' ? 'Inactivo':'Activo' }}</table-cell>
                            <table-cell>

                                <a title="Ver Detalles" href="#!" class="btn-action"  @click="_view(item, 'view')">
                                    <i class="material-icons prefix">remove_red_eye</i>
                                </a>

                                <a title="Editar" :href="`${url}/${item.id}/edit`" class="btn-action">
                                    <i class="material-icons prefix">edit</i>
                                </a>

                                <a :title="item.status == '0' ? 'Activar':'Desactivar'" href="#!" class="btn-action" @click="_activate(item)">
                                    <i class="material-icons prefix">{{ item.status == '0' ? 'check':'close' }}</i>
                                </a>

                                <a title="Eliminar" href="#!" class="btn-action"  @click="_confirm(item, 'destroy')">
                                    <i class="material-icons prefix">delete</i>
                                </a>
                                
                            </table-cell>

                        </table-row>

                        <table-row slot="empty-rows">
                            <table-cell colspan="3">
                                No se encontraron registros.
                            </table-cell>
                        </table-row>

                    </table-byte>

                    <byte-modal v-on:pressok="_delete" v-on:presscancel="_close" :confirm="modal.type.confirm">
                        <template v-if="modal.type.action == 'view' && modal.data.person">

                            <template v-if="modal.data.level ==  '4'">
                                <div class="col s12 modal-title">
                                    <h3>Datos Personales</h3>
                                </div>
                                
                                <div class="col s9">
                                    <div class="col s12">
                                        <span>Nombre: </span> {{ modal.data.person.name }} {{ modal.data.person.lastname }}
                                    </div>

                                    <div class="col s12">
                                        <span>Correo electronico: </span> {{ modal.data.email }}
                                    </div>

                                    <div class="col s12">
                                        <span>Estado: </span> {{ modal.data.status == '0' ? 'Inactivo':'Activo' }}
                                    </div>

                                </div>
                                <!-- <div class="col s3">
                                    <div class="col s12">
                                        <img :src="modal.data.person.photo" class="responsive-img" v-if="modal.data.person.photo != null">
                                    </div>
                                </div> -->

                            </template>

                        </template>

                        <template v-if="modal.type.action == 'destroy'">
                            <div class="container-confirmation">
                                <div class="confimation__icon">
                                    <i class="material-icons">error_outline</i>
                                </div>
                                <div class="confirmation__text">
                                    <h5>¿Realmente desea <b>Eliminar</b> al <b> moderador</b>?</h5>
                                </div>
                            </div>
                        </template>
                    </byte-modal>
                </div>

            </article>
        </card-content>
    </card-main>
</template>

<style lang="scss" scoped>
    .modal-title {
        h3 {
            color: #336535;
            border-bottom: 3px solid #336535;
        }
    }
</style>

<script>
    export default {
        template: "#template-student",
        props: {
            url: String,
            mods: {
                type: Array,
                default () {
                    return []
                }
            }
        },
        data () {
            return {
                filter: '',
                modal: {
                    init: {},
                    title: "",
                    type: {
                        confirm: false,
                        action: 'view'
                    },
                    data: {
                        id: '',
                        name: ''
                    }
                }
            }
        },
        methods: {
            _back(){
                this.$emit('back', 0);
            },
            _view(data, action){
                this.modal.title = "Ver Moderador";
                this.modal.type.action = action;
                this.modal.type.confirm = false;
                this.modal.data = data;
                this.modal.init.open();
                setTimeout(() => {
                    var elems = document.querySelectorAll('.collapsible');
                    var instances = M.Collapsible.init(elems);
                }, 300)
                
            },
            _initCollabsible () {
                console.log('asd')
            },
            _destroyCollabsible () {
                instances.destroy()
            },
            _confirm(data, action){
                this.modal.title = "Eliminar Moderador";
                this.modal.type.action = action;
                this.modal.type.confirm = true;
                this.modal.data = data;
                this.modal.init.open();
            },
            _activate_mod(data, action){
                if (data.status == '0') {
                    this.modal.title = "Activar Moderador";
                } else {
                    this.modal.title = "Desactivar Moderador";
                }
                this.modal.type.action = action;
                this.modal.type.activate = true;
                this.modal.data = data;
                this.modal.init.open();
            },
            _delete(){
                let index = this.mods.findIndex(e => {
                    return e.id == this.modal.data.id
                })
                
                this.modal.init.close()

                axios.delete(`admin/moderators/${this.modal.data.id}`)
                    .then(res => {
                        if(res.data.result == undefined){
                            this.mods.splice(index, 1);
                            swal('', 'Se ha eliminado al Moderador con éxito', 'success');
                        }
                        
                    })
                    .catch(err => {
                        swal('', 'Disculpe, ha ocurrido un error', "error")
                    });
            },
            _close() {
                this.modal.init.close()
                this.modal.title = "";
                this.modal.type.action = 'view';
                this.modal.type.confirm = false;
                this.modal.data = {};
            },
            _activate(data){

                axios.post(`admin/moderators-activate/${data.id}`)
                    .then(res => {
                        if (res.data.result) {
                            data.status = res.data.user
                            swal('', res.data.msg, "success")
                        }
                    })
                    .catch(err => {
                        swal('', 'Disculpe, ha ocurrido un error', "error")
                    });
            },
        },
        mounted () {
            this.modal.init = M.Modal.init(document.querySelector('.modal'));
        }
    }
</script>