<template>
    <div class="container-fluid">
		<div class="row ruta">
			<div class="col-md-12 col-sm-12 no-padding">
				<div class="ruta__mapa">
					<div id="map" style="min-height: 100vh;"></div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 no-padding map-absolute">
				<div class="ruta__info text-center">
					<div>
						<div class="ruta__info__title " :class="'ruta__info__title--proceso'">
							<span class="ruta__info__light">Alerta Realizada: {{ panic.hour }}</span> <br>
							<span class="ruta__info__light">Nombre del pasajero: {{ panic.user.person.name+' '+panic.user.person.lastname }}</span> <br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<style>
	.rute__infor_conductor__avatar {
		border-radius: 50%;
	}
	.map-absolute{
		position: absolute;
    	right: 30vw;
	}
	@media (max-width: 769px) {
		.map-absolute{
			right: 0vw !important;
		}
	}
</style>

<script>
import Geocoder from "@pderas/vue2-geocoder";
import moment from 'moment';
import io from 'socket.io-client';
import { GOOGLE_API_KEY } from '../../.env';

Vue.use(Geocoder, {
    googleMapsApiKey: GOOGLE_API_KEY
});

Vue.$geocoder.setDefaultMode('lat-lng');

export default {
    data () {
        return {
			data: 'asd',
			map: null,
			baseURL: baseURL,
			icons: [
                `${baseURL}img/maps/ubicacion1.png`, 
                `${baseURL}img/maps/ubicacion2.png`,
                `${baseURL}img/maps/ubicacion3.png` 
			],
			markers: [],
			zoom: 12,
			existsParada: false,
			origen: {},
			destino: {},
			parada: [],
			setTableDestinations: [],
			vehicle: null,
			android: false,
        }
	},
	props: ['panic'],
	filters: {
		hour: (value) => {
			return moment(value).format('HH:mm');
		}
	},
	mounted () {

		const socket = io(location.protocol + '//' + location.host + ':11021');
		let latLng={}
		socket.on('position_emergency', data => {
			if (data.id === this.panic.user.id) {
			this.android = true;
				latLng  = {
					lat: data.latitud,
					lng: data.longitud
				}
				if(!this.vehicle) {
					this.createVehicle(data.latLng)
				} else {
					this.moveVehicle(data.latLng)
				}
			}
		})
		if(!this.android){
			socket.on('ubicacion-pasajero',data => {
				if (data.id === this.panic.user.id) {
					latLng  = {
						lat: data.latitud,
						lng: data.longitud
					}
					if(!this.vehicle) {
						this.createVehicle(latLng)
					} else {
						this.moveVehicle(latLng)
					}
				}
			});
		}
		this.initMap() // Se inicia el mapa

	},
    methods: {
    	rotate(rotationAngle) {
		  $('img[src="' + `${baseURL}img/maps/ubicacion1.png` + '"]').css({
	        'transform': 'rotate(' + rotationAngle + 'deg)',
	        'transform-origin': '25px 25px'
	      });
    	},
		moveVehicle(data) {
			var numDeltas = 100;
			var deltaLat;
			var deltaLng;

			deltaLat = (data.lat - this.vehicle.getPosition().lat()) / numDeltas;
			deltaLng = (data.lng - this.vehicle.getPosition().lng()) / numDeltas;
			for (let i = 0; i < numDeltas; i++) {
				setTimeout(() => {
					let lat = this.vehicle.getPosition().lat() + deltaLat;
					let lng = this.vehicle.getPosition().lng() + deltaLng;
					this.vehicle.setPosition({ lat, lng });
				},100);				
			}
      	},
        async initMap() {
            let origenLatitud = parseFloat(this.panic.latitude)
            let origenLongitud = parseFloat(this.panic.longitude)
            let center = { 
                lat: origenLatitud, 
                lng: origenLongitud 
            }
            this.map = await new google.maps.Map(document.getElementById('map'), {
				center,
				zoom: 17,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			});
			if(!this.vehicle) {
				let latLng  = {
					lat: parseFloat(this.panic.latitude),
					lng: parseFloat(this.panic.longitude)
				}
				this.createVehicle(latLng)
			}
		},
		createVehicle (latLng) {
            let vehicle = new google.maps.Marker({
                map: this.map,
                draggable: false,
                position: latLng,
                title: this.panic.user.email
			})
			this.vehicle = vehicle
		},		
    }
}
</script>

