<template id="template-badge-index">
    <span v-if="countNotif > 0 && setHeader">
        {{ countNotif }}
    </span>
</template>

<style lang="scss" scoped>
    .header-notification-icon {
        color: #f70000;
    }
</style>

<script>

export default {
    template: "#template-badge-index",
    props: {
        'set-header': {
            type: Boolean,
            default: false
        },
        'set-chat': {
            type: Boolean,
            default: false
        },
        'set-notif': {
            type: Boolean,
            default: false
        },
    },
    data () {
        return {
            countNotif: 0,
            countPending: 0,
            countChat: 0,
            enabledNotif: true,
            enabledChat: true
        }
    },
    methods: {
        _resetView(option){
            this.options = option;
        }
        
    },
    mounted () {
        SocketApp.on('notification-web', (type) => {
            if (type.own == false){
                this.$bus.$emit('set-badge-bell', () => {
                    this.countNotif += 1
                })
            }
        })
        this.$bus.$on('set-badge-bell', () => {
            this.countNotif += 1
        })
    }
}
</script>