<template id="template-badge-index">
    <span v-if="countPending > 0 && setNotif && enabledNotif">
        <i class="material-icons header-notification-icon">notifications</i>
    </span>
    <span v-else-if="countChat > 0 && setChat && enabledChat">
        <i class="material-icons header-notification-icon">notifications</i>
    </span>
    <span v-else-if="countUser > 0 && setUser && enabledUser">
        <i class="material-icons header-notification-icon">notifications</i>
    </span>
    <span v-else-if="countPass > 0 && setPass && enabledPass">
        <i class="material-icons header-notification-icon">notifications</i>
    </span>
</template>

<style lang="scss" scoped>
    .header-notification-icon {
        color: #f70000;
    }
</style>

<script>

export default {
    template: "#template-badge-index",
    props: {
        'set-chat': {
            type: Boolean,
            default: false
        },
        'set-notif': {
            type: Boolean,
            default: false
        },
        'set-user': {
            type: Boolean,
            default: false
        },
        'set-pass': {
            type: Boolean,
            default: false
        },
    },
    data () {
        return {
            countNotif: 0,
            countPending: 0,
            countChat: 0,
            countUser: 0,
            countPass: 0,
            enabledNotif: true,
            enabledChat: true,
            enabledUser: true,
            enabledPass: true,
        }
    },
    methods: {
        _resetView(option){
            this.options = option;
        }
        
    },
    created() {
        this.$bus.$on('set-notification', (status) => {
            this.enabledNotif = status
        })
        this.$bus.$on('set-chat', (status) => {
            this.enabledChat = status
        })
        this.$bus.$on('clear-user', () => {
            this.countUser = 0
        })
    },
    mounted () {
        SocketApp.on('notification-web', (type) => {
            if (type.type == '1' && type.own == false) {
                this.countPending += 1
            } else if (type.type == '2' && type.own == false) {
                this.countChat += 1
            } else if (type.type == '3' && type.own == false) {
                this.countUser += 1
            } else if (type.type == '4' && type.own == false) {
                this.countPass += 1
            }
        })
    }
}
</script>