<template id="template-courses-index">
  <article class="row">
    <div class="col s12">
      <div class="col s12">
        <card-main>
          <card-content>
            <div class="row">
              <div class="col s12">
                <table-byte
                  :set-table="table"
                  :filters="['motive', 'description', 'user.person.name', 'user.person.lastname']"
                >
                  <table-row slot="table-head">
                    <table-head>Motivo</table-head>
                    <table-head>Descripción</table-head>
                    <table-head>Acciones</table-head>
                  </table-row>
                  <table-row slot="table-row" slot-scope="{ item }">
                    <table-cell>{{ item.motive }}</table-cell>
                    <table-cell>{{ item.description }}</table-cell>
                    <table-cell>
                      <a
                        title="Documentos enviados"
                        href="#!"
                        v-if="item.type == '9' && item.driver.pending_documents.length > 0"
                        class="btn-action"
                        @click="_checkDocs(item, 'check')"
                      >
                        <i class="material-icons prefix">format_list_bulleted</i>
                      </a>
                      <a
                        title="Ver vehículos"
                        :href="`${urlBase}admin/users?driver_id=${item.driver_id}`"
                        v-if="item.type == '11'"
                      >
                        <i class="material-icons prefix">airport_shuttle</i>
                      </a>
                    </table-cell>
                  </table-row>
                  <table-row slot="empty-rows">
                    <table-cell colspan="3">No se encontraron registros.</table-cell>
                  </table-row>
                </table-byte>
              </div>
              <byte-modal
                v-on:pressok="_delete"
                :confirm="modal.type.confirm"
                :check="modal.type.check"
                v-on:presscheck="_check"
                :docs-modal="true"
              >
                <template v-if="modal.type.action == 'view'">
                  <div class="col s12">
                    <span>Tipo de Vehiculo:</span>
                    {{ modal.data.name }}
                  </div>
                  <div class="col s12 mt-1">Tarifa Base:</div>
                </template>
                <template v-if="modal.type.action == 'check'">
                  <div class="col s12 modal-check">
                    <div class="col s12 modal-check-title">
                      <h3>Documentos enviados</h3>
                    </div>
                    <div class="col s12 modal-docs-title">
                      <div class="col s3">
                        <span>Nombre</span>
                      </div>
                      <div class="col s3 modal-docs-title-center">
                        <span>Fecha de Expiración</span>
                      </div>
                      <div class="col s2 modal-docs-title-center">
                        <span>Descargar</span>
                      </div>
                      <div class="col s2 modal-docs-title-center">
                        <span>Aprobar</span>
                      </div>
                      <div class="col s2 modal-docs-title-center">
                        <span>Rechazar</span>
                      </div>
                    </div>
                    <div class="col s12">
                      <hr />
                    </div>
                    <div
                      class="col s12 modal-docs-rows"
                      v-for="docs in modal.data.check_docs"
                      :key="docs.id"
                    >
                      <div class="col s3">
                        <span>{{docs.name}}</span>
                      </div>
                      <div class="col s3 modal-docs-row-center">
                        <span>{{docs.expire}}</span>
                      </div>
                      <div class="col s2 modal-docs-row-center">
                        <a
                          target="_blank"
                          rel="noopener noreferrer"
                          :href="docs.link | asset"
                          v-if="docs.link != null"
                        >
                          <img class="modal-docs-download-img" :src="'img/download.png' | asset" />
                        </a>
                      </div>
                      <div class="col s2 modal-docs-row-center">
                        <label :for="'accept-check-'+docs.id">
                          <input
                            type="checkbox"
                            :id="'accept-check-'+docs.id"
                            @click="_addCheck(docs.type, '1', docs.id, docs.vehicle_id)"
                          />
                          <span></span>
                        </label>
                      </div>
                      <div class="col s2 modal-docs-row-center">
                        <label :for="'reject-check-'+docs.id" class="modal-docs-check-reject">
                          <input
                            type="checkbox"
                            :id="'reject-check-'+docs.id"
                            @click="_addCheck(docs.type, '2', docs.id, docs.vehicle_id)"
                          />
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </template>
              </byte-modal>
            </div>
          </card-content>
        </card-main>
      </div>
    </div>
  </article>
</template>

<style lang="scss" scoped>
.modal-check {
  .modal-check-title {
    margin-top: -4vh;
  }
  .modal-docs-title {
    span {
      color: #5b5b5f;
      font-size: 14px;
    }
    hr {
      color: #c1c2c8;
    }
    .modal-docs-title-center {
      text-align: center !important;
    }
  }
  .modal-docs-rows {
    span {
      color: black;
      font-weight: bold;
      font-size: 14px;
    }
    .modal-docs-row-center {
      text-align: center !important;
    }
    div {
      margin-bottom: 1vw;
    }
  }
  .modal-docs-download-img {
    width: 2vw;
  }
  label {
    color: black;
    .title-check {
      font-weight: bold;
      font-size: 14px;
    }
  }
  h3 {
    color: #336535;
    border-bottom: 3px solid #336535;
  }
  a {
    color: #cd3030;
    font-size: 10px;
  }
  div {
    padding: 0px 5px 0px 5px !important;
  }
}
</style>

<script>
export default {
    template: "#template-courses-index",
    props: {
        url: {
            type: String,
            default: ""
        },
        'set-table': {
            type: Array,
            default(){
                return []
            }
        }
    },
    data() {
        return {
            urlBase: null,
            zones: [],
            component: "Zona",
            modal: {
                init: {},
                title: "",
                type: {
                    confirm: false,
                    action: ''
                },
                checks: [],
                data: {
                    name: '',
                    assignments:[]
                }
            },
        }
    },
    computed: {
        table() {
            let arr = []
            this.setTable.forEach(res => {
                if (res.type == '6') {
                    res.motive = 'Atención a una Cuenta'
                    res.description = `La cuenta del Usuario: ${res.user.person.name} ${res.user.person.lastname} requiere atención`
                } else if (res.type == '9') {
                    res.motive = 'Actualizacion de Documentos'
                    res.description = `El Usuario: ${res.driver.person.name} ${res.driver.person.lastname}, ha actualizado sus documentos`
                } else if (res.type == '10') {
                    res.motive = 'Expiración de Documentos'
                    res.description = `El Usuario: ${res.user.person.name} ${res.user.person.lastname}, tiene documentos por expirar`
                } else if (res.type == '11') {
                    res.motive = 'Nuevo vehículo'
                    res.description = res.description.replace(':name', `${res.driver.person.name} ${res.driver.person.lastname}`)
                }
                res.check_docs = []
                if (res.type == '9') {
                    let vNum = 0;
                    let pcNum = 0;
                    res.driver.pending_documents.forEach(resp => {
                        if (resp.type == '1') {
                            let obj = {
                                name: 'Foto de Perfil',
                                expire: null,
                                link: res.driver.person.photo,
                                type: resp.type,
                                id: resp.id
                            }
                            res.check_docs.push(obj)
                        } else if (resp.type == '2') {
                            let obj = {
                                name: 'Licencia de Conducir',
                                expire: res.driver.person.expiration_license,
                                link: res.driver.person.license,
                                type: resp.type,
                                id: resp.id
                            }
                            res.check_docs.push(obj)
                        } else if (resp.type == '3') {
                            if(res.driver.vehicles_web != null) {
                                if(vNum == 0) {
                                    if(res.driver.vehicles_web.length > 0) {
                                        let obj = {
                                            name: 'Foto del Vehiculo',
                                            expire: null,
                                            link: res.driver.vehicles_web[0].photos[0].file,
                                            type: resp.type,
                                            vehicle_id: resp.vehicle_id,
                                            id: resp.id
                                        }
                                        res.check_docs.push(obj)
                                    }
                                } else {
                                    if(res.driver.vehicles_web.length > 1) {
                                        let obj = {
                                            name: 'Foto del Vehiculo #2',
                                            expire: null,
                                            link: res.driver.vehicles_web[1].photos[0].file,
                                            type: resp.type,
                                            vehicle_id: resp.vehicle_id,
                                            id: resp.id
                                        }
                                        res.check_docs.push(obj)
                                    }
                                }
                                vNum += 1
                            }
                        } else if (resp.type == '4') {
                            if(res.driver.vehicles_web != null) {
                                if(pcNum == 0) {
                                    if(res.driver.vehicles_web.length > 0) {
                                        let obj = {
                                            name: 'Permiso de Circulación',
                                            expire: res.driver.vehicles_web[0].expiration,
                                            link: res.driver.vehicles_web[0].permit,
                                            type: resp.type,
                                            vehicle_id: resp.vehicle_id,
                                            id: resp.id
                                        }
                                        res.check_docs.push(obj)
                                    }
                                } else {
                                    if(res.driver.vehicles_web.length > 1) {
                                        let obj = {
                                            name: 'Permiso de Circulación #2',
                                            expire: res.driver.vehicles_web[1].expiration,
                                            link: res.driver.vehicles_web[1].permit,
                                            type: resp.type,
                                            vehicle_id: resp.vehicle_id,
                                            id: resp.id
                                        }
                                        res.check_docs.push(obj)
                                    }
                                }
                                pcNum += 1
                            }
                        } else if (resp.type == '5') {
                            let obj = {
                                name: 'Certificado de Antecedentes',
                                expire: res.driver.person.expiration_criminal_records,
                                link: res.driver.person.criminal_records,
                                type: resp.type,
                                id: resp.id
                            }
                            res.check_docs.push(obj)
                        } else if (resp.type == '6') {
                            let obj = {
                                name: 'Foto del Documento (RUT o Pasaporte)',
                                expire: res.driver.person.expiration_document,
                                link: res.driver.person.document_photo,
                                type: resp.type,
                                id: resp.id
                            }
                            res.check_docs.push(obj)
                        }
                    })
                    res.user = res.driver
                } else if (res.type == '10') {
                    let vNum = 0;
                    let pcNum = 0;
                    res.user.pending_documents.forEach(resp => {
                        if (resp.type == '1') {
                            let obj = {
                                name: 'Foto de Perfil',
                                expire: null,
                                link: res.user.person.photo,
                                type: resp.type,
                                id: resp.id
                            }
                            res.check_docs.push(obj)
                        } else if (resp.type == '2') {
                            let obj = {
                                name: 'Licencia de Conducir',
                                expire: res.user.person.expiration_license,
                                link: res.user.person.license,
                                type: resp.type,
                                id: resp.id
                            }
                            res.check_docs.push(obj)
                        } else if (resp.type == '3') {
                            if(res.user.vehicles_web != null) {
                                if(vNum == 0) {
                                    if(res.user.vehicles_web.length > 0) {
                                        let obj = {
                                            name: 'Foto del Vehiculo',
                                            expire: null,
                                            link: res.user.vehicles_web[0].photos[0].file,
                                            type: resp.type,
                                            vehicle_id: resp.vehicle_id,
                                            id: resp.id
                                        }
                                        res.check_docs.push(obj)
                                    }
                                } else {
                                    if(res.user.vehicles_web.length > 1) {
                                        let obj = {
                                            name: 'Foto del Vehiculo #2',
                                            expire: null,
                                            link: res.user.vehicles_web[1].photos[0].file,
                                            type: resp.type,
                                            vehicle_id: resp.vehicle_id,
                                            id: resp.id
                                        }
                                        res.check_docs.push(obj)
                                    }
                                }
                                vNum += 1
                            }
                        } else if (resp.type == '4') {
                            if(res.user.vehicles_web != null) {
                                if(pcNum == 0) {
                                    if(res.user.vehicles_web.length > 0) {
                                        let obj = {
                                            name: 'Permiso de Circulación',
                                            expire: res.user.vehicles_web[0].expiration,
                                            link: res.user.vehicles_web[0].permit,
                                            type: resp.type,
                                            vehicle_id: resp.vehicle_id,
                                            id: resp.id
                                        }
                                        res.check_docs.push(obj)
                                    }
                                } else {
                                    if(res.user.vehicles_web.length > 1) {
                                        let obj = {
                                            name: 'Permiso de Circulación #2',
                                            expire: res.user.vehicles_web[1].expiration,
                                            link: res.user.vehicles_web[1].permit,
                                            type: resp.type,
                                            vehicle_id: resp.vehicle_id,
                                            id: resp.id
                                        }
                                        res.check_docs.push(obj)
                                    }
                                }
                                pcNum += 1
                            }
                        } else if (resp.type == '5') {
                            let obj = {
                                name: 'Certificado de Antecedentes',
                                expire: res.user.person.expiration_criminal_records,
                                link: res.user.person.criminal_records,
                                type: resp.type,
                                id: resp.id
                            }
                            res.check_docs.push(obj)
                        } else if (resp.type == '6') {
                            let obj = {
                                name: 'Foto del Documento (RUT o Pasaporte)',
                                expire: res.user.person.expiration_document,
                                link: res.user.person.document_photo,
                                type: resp.type,
                                id: resp.id
                            }
                            res.check_docs.push(obj)
                        }
                    })
                }
                arr.push(res)
            })
            return arr
        }
    },
    methods:{

        _view(data, action){
            this.modal.title = "Ver Notificaciones";
            this.modal.type.action = action;
            this.modal.type.confirm = false;
            this.modal.type.check = false;
            this.modal.data = data;
            this.modal.init.open();
        },

        _edit(data, action){
            this.$emit('edit', {data: data, option: 1});
        },

        _confirm(data, action){
            this.modal.title = "Eliminar Notificaciones";
            this.modal.type.action = action;
            this.modal.type.confirm = true;
            this.modal.type.check = false;
            this.modal.data = data;
            this.modal.init.open();
        },

        _checkDocs(data, action){
            this.modal.checks = []
            this.modal.title = "Documentos enviados";
            this.modal.type.action = action;
            this.modal.type.confirm = false;
            this.modal.type.check = true;
            this.modal.data = data;
            this.modal.init.open();
        },

        _delete() {
            let index = this.setTable.findIndex(e => {
                return e.id == this.modal.data.id
            })
            this.modal.init.close();
            axios.delete(`admin/notifications/${this.modal.data.id}`)
                .then(res => {
                    this.setTable.splice(index, 1)
                    swal('', 'Se ha eliminado la notificación', "success");
                    this._back();
                })
                .catch(err => {
                    swal('', 'Disculpe, ha ocurrido un error', "error")
                });
        },
        _addCheck(type, status, id, vehicle_id) {
            if (status == '1') {
                let check = document.querySelector(`#reject-check-${id}`)
                check.checked = false;
            } else {
                let check = document.querySelector(`#accept-check-${id}`)
                check.checked = false;
            }
            let obj = {
                status: status,
                type: type,
                id: id,
                vehicle_id: vehicle_id
            }
            let found = this.modal.checks.some((item) => {
                return item.id == obj.id
            })
            if (!found) {
                this.modal.checks.push(obj)
            } else {
                let index = this.modal.checks.map(function(x) {return x.id; }).indexOf(obj.id)
                if (this.modal.checks[index].status == obj.status) {
                    this.modal.checks.splice(index, 1);
                } else {
                    this.modal.checks[index].status = obj.status;
                }
            }
        },
        _check() {
            if (this.modal.checks.length > 0) {
                axios.post(`admin/users/users-check-documents/${this.modal.data.driver.id}`, {checks: this.modal.checks})
                    .then(res => {
                        if (res.data.result) {
                            swal('', res.data.msg, "success");
                            let countR = 0
                            let countA = 0
                            res.data.rejects.forEach(resp => {
                                if (resp.status == '2') {
                                    countR += 1
                                } else if (resp.status == '1') {
                                    countA += 1
                                }
                            })
                            this.modal.data.driver.pending_documents = res.data.docs
                            this.table.forEach(rest => {
                                if (rest.type == '9' && rest.driver_id == this.modal.data.driver.id) {
                                    rest.driver.pending_documents = res.data.docs
                                }
                            })
                            if (countR > 0) {
                                SocketApp.emit('notification', {
                                        type: 8,
                                        user_id: this.modal.data.driver.id
                                })
                            }
                            if (countR == 0 && countA == res.data.docs.length) {
                                SocketApp.emit('notification', {
                                        type: 7,
                                        user_id: this.modal.data.driver.id
                                })
                            }
                            let checks = document.querySelectorAll('input[type="checkbox"]');
                            for(let i =0; i< checks.length;i++){
                                let check = checks[i];
                                if(!check.disabled){
                                    check.checked = false;
                                }
                            }
                            this.modal.checks = []
                            this.modal.init.close()
                            this.sortTable();
                        }
                    })
                    .catch(err => {
                        console.log(err)
                        swal('', 'Disculpe, ha ocurrido un error', "error")
                    })
            } else {
                let checks = document.querySelectorAll('input[type="checkbox"]');
                for(let i =0; i< checks.length;i++){
                    let check = checks[i];
                    if(!check.disabled){
                        check.checked = false;
                    }
                }
                this.modal.checks = []
                this.modal.init.close()
            }
        },
        _back(fast = false){
            if(fast){
                this.$emit('back', 0);
            }else{
                setTimeout(() => {
                    this.$emit('back', 0)
                }, 2000);
            }
        },

        sortTable() {
            this.table.sort(function(a, b) {
                let TimeA = moment(a.created_at, 'YYYY-MM-DD HH:mm:ss')
                let TimeB = moment(b.created_at, 'YYYY-MM-DD HH:mm:ss')
                if (TimeA < TimeB) {
                    return 1
                }
                if (TimeA > TimeB) {
                    return -1
                }
                return 0
            });
        }
    },
    mounted () {
        this.$bus.$emit('set-notification', false)
        this.$bus.$emit('set-chat', true)
        this.modal.init = M.Modal.init(document.querySelector('.modal'));
        SocketApp.on('notification', notif => {
            console.log('NOTIFY', notif)
            if (notif.type == '9') {
                let index = this.table.findIndex(x => x.driver_id == notif.driver_id)
                let vNum = 0
                let pcNum = 0
                // console.log(index, 'index index')
                if (index > -1) {
                    // console.log(notif.driver.person, 'person')
                    // console.log(notif.driver.person.photo, 'photo person')
                    this.table[index].driver.pending_documents = notif.driver.pending_documents
                    this.table[index].check_docs = []
                    this.table[index].driver.pending_documents.forEach(resp => {
                        if (resp.type == '1') {
                            let obj = {
                                name: 'Foto de Perfil',
                                expire: null,
                                link: notif.driver.person.photo,
                                type: resp.type,
                                id: resp.id
                            }
                            this.table[index].check_docs.push(obj)
                        } else if (resp.type == '2') {
                            let obj = {
                                name: 'Licencia de Conducir',
                                expire: notif.driver.person.expiration_license,
                                link: notif.driver.person.license,
                                type: resp.type,
                                id: resp.id
                            }
                            this.table[index].check_docs.push(obj)
                        } else if (resp.type == '3') {
                            if(notif.driver.vehicles_web != null) {
                                if(vNum == 0) {
                                    if(notif.driver.vehicles_web.length > 0) {
                                        let obj = {
                                            name: 'Foto del Vehiculo',
                                            expire: null,
                                            link: notif.driver.vehicles_web[0].photos[0].file,
                                            type: resp.type,
                                            vehicle_id: resp.vehicle_id,
                                            id: resp.id
                                        }
                                        this.table[index].check_docs.push(obj)
                                    }
                                } else {
                                    if(notif.driver.vehicles_web.length > 1) {
                                        let obj = {
                                            name: 'Foto del Vehiculo #2',
                                            expire: null,
                                            link: notif.driver.vehicles_web[1].photos[0].file,
                                            type: resp.type,
                                            vehicle_id: resp.vehicle_id,
                                            id: resp.id
                                        }
                                        this.table[index].check_docs.push(obj)
                                    }
                                }
                                vNum += 1
                            }
                        } else if (resp.type == '4') {
                            if(notif.driver.vehicles_web != null) {
                                if(pcNum == 0) {
                                    if(notif.driver.vehicles_web.length > 0) {
                                        let obj = {
                                            name: 'Permiso de Circulación',
                                            expire: notif.driver.vehicles_web[0].expiration,
                                            link: notif.driver.vehicles_web[0].permit,
                                            type: resp.type,
                                            vehicle_id: resp.vehicle_id,
                                            id: resp.id
                                        }
                                        this.table[index].check_docs.push(obj)
                                    }
                                } else {
                                    if(notif.driver.vehicles_web.length > 1) {
                                        let obj = {
                                            name: 'Permiso de Circulación',
                                            expire: notif.driver.vehicles_web[1].expiration,
                                            link: notif.driver.vehicles_web[1].permit,
                                            type: resp.type,
                                            vehicle_id: resp.vehicle_id,
                                            id: resp.id
                                        }
                                        this.table[index].check_docs.push(obj)
                                    }
                                }
                                pcNum += 1
                            }
                        } else if (resp.type == '5') {
                            let obj = {
                                name: 'Certificado de Antecedentes',
                                expire: notif.driver.person.expiration_criminal_records,
                                link: notif.driver.person.criminal_records,
                                type: resp.type,
                                id: resp.id
                            }
                            this.table[index].check_docs.push(obj)
                        } else if (resp.type == '6') {
                            let obj = {
                                name: 'Foto del Documento (RUT o Pasaporte)',
                                expire: notif.driver.person.expiration_document,
                                link: notif.driver.person.document_photo,
                                type: resp.type,
                                id: resp.id
                            }
                            this.table[index].check_docs.push(obj)
                        }
                    })
                    // console.log(this.table[index].check_docs, 'check docs')
                    setTimeout(() => {
                        this.sortTable()
                    }, 250)
                    setTimeout(() => {
                        this.sortTable()
                    }, 500)
                } else {
                    // console.log('unshift')
                    this.table.unshift(notif)
                }
                
            }
            if (notif.type == '10') {
                let index = this.table.findIndex(x => x.user_id == notif.user_id)
                let vNum = 0
                let pcNum = 0
                if (index > -1) {
                    this.table[index].user.pending_documents = notif.user.pending_documents
                    this.table[index].check_docs = []
                    this.table[index].user.pending_documents.forEach(resp => {
                        if (resp.type == '1') {
                            let obj = {
                                name: 'Foto de Perfil',
                                expire: null,
                                link: notif.user.person.photo,
                                type: resp.type,
                                id: resp.id
                            }
                            this.table[index].check_docs.push(obj)
                        } else if (resp.type == '2') {
                            let obj = {
                                name: 'Licencia de Conducir',
                                expire: notif.user.person.expiration_license,
                                link: notif.user.person.license,
                                type: resp.type,
                                id: resp.id
                            }
                            this.table[index].check_docs.push(obj)
                        } else if (resp.type == '3') {
                            if(notif.user.vehicles_web != null) {
                                if(vNum == 0) {
                                    if(notif.user.vehicles_web.length > 0) {
                                        let obj = {
                                            name: 'Foto del Vehiculo',
                                            expire: null,
                                            link: notif.user.vehicles_web[0].photos[0].file,
                                            type: resp.type,
                                            vehicle_id: resp.vehicle_id,
                                            id: resp.id
                                        }
                                        this.table[index].check_docs.push(obj)
                                    }
                                } else {
                                    if(notif.user.vehicles_web.length > 1) {
                                        let obj = {
                                            name: 'Foto del Vehiculo #2',
                                            expire: null,
                                            link: notif.user.vehicles_web[1].photos[0].file,
                                            type: resp.type,
                                            vehicle_id: resp.vehicle_id,
                                            id: resp.id
                                        }
                                        this.table[index].check_docs.push(obj)
                                    }
                                }
                                vNum += 1
                            }
                        } else if (resp.type == '4') {
                            if(notif.user.vehicles_web != null) {
                                if(pcNum == 0) {
                                    if(notif.user.vehicles_web.length > 0) {
                                        let obj = {
                                            name: 'Permiso de Circulación',
                                            expire: notif.user.vehicles_web[0].expiration,
                                            link: notif.user.vehicles_web[0].permit,
                                            type: resp.type,
                                            vehicle_id: resp.vehicle_id,
                                            id: resp.id
                                        }
                                        this.table[index].check_docs.push(obj)
                                    }
                                } else {
                                    if(notif.user.vehicles_web.length > 1) {
                                        let obj = {
                                            name: 'Permiso de Circulación #2',
                                            expire: notif.user.vehicles_web[1].expiration,
                                            link: notif.user.vehicles_web[1].permit,
                                            type: resp.type,
                                            vehicle_id: resp.vehicle_id,
                                            id: resp.id
                                        }
                                        this.table[index].check_docs.push(obj)
                                    }
                                }
                                pcNum += 1
                            }
                        } else if (resp.type == '5') {
                            let obj = {
                                name: 'Certificado de Antecedentes',
                                expire: notif.user.person.expiration_criminal_records,
                                link: notif.user.person.criminal_records,
                                type: resp.type,
                                id: resp.id
                            }
                            this.table[index].check_docs.push(obj)
                        } else if (resp.type == '6') {
                            let obj = {
                                name: 'Foto del Documento (RUT o Pasaporte)',
                                expire: notif.user.person.expiration_document,
                                link: notif.user.person.document_photo,
                                type: resp.type,
                                id: resp.id
                            }
                            this.table[index].check_docs.push(obj)
                        }
                    })
                    setTimeout(() => {
                        this.sortTable()
                    }, 250)
                    setTimeout(() => {
                        this.sortTable()
                    }, 500)
                } else {
                    this.table.unshift(notif)
                }
                
            }
            if (notif.type == '11') {
                notif.motive = 'Nuevo vehículo'
                notif.description = notif.description.replace(':name', `${notif.driver.person.name} ${notif.driver.person.lastname}`)
                this.table.unshift(notif)
            }
        })
        setTimeout(() => {
            this.sortTable()
        }, 250)
        setTimeout(() => {
            this.sortTable()
        }, 500)

        this.urlBase = urlBase
    }
}
</script>
