<template id="template-users-index">

    <article class="row">
        <div class="col s12 ">
            <div class="row">
                <div class="col s12 center-align">
                    <h1 v-if="options == 0">Pagos por OneClick</h1>
                    <h1 v-if="options == 1">Creación de Pagos por OneClick</h1>
                    <h1 v-if="options == 2">Consultar Pagos por OneClick</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="col s12 m6 offset-m3" v-if="options == 0">
                    <a href="#!" class="btn btn--block btn--option" @click="options = 1">
                        Creación de Pagos por OneClick
                    </a>

                    <a href="#!" class="btn btn--block btn--option" @click="options = 2">
                        Consultar Pagos por OneClick
                    </a>
                </div>
            </div>

            <div class="row" v-if="options != 0">
                <div class="col s12">
                    <a href="#!" class="btn btn-back" @click="options = 0">
                        <div class="btn-back__container">
                            <label class="label-back-cont">Volver</label>
                        </div>
                    </a>
                </div>
            </div>


            <div class="row">
                <div class="col s12">
                    <!-- <webpay-form v-if="options === 1" :url="url" v-on:back="_resetView"></webpay-form> -->
            
                    <read-webpay v-if="options === 2" :url="url" v-on:back="_resetView" :webpays="webpays"></read-webpay>

                </div>
            </div>
        

        </div>

    </article>

</template>

<script>

import ReadWebpay from './ReadWebpay.vue';

export default {
    template: "#template-users-index",
    components: { ReadWebpay },
    props: {
        'url': {
            type: String,
            default: ""
        },
        webpays: {
            type: Array,
            default () {
                return []
            }
        },
        
    },
    data () {
        return {
            options: 2,
            modal: {
                init: {},
                title: "",
                type: {
                    confirm: false,
                    action: 'view'
                },
                data: {
                    name: ''
                }
            }
        }
    },
    methods: {
        _resetView(option){
            this.options = option;
        },
        
    },
    mounted () {
        this.modal.init = M.Modal.init(document.querySelector('.modal'));
    }
}
</script>
