<template id="template-student">
    <card-main>
        <card-content>
            <article class="row">
                
                <!-- <div class="col s4">
                    <select name="" id="" class="browser-default" v-model="filter">
                        <option value="">Todos</option>
                        <option value="4">Temas de Soporte</option>
                    </select>               
                </div> -->

                <div class="col s12">
                    <table-byte :set-table="webpays" :filters="['id','user.person.name', 'user.person.lastname', 'route_id', 'buyOrder']">

                        <table-row slot="table-head" slot-scope="{ item }">
                            <table-head>Identificación</table-head>
                            <table-head>Ruta</table-head>
                            <table-head>Usuario</table-head>
                            <table-head>Orden de Pago</table-head>
                            <table-head>Acciones</table-head>
                        </table-row>

                        <table-row slot="table-row" slot-scope="{ item }">
                            <table-cell>{{ item.id }}</table-cell>
                            <table-cell>{{ item.route_id }} </table-cell>
                            <table-cell>{{ item.user.person.name }} {{ item.user.person.lastname }} </table-cell>
                            <table-cell>{{ item.buyOrder }} </table-cell>
                            <table-cell>
<!--                                 <a title="Editar" :href="`${url}/${item.id}/edit`" class="btn-action">
                                    <i class="material-icons prefix">edit</i>
                                </a> -->

                                <a title="Reversar" href="#!" class="btn-action" @click="_activate(item)">
                                    <i class="material-icons prefix">attach_money</i>
                                </a>
                            </table-cell>

                        </table-row>

                        <table-row slot="empty-rows">
                            <table-cell colspan="5">
                                No se encontraron registros.
                            </table-cell>
                        </table-row>

                    </table-byte>

                    <byte-modal v-on:presscancel="_close" :confirm="modal.type.confirm">
                        <template v-if="modal.type.action == 'view' && modal.data.person">
                            <template v-if="modal.data.level ==  '4'">
                                <div class="col s12">
                                    <h3>Datos Personales</h3>
                                </div>
                                <div class="col s9">
                                    <div class="col s12">
                                        <span>Nombre: </span> {{ modal.data.person.name }} {{ modal.data.person.lastname }}
                                    </div>
                                    <div class="col s12">
                                        <span>Correo electronico: </span> {{ modal.data.email }}
                                    </div>
                                    <div class="col s12">
                                        <span>Estado: </span> {{ modal.data.status == '0' ? 'Inactivo':'Activo' }}
                                    </div>
                                </div>
                            </template>
                        </template>
                    </byte-modal>
                </div>

            </article>
        </card-content>
    </card-main>
</template>

<script>
    export default {
        template: "#template-student",
        props: {
            url: String,
            webpays: {
                type: Array,
                default () {
                    return []
                }
            }
        },
        data () {
            return {
                filter: '',
                modal: {
                    init: {},
                    title: "",
                    type: {
                        confirm: false,
                        action: 'view'
                    },
                    data: {
                        id: '',
                        name: ''
                    }
                }
            }
        },
        methods: {
            _back(){
                this.$emit('back', 0);
            },
            _view(data, action){
                this.modal.title = "Ver Pago OneClick";
                this.modal.type.action = action;
                this.modal.type.confirm = false;
                this.modal.data = data;
                this.modal.init.open();
                setTimeout(() => {
                    var elems = document.querySelectorAll('.collapsible');
                    var instances = M.Collapsible.init(elems);
                }, 300)
                
            },
            _initCollabsible () {
                console.log('asd')
            },
            _destroyCollabsible () {
                instances.destroy()
            },
            _close() {
                this.modal.init.close()
                this.modal.title = "";
                this.modal.type.action = 'view';
                this.modal.type.confirm = false;
                this.modal.data = {};
            },
            _activate(data){

                axios.post(`admin/webpay-reverse/${data.buyOrder}`)
                    .then(res => {
                        if (res.data.result) {
                            data.status = res.data.user
                            swal('', "Se ha reversado el pago de manera exitosa", "success")
                        } else {
                            swal('', "No fue posible reversar el pago", "error")
                        }
                    })
                    .catch(err => {
                        swal('', 'Disculpe, ha ocurrido un error', "error")
                    });
            },
        },
        mounted () {
            this.modal.init = M.Modal.init(document.querySelector('.modal'));
        }
    }
</script>