<template>
  <article class="row">
    <div class="col s12">
      <div class="col s12">
        <card-main>
          <card-content>
            <div class="row">
              <div class="col s12">
                <table-byte
                  :set-table="table"
                  :filters="['id','user.person.name', 'user.person.lastname']"
                >
                  <table-row slot="table-head">
                    <table-head>#</table-head>
                    <table-head>Fecha</table-head>
                    <table-head>Hora</table-head>
                    <table-head>Conductor</table-head>
                    <table-head>Estado</table-head>
                    <table-head>Conductores que acudieron</table-head>
                    <table-head>Acciones</table-head>
                  </table-row>

                  <table-row slot="table-row" slot-scope="{ item }">
                    <table-cell>{{ item.id }}</table-cell>
                    <table-cell>{{ item.created_at | date }}</table-cell>
                    <table-cell>{{ item.created_at | datetime }}</table-cell>
                    <table-cell>{{ item.user.person.name }} {{ item.user.person.lastname }}</table-cell>
                    <table-cell>{{ getStringStatus(item.status) }}</table-cell>
                    <table-cell>{{ getStringAccudients(item) }}</table-cell>
                    <table-cell>
                      <a
                        title="Ver Detalles"
                        class="btn-action"
                        @click.prevent="_view(item, 'view')"
                      >
                        <i class="material-icons prefix">remove_red_eye</i>
                      </a>
                    </table-cell>
                  </table-row>

                  <table-row slot="empty-rows">
                    <table-cell colspan="7">No se encontraron registros.</table-cell>
                  </table-row>
                </table-byte>
              </div>

              <byte-modal>
                <template v-if="panic">
                  <template v-if="panic.details.length > 0">
                    <div class="col s12 modal-title">
                      <h3>Conductores que acudieron</h3>
                    </div>
                    <div class="col s12">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Conductor</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Respuesta</th>
                            <th>Comentario</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(detail, i) of panic.details" :key="i">
                            <td>{{ detail.user.person.name + ' ' + detail.user.person.lastname }}</td>
                            <td>{{ detail.updated_at | date }}</td>
                            <td>{{ detail.updated_at | datetime }}</td>
                            <td>{{ getResponse(detail) }}</td>
                            <td>{{ detail.comment || '-' }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </template>
                  <div class="col s12 modal-title">
                    <h3>Ubicación donde se emitio la señal de alerta</h3>
                  </div>
                  <div class="col s12">
                    <div id="map"></div>
                  </div>
                </template>
              </byte-modal>
            </div>
          </card-content>
        </card-main>
      </div>
    </div>
  </article>
</template>

<script>
import moment from "moment";
const STATUS_SOLVED = 0;

export default {
  name: "panic-index",
  props: ["panics"],
  data() {
    return {
      table: [],
      panic: null,
      map: null,
      zoom: 15
    };
  },
  filters: {
    datetime(date) {
      return moment(date, "YYYY-MM-DD HH:mm:ss").format("HH:mm:ss A");
    }
  },
  methods: {
    getStringStatus(status) {
      return status === STATUS_SOLVED ? "Resuelto" : "En Progreso";
    },
    getStringAccudients({ status, details }) {
      const num = details.length;
      if (status === STATUS_SOLVED) {
        return num === 0 ? "Nadie acudió" : `${num} conductores acudieron`;
      } else {
        return num === 0 ? "Nadie ha acudido" : `${num} conductores acudieron`;
      }
    },
    getResponse({ response }) {
      if (!response) {
        return "-";
      }

      return response.name;
    },
    _view(item) {
      this.panic = item;
      this.modal.open();
      setTimeout(this.generateMap, 250);
    },
    generateMap() {
      let center = {
        lat: parseFloat(this.panic.latitude),
        lng: parseFloat(this.panic.longitude)
      };
      this.map = new google.maps.Map(document.getElementById("map"), {
        center,
        zoom: this.zoom
      });

      let constentString = `<b>Ubícación del conductor</b>`;

      let infoWindow = new google.maps.InfoWindow({
        content: constentString
      });

      let marker = new google.maps.Marker({
        map: this.map,
        draggable: false,
        position: center,
        title: "Conductor afectado"
      });

      marker.addListener("click", () => {
        infoWindow.open(this.map, marker);
      });
    }
  },
  mounted() {
    this.table = JSON.parse(this.panics);
    this.modal = M.Modal.init(document.querySelector(".modal"));
  }
};
</script>

<style>
#map {
  height: 200px;
}
/* .modal {
  width: 70%;
  max-height: 80%;
} */
</style>