<template id="template-login-form">
    <article class="row">
        <div class="col s12">

            <a id="form-logo-container" href="#!" class="form-brand-logo">
                <img :src="logo" alt="" width="380px">
            </a>

            <card-main id="action-form">
                <card-content>
                    <card-title>
                        <h1 class="no-margin">¡Bienvenido a Bogui!</h1>
                    </card-title>

                    <form id="login-form" @submit.prevent="login">
                        <div class="input-field">
                            <i class="material-icons prefix">mail</i>
                            <input id="email" type="text" class="browser-default input-impegno" placeholder="Correo Electrónico" v-model="form.email">
                        </div>

                        <div class="input-field">
                            <i class="material-icons prefix">lock_outline</i>
                            <input id="password" type="password" class="browser-default input-impegno" placeholder="Contraseña" v-model="form.password">
                        </div>

                        <div class="center-align">
                            <button class="btn btn-continue" type="submit" name="action">Iniciar Sesión</button>
                        </div>
                    </form>
                </card-content>
            </card-main>
        </div>
    </article>
    
</template>

<script>
export default {
    template: "#template-login-form",
    props: {
        url: {
            type: String,
            default: ""
        },
        logo: {
            type: String,
            default: ""
        }
    },
    data() {
        return {
            form: {
                email: "",
                password: ""
            }
        }
    },
    methods:{
        login(){
            axios.post('login', this.form)
                .then(res => {
                    console.log(res.data, 'res.data', res, 'res')
                    if(res.data.result){
                        window.location = res.data.location;
                    }else{
                        swal('', res.data.message, 'error');
                    }
                })
                .catch(err => {
                    let message = "Disculpe, ha ocurrido un error";

                    if(err.response.status === 422){
                        message = err.response.data;
                    }

                    swal("", message, "error");
                });
        }
    }
}
</script>
