<template id="template-teacher-form">
    <article class="col s12">

        <div class="row">
            <div class="col s12">
                <a href="#!" class="btn btn-back" @click="_back">
                    <div class="btn-back__container">
                        <label class="label-back-cont">Volver</label>
                    </div>
                </a>
            </div>
        </div>

        <card-main>
            <card-content>
                <div class="row">
                    <div id="profile-assigned" class="col s12">
                        <h5 class="center-align subtitle">Datos del Vehículo</h5>
                        
                        <div id="information-vehicle" class="col s12">
                            <div class="input-field col s12 m6">
                                <input id="brand" type="text" class="validate" v-model="form.brand">
                                <label for="brand" class="active">Marca</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="model" type="text" class="validate" v-model="form.model">
                                <label for="model" class="active">Modelo</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="plate" type="text" class="validate" v-model="form.plate">
                                <label for="plate" class="active">Placa</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="year" type="number" class="validate" v-model="form.year">
                                <label for="year" class="active">Año</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="expiration" type="text" class="datepicker validate" v-model="form.expiration">
                                <label for="expiration" class="active">Expiración de circulación</label>
                            </div>
                        </div>

                        <div class="col s12">
                                <div class="col s12 m6">
                                    <label for="">Fotografía de Vehiculo</label>
                                    <input-document-edit :styles="{ margin: 'unset' }" v-on:file="_vehicle_photo" :file="vehicle_photo" image :type-file="'vehicle_photo'" :identification="form.id"></input-document-edit>
                                </div>
                                <div class="col s12 m6">
                                    <label for="">Permiso de circulación</label>
                                    <input-document-edit :styles="{ margin: 'unset' }" v-on:file="_permission_photo" :file="permission_photo" image :type-file="'permission_photo'" :identification="form.id"></input-document-edit>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12">
                            <h5 class="center-align subtitle">Seleccione las Categorías a asignar a este conductor</h5>
                        </div>
                    </div>
                    <div class="col s12 m12 no-padding">
                        <br>
                         <!-- Sedan -->
                        <div class="col s12 m12">Categoría Sedán (Puede recibir viajes solicitados como Sedán)</div>
                        <div class="col s12 m12">
                            <p>
                                <input v-if="form.deleted_at == null || form.deleted_at == ''" type="checkbox" id="category-sedan" class="filled-in" :value="1" v-model="form.vehicle_categories" @change="checkCategories($event.target.value)">
                                <input v-else type="checkbox" id="category-sedan" class="filled-in" :value="1" disabled="disabled">
                                <label for="category-sedan" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>
                        <br>
                        <!-- SUV -->
                        <div class="col s12 m12">Categoría SUV (Puede recibir viajes solicitados como SUV y Sedán)</div>
                        <div class="col s12 m12">
                            <p>
                                <input v-if="form.deleted_at == null || form.deleted_at == ''" type="checkbox" id="category-suv" class="filled-in" :value="2" v-model="form.vehicle_categories" @change="checkCategories($event.target.value)">
                                <input v-else type="checkbox" id="category-suv" class="filled-in" :value="2" disabled="disabled">
                                <label for="category-suv" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>
                        <br>
                        <!-- Van -->
                        <!-- <div class="col s12 m12">Categoría Van (Puede recibir viajes solicitados como Van y SUV)</div>
                        <div class="col s12 m12">
                            <p>
                                <input v-if="form.deleted_at == null || form.deleted_at == ''" type="checkbox" id="category-van" class="filled-in" :value="3" v-model="form.vehicle_categories" @change="checkCategories($event.target.value)">
                                <input v-else type="checkbox" id="category-van" class="filled-in" :value="3" disabled="disabled">
                                <label for="category-van" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div> -->
                        <!-- Moto -->
                        <div class="col s12 m12">Categoría Moto (Puede recibir viajes solicitados como Moto)</div>
                        <div class="col s12 m12">
                            <p>
                                <input v-if="form.deleted_at == null || form.deleted_at == ''" type="checkbox" id="category-bike" class="filled-in" :value="4" v-model="form.vehicle_categories" @change="checkCategories($event.target.value)">
                                <input v-else type="checkbox" id="category-bike" class="filled-in" :value="4" disabled="disabled">
                                <label for="category-bike" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="row" v-if="form.deleted_at == null || form.deleted_at == ''">
                    <div class="col s12 center-align">
                        <button class="btn btn-success" @click="store" :disabled="desactivar">Guardar registro</button>
                    </div>
                </div>    
            </card-content>
        </card-main>
    </article>
</template>

<style lang="scss" scoped>
    .days{
        margin-top: 20px;
        margin-bottom: 0;

        p{
            margin: 0;
        }
    }
    .professional_information{
        display: flex;
        align-items: center;

        &:first-child{
            margin-top: 1rem;
        }

        .col{
            margin: 0;
        }
    }

    #information-vehicle label {
        color: #000 !important;
    }

    .input-filling{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .materialize-textarea{
        height: 3rem !important;
    }

    .assignment-content{
        padding-top: 1.7rem !important;
        padding-bottom: 1.7rem !important;
    }

    .input-field-component{
        width: 50% !important;
        margin: auto;

        .center-add-image{
            display: flex;
            justify-content: center
        }
        .preview-img{
            display: flex;
            justify-content: center;
            height: 180px;
            margin-bottom: .9rem;

            .no-image{
                flex: 0 1 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 5rem;
                background: #fff;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
</style>


<script>
export default {
    template: "#template-teacher-form",
    props: {
        url: {
            type: String,
            default: ""
        },
        'set-form': {
            type: Object,
            default: function() {
                return {};
            }
        },
        'current-user': {
            default: {}
        },
        title: {
            type: String,
            default: ""
        },
    },
    data() {
        return {
            desactivar: false,
            form: {
                brand: "",
                model: "",
                plate: "",
                year: "",
                expiration: "",
                photos: [],
                photo: '',
                vehicle_categories: [],
                created_at: '',
                deleted_at: '',
                user_id: ''
            },
            user: {},
            vehicle_photo: "",
            permission_photo: "",
            uploadUrl: "admin/vehicles/upload-files/"
        }
    },
    methods:{

        _vehicle_photo (documento) {
            this.form.vehicle_photo = documento.file.name;
            this.form.vehicle_photo_send = documento.file;
        },
        
        _permission_photo (documento) {
            this.form.permission_photo = documento.file.name;
            this.form.permission_photo_send = documento.file;
        },

        store(){
            this.desactivar = true
            if(typeof this.form.id === "undefined"){
                this.register();
            }else{
                this.edit();
            }
        },
        
        register (){
            
            showLoading();

            axios.post('/admin/users/vehicles', this.convertToFormData())
                .then(res => {
                    quitLoading();

                    if(res.data.result){
                        swal({
                            title: "",
                            text: `Se ha registrado el Vehículo con éxito`,
                            timer: 2000,
                            showConfirmButton: false,
                            type: "success"
                        });

                        this._back(false, res.data.vehicle);
                    }
                })
                .catch(err => {
                    quitLoading();
                    this.desactivar = false
                    let message = "Disculpe, ha ocurrido un error";
                    if(err.response.status === 422){
                        message = err.response.data.error;
                    }

                    swal("", message, "error");
                });
        },

        edit () {

            let cero = this.form.vehicle_categories.find( e => {
                return e == 0;
            });

            let condicion = cero != undefined ? 1 : 0;

            if (this.form.vehicle_categories.length<=condicion) {
                swal({
                    title: "",
                    text: `Disculpe, debe asignar al menos una Categoría`,
                    timer: 2000,
                    showConfirmButton: true,
                    type: "error"
                });
                this.desactivar = false;
                return;
            }

            this.form._method = "PUT";

            axios.post(`admin/users/vehicles/${this.form.id}`, this.convertToFormData())
                .then(res => {
                    quitLoading();

                    // socket
                    SocketApp.emit('update-driver', {id: this.form.user_id});

                    if(res.data.result){
                        swal({
                            title: "",
                            text: `Se ha editado el Vehiculo con éxito`,
                            timer: 2000,
                            showConfirmButton: false,
                            type: "success"
                        });

                        this._back(false, res.data.vehicle);
                    }
                })
                .catch(err => {
                    quitLoading();
                    this.desactivar = false
                    let message = "Disculpe, ha ocurrido un error";

                    if(err.response.status === 422){
                        message = err.response.data.error;
                    }

                    swal("", message, "error");
                });
        },

        checkCategories(value) {
            console.log(this.form.vehicle_categories, 'this.form.vehicle_categories bfr')
            if(value == '4') {
                if(this.form.vehicle_categories.includes(1) || this.form.vehicle_categories.includes(2) || this.form.vehicle_categories.includes(3)) {
                    let index = this.form.vehicle_categories.indexOf(value)
                    this.form.vehicle_categories.splice(index,1)
                    let message = 'La categoria Moto es excluyente con el resto de las categorias'
                    swal("", message, "error");
                }
            } else {
                if(this.form.vehicle_categories.includes(4)) {
                    let index = this.form.vehicle_categories.indexOf(value)
                    this.form.vehicle_categories.splice(index,1)
                    let message = 'No puede asignarle multiple categorias a un vehiculo tipo Moto'
                    swal("", message, "error");
                }
            }
            console.log(this.form.vehicle_categories, 'this.form.vehicle_categories aft')
        },

        _back(fast = false, data = {}){
            if(fast){
                this.$emit('back', 2, data);
            }else{
                setTimeout(() => {
                    this.$emit('back', 2, data);
                }, 2000)
            }
        },

        convertToFormData(){
            let formData = new FormData();

            Object.getOwnPropertyNames(this.form).forEach(key => {
                if(key === "vehicle_categories")
                {
                    formData.append(key, JSON.stringify(this.form[key]));
                }if(key === "vehicle_photo"){
                    formData.append(key, this.form[key]);
                }else if(key != "__ob__"){
                    if(this.form[key] != null && this.form[key] != 'null') {
                        formData.append(key, this.form[key]);
                    }
                }
            });

            formData.append('user_id', this.user.id)

            return formData;
        },
    },
    mounted(){

        $('.datepicker').datepicker({
            minDate: new Date(),
            format: 'dd-mm-yyyy',
            i18n: {
                months: [
                    'Enero',
                    'Febrero',
                    'Marzo',
                    'Abril',
                    'Mayo',
                    'Junio',
                    'Julio',
                    'Agosto',
                    'Septiembre',
                    'Octubre',
                    'Noviembre',
                    'Diciembre'
                ],
                monthsShort: [
                    'Ene',
                    'Feb',
                    'Mar',
                    'Abr',
                    'May',
                    'Jun',
                    'Jul',
                    'Ago',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dic'
                ],
                weekdaysShort: [
                    'Dom', 
                    'Lun', 
                    'Mar', 
                    'Mié', 
                    'Jue', 
                    'Vie', 
                    'Sab' 
                ]
            }
        });

        this.user = this.currentUser

        if(Object.entries(this.setForm).length > 0){

            Object.getOwnPropertyNames(this.setForm).forEach(key => {
                
                if(key == 'vehicle_categories'){

                    this.setForm[key].forEach(el => {
                        this.form.vehicle_categories.push(el.vehicle_type_id);
                    });

                } else {
                    this.form[key] = this.setForm[key];
                }
            });
        }

        if (this.form.permit != null) {

            this.permission_photo = urlBase + this.form.permit
        }

        if (this.form.photos.length > 0) {

            this.form.vehicle_photo = this.form.photos[0].file
            this.vehicle_photo = urlBase + this.form.photos[0].file
        }
    }
}
</script>
