<template id="template-users-index">

    <article class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12 center-align">
                    <h1 v-if="options === 0">Vehiculos del Conductor {{user.person.name }} {{user.person.lastname}}</h1>
                    <h1 v-if="options === 1">Crear Nuevo Vehiculo</h1>
                    <h1 v-if="options === 2">Consultar Vehiculos</h1>
                </div>
            </div>
        
            <div class="row">
                <div class="col s12 m6 offset-m3" v-if="options === 0">
                    <a href="#!" class="btn btn--block btn--option" @click="options = 1">
                        Crear nuevo vehiculo
                    </a>

                    <a href="#!" class="btn btn--block btn--option" @click="options = 2">
                        Consultar vehiculos
                    </a>
                </div>

            </div>

            <div class="row">
                <div class="col s12">
                    <a href="#!" class="btn btn-back" @click="returnPage">
                        <div class="btn-back__container">
                            <label class="label-back-cont">Volver</label>
                        </div>
                    </a>
                </div>
            </div>

            
            <vehicles-form v-if="options === 1" :url="url" v-on:back="_resetView" :current-user="user"></vehicles-form>

            <vehicles-read v-if="options === 2" :url="url" :old-option="oldOption" :set-table="dataTable" :user="user" v-on:back="_resetView" v-on:edit="_edit"></vehicles-read>

            <vehicles-form v-if="options === 3" :url="url" v-on:back="_resetView" :set-form="setForm" :current-user="user"></vehicles-form>

                
        </div>
    </article>

</template>

<script>
export default {
    template: "#template-users-index",
    props: {
        'url': {
            type: String,
            default: ""
        },
        vehicles: {
            type: Array,
            default(){
                return []
            }
        },
        'set-table': {
            type: Array,
            default(){
                return []
            }
        },
        'current-user': {
            default: {}
        },
        'old-option': {
            type: Number,
            default: 0
        }
    },
    data(){
        return {
            options: 0,
            'set-form': {},
            dataTable: [],
            user: {}
        }
    },
    methods: {
        _resetView(option, data = {}){

            this.options = option;
        
            if(Object.entries(data).length > 0){

                let hasRow = false,
                    newArray = [];

                this.dataTable.forEach(el => {
                    if(el.id == data.id){
                        newArray.push(data);
                        hasRow = true;
                    }else{
                        newArray.push(el)
                    }
                });

                if(!hasRow){
                    newArray.push(data);
                }

                this.dataTable = newArray;
            }

            this.setForm = {};

            if(this.dataTable.length == 1) {
                this.options = 0
            } else {
                this.options = option;
            }
        },

        _edit(data){
            this.options = data.option;
            this.setForm = data.data;
        },

        returnUsers() {
            this.$emit('return-users', this.oldOption, this.dataTable);
        },

        returnPage() {
            if(this.dataTable.length > 1 || this.oldOption == 6) {
                this.returnUsers()
            } else {
                if(this.options == 0){
                    this.returnUsers()
                } else {
                    this.options = 0
                }
            }
        }
    },
    created(){
       
        this.dataTable = this.setTable;
        this.user = this.currentUser;

        if (this.dataTable.length > 1 || this.oldOption == 6) {

            this.options = 2
        }
    }
}
</script>
