<template id="template-courses-index">

    <article class="row">
        <div class="col s12">

            <!-- Table -->
            <div class="col s12">

                <card-main>
                    <card-content>
                        <div class="row">
                            <!-- Table -->
                            <div class="col s12">
                                
                                <table-byte :set-table="table" :filters="['vehicle_type_name', 'brand', 'model', 'plate', 'year', 'user.person.name', 'user.person.lastname']">

                                    <table-row slot="table-head">
                                        <table-head>Identificación</table-head>
                                        <table-head>Marca</table-head>
                                        <table-head>Modelo</table-head>
                                        <table-head>Placa</table-head>
                                        <table-head>Año</table-head>
                                        <table-head>Estado</table-head>
                                        <!-- <table-head>Tipo de Vehiculo</table-head> -->
                                        <table-head>Conductor</table-head>
                                        <table-head>Acciones</table-head>
                                    </table-row>

                                    <table-row slot="table-row" slot-scope="{ item }">
                                        <table-cell> {{ item.id }} </table-cell>
                                        <table-cell> {{ item.brand }} </table-cell>
                                        <table-cell> {{ item.model }} </table-cell>
                                        <table-cell> {{ item.plate }} </table-cell>
                                        <table-cell> {{ item.year }} </table-cell>
                                        <table-cell> {{ item.status_text }} </table-cell>
                                        <!-- <table-cell> {{ item.vehicle_type_name }} </table-cell> -->
                                        <table-cell> {{ user.person.name }} {{ user.person.lastname }} </table-cell>
                                        <table-cell>
                                            <a href="#!" title="Ver Detalles" class="btn-action" @click="_view(item, 'view')">
                                                <i class="material-icons prefix">remove_red_eye</i>
                                            </a>

                                            <a href="#!" title="Editar" class="btn-action" @click="_edit(item, 'edit')" v-if="oldOption != 6">
                                                <i class="material-icons prefix">create</i>
                                            </a>

                                            <a href="#!" :title="item.status == '0' ? 'Activar':'Desactivar'" class="btn-action" @click="_activate(item)"  v-if="item.deleted_at == null && oldOption != 6">
                                                <i class="material-icons prefix">{{ item.status == '0' ? 'check':'close' }}</i>
                                            </a>

                                            <a href="#!" title="Eliminar" class="btn-action" @click="_confirm(item, 'destroy')">
                                                <i class="material-icons prefix">delete</i>
                                            </a>

                                        </table-cell>
                                    </table-row>

                                    <table-row slot="empty-rows">
                                        <table-cell colspan="9">
                                            No se encontraron registros.
                                        </table-cell>
                                    </table-row>

                                </table-byte>
                            </div>

                            <!-- Modal -->
                            <byte-modal v-on:pressok="_delete" :confirm="modal.type.confirm">
                                <template v-if="modal.type.action == 'view'">

                                    <div class="col s9">
                                        <div class="col s12 modal-title">
                                            <h3>Información del Vehiculo</h3>
                                        </div>
                                        <div class="col s12">
                                            <span>Marca: </span> {{ modal.data.brand }}
                                        </div>

                                        <div class="col s12">
                                            <span>Modelo: </span> {{ modal.data.model }}
                                        </div>

                                        <div class="col s12">
                                            <span>Placa: </span> {{ modal.data.plate }}
                                        </div>
                                        <div class="col s12">
                                            <span>Año: </span> {{ modal.data.year }}
                                        </div>
                                        <div class="col s12">
                                            <span>Estado: </span> {{ modal.data.status_text }}
                                        </div>
                                        <div class="col s12">
                                            <span>Conductor: </span> {{ user.person.name }} {{ user.person.lastname }}
                                        </div>
                                        <div class="col s12" v-if="modal.data.vehicle_categories.length > 0">
                                            <span>Tipo de Vehiculo: </span> {{ modal.data.vehicle_type_name }}
                                            <span v-for="category in modal.data.vehicle_categories" :key="category.id"><br> {{ category.vehicle_type_name }} </span>
                                        </div>
                                        <div class="col s12" v-else>
                                            <span>Tipo de Vehiculo: </span> No posee categoria asignada
                                        </div>

                                    </div>
                                    <div class="col s3" v-if="modal.data.photos.length > 0">
                                        <div class="col s12 modal-title">
											<h3>Foto del Vehiculo</h3>
										</div>
                                        <div class="col s12" v-if="modal.data.photos.length > 0">
                                            <img :src="modal.data.photos[0].file | asset" class="responsive-img" v-if="modal.data.photos[0].file != null">
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="col s12 modal-title">
                                            <h3>Documentos del Vehiculo</h3>
                                        </div>
                                        <div class="col s12">
                                            <span>Permiso de Circulación: </span> {{ modal.data.permit ==  null ? 'No ha cargado Permiso de Circulación' : '' }} <a target="_blank" rel="noopener noreferrer" :href="modal.data.permit | asset" v-if="modal.data.permit != null">Descargar</a>
                                        </div>
									</div>
                                </template>

                                <template v-if="modal.type.action == 'destroy'">
                                    <div class="container-confirmation">
                                        <div class="confimation__icon">
                                            <i class="material-icons">error_outline</i>
                                        </div>
                                        <div class="confirmation__text">
                                            <h5>¿Realmente desea <b>eliminar</b> este vehiculo?</h5>
                                        </div>
                                    </div>
                                </template>
                            </byte-modal>
                        </div>
                    </card-content>
                </card-main>
            </div>
        </div>
    </article>
   
</template>

<script>
export default {
    template: "#template-courses-index",
    props: {
        url: {
            type: String,
            default: ""
        },
        'set-table': {
            type: Array,
            default(){
                return []
            }
        },
        'old-option': {
            type: Number,
            default: 0
        },
        user: {
            default: {}
        }
    },
    data() {
        return {
            zones: [],
            component: "Zona",
            modal: {
                init: {},
                title: "",
                type: {
                    confirm: false,
                    action: ''
                },
                data: {
                    name: '',
                    assignments:[]
                }
            },
        }
    },
    computed: {
		table() {
			let arr = this.setTable.filter(res => {
                if (res.deleted_at == null || this.oldOption == 6) {

                    if (moment(res.created_at, 'DD/MM/YYYY HH:mm:ss', true).isValid() != true) {
                        res.created_at =  moment(res.created_at).format('DD/MM/YYYY HH:mm:ss');
                    }

                    if(res.vehicle_categories.length > 0) {
                        res.vehicle_categories.forEach(item => {
                            if(item.vehicle_type_id == 1) {
                                item.vehicle_type_name = 'Sedan'
                            } else if (item.vehicle_type_id == 2) {
                                item.vehicle_type_name = 'SUV'
                            } else if (item.vehicle_type_id == 3) {
                                item.vehicle_type_name = 'Van'
                            }
                        })
                    }

                    if(res.status == '0') {
                        res.status_text = 'Inactivo'
                    } else if (res.status == '1') {
                        if(res.vehicle_categories.length > 0) {
                            res.status_text = 'Activo'
                        } else {
                            res.status_text = 'Por Asignar'
                        }
                    }

                    return res
                }

			})
			return arr
		}
	},
    methods:{

        _view(data, action){
            this.modal.title = "Ver Vehiculo";
            this.modal.type.action = action;
            this.modal.type.confirm = false;
            this.modal.data = data;
            this.modal.init.open();
        },

        _edit(data, action){
            this.$emit('edit', {data: data, option: 3});
        },

        _confirm(data, action){
            this.modal.title = "Eliminar Vehiculo";
            this.modal.type.action = action;
            this.modal.type.confirm = true;
            this.modal.data = data;
            this.modal.init.open();
        },

        _activate(data){
            axios.post(`admin/vehicles-activate/${data.id}`)
                .then(res => {
                    if (res.data.result) {

                        SocketApp.emit('update-driver', {id: res.data.vehicle.user_id});

                        data.status = res.data.vehicle.status
                        this.setTable.forEach((item) => {

                            if ( (item.id != res.data.vehicle.id) ) {
                                item.status = res.data.vehicle.status == '1' ? '0' : '1';
                            }
                        })
                        
                        swal('', res.data.msg, "success")
                    }
                })
                .catch(err => {
                    let message = "Disculpe, ha ocurrido un error";

                    if ( (err.response.status === 422) ) {
                        message = err.response.data.error;
                    }

                    swal("", message, "error");
                });
        },

        _delete() {
            let index = this.setTable.findIndex(e => {
                return e.id == this.modal.data.id
            })

            this.modal.init.close();

            axios.delete(`admin/users/vehicles/${this.modal.data.id}`)
                .then(res => {
                    if(res.data.result) {
                        this.setTable.splice(index, 1)
                        swal('', 'Se ha eliminado al vehiculo con éxito', "success");
                        // this._back();
                    }
                })
                .catch(err => {
                    let message = "Disculpe, ha ocurrido un error";
                    if(err.response.status === 422){
                        message = err.response.data.error;
                    }

                    swal("", message, "error");
                });
        },

        _back(fast = false){
            if(fast){
                this.$emit('back', 0);
            }else{
                setTimeout(() => {
                    this.$emit('back', 0)
                }, 2000);
            }
        }
    },
    mounted () {
        this.modal.init = M.Modal.init(document.querySelector('.modal'));
    }
}
</script>
