<template id="template-users-index">

    <article class="row">
        <div class="col s12">

            <!-- Table -->
            <div class="col s12">

                <card-main>
                    <card-content>
                        <div class="row">
                            <!-- Table -->
                            <div class="col s12">
                                
                                <table-byte :set-table="setTable" :filters="['id','person.name', 'person.lastname', 'email']">

                                    <table-row slot="table-head" slot-scope="{ item }">
                                        <table-head>Nombre</table-head>
                                        <table-head>RUT</table-head>
                                        <table-head>Banco</table-head>
                                        <table-head>Nro. de Cuenta</table-head>
                                        <table-head>Tipo de Cuenta</table-head>
                                        <!-- <table-head>Acciones</table-head> -->
                                    </table-row>

                                    <table-row slot="table-row" slot-scope="{ item }">
                                        <table-cell>{{ item.person.name }} {{ item.person.lastname }}</table-cell>
                                        <table-cell>{{ item.bank_user.identification }}</table-cell>
                                        <table-cell>{{ item.bank_user.bank.name }}</table-cell>
                                        <table-cell>{{ item.bank_user.number }}</table-cell>
                                        <table-cell>{{ item.bank_user.account.name }}</table-cell>
<!--                                         <table-cell>

                                            <a href="#!" class="btn-action" @click="_edit(item, 'edit')">
                                                <i class="material-icons prefix">edit</i>
                                            </a>

                                        </table-cell> -->
                                    </table-row>

                                    <table-row slot="empty-rows">
                                        <table-cell colspan="5">
                                            No se encontraron registros.
                                        </table-cell>
                                    </table-row>

                                </table-byte>
                            </div>
                        </div>
                    </card-content>
                </card-main>
            </div>
        </div>
    </article>
   
</template>

<script>
export default {
    template: "#template-users-index",
    props: {
        url: {
            type: String,
            default: ""
        },
        'set-table': {
            type: Array,
            default(){
                return []
            }
        },
        'set-validate': {
            type: Boolean,
            default: false
        },
        'set-status': {
            type: Number,
            default: 1,
        },
        'set-deleted': {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            zones: [],
            component: "Zona",
            modal: {
                init: {},
                title: "",
                type: {
                    confirm: false,
                    action: ''
                }
            },
            options: {
                deleted: false,
                status: 0,
                validate: false
            }
        }
    },
    computed: {
    },
    methods:{

        _view(data, action){
            this.modal.title = "Ver Conductor";
            this.modal.type.action = action;
            this.modal.type.confirm = false;
            this.modal.data = data;
            this.modal.init.open();
        },

        _edit(data, action){
            this.$emit('edit', {data: data, option: 3});
        },

        _vehicle(data, action){
            this.$emit('vehicle', {data: data, option: 7});
        },

        _confirm(data, action){
            this.modal.title = "Eliminar Conductor";
            this.modal.type.action = action;
            this.modal.type.confirm = true;
            this.modal.data = data;
            this.modal.init.open();
        },
        _activate(data){
            let driver_id = data.id
            axios.post(`admin/users-activate/${data.id}`)
                .then(res => {
                    if (res.data.result) {
                        data.status = res.data.user
                        swal('', res.data.msg, "success")
                        SocketApp.emit('activate-driver', {user_id: driver_id})
                        setTimeout(()=>{
                            location.reload();
                        }, 1500)
                    }
                })
                .catch(err => {
                    swal('', 'Disculpe, ha ocurrido un error', "error")
                });
        },
        _block(data){
            let driver_id = data.id
            axios.post(`admin/users-block/${data.id}`)
                .then(res => {
                    if (res.data.result) {
                        data.status = res.data.user
                        swal('', res.data.msg, "success")
                        SocketApp.emit('activate-driver', {user_id: driver_id})
                        setTimeout(()=>{
                            location.reload();
                        }, 1500)
                    }
                })
                .catch(err => {
                    swal('', 'Disculpe, ha ocurrido un error', "error")
                });
        },
        _delete() {
            let index = this.setTable.findIndex(e => {
                return e.id == this.modal.data.id
            })

            this.modal.init.close();

            axios.delete(`admin/users/${this.modal.data.id}`)
                .then(res => {
                    this.setTable.splice(index, 1)
                    swal('', 'Se ha eliminado al conductor con éxito', "success");
                    // this._back();
                })
                .catch(err => {
                    swal('', 'Disculpe, ha ocurrido un error', "error")
                });
        },

        _back(fast = false){
            this.setTable = this.Back
            if(fast){
                this.$emit('back', 0);
            }else{
                setTimeout(() => {
                    this.$emit('back', 0)
                }, 2000);
            }
        }
    },
    mounted () {

        this.modal.init = M.Modal.init(document.querySelector('.modal'));
        this.options.deleted = this.setDeleted
        this.options.status = this.setStatus
        this.options.validate = this.setValidate
    }
}
</script>
