<template id="template-teacher-form">
    <article class="col s12">
        <div class="row">
            <div class="col s12">
                <ul class="tabs tabs-fixed-width" id="tabs-teacher">
                    <li class="tab col s2"><a href="#information-personal">Información <br/> Personal</a></li>
                    <li class="tab col s2"><a href="#information-professional">Información <br/> Profesional</a></li>
                    <li class="tab col s2"><a href="#profile-assigned">Perfil <br/> Asignado</a></li>
                    <li class="tab col s3"><a href="#file-options">Opciones <br/>de Archivos</a></li>
                </ul>

            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <a href="#!" class="btn btn-back" @click="_back">
                    <div class="btn-back__container">
                        <div class="btn-back__ico"></div>
                        <label>Volver</label>
                    </div>
                </a>
            </div>
        </div>

         <card-main>
            <card-content>
                <!-- ____________________________________________

                //               PERSONAL
                ____________________________________________ -->

                <div id="information-personal" class="col s12">
                    <div class="input-field col s12 m6">
                        <input id="first_name" type="text" class="validate" v-model="form.first_name">
                        <label for="first_name">Primer Nombre</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <input id="middle_name" type="text" class="validate" v-model="form.middle_name">
                        <label for="middle_name">Segundo Nombre</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <input id="surname" type="text" class="validate" v-model="form.surname">
                        <label for="first_name">Primer Apellido</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <input id="second_surname" type="text" class="validate" v-model="form.second_name">
                        <label for="second_surname">Segundo Apellido</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <input id="identification" type="text" class="validate" v-model="form.identification">
                        <label for="identification">Identificación</label>
                    </div>

                    <div class="input-filling col s12 m6">
                        <label for="">Genero</label>
                        <select name="gender" id="gender" class="browser-default" v-model="form.gender">
                            <option value="" selected="">Seleccione</option>
                            <option :value="i" v-for="(g, i) in genders" :key="'gender-' + i">{{ g }}</option>
                        </select>
                    </div>

                    <div class="input-field col s12 m6">
                        <label for="date-init">Fecha de nacimiento</label>
                        <input type="text" class="datepicker" id="date-init"  v-model="form.birthdate">
                    </div>

                    <div class="input-field col s12 m6">
                        <input type="text" v-model="form.city_of_birth">
                        <label for="address">Lugar de nacimiento</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <textarea name="address" id="address" class="materialize-textarea" v-model="form.address"></textarea>
                        <label for="address">Dirección</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <textarea name="town" id="town" class="materialize-textarea" v-model="form.town"></textarea>
                        <label for="town">Barrio</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <input id="phone" type="number" class="validate" v-model="form.phone">
                        <label for="phone">Teléfonos</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <input id="email" type="email" class="validate" v-model="form.email">
                        <label for="email">Correo Electrónico</label>
                    </div>

                    <div class="col s12 m6">
                        <label for="">Tipo de sangre</label>
                        <select name="blood_type" id="blood_type" class="browser-default" v-model="form.blood_type">
                            <option value="" selected>Seleccione</option>
                            <option v-for="(b, i) in bloods" :key="'blood_type-'+i" :value="i">{{ b.name }}</option>
                        </select>
                    </div>

                    <div class="input-field col s12 m6">
                        <input id="eps" type="text" class="validate" v-model="form.eps">
                        <label for="eps">EPS</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <input id="fdp" type="text" class="validate" v-model="form.fdp">
                        <label for="fdp">Fondo de pensiones</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <input id="arl" type="text" class="validate" v-model="form.arl">
                        <label for="arl">Arl</label>
                    </div>

                </div>

                <!-- ____________________________________________

                //               Profecional
                ____________________________________________ -->

                <div id="information-professional" class="col s12">

                    <div class="col s12 no-padding professional_information" v-for="(professional, i) in professionals" :key="'professional' + i">

                        <div class="col s6 m3">
                            <span>{{ professional.name }}</span>
                            <input type="hidden" v-model="form.professionals.type[i]">
                        </div>
                        <div class="input-field col s6 m3">
                            <input type="text" v-model="form.professionals.title[i]">
                        </div>
                        <div class="col s6 m3">
                            <p v-if="i == 0">Instituto</p>
                            <p v-else-if="professionals.length === (i+1)">Escalafón Docente</p>
                            <p v-else>Universidad</p>
                        </div>
                        <div class="input-field col s6 m3">
                            <input type="text" v-model="form.professionals.university[i]">
                        </div>

                    </div>

                </div>

                <!-- ____________________________________________

                //               Perfil
                ____________________________________________ -->

                <div id="profile-assigned" class="col s12">

                    <h5 class="center-align subtitle">Seleccione los modulos asignados de este administrador</h5>

                    <div class="col s12 m6 no-padding">
                         <!-- Matricula -->
                        <div class="col s6 m6">Modulo Matricula</div>
                        <div class="col s6 m6">
                            <p>
                                <input type="checkbox" id="module-registration" class="filled-in" value="1" v-model="form.modules">
                                <label for="module-registration" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>
                        <!-- Administration -->
                        <div class="col s6 m6">Modulo Administración</div>
                        <div class="col s6 m6">
                            <p>
                                <input type="checkbox" id="module-administration" class="filled-in" value="2" v-model="form.modules">
                                <label for="module-administration" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>
                        <!-- Financiera -->
                        <div class="col s6 m6">Modulo Financiera</div>
                        <div class="col s6 m6">
                            <p>
                                <input type="checkbox" id="module-financial" class="filled-in" value="3" v-model="form.modules">
                                <label for="module-financial" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>

                        <!-- Academico -->
                        <div class="col s6 m6">Modulo Academico</div>
                        <div class="col s6 m6">
                            <p>
                                <input type="checkbox" id="module-academic" class="filled-in" value="4" v-model="form.modules">
                                <label for="module-academic" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>

                        <!-- Calendar -->
                        <div class="col s6">Modulo Calendarios</div>
                        <div class="col s6">
                            <p>
                                <input type="checkbox" id="module-calendar" class="filled-in" value="5" v-model="form.modules">
                                <label for="module-calendar" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>
                    </div>
                    <div class="col s12 m6 no-padding">
                        <!-- School life -->
                        <div class="col s6">Modulo Convivencia Escolar</div>
                        <div class="col s6">
                            <p>
                                <input type="checkbox" id="module-school-life" class="filled-in" value="6" v-model="form.modules">
                                <label for="module-school-life" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>
                        
                        <!-- School life -->
                        <div class="col s6">Modulo Galerias</div>
                        <div class="col s6">
                            <p>
                                <input type="checkbox" id="module-gallery" class="filled-in" value="7" v-model="form.modules">
                                <label for="module-gallery" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>

                        <!-- Messages -->
                        <div class="col s6">Modulo Mensajes</div>
                        <div class="col s6">
                            <p>
                                <input type="checkbox" id="module-messages" class="filled-in" value="8" v-model="form.modules">
                                <label for="module-messages" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>

                        <!-- Commercial Benefits -->
                        <div class="col s6">Modulo Beneficios Comerciales</div>
                        <div class="col s6">
                            <p>
                                <input type="checkbox" id="module-commercial" class="filled-in" value="9" v-model="form.modules">
                                <label for="module-commercial" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>

                        <!-- About us -->
                        <div class="col s6">Modulo Quienes Somos</div>
                        <div class="col s6">
                            <p>
                                <input type="checkbox" id="module-about" class="filled-in" value="10" v-model="form.modules">
                                <label for="module-about" class="checkbox-impegno checkbox-impegno--green"></label>
                            </p>
                        </div>

                    </div>
                </div>

                <!-- ____________________________________________

                //               Archivos
                ____________________________________________ -->

                <div id="assigned-courses" class="col s12">

                    <div class="col s12 assignment-content" v-for="(assignment, i) in assignments" :key="'admin-' + i">
                        <div class="col s10 m6 assignment-content__name">
                            {{ assignment.name }}
                        </div>
                        <div class="col s2 m2 assignment-content__btn">
                            <a href="#!" class="btn-floating red" @click="_trashAssignment(i)">
                                <i class="material-icons color--white">delete</i>
                            </a>
                        </div>
                    </div>

                    <!-- <div class="col s12" v-if="assignments.length == 0">
                        No se han encontrado asignaturas.
                    </div> -->
                </div>

                <div id="file-options" class="col s12">

                    <div class="col s6 m6">
                        <label for="">Fotografía Funcionario</label>
                        <input-document :styles="{ margin: 'unset' }" v-on:file="_photo" :file="photo" image></input-document>
                    </div>

                    <div class="col s6 m6">
                        <label for="">Certificados</label>
                        <input-document :styles="{ margin: 'unset' }" v-on:file="_cetificated" :file="cetificated"></input-document>
                    </div>
                    
                    <div class="col s6 m6">
                        <label for="">Documento de indentificación</label>
                        <input-document :styles="{ margin: 'unset' }" v-on:file="_identification" image :file="identification"></input-document>
                    </div>

                    <div class="col s6 m6">
                        <label for="">Otros requisitos</label>
                        <input-document :styles="{ margin: 'unset' }" v-on:file="_others" image :file="others"></input-document>
                    </div>

                    <div class="col s6 m6">
                        <label for="">Hoja de vida</label>
                        <input-document :styles="{ margin: 'unset' }" v-on:file="_life" image :file="life"></input-document>
                    </div>

                </div>

                <div class="row">
                    <div class="col s12 center-align">
                        <button class="btn btn-success" @click="store" :disabled="btn_view">Guardar registro</button>
                    </div>
                </div>
            </card-content>
         </card-main>

    </article>
</template>

<style lang="scss">
    .professional_information{
        display: flex;
        align-items: center;

        &:first-child{
            margin-top: 1rem;
        }

        .col{
            margin: 0;
        }
    }

    .subtitle {
        margin: 20px 0 !important;
        font-style: italic;
    }

    .input-filling{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .materialize-textarea{
        height: 3rem !important;
    }

    .assignment-content{
        padding-top: 1.7rem !important;
        padding-bottom: 1.7rem !important;
    }   
</style>


<script>
export default {
    template: "#template-teacher-form",
    props: {
        url: String,
        'url-base': {
            type: String,
            default: ""
        },
        'set-form': {
            type: Object,
            default(){
                return {};
            }
        },
        'url-back': {
            type: String,
            default: ""
        }
    },
    data(){
        return {
            btn_view:false,
            form: {
                first_name: "",
                middle_name: "",
                surname: "",
                second_name: "",
                identification: "",
                address: "",
                town: "",
                phone: "",
                email: "",
                gender: "",
                birthdate: "",
                city_of_birth: "",
                eps: "",
                fdp: "",
                arl: "",
                blood_type: "",
                // Professionals
                professionals: {
                    type: [],
                    title: [],
                    university: []
                },
                // Modules
                modules: [],
                // files
                photo: "",
                certificated: "",
                indentity: "",
                other: "",
                life: "",
                // Type user
                level: "1"
            },
            genders: ['Mujer', 'Hombre'],
            bloods: [
                { name: 'A+' },
                { name: 'A-' },
                { name: 'B+' },
                { name: 'B-' },
                { name: 'O+' },
                { name: 'O-' },
                { name: 'AB-' },
                { name: 'AB+' }
            ],
            professionals: [],
            // Url Files
            photo: "",
            cetificated: "",
            identification: "",
            others: "",
            life: "",
            // Assignment
            assignments: []
        }
    },
    methods:{
        _photo (photo) {
            this.form.photo = photo.file;
        },
        
        _cetificated (documento) {
            this.form.certificated = documento.file
        },
        
        _identification(documento) {
            this.form.indentity = documento.file
        },
        
        _others(documento) {
            this.form.other = documento.file
        },
        
        _life (documento) {
            this.form.life = documento.file
        },

        store(){
            this.btn_view = true;
            if(typeof this.form.id === 'undefined'){
                this.registration();
            }else{
                this.edit();
            }
        },

        registration(){
            
            axios.post('admin/create-users', this.convertToFormData())
                .then(res => {
                    
                    swal({
                        title: "",
                        text: `Se ha registrado al docente correctamente`,
                        // timer: 2000,
                        showConfirmButton: true,
                        type: "success"
                    },()=>{
                        location.reload(true)
                    } );
                    
                    // setTimeout(() => {
                    //     window.location = this.url;
                    // });

                })
                .catch(err => {
                    this.btn_view = false;
                    let message = "Disculpe, ha ocurrido un error";
                    
                    if(err.response.status === 422){
                        message = err.response.data.error;
                    }

                    swal('', message, 'error');
                });

        },

        edit(){
            this.form._method = "PUT";

            axios.post(`admin/create-users/${this.form.id}`, this.convertToFormData())
                .then(res => {
                    
                    swal({
                        title: "",
                        text: `Se ha actualizo al administrador correctamente`,
                        timer: 2000,
                        showConfirmButton: true,
                        type: "success"
                    },(data)=>{
                        setTimeout(() => {
                           window.location = this.urlBack;                            
                        }, 1000);
                    })
                })
                .catch(err => {
                this.btn_view = false;

                    console.log(err+ ' error de axios');
                    
                    let message = "Disculpe, ha ocurrido un error";
                    
                    if(err.response.status === 422){
                        message = err.response.data.error;
                    }

                    swal('', message, 'error');
                });

        },

        _trashAssignment(index){
            this.assignments.splice(index, 1);
        },

        convertToFormData(){
            let formData = new FormData();
            Object.getOwnPropertyNames(this.form).forEach(key => {

                if(key === "professionals")
                {
                    formData.append(key, JSON.stringify(this.form[key]));
                }
                else if(key === "modules")
                {
                    formData.append(key, JSON.stringify(this.form[key]));
                }else if(key === "certificated" || key === "other" || key === "life" || key === "identification" || key === "certificated"){
                    formData.append(key, this.form[key]);
                }else if(key != "__ob__"){
                    if(this.form[key] != null && this.form[key] != 'null') {
                        formData.append(key, this.form[key]);
                    }
                }
            });

            formData.append('assignments', JSON.stringify(this.assignments));

            return formData;
        },
        
        _selectBirthate(e){
            this.form.birthdate = document.querySelector('#date-init').value;
        },

        _back(fast = false){
            if(this.urlBack === ""){
                this.$emit('back', 0);
            }else{
                window.location = this.urlBack;
            }
        }
    },
    created(){
        this.professionals.push({
            name: "Título Técnico",
            type: "1",
            degree: "",
            university: ""
        },
        {
            name: "Título Tecnólogo",
            type: "2",
            degree: "",
            university: ""
        },
        {
            name: "Título Profesional",
            type: "3",
            degree: "",
            university: ""
        },
        {
            name: "Postgrado 1",
            type: "4",
            degree: "",
            university: ""
        },
        {
            name: "Postgrado 2",
            type: "5",
            degree: "",
            university: ""
        },
        {
            name: "Postgrado 3",
            type: "6",
            degree: "",
            university: ""
        },
        {
            name: "Otros Estudios",
            type: "7",
            degree: "",
            university: ""
        },
        {
            name: "Tiempo de Ejercicio Profesional",
            type: "8",
            degree: "",
            university: ""
        });
    },
    mounted(){
        M.Tabs.init(document.querySelector('#tabs-teacher'));

        M.Datepicker.init(document.querySelector('#date-init'),{
            onClose: this._selectBirthate,
            format: 'dd-mm-yyyy',
            autoClose: true,
            i18n: pickDateI18n
        });

        this.professionals.forEach((el, i) => {
            this.form.professionals.type[i] = el.type;
        });

        if(Object.entries(this.setForm).length > 0){

            Object.getOwnPropertyNames(this.setForm.person).forEach(key => {
                if(key == 'documents'){
                    
                    this.setForm.person[key].forEach(d => {
                        console.log(d);
                        if(d.type == 1) {
                            this.identification = d.url;
                        } else if(d.type == 3) {
                            this.cetificated = d.url;
                        }else if(d.type == 4) {
                            this.others =  d.url;
                        }else if(d.type == 5){
                            this.life = d.url;
                        }
                        console.log(this.identification);
                    });

                }else if(key == 'professional'){
                    this.setForm.person[key].forEach((el, i) => {
                        if(this.form.professionals.type[i] ===  el.type){
                            this.form.professionals.title[i] = el.title;
                            this.form.professionals.university[i] = el.university;
                        }
                    });
                }else if(key == 'permission'){
                    this.setForm.person[key].forEach(el => {
                        this.form.modules.push(el.id);
                    });
                }else if(key == 'photo'){
                    this.photo = this.setForm.person[key];
                }else if(key == 'birthdate'){
                    this.form[key] = moment(this.setForm.person[key], 'Y-MM-DD').format('DD-MM-Y');
                }else{
                    if(this.setForm.person[key] != null && this.setForm.person[key] != 'null') {
                        this.form[key] = this.setForm.person[key];
                    }
                }

            });

            this.assignments = this.setForm.person.assignments;

            this.setForm.permission_user.forEach(el => {
                this.form.modules.push(el.id);
            });
        }
    }
}
</script>
