<template id="template-parent-form">
    <article class="row">
        <div class="col s12">
          <div class="row">
            <div class="col s12">
                <ul class="tabs tabs-fixed-width" id="tabs-parents">
                  <li class="tab col s4"><a href="#information-personal" class="students">Información <br>Personal</a></li>
                  <li class="tab col s4"><a href="#students">Estudiantes <br> Vinculados </a></li>
                </ul>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <a href="#!" class="btn btn-back" @click="_back">
                <div class="btn-back__container">
                  <div class="btn-back__ico"></div>
                  <label>Volver</label>
                </div>
              </a>
            </div>
          </div>

          <card-main>
              <card-content>
                <div class="row">
                  <div class="col s12">
                    <!-- ____________________________________________

                    //               PERSONAL
                    ____________________________________________ -->

                    <div id="information-personal" class="col s12">

                      <div class="col s12 m7 input-field" v-if="!setForm.identification">
                          <input-autocomplete :set-input="parents" @getdata="_selectedParent" @aggregate="_aggregatedIdentification" labeltext="Identificación" savenoresult sin-resultado="No encontrado. Presione enter para agregar"></input-autocomplete>
                      </div>

                      <div class="input-field col s12 m7" v-else>
                          <input id="identification" type="text" class="validate" v-model="form.identification">
                          <label for="identification">Identificación</label>
                      </div>
                      
                      <div class="input-field col s12 m6">
                          <input id="first_name" type="text" class="validate" v-model="form.first_name" :disabled="found">
                          <label for="first_name">Primer Nombre</label>
                      </div>

                      <div class="input-field col s12 m6">
                          <input id="surname" type="text" class="validate" v-model="form.surname" :disabled="found">
                          <label for="first_name">Apellido</label>
                      </div>

                      <div class="input-field col s12 m6">
                          <textarea name="address" id="address" class="materialize-textarea" v-model="form.address" :disabled="found"></textarea>
                          <label for="address">Dirección</label>
                      </div>

                      <div class="input-field col s12 m6">
                          <input id="occupation" type="text" class="validate" v-model="form.occupation" :disabled="found">
                          <label for="occupation">Ocupación</label>
                      </div>

                      <div class="input-field col s12 m6">
                        <input id="phone" type="number" class="validate" v-model="form.phone" :disabled="found">
                        <label for="phone">Teléfonos</label>
                      </div>

                      <div class="input-field col s12 m6">
                        <input id="email" type="email" class="validate" v-model="form.email" :disabled="found">
                        <label for="email">Correo electrónico</label>
                      </div>

                      <div class="input-filling col s12 m6">
                        <label for="">Genero</label>
                        <select name="gender" id="gender" class="browser-default" v-model="form.gender" :disabled="found">
                            <option value="" selected="">Seleccione</option>
                            <option :value="i" v-for="(g, i) in genders" :key="'gender-' + i">{{ g }}</option>
                        </select>
                      </div>

                    </div>

                    <!-- ____________________________________________

                    //               Profecional
                    ____________________________________________ -->

                    <div id="students" class="col s12">

                      <div class="col s12 content-btn center-align">
                        <a href="#!" class="btn btn-continue" @click="addChild()">Agregar otro estudiante</a>
                      </div>

                      <div class="col s12 flex-item-center" v-for="(c, index) in form.children" :key="'course-' + index">
                          
                          <div class="col s2">
                              <label for="">Seleccione estudiante</label>
                          </div>

                          <div class="col s12 m6 input-field">
                              <label for="name" class="active">Estudiantes</label>
                              <input-autocomplete :set-input="students" @getdata="_selectedStudent" @click.native="selected = index" :value="c.name"></input-autocomplete>
                          </div>

                          <div class="col s12 m4 input-field" style="margin-top: 30px;">
                              <label for="name" class="active">Parentesco</label>
                              <input type="text" v-model="c.relationship">
                          </div>

                          <div class="col s12 m2 right-align">
                              <a href="#!" class="btn-action" @click="removeChild(index)" v-if="form.children.length > 1"><img :src="'img/icons/ico-eliminar.png' | asset" alt="" class="img-responsive"></a>
                          </div>

                      </div>
                    </div>

                    <div class="col s12">
                      <div class="input-field center-align">
                        <button class="btn btn-success" v-if="actionForm == 0" @click="store" :disabled="_desactivar">Guardar registro</button>
                        <button class="btn btn-success" v-else @click="edit" :disabled="_desactivar">Guardar registro</button>
                      </div>
                    </div>
                  </div>
                </div>
              </card-content>
          </card-main>
        </div>
    </article>
</template>


<script>
export default {
  template: "#template-parent-form",
  props: {
    url: String,
    "set-form": {
      type: Object,
      default() {
        return {};
      }
    },
    students: {
      type: Array,
      default() {
        return [];
      }
    },
    parents: {
      type: Array,
      default() {
        return [];
      }
    },
    'url-back': {
        type: String,
        default: ""
    }
  },
  data() {
    return {
      _desactivar:false,
      form: {
        person_id: null,
        first_name: "",
        surname: "",
        identification: "",
        address: "",
        town: "",
        phone: "",
        email: "",
        gender: 0,
        occupation: '',
        children: [
          {
            relationship: "",
            student_id: "",
            name: ""
          }
        ]
      },
      found: false,
      selected: 0,
      numChildren: 1,
      actionForm: 0,
      genders: ['Mujer', 'Hombre']
    };
  },
  methods: {
    _back(fast = false){
        if(this.urlBack === ""){
            this.$emit('back', 0);
        }else{
            window.location = this.urlBack;
        }
    },
    addChild() {
      this.form.children.push({
        relationship: "",
        student_id: ""
      });
    },
    _selectedParent(item) {
      this.form.person_id = item.id

      let parent = this.parents.find(e => {
        return e.id == item.id
      })

      this.found = true
      this.form.first_name = parent.person.first_name
      this.form.surname = parent.person.surname
      this.form.address = parent.person.address
      this.form.email = parent.person.email
      this.form.phone = parent.person.phone
      this.form.gender = parent.person.gender
      this.form.occupation = parent.person.occupation
      
      document.querySelectorAll('label').forEach(e => {
        e.classList.add('active')
      })
      
    },  
    _aggregatedIdentification (identification) {
      this.form.identification = identification
      console.log(this.form.identification)
    },
    removeChild(index) {
      this.form.children.splice(index, 1);
    },
    _selectedStudent(student) {
      
      let existe = this.form.children.find(e => {
        return e.student_id == student.id
      })

      if(existe != undefined) {
        swal('', 'Ya tiene al este estudiante seleccionado', 'error')
        this.form.children.splice(this.selected, 1)
        return
      }

      let result = this.form.children.find(c => {
        return c.id === student.id;
      });

      this.form.children[this.selected].student_id = student.id;
    },
    store() {
      this._desactivar = true
      axios
        .post("admin/create-parents", this.form)
        .then(res => {
          swal({
            title: "",
            text: `Se ha registro el familiar se ha registrado correctamente`,
            // timer: 2000,
            showConfirmButton: true,
            type: "success"
          },()=>{
            this._back();
          } );

          // setTimeout(() => {
          //   this._back();
          // }, 2000);
        })
        .catch(err => {
        this._desactivar = false
          console.log(err);
          if (err.response.status === 422) {
            swal("", err.response.data.error, "error");
            return;
          }

          swal("", "Algo ha ocurrido", "error");
        });
    },
    edit() {
      this._desactivar = true
      this.form._method = "PUT";
      axios
        .put(`admin/edit-parents/${this.form.user_id}`, this.form)
        .then(res => {
          if (res.data.result) {
            swal({
              title: "",
              text: res.data.message,
              timer: 2000,
              showConfirmButton: false,
              type: "success"
            });
            setTimeout(() => {
              this._back();
            }, 2000);
          } else {
            this._desactivar = false;
            swal("", res.data.message, "error");
          }
        })
        .catch(err => {
            this._desactivar = false;

          if (err.response.status === 422) {
            swal("", err.response.data.error, "error");
            return;
          }

          swal("", "Algo ha ocurrido", "error");
        });

    }
  },
  mounted() {
    M.Tabs.init(document.querySelector("#tabs-parents"));
    console.log(this.setForm)


    if (Object.entries(this.setForm).length > 0) {
      this.actionForm = 1;

      Object.getOwnPropertyNames(this.setForm.person).forEach(key => {
        if (key == "documents") {
          this.setForm.person[key].forEach(d => {
            console.log(d);
            if (d.type == 1) {
              this.identification = d.url;
            } else if (d.type == 3) {
              this.cetificated = d.url;
            } else if (d.type == 4) {
              this.others = d.url;
            } else if (d.type == 5) {
              this.life = d.url;
            }
          });
        } else if (key == "professional") {
          this.setForm.person[key].forEach((el, i) => {
            if (this.form.professionals.type[i] === el.type) {
              this.form.professionals.title[i] = el.title;
              this.form.professionals.university[i] = el.university;
            }
          });
        } else if (key == "permission") {
          this.setForm.person[key].forEach(el => {
            this.form.modules.push(el.id);
          });
        } else if (key == "photo") {
          this.photo = this.setForm.person[key];
        } else if (key == "birthdate") {
          this.form[key] = moment(this.setForm.person[key], "Y-MM-DD").format(
            "DD-MM-Y"
          );
        } else {
          if(this.setForm.person[key] != null && this.setForm.person[key] != 'null') {
            this.form[key] = this.setForm.person[key];
          }
        }
      });
      if (this.setForm.children.length > 0) {
        this.numChildren = this.setForm.children.length;
        this.form.children.length = 0;
        this.setForm.children.forEach((el, i) => {
          this.form.children.push({
            relationship: el.parents[0].pivot.relationship,
            student_id: el.id,
            name: `${el.first_name} ${el.middle_name} ${el.surname} ${
              el.second_name
            }`
          });
        });
      }
      this.assignments = this.setForm.person.assignments;

      this.setForm.permission_user.forEach(el => {
        this.form.modules.push(el.id);
      });
    }
  }
};
</script>
