<template id="template-users-form">
    <article class="row">

        <div class="row">
            <div class="col s12">
                <a href="#!" class="btn btn-back" @click="_back">
                    <div class="btn-back__container">
                        <label class="label-back-cont">Volver</label>
                    </div>
                </a>
            </div>
        </div>

        <form class="col s12" @submit.prevent="submit">
            <div class="col s12">
                <ul class="tabs tabs-fixed-width" id="tabs-user">
                    <li class="tab col s2"><a href="#information-personal">Información <br/> Personal</a></li>
                    <li class="tab col s2"><a href="#information-photos">Documentos y <br/> Fotografias</a> </li>
                </ul>
            </div>
            <div class="row">
                <div class="col s12">
                    <card-main>
                        <card-content>
                            <div class="row">
                                <div class="col s12">
                                    <div id="information-personal" class="col s12">
                                        <div class="input-field col s12 m6">
                                            <input id="name" type="text" class="validate" v-model="form.name">
                                            <label for="name">Nombre</label>
                                        </div>

                                        <div class="input-field col s12 m6">
                                            <input id="lastname" type="text" class="validate" v-model="form.lastname">
                                            <label for="lastname">Apellido</label>
                                        </div>
                                        <div class="input-field col s12 m6">
                                            <input id="email" type="email" class="validate" v-model="form.email">
                                            <label for="email">Correo Electrónico</label>
                                        </div>
                                        <div class="input-field col s12 m6">
                                            <input id="phone" type="number" class="validate" v-model="form.phone">
                                            <label for="phone">Telefono</label>
                                        </div>
                                        <div class="input-field col s12 m12">
                                            <input id="document" type="text" class="validate" v-model="rut">
                                            <label for="document">RUT</label>
                                        </div>
                                        <div class="input-field col s12 m12" v-if="showMsg">
                                            <label class="alert-rut-msg">{{ msg }}</label>
                                        </div>
                                        <!-- <div class="input-filling col s12 m6">
                                            <label for="">Estado</label>
                                            <select name="document_type" id="document_type" class="browser-default" v-model="form.status">
                                                <option value="" selected disabled>Seleccione</option>
                                                <option :value="i" v-for="(v, i) in status" :key="'status-' + i">{{ v }}</option>
                                            </select>
                                        </div> -->
                                        <div class="input-filling col s12 m6">
                                            <label for="">Documento de Identificacion</label>
                                            <select name="document_type" id="document_type" class="browser-default" v-model="form.document_type">
                                                <option value="" selected disabled>Seleccione</option>
                                                <option :value="i + 1" v-for="(v, i) in document_types" :key="'document_type-' + i">{{ v }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div id="information-photos" class="col s12">
                                        <div class="col s6 m6">
                                            <label for="">Fotografía de Perfil</label>
                                            <input-document-edit :styles="{ margin: 'unset' }" v-on:file="_photo" :file="photo" image :type-file="'photo'" :identification="form.id" :url="uploadUrl" ></input-document-edit>
                                        </div>
                                        <div class="col s6 m6">
                                            <label for="">Fotografía del Documento</label>
                                            <input-document-edit :styles="{ margin: 'unset' }" v-on:file="_document_photo" :file="document_photo" image :type-file="'document_photo'" :identification="form.id" :url="uploadUrl" ></input-document-edit>
                                        </div>
                                        <!--<div class="col s6 m6">
                                            <label for="">Permiso de Conducir</label>
                                            <input-document-edit :styles="{ margin: 'unset' }" v-on:file="_permit" image :file="permit" :type-file="'permit'" :identification="form.id" :url="uploadUrl" :can-document="true"></input-document-edit>
                                        </div>-->
                                        <div class="col s6 m6">
                                            <label for="">Antecedentes Criminales</label>
                                            <input-document-edit :styles="{ margin: 'unset' }" v-on:file="_criminal_records" image :file="criminal_records" :type-file="'criminal_records'" :identification="form.id" :url="uploadUrl" :can-document="true"></input-document-edit>
                                        </div>
                                        <div class="col s6 m6">
                                            <label for="">Licencia de Conducir</label>
                                            <input-document-edit :styles="{ margin: 'unset' }" v-on:file="_license" image :file="license" :type-file="'license'" :identification="form.id" :url="uploadUrl" ></input-document-edit>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">                       
                                <div class="col s12 btn-content center-align">
                                    <button class="btn btn-success" type="submit">Guardar registro</button>
                                </div>
                            </div>
                        </card-content>
                    </card-main>
                </div>
            </div>
        </form>
    </article>
    
</template>

<style lang="scss" scoped>
    .days{
        margin-top: 20px;
        margin-bottom: 0;

        p{
            margin: 0;
        }
    }
    .professional_information{
        display: flex;
        align-items: center;

        &:first-child{
            margin-top: 1rem;
        }

        .col{
            margin: 0;
        }
    }

    .alert-rut-msg {
        margin-top: -7vh;
        color: black;
        font-size: 1rem;
    }

    .input-filling{
        margin-bottom: 1rem;
    }

    .materialize-textarea{
        height: 3rem !important;
    }

    .assignment-content{
        padding-top: 1.7rem !important;
        padding-bottom: 1.7rem !important;
    }
</style>


<script>
export default {
    template: "#template-users-form",
    props: {
        url: {
            type: String,
            default: ""
        },
        'set-form': {
            type: Object,
            default: function() {
                return {};
            }
        },
        title: {
            type: String,
            default: ""
        },
    },
    data() {
        return {
            form: {
                email: "",
                status: "",
                status_driver: "",
                default_payment: "",
                validate: "",
                person: {},
                vehicle: {},
                bank_user: {},
                photo: "",
                document_photo: "",
                // permit: "",
                criminal_records: "",
                license: "",
                id: ""
            },
            default_payments: ['Tarjeta de Credito' ,'Efectivo'],
            document_types: ['RUT' ,'Pasaporte', 'Otro'],
            status: ['Inactivo', 'Activo', 'Bloqueado'],
            photo: "",
            document_photo: "",
            // permit: "",
            criminal_records: "",
            license: "",
            uploadUrl: "admin/users/upload-files/",
            rut: '',
            regex: '((([0-9.]+){6})-([0-9K]+?))',
            showMsg: false,
            msg: 'El RUT debe poseer el siguiente formato: XX.XXX.XXX-X o X.XXX.XXX-X, el ultimo valor puede ser K o del 0 al 9.'
        }
    },
    watch: {
        rut (value){
            if (this.form.document_type == '1') {
                value = value.split('.').join("");
                value = value.split(' ').join("");
                value = value.split('-').join("");
                let check_regex = new RegExp(this.regex)
                if (value.length == 8) {
                    value = value.slice(0, 1) + "." + value.slice(1,4) + "." + value.slice(4,7) + '-' + value.slice(7,9);
                    if (check_regex.test(value)) {
                        this.showMsg = false;
                        console.log('cumple con regex length 9')
                    } else {
                        this.showMsg = true;
                        console.log('no cumple con regex length 9')
                    }
                } else if (value.length == 9) {
                    let check_regex = new RegExp(this.regex)
                    value = value.slice(0, 2) + "." + value.slice(2,5) + "." + value.slice(5,8) + '-' + value.slice(8,10);
                    if (check_regex.test(value)) {
                        this.showMsg = false;
                        console.log('cumple con regex length 10')
                    } else {
                        this.showMsg = true;
                        console.log('no cumple con regex length 10')
                    }
                } else {
                    this.showMsg = true;
                    console.log('no cumple con las condiciones de length')
                }
            } else {
                this.showMsg = false;
                console.log('no es tipo RUT')
            }
            this.rut = value.toUpperCase()
            this.form.document = this.rut
        }
    },
    methods:{

        _photo (photo) {
            // this.form.photo = photo.file;
        },
        
        _document_photo (documento) {
            // this.form.document_photo = documento.file
        },
        
        _permit(documento) {
            // this.form.permit = documento.file
        },
        
        _criminal_records(documento) {
            // this.form.criminal_records = documento.file
        },

        _license(documento) {
            // this.form.license = documento.file
        },

        submit(){
            if(typeof this.form.id === "undefined"){
                this.register();
            }else{
                this.edit();
            }
        },
        
        register(){
            
            showLoading();

            axios.post('admin/users', this.form)
                .then(res => {
                    quitLoading();
                    if(res.data.result){
                        swal({
                            title: "",
                            text: `Se ha registrado al Conductor con éxito`,
                            timer: 2000,
                            showConfirmButton: false,
                            showOkButton: false,
                            type: "success"
                        });

                        this._back(false, res.data.course);
                    }
                })
                .catch(err => {
                    quitLoading();
                    let message = "Disculpe, ha ocurrido un error";

                    if(err.response.status === 422){
                        message = err.response.data;
                    }

                    swal("", message, "error");
                });
        },

        edit(){

            let document_data = this.form.document
            document_data = document_data.split('.').join("");
            let check_regex = new RegExp(this.regex)

            if (this.form.document_type == '1') {
                if (!check_regex.test(document_data)) {
                    swal("", "El RUT no cumple con el formato especificado", "error");
                    this.showMsg = true;
                    return
                } else {
                    if (document_data.length == 9 || document_data.length == 10) {
                        this.rut = document_data
                    } else {
                        swal("", "El RUT no cumple con el formato especificado", "error");
                        this.showMsg = true;
                        return
                    }
                }
            }

            showLoading();
            
            this.form._method = "PUT";
          
            axios.post(`admin/users/${this.form.id}`, this.convertToFormData())
                .then(res => {
                    quitLoading();
                    if(res.data.result){
                        swal({
                            title: "",
                            text: `Se ha editado al Conductor con éxito`,
                            timer: 2000,
                            showConfirmButton: false,
                            showOkButton: false,
                            type: "success"
                        });

                        this._back(false);
                    }
                })
                .catch(err => {
                    quitLoading();
                    let message = "Disculpe, ha ocurrido un error";
                    if(err.response.status === 422){
                        message = err.response.data.error;
                    }
                    
                    swal("", message, "error");
                });
        },

        convertToFormData(){
            let formData = new FormData();
            Object.getOwnPropertyNames(this.form).forEach(key => {
                if(key === "document_photo" || key === "permit" || key === "criminal_records" || key === "photo" || key === "license"){
                    formData.append(key, this.form[key]);
                }else if(key != "__ob__"){
                    if(this.form[key] != null && this.form[key] != 'null') {
                        formData.append(key, this.form[key]);
                    }
                }
            });
            return formData;
        },

        _back(fast = false){
            if(fast){
                location.reload();
            }else{
                setTimeout(() => {
                    location.reload();
                }, 2000);
            }
        }
    },
    mounted() {

        M.Tabs.init(document.querySelector('#tabs-user'));

        if (Object.entries(this.setForm).length > 0) {

            this.form = this.setForm

            Object.getOwnPropertyNames(this.setForm.person).forEach(key => {
                if (key == 'photo') {

                    this.photo = urlBase+this.setForm.person[key]
                    this.form.photo = this.setForm.person[key]

                } else if (key == 'document_photo') {

                    this.document_photo = urlBase+this.setForm.person[key]
                    this.form.document_photo = this.setForm.person[key]

                } else if (key == 'criminal_records') {
                    
                    this.criminal_records = urlBase+this.setForm.person[key]
                    this.form.criminal_records = this.setForm.person[key]

                } else if (key == 'license') {

                    this.license = urlBase+this.setForm.person[key]
                    this.form.license = this.setForm.person[key]

                } else {

                    if (this.setForm.person[key] != null && this.setForm.person[key] != 'null' && key != 'id') {
                        this.form[key] = this.setForm.person[key];
                    }
                }
            });

            this.rut = this.form.document

            document.querySelectorAll('label').forEach(el => {
                el.classList.add('active');
            });
        };
    }
}
</script>
