<template id="template-users-index">
  <article class="row">
    <div class="col s12">
      <div class="row">
        <div class="col s12 center-align">
          <h1 v-if="options === 0">Conductores Registrados</h1>
          <h1 v-if="options === 2">Consultar Conductores Nuevos</h1>
          <h1 v-if="options === 3">Modificar Datos del Conductor</h1>
          <h1 v-if="options === 4">Consultar Conductores Activos</h1>
          <h1 v-if="options === 5">Consultar Conductores Bloqueados</h1>
          <h1 v-if="options === 6">Consultar Conductores Eliminados</h1>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6 offset-m3" v-if="options === 0">
          <a
            href="#!"
            class="btn btn--block btn--option"
            @click="options = 2"
          >Consultar Conductores Nuevos</a>
          <a
            href="#!"
            class="btn btn--block btn--option"
            @click="options = 4"
          >Consultar Conductores Activos</a>
          <a
            href="#!"
            class="btn btn--block btn--option"
            @click="options = 5"
          >Consultar Conductores Bloqueados</a>
          <a
            href="#!"
            class="btn btn--block btn--option"
            @click="options = 6"
          >Consultar Conductores Eliminados</a>
        </div>
      </div>

      <div class="row" v-if="options != 0 & options != 7">
        <div class="col s12">
          <a href="#!" class="btn btn-back" @click="_resetView(0)">
            <div class="btn-back__container">
              <label class="label-back-cont">Volver</label>
            </div>
          </a>
        </div>
      </div>

      <users-form
        v-if="options === 3"
        :url="url"
        :users="users"
        v-on:edit="_edit"
        :set-form="setForm"
        v-on:back="_resetView"
      ></users-form>

      <users-read
        v-if="options === 2"
        :url="url"
        :set-table="dataTable"
        v-on:back="_resetView"
        v-on:vehicle="_vehicle"
        v-on:edit="_edit"
        :set-status="0"
      ></users-read>

      <users-read
        v-if="options === 4"
        :url="url"
        :set-table="dataTable"
        v-on:back="_resetView"
        v-on:vehicle="_vehicle"
        v-on:edit="_edit"
        :set-status="1"
      ></users-read>

      <users-read
        v-if="options === 5"
        :url="url"
        :set-table="dataTable"
        v-on:back="_resetView"
        v-on:vehicle="_vehicle"
        v-on:edit="_edit"
        :set-status="2"
      ></users-read>

      <users-read
        v-if="options === 6"
        :url="url"
        :set-table="dataTable"
        v-on:back="_resetView"
        v-on:vehicle="_vehicle"
        v-on:edit="_edit"
        :set-deleted="true"
      ></users-read>

      <vehicles-index
        v-if="options === 7"
        :url="url"
        :set-table="setForm"
        :current-user="currentUser"
        v-on:back="_resetView"
        v-on:return-users="_returnUsers"
        :old-option="old_option"
      ></vehicles-index>
    </div>
  </article>
</template>

<script>
import FormVehicles from "../vehicles/FormVehicles.vue";

export default {
  template: "#template-users-index",
  props: {
    url: {
      type: String,
      default: ""
    },
    users: {
      type: Array,
      default() {
        return [];
      }
    },
    "set-table": {
      type: Array,
      default() {
        return [];
      }
    },
    driver_id: {
      type: String,
      default() {
        return null;
      }
    }
  },
  data() {
    return {
      options: 0,
      old_option: 0,
      "set-form": {},
      currentUser: {},
      dataTable: []
    };
  },
  methods: {
    _resetView(option, data = {}) {
      this.options = option;

      if (Object.entries(data).length > 0) {
        let hasRow = false,
          newArray = [];

        this.dataTable.forEach(el => {
          if (el.id == data.id) {
            newArray.push(data);
            hasRow = true;
          } else {
            newArray.push(el);
          }
        });

        if (!hasRow) {
          newArray.push(data);
        }

        this.dataTable = newArray;
      }

      this.setForm = {};
    },

    _returnUsers(option, data = {}) {
      this.options = option;
      this.dataTable.forEach(el => {
        if (el.id == this.currentUser.id) {
          el.vehicles_web = data;
        }
      });
    },

    _edit(data) {
      this.options = data.option;
      this.setForm = data.data;
    },

    _vehicle(data) {
      console.log(data);
      this.old_option = this.options;
      this.options = data.option;
      this.setForm = data.data.vehicles_web;
      this.currentUser = data.data;
    }
  },
  created() {
    this.dataTable = this.setTable;
    if (this.driver_id) {
      let user = this.dataTable.find(d => d.id == this.driver_id);
      let data = {
        data: user,
        option: 7
      };
      this.option = 7;
      this._vehicle(data);
    }
  }
};
</script>
