<template id="template-users-index">

	<article class="row">
		<div class="col s12">

			<!-- Table -->
			<div class="col s12">

				<card-main>
					<card-content>
						<div class="row">
							<!-- Table -->
							<div class="col s12">
								
								<table-byte :set-table="table" :filters="['id','person.name', 'person.lastname', 'email']">

									<table-row slot="table-head">
										<table-head>Identificación</table-head>
										<table-head>Nombre</table-head>
										<table-head>Correo Electrónico</table-head>
										<table-head>Estado</table-head>
										<table-head>Verificación SMS</table-head>
										<table-head>Fecha de Registro</table-head>
										<table-head>Acciones</table-head>
									</table-row>

									<table-row slot="table-row" slot-scope="{ item }">
										<table-cell>{{ item.id }}</table-cell>
										<table-cell>{{ item.person.name }} {{ item.person.lastname }}</table-cell>
										<table-cell>{{ item.email }}</table-cell>
										<table-cell v-if="item.deleted_at == null && item.status < '2' && item.pending_documents.length <= 0">{{ item.status == '0' ? 'Inactivo':'Activo' }}</table-cell>
										<table-cell v-if="item.status == '2' && item.deleted_at == null && item.pending_documents.length <= 0">Bloqueado</table-cell>
										<table-cell v-if="item.pending_documents.length > 0 && item.deleted_at == null">En Revisión</table-cell>
										<table-cell v-if="item.deleted_at != null">Eliminado</table-cell>
										<table-cell>{{ item.validate == '0' ? 'No':'Si' }}</table-cell>
										<table-cell>{{ item.created_at }}</table-cell>
										<table-cell>

											<a title="Ver Detalles" href="#!" class="btn-action" @click="_view(item, 'view')">
												<i class="material-icons prefix">remove_red_eye</i>
											</a>

											<a title="Editar" v-if="item.deleted_at == null" href="#!" class="btn-action" @click="_edit(item, 'edit')">
												<i class="material-icons prefix">edit</i>
											</a>

											<a title="Ver Vehiculo" href="#!" class="btn-action" @click="_vehicle(item, 'vehicle')">
												<i class="material-icons prefix">airport_shuttle</i>
											</a>

											<a title="Ver Viajes" v-if="item.routes.length > '0'" :href="`${url}/${item.id}/routes`" class="btn-action">
												<i class="material-icons prefix">map</i>
											</a>

											<a :title="item.status == '0' ? 'Activar':'Desactivar'" v-if="item.deleted_at == null && item.status < '2'" href="#!" class="btn-action" @click="_activateMod(item, 'activate')">
												<i class="material-icons prefix">{{ item.status == '0' ? 'check':'close' }}</i>
											</a>

											<a title="Solicitar Documentos" v-if="item.status != 2 && item.deleted_at == null" href="#!" class="btn-action" @click="_checkDocs(item, 'check')">
												<i class="material-icons prefix">format_list_bulleted</i>
											</a>

											<a :title="item.status == '2' ? 'Desbloquear':'Bloquear'" v-if="item.deleted_at == null" href="#!" class="btn-action" @click="_block(item)">
												<i class="material-icons prefix">{{ item.status == '2' ? 'lock_open':'lock_outline' }}</i>
											</a>

											<a :title="item.validate == '0' ? 'Validar':'Remover Validacion'" v-if="item.deleted_at == null && item.validate == '0' && item.status != '2'" href="#!" class="btn-action" @click="_validate(item)">
												<i class="material-icons prefix">{{ item.validate == '0' ? 'add_circle':'remove_circle' }}</i>
											</a>

											<a title="Eliminar" v-if="item.deleted_at == null" href="#!" class="btn-action" @click="_confirm(item, 'destroy')">
												<i class="material-icons prefix">delete</i>
											</a>

<!-- 											<a title="Ver Vehiculo" href="#!" class="btn-action" @click="_sendSock()">
												<i class="material-icons prefix">airport_shuttle</i>
											</a> -->

										</table-cell>
									</table-row>

									<table-row slot="empty-rows">
										<table-cell colspan="6">
											No se encontraron registros.
										</table-cell>
									</table-row>

								</table-byte>
							</div>

							<!-- Modal -->
							<byte-modal v-on:pressok="_delete" v-on:pressact="_activate" v-on:presscheck="_check" :confirm="modal.type.confirm" :activate="modal.type.activate" :check="modal.type.check" :check-modal="true">
								<template v-if="modal.type.action == 'view'">

								<div class="col s8">

									<div class="col s12">
										<div class="col s12 modal-title">
											<h3>Información Personal</h3>
										</div>
										<div class="col s12">
											<span>Nombre: </span> {{ modal.data.person.name }} {{ modal.data.person.lastname }}
										</div>

										<div class="col s12">
											<span>Correo Electronico: </span> {{ modal.data.email }}
										</div>

										<div class="col s12">
											<span>Teléfono: </span> {{ modal.data.person.phone }}
										</div>

										<div class="col s12">
											<span>Estado: </span> {{ modal.data.status == '0' ? 'Inactivo':'Activo' }}
										</div>

										<div class="col s12">
											<span>Tipo de Documento: </span> {{ modal.data.person.document_type_name }}
										</div>

										<div class="col s12">
											<span>{{ modal.data.person.document_type_name }}: </span> {{ modal.data.person.document }}
										</div>
									</div>
									<div class="col s12">
										<div class="col s12 modal-title">
											<h3>Información Bancaria</h3>
										</div>
										<div class="col s12">
											<span>Banco: </span> {{ modal.data.bank_user.bank.name }}
										</div>

										<div class="col s12">
											<span>Nro. de Cuenta: </span> {{ modal.data.bank_user.number }}
										</div>

										<div class="col s12">
											<span>Nro. de RUT: </span> {{ modal.data.bank_user.identification }}
										</div>

										<div class="col s12">
											<span>Tipo de Cuenta: </span> {{ modal.data.bank_user.account.name }}
										</div>
									</div>
									<div class="col s12">
										<div class="col s12 modal-title">
											<h3>Documentos del Conductor</h3>
										</div>
										<div class="col s12">
											<span>Foto del Documento: </span> {{ modal.data.person.document_photo ==  null ? 'No ha cargado RUT o Pasaporte':'' }} <a target="_blank" rel="noopener noreferrer" :href="modal.data.person.document_photo | asset" v-if="modal.data.person.document_photo != null">Descargar</a>
										</div>

										<!-- Muestra si el usuario no tiene un vehiculo activo -->
										<div class="col s12" v-if="modal.data.vehicle_active == undefined">
											<span>Permiso de Circulación: </span> No ha cargado Permiso de Circulación
										</div>
										<!-- Muestra si el usuario tiene vehiculo activo y valida si no es nulo -->
										<div class="col s12" v-else>
											<span>Permiso de Circulación: </span> {{ modal.data.vehicle_active.permit == null ? 'No ha cargado Permiso de Circulación' : '' }} <a target="_blank" rel="noopener noreferrer" :href="modal.data.vehicle_active.permit | asset" v-if="modal.data.vehicle_active.permit != null">Descargar</a>
										</div>

										<div class="col s12">
											<span>Certificado de Antecedentes: </span> {{ modal.data.person.criminal_records ==  null ? 'No ha cargado Certificado de Antecedentes':'' }} <a target="_blank" rel="noopener noreferrer" :href="modal.data.person.criminal_records | asset" v-if="modal.data.person.criminal_records != null">Descargar</a>
										</div>

										<div class="col s12">
											<span>Licencia de Conducir: </span> {{ modal.data.person.license ==  null ? 'No ha cargado Licencia de Conducir':'' }} <a target="_blank" rel="noopener noreferrer" :href="modal.data.person.license | asset" v-if="modal.data.person.license != null">Descargar</a>
										</div>
									</div>

								</div>

								<div class="col s4">
									<div class="col s12 modal-title">
										<h3>Foto del Conductor</h3>
									</div>
									<div class="col s12">
										<img :src="modal.data.person.photo | asset" class="responsive-img" v-if="modal.data.person.photo != null">
									</div>
								</div>

								</template>

								<template v-if="modal.type.action == 'destroy'">
									<div class="container-confirmation">
										<div class="confimation__icon">
											<i class="material-icons">error_outline</i>
										</div>
										<div class="confirmation__text">
											<h5>¿Realmente desea <b>eliminar</b> este conductor?</h5>
										</div>
									</div>
								</template>

								<template v-if="modal.type.action == 'activate'">

									<div class="col s12 center-text-modal">
										<h5 v-if="modal.data.status == '0'">¿Realmente desea <b>activar</b> a este Conductor?</h5>
										<h5 v-if="modal.data.status == '1'">¿Realmente desea <b>desactivar</b> a este Conductor?</h5>
									</div>

									<div class="col s8">

										<div class="col s8">
											<div class="col s12 modal-title">
												<h3>Información Personal</h3>
											</div>
											<div class="col s12">
												<span>Nombre: </span> {{ modal.data.person.name }} {{ modal.data.person.lastname }}
											</div>

											<div class="col s12">
												<span>Correo Electronico: </span> {{ modal.data.email }}
											</div>

											<div class="col s12">
												<span>Estado: </span> {{ modal.data.status == '0' ? 'Inactivo':'Activo' }}
											</div>

											<div class="col s12">
												<span>Tipo de Documento: </span> {{ modal.data.person.document_type_name }}
											</div>

											<div class="col s12">
												<span>{{ modal.data.person.document_type_name }}: </span> {{ modal.data.person.document }}
											</div>
										</div>

									</div>

									<div class="col s4">
										<div class="col s12 modal-title">
											<h3>Foto del Conductor</h3>
										</div>
										<div class="col s12">
											<img :src="modal.data.person.photo | asset" class="responsive-img" v-if="modal.data.person.photo != null">
										</div>
									</div>

									<div class="col s12">
										<div class="col s12">
											<div class="col s12 modal-title">
												<h3>Documentos del Conductor</h3>
											</div>
											<div class="col s12">
												<span>Foto del Documento: </span> {{ modal.data.person.document_photo ==  null ? 'No ha cargado RUT o Pasaporte':'' }} <a target="_blank" rel="noopener noreferrer" :href="modal.data.person.document_photo | asset" v-if="modal.data.person.document_photo != null">Descargar</a>
											</div>

											<!-- Muestra si el usuario no tiene un vehiculo activo -->
											<div class="col s12" v-if="modal.data.vehicle_active == undefined">
												<span>Permiso de Circulación: </span> No ha cargado Permiso de Circulación
											</div>
											<!-- Muestra si el usuario tiene vehiculo activo y valida si no es nulo -->
											<div class="col s12" v-else>
												<span>Permiso de Circulación: </span> {{ modal.data.vehicle_active.permit == null ? 'No ha cargado Permiso de Circulación' : '' }} <a target="_blank" rel="noopener noreferrer" :href="modal.data.vehicle_active.permit | asset" v-if="modal.data.vehicle_active.permit != null">Descargar</a>
											</div>

											<div class="col s12">
												<span>Certificado de Antecedentes: </span> {{ modal.data.person.criminal_records ==  null ? 'No ha cargado Certificado de Antecedentes':'' }} <a target="_blank" rel="noopener noreferrer" :href="modal.data.person.criminal_records | asset" v-if="modal.data.person.criminal_records != null">Descargar</a>
											</div>

											<div class="col s12">
												<span>Licencia de Conducir: </span> {{ modal.data.person.license ==  null ? 'No ha cargado Licencia de Conducir':'' }} <a target="_blank" rel="noopener noreferrer" :href="modal.data.person.license | asset" v-if="modal.data.person.license != null">Descargar</a>
											</div>
										</div>
									</div>

									<div class="col s12">
										<div class="col s12 modal-title">
											<h3>Vehiculos del Conductor</h3>
										</div>
									</div>

									<div class="col s12" v-for="(vehicle, index) in modal.data.vehicles_web" :key="index">
										<div class="col s8">

											<div class="col s8">
												<div class="col s12 modal-title">
													<h3>Información del Vehiculo {{index + 1}}</h3>
												</div>
												<div class="col s12">
													<span>Marca: </span> {{ vehicle.brand }}
												</div>

												<div class="col s12">
													<span>Modelo: </span> {{ vehicle.model }}
												</div>

												<div class="col s12">
													<span>Placa: </span> {{ vehicle.plate }}
												</div>

												<div class="col s12">
													<span>Año: </span> {{ vehicle.year }}
												</div>

											</div>

										</div>

										<div class="col s4">
											<div class="col s12 modal-title">
												<h3>Foto del Vehiculo {{ index + 1 }}</h3>
											</div>
											<div class="col s12" v-if="vehicle.photos.length > 0">
												<img :src="vehicle.photos[0].file | asset" class="responsive-img" v-if="vehicle.photos[0].file != null">
											</div>
										</div>
									</div>

								</template>

								<template v-if="modal.type.action == 'check'">
									<div class="col s12 modal-check pad-left">
										<div class="col s12 modal-check-title">
											<h3>Solicitud de Documentos</h3>
										</div>
										<div class="col s12 modal-check-subtitle">
											<h5>Seleccione los documentos que requieren ser actualizados</h5>
										</div>
										<div class="col s6">
											<div class="col s12">
												<div class="col s12">
													<label for="check-modal-photo">
														<input type="checkbox" id="check-modal-photo" @click="_addCheck('1','2', modal.desc_checks.photo)"/>
														<span class="title-check">Foto de Perfil</span>
														<a target="_blank" rel="noopener noreferrer" :href="modal.data.person.photo | asset" v-if="modal.data.person.photo != null">&nbsp; Descargar</a>
													</label>
												</div>
												<div class="col s12">
													<span class="check-desc-title">Descripción</span>
													<textarea v-model="modal.desc_checks.photo" id="message-box" class="max-width-input message-box" placeholder="¿Por qué solicita este Documento?"></textarea>
												</div>
											</div>
										</div>
										<div class="col s6" v-if="modal.data.vehicles_web.length > 0">
											<div class="col s12">
												<div class="col s12">
													<label for="check-modal-vehicle-photo">
														<input type="checkbox" id="check-modal-vehicle-photo" @click="_addCheck('3','2', modal.desc_checks.vehicle, modal.data.vehicles_web[0].id)"/>
														<span class="title-check">Foto del Vehiculo</span>
														<a target="_blank" rel="noopener noreferrer" :href="modal.data.vehicles_web[0].photos[0].file | asset" v-if="modal.data.vehicles_web[0].photos.length > 0">&nbsp; Descargar</a>
													</label>
												</div>
											</div>
											<div class="col s12">
												<span class="check-desc-title">Descripción</span>
												<textarea v-model="modal.desc_checks.vehicle" id="message-box" class="max-width-input message-box" placeholder="¿Por qué solicita este Documento?"></textarea>
											</div>
										</div>
										<div class="col s6" v-if="modal.data.vehicles_web.length > 1">
											<div class="col s12">
												<div class="col s12">
													<label for="check-modal-vehicle-2-photo">
														<input type="checkbox" id="check-modal-vehicle-2-photo" @click="_addCheck('3','2', modal.desc_checks.vehicle2, modal.data.vehicles_web[1].id)"/>
														<span class="title-check">Foto del Vehiculo #2</span>
														<a target="_blank" rel="noopener noreferrer" :href="modal.data.vehicles_web[1].photos[0].file | asset" v-if="modal.data.vehicles_web[1].photos.length > 1">&nbsp; Descargar</a>
													</label>
												</div>
											</div>
											<div class="col s12">
												<span class="check-desc-title">Descripción</span>
												<textarea v-model="modal.desc_checks.vehicle2" id="message-box" class="max-width-input message-box" placeholder="¿Por qué solicita este Documento?"></textarea>
											</div>
										</div>
										<div class="col s6">
											<div class="col s12">
												<div class="col s12">
													<label for="check-modal-document-photo">
														<input type="checkbox" id="check-modal-document-photo" @click="_addCheck('6','2', modal.desc_checks.document)"/>
														<span class="title-check">Foto del Documento (RUT o Pasaporte)</span>
														<a target="_blank" rel="noopener noreferrer" :href="modal.data.person.document_photo | asset" v-if="modal.data.person.document_photo != null">&nbsp; Descargar</a>
													</label>
												</div>
												<!-- <div class="col s12">
													<label>
														<span>Fecha de Expiración: </span> {{ modal.data.person.expiration_document != null ? modal.data.person.expiration_document : 'No ha cargado RUT o Pasaporte' }}
													</label>
												</div> -->
												<div class="col s12">
													<span class="check-desc-title">Descripción</span>
													<textarea v-model="modal.desc_checks.document" id="message-box" class="max-width-input message-box" placeholder="¿Por qué solicita este Documento?"></textarea>
												</div>
											</div>
										</div>
										<div class="col s6" v-if="modal.data.vehicles_web.length > 0">
											<div class="col s12">
												<div class="col s12">
													<label for="check-modal-permit">
														<input type="checkbox" id="check-modal-permit" @click="_addCheck('4','2', modal.desc_checks.permit, modal.data.vehicles_web[0].id)"/>
														<span class="title-check">Permiso de Circulación</span>
														<a target="_blank" rel="noopener noreferrer" :href="modal.data.vehicles_web[0].permit | asset" v-if="modal.data.vehicles_web[0].permit != null">&nbsp; Descargar</a>
													</label>
												</div>
												<div class="col s12">
													<label>
														<span v-if="modal.data.vehicles_web[0].expiration != null || modal.data.vehicles_web[0].permit != '000-00-00'">Fecha de Expiración: </span> {{ (modal.data.vehicles_web[0].expiration != null) ? _setFormatDate(modal.data.vehicles_web[0].expiration) : '' }}
													</label>
												</div>
												<div class="col s12">
													<span class="check-desc-title">Descripción</span>
													<textarea v-model="modal.desc_checks.permit" id="message-box" class="max-width-input message-box" placeholder="¿Por qué solicita este Documento?"></textarea>
												</div>
											</div>
										</div>
										<div class="col s6" v-if="modal.data.vehicles_web.length > 1">
											<div class="col s12">
												<div class="col s12">
													<label for="check-modal-permit_2">
														<input type="checkbox" id="check-modal-permit_2" @click="_addCheck('4','2', modal.desc_checks.permit, modal.data.vehicles_web[1].id)"/>
														<span class="title-check">Permiso de Circulación #2</span>
														<a target="_blank" rel="noopener noreferrer" :href="modal.data.vehicles_web[1].permit | asset" v-if="modal.data.vehicles_web[1].permit != null">&nbsp; Descargar</a>
													</label>
												</div>
												<div class="col s12">
													<label>
														<span v-if="modal.data.vehicles_web[1].expiration != null || modal.data.vehicles_web[1].permit != '000-00-00'">Fecha de Expiración: </span> {{ (modal.data.vehicles_web[1].expiration != null) ? _setFormatDate(modal.data.vehicles_web[1].expiration) : '' }}
													</label>
												</div>
												<div class="col s12">
													<span class="check-desc-title">Descripción</span>
													<textarea v-model="modal.desc_checks.permit2" id="message-box" class="max-width-input message-box" placeholder="¿Por qué solicita este Documento?"></textarea>
												</div>
											</div>
										</div>
										<div class="col s6">
											<div class="col s12">
												<div class="col s12">
													<div class="col s12">
														<label for="check-modal-criminal_records">
															<input type="checkbox" id="check-modal-criminal_records" @click="_addCheck('5','2', modal.desc_checks.criminal)"/>
															<span class="title-check">Certificado de Antecedentes</span>
															<a target="_blank" rel="noopener noreferrer" :href="modal.data.person.criminal_records | asset" v-if="modal.data.person.criminal_records != null">&nbsp; Descargar</a>
														</label>
													</div>
													<!-- <div class="col s12">
														<label>
															<span>Fecha de Expiración: </span> {{ modal.data.person.expiration_criminal_records != null ? modal.data.person.expiration_criminal_records : 'No ha cargado Certificado de Antecedentes' }}
														</label>
													</div> -->
													<div class="col s12">
														<span class="check-desc-title">Descripción</span>
														<textarea v-model="modal.desc_checks.criminal" id="message-box" class="max-width-input message-box" placeholder="¿Por qué solicita este Documento?"></textarea>
													</div>
												</div>
											</div>
										</div>
										<div class="col s6">
											<div class="col s12">
												<div class="col s12">
													<label for="check-modal-license">
														<input type="checkbox" id="check-modal-license" @click="_addCheck('2','2', modal.desc_checks.license)"/>
														<span class="title-check">Licencia de Conducir</span>
														<a target="_blank" rel="noopener noreferrer" :href="modal.data.person.license | asset" v-if="modal.data.person.license != null">&nbsp; Descargar</a>
													</label>
												</div>
												<!-- <div class="col s12">
													<label>
														<span>Fecha de Expiración: </span> {{ modal.data.person.expiration_license != null ? modal.data.person.expiration_license : 'No ha cargado Licencia de Conducir' }}
													</label>
												</div> -->
												<div class="col s12">
													<span class="check-desc-title">Descripción</span>
													<textarea v-model="modal.desc_checks.license" id="message-box" class="max-width-input message-box" placeholder="¿Por qué solicita este Documento?"></textarea>
												</div>
											</div>
										</div>
									</div>
								</template>

							</byte-modal>
						</div>
					</card-content>
				</card-main>
			</div>
		</div>
	</article>
   
</template>

<style lang="scss" scoped>
	.center-text-modal {
		display: flex;
		justify-content: center
	}
	.modal {
		z-index: 999999 !important;
	}
	.not_uploaded {
		color: red;
		font-weight: bold;
	}
	.uploaded {
		color: green;
		font-weight: bold;
	}
	.modal-title {
		h3 {
			color: #336535;
			border-bottom: 3px solid #336535;
		}
	}
	.modal-check  {
		.modal-check-title {
			margin-top: -4vh;
		}
		.modal-check-subtitle {
			margin-bottom: 2vh;
			h5 {
				text-align: center !important;
				font-size: 18px;
			}
		}
		label {
			color: black;
			.title-check {
				font-weight: bold;
				font-size: 14px;
			}
		}
		h3 {
			color: #336535;
			border-bottom: 3px solid #336535;
		}
		span.check-desc-title {
			color: #5b5b5f;
			font-size: 14px;
		}
		a {
			color: #cd3030;
			font-size: 10px;
		}
		div {
			padding: 0px 5px 0px 5px !important;
		}
	}
</style>

<script>
export default {
	template: "#template-users-index",
	props: {
		url: {
			type: String,
			default: ""
		},
		'set-table': {
			type: Array,
			default(){
				return []
			}
		},
		'set-validate': {
			type: Boolean,
			default: false
		},
		'set-status': {
			type: Number,
			default: 1,
		},
		'set-deleted': {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			zones: [],
			component: "Zona",
			modal: {
				init: {},
				title: "",
				type: {
					confirm: false,
					action: ''
				},
				data: {
					name: '',
					vehicle_active: null,
					assignments:[],
					pending_documents: [],
				},
				checks: [],
				desc_checks: {
					photo: '',
					vehicle: '',
					vehicle2: '',
					license: '',
					permit: '',
					permit2: '',
					criminal: '',
					document: ''
				}
			},
			options: {
				deleted: false,
				status: 0,
				validate: false
			}
		}
	},
	computed: {
		table() {
			let arr = this.setTable.filter(res => {
				if (this.options.deleted == true) {
					if (res.deleted_at != null) {
						if (moment(res.created_at, 'DD/MM/YYYY HH:mm:ss', true).isValid() != true) {
						    res.created_at =  moment(res.created_at).format('DD/MM/YYYY HH:mm:ss');
						}
						return res
					}
				} else {
					if (this.options.validate == true) {
						if (res.deleted_at == null && res.status == this.options.status && res.validate == '0') {
							if (moment(res.created_at, 'DD/MM/YYYY HH:mm:ss', true).isValid() != true) {
							    res.created_at =  moment(res.created_at).format('DD/MM/YYYY HH:mm:ss');
							}
							return res
						}
					} else {
						if (res.deleted_at == null && res.status == this.options.status) {
							if (moment(res.created_at, 'DD/MM/YYYY HH:mm:ss', true).isValid() != true) {
							    res.created_at =  moment(res.created_at).format('DD/MM/YYYY HH:mm:ss');
							}
							return res
						}
					}
				}

			})
			return arr
		}
	},
	methods:{

		_view(data, action){
			this.modal.title = "Ver Conductor";
			this.modal.type.action = action;
			this.modal.type.confirm = false;
			this.modal.type.activate = false;
			this.modal.type.check = false;
			this.modal.data = data;
			this.modal.data.vehicle_active = this.modal.data.vehicles_web.find(vehicle => vehicle.status == 1);
			this.modal.init.open();
		},

		_edit(data, action){
			this.$emit('edit', {data: data, option: 3});
		},

		_vehicle(data, action){
			this.$emit('vehicle', {data: data, option: 7, old_option: this.options});
		},

		_confirm(data, action){
			this.modal.title = "Eliminar Conductor";
			this.modal.type.action = action;
			this.modal.type.confirm = true;
			this.modal.type.activate = false;
			this.modal.type.check = false;
			this.modal.data = data;
			this.modal.init.open();
		},

		_activateMod(data, action){
			this.modal.title = "Activar Conductor";
			this.modal.type.action = action;
			this.modal.type.confirm = false;
			this.modal.type.activate = true;
			this.modal.type.check = false;
			this.modal.data = data;
			this.modal.data.vehicle_active = this.modal.data.vehicles_web.find(vehicle => vehicle.status == 1);
			this.modal.init.open();
		},

		_checkDocs(data, action){
			this.modal.checks = []
			this.modal.title = "Solicitar Documentos";
			this.modal.type.action = action;
			this.modal.type.confirm = false;
			this.modal.type.activate = false;
			this.modal.type.check = true;
			this.modal.data = data;
			this.modal.data.vehicle_active = this.modal.data.vehicles_web.find(vehicle => vehicle.status == 1);
			this.modal.init.open();

			console.log(this.modal.data)
		},
		_activate(){

			const driver_id = this.modal.data.id;

			axios.post(`admin/users-activate/${driver_id}`)
				.then(res => {
					if (res.data.result) {

						swal('', res.data.msg, "success")
						
						SocketApp.emit('activate-driver', {user_id: driver_id});
						
						if (this.modal.data.status == '0') {
							SocketApp.emit('notification', {
								type: 5,
								description: 'Bienvenido a Bogui. ¡Ya puedes empezar a conducir!',
								user_id: driver_id
							})
						} else {
							SocketApp.emit('notification', {
								type: 11, // desactivar el conductor
								description: 'Su cuenta fue desactivada',
								user_id: driver_id
							})
						}
						// Metodo para desactivar el vehiculo en la Web
						this.modal.data.vehicles_web.forEach(vehicle => {
							if ( (vehicle.id === res.data.vehicle.id) ) {
								vehicle.status = res.data.vehicle.status
							}
						}, this);

						this.modal.data.status = res.data.user
						this.modal.init.close();
					}
				})
				.catch(err => {
					let message = "Disculpe, ha ocurrido un error";

					if (err.response.status === 422){
						message = err.response.data;
					}
					this.modal.init.close();
					swal("", message.error, "error");
				});
		},
		_block(data){
			let driver_id = data.id
			axios.post(`admin/users-block/${data.id}`)
				.then(res => {
					if (res.data.result) {
						//console.log(data.status, 'status')
						data.status = res.data.user
						swal('', res.data.msg, "success")
						if (data.status == '2') {
						    SocketApp.emit('usuario-desactivado', { id: data.id })
						} else if (data.status == '1') {
                            SocketApp.emit('usuario-activado', { id: data.id })
                        }
						// setTimeout(()=>{
						//     location.reload();
						// }, 1500)
					}
				})
				.catch(err => {
					swal('', 'Disculpe, ha ocurrido un error', "error")
				});
		},
		_validate(data){
			swal({
			    title: "Seguro que desea activar a este Conductor?",
			    text: "",
			    type: "warning",
			    showCancelButton: true,
			    confirmButtonColor: "#2f5597",
			    confirmButtonText: "Aceptar",
			    cancelButtonText: "Cancelar",
			    closeOnConfirm: true,
			    closeOnCancel: true
			},
			function(isConfirm){
			    if (isConfirm) {
			    	showLoading();
					axios.post(`admin/users-validate/${data.id}`)
						.then(res => {
							if (res.data.result) {
								data.validate = res.data.validate
								swal('', res.data.msg, "success")
								if (data.validate == '1') {
								    SocketApp.emit('usuario-validated', { user_id: data.id })
								}
							}
						})
						.catch(err => {
							swal('', 'Disculpe, ha ocurrido un error', "error")
						})
						.then(() => {
							quitLoading();
						});
			    }
			});
		},
		_delete() {

			let me = this

			let index = this.setTable.findIndex(e => {
				return e.id == this.modal.data.id
			})

			this.modal.init.close();

			axios.delete(`admin/users/${this.modal.data.id}`)
				.then(res => {
					this.setTable[index].deleted_at = res.data.user
					this.setTable[index].vehicle.deleted_at = res.data.user
					swal('', 'Se ha eliminado al conductor con éxito', "success");
					SocketApp.emit('usuario-desactivado', { id: me.modal.data.id })
					// setTimeout(()=>{
					//     location.reload();
					// }, 1500)
					// this._back();
				})
				.catch(err => {
					swal('', 'Disculpe, ha ocurrido un error', "error")
				});
		},
		_check() {
			if (this.modal.checks.length > 0) {
				let vNum = 0
				let pcNum = 0
				this.modal.checks.forEach(res => {
					if (res.type == '1') {
						res.text = this.modal.desc_checks.photo
					} else if (res.type == '2') {
						res.text = this.modal.desc_checks.license
					} else if (res.type == '3') {
						if(vNum == 0) {
							res.text = this.modal.desc_checks.vehicle
						} else {
							res.text = this.modal.desc_checks.vehicle2
						}
						vNum += 1
					} else if (res.type == '4') {
						if(pcNum == 0) {
							res.text = this.modal.desc_checks.permit
						} else {
							res.text = this.modal.desc_checks.permit2
						}
						pcNum += 1
					} else if (res.type == '5') {
						res.text = this.modal.desc_checks.criminal
					} else if (res.type == '6') {
						res.text = this.modal.desc_checks.document
					}
				})
				axios.post(`admin/users/users-check-documents/${this.modal.data.id}`, {checks: this.modal.checks})
					.then(res => {
						if (res.data.result) {
							swal('', res.data.msg, "success");
							let countR = 0
							let countA = 0
							let reason = ''
							let vNum = 0
							let pcNum = 0
							this.modal.checks.forEach(resp => {
								if (resp.status == '2') {
									countR += 1
									let text = ''
									if (resp.type == '1') {
										text = `La Foto de perfil fue Rechazada, `
										if (this.modal.desc_checks.photo != '') {
											text += `Motivo: ` + this.modal.desc_checks.photo + ', '
										}
									} else if (resp.type == '2') {
										text = `La licencia de conducir fue Rechazada, `
										if (this.modal.desc_checks.license != '') {
											text += `Motivo: ` + this.modal.desc_checks.license + ', '
										}
									} else if (resp.type == '3') {
										if(vNum == 0) {
											text = `La Foto del vehículo fue Rechazada, `
											if (this.modal.desc_checks.vehicle != '') {
												text += `Motivo: ` + this.modal.desc_checks.vehicle + ', '
											}
										} else {
											text = `La Foto del vehículo #2 fue Rechazada, `
											if (this.modal.desc_checks.vehicle != '') {
												text += `Motivo: ` + this.modal.desc_checks.vehicle + ', '
											}
										}
										vNum += 1
									} else if (resp.type == '4') {
										if(pcNum == 0) {
											text = `El permiso de circulación fue Rechazado, `
											if (this.modal.desc_checks.permit != '') {
												text += `Motivo: ` + this.modal.desc_checks.permit + ', '
											}
										} else {
											text = `El permiso #2 de circulación fue Rechazado, `
											if (this.modal.desc_checks.permit2 != '') {
												text += `Motivo: ` + this.modal.desc_checks.permit + ', '
											}
										}
										pcNum += 1
									} else if (resp.type == '5') {
										text = `El certificado de antecedentes fue Rechazado, `
										if (this.modal.desc_checks.criminal != '') {
											text += `Motivo: ` + this.modal.desc_checks.criminal + ', '
										}
									} else if (resp.type == '6') {
										text = `El Documento (RUT o Pasaporte) fue Rechazado, `
										if (this.modal.desc_checks.document != '') {
											text += `Motivo: ` + this.modal.desc_checks.document + ', '
										}
									}
									
									reason += text

								} else if (resp.status == '1') {

									countA += 1
								}
							})
							reason = reason.replace(/,\s*$/, "");
							this.modal.data.pending_documents = res.data.docs
							let pos = this.setTable.map(function(e) { return e.id; }).indexOf(this.modal.data.id);
							if (countR > 0) {
								SocketApp.emit('notification', {
										type: 6,
										user_id: this.modal.data.id,
										description: reason
								})
								Vue.set(this.setTable[pos], 'pending_documents', res.data.rejects)
							}
							if (countR == 0 && countA == res.data.docs.length) {
								SocketApp.emit('notification', {
										type: 7,
										user_id: this.modal.data.id
								})
							}
							this.modal.desc_checks = {
								photo: '',
								vehicle: '',
								vehicle2: '',
								license: '',
								permit: '',
								permit2: '',
								criminal: '',
								document: ''
							}
							let checks = document.querySelectorAll('input[type="checkbox"]');
							for(let i =0; i< checks.length;i++){
							    let check = checks[i];
							    if(!check.disabled){
							        check.checked = false;
							    }
							}
							this.modal.checks = []
							this.modal.init.close()
						} else {
							swal('', res.data.msg, "error")
							location.reload();
							// let pos = this.setTable.map(function(e) { return e.id; }).indexOf(res.data.user.id);
							// this.setTable[pos] = res.data.user;
						}
					})
					.catch(err => {
						console.log(err)
						swal('', 'Disculpe, ha ocurrido un error', "error")
					})
			} else {
				this.modal.checks = []
				this.modal.init.close()
				let checks = document.querySelectorAll('input[type="checkbox"]');
				for(let i =0; i< checks.length;i++){
				    let check = checks[i];
				    if(!check.disabled){
				        check.checked = false;
				    }
				}
			}
		},
		_addCheck(type, status, text, vehicle_id = null) {
			// console.log(type + ' ' + status + ' ' + text + ' ' + vehicle_id)
			let obj = {
				status: status,
				type: type,
				text: text,
				vehicle_id: vehicle_id
			}
			if(type == '3' || type == '4') {
				let found = this.modal.checks.some((item) => {
					return item.type === type && item.vehicle_id === vehicle_id
				})
				if (!found) {
					this.modal.checks.push(obj)
				} else {
					let arr = this.modal.checks.filter((item) => {
						return item.type == obj.type && item.vehicle_id != obj.vehicle_id
					})
					this.modal.checks = arr
				}
			} else {
				let found = this.modal.checks.some((item) => {
					return item.type === type
				})
				if (!found) {
					this.modal.checks.push(obj)
				} else {
					let arr = this.modal.checks.filter((item) => {
						return item.type != obj.type
					})
					this.modal.checks = arr
				}
			}
			// console.log(this.modal.checks, 'modal checks')
		},
		_back(fast = false){
			this.setTable = this.Back
			if(fast){
				this.$emit('back', 0);
			}else{
				setTimeout(() => {
					this.$emit('back', 0)
				}, 2000);
			}
		},
		_setFormatDate: function (date) {
			let formatTransoform = moment(date).format('DD-MM-YYYY')
			return ( (formatTransoform == 'Invalid date')  ? 'No se ha cargado fecha de Expiración' : formatTransoform ) 
		},
		_sendSock() {
			// let data = {
			//     user_id: '1',
			//     receiver_id: '182',
			//     text: 'ALGO',
			//     chat_id: '1',
			//     file: '',
			//     created_at: moment().format('YYYY-MM-DD HH:mm:ss')
			// }
			// // me.messages.push(data)
			// SocketApp.emit('send-message', data)
			// SocketApp.emit('notification', {
			// 	type: 9,
			// 	driver_id: 168,
			// })
		}
	},
	created () {
	},
	mounted () {
		this.modal.init = M.Modal.init(document.querySelector('.modal'));
		this.options.deleted = this.setDeleted
		this.options.status = this.setStatus
		this.options.validate = this.setValidate
	}
}
</script>
