<template id="template-users-index">

    <article class="row">
        <div class="col s12 ">
            <div class="row">
                <div class="col s12 center-align">
                    <h1 v-if="options == 0">Promociones</h1>
                    <h1 v-if="options == 1">Creación de Promociones</h1>
                    <h1 v-if="options == 4">Consultar Promociones Creadas</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="col s12 m6 offset-m3" v-if="options == 0">
                    <a href="#!" class="btn btn--block btn--option" @click="options = 1">
                        Creación de Promociones
                    </a>

                    <a href="#!" class="btn btn--block btn--option" @click="options = 4">
                        Consultar Promociones Creadas
                    </a>
                </div>
            </div>

            <div class="row" v-if="options != 0">
                <div class="col s12">
                    <a href="#!" class="btn btn-back" @click="options = 0">
                        <div class="btn-back__container">
                            <label class="label-back-cont">Volver</label>
                        </div>
                    </a>
                </div>
            </div>


            <div class="row">
                <div class="col s12">
                    <promotions-form v-if="options === 1" :url="url" v-on:back="_resetView"></promotions-form>
            
                    <read-promotions v-if="options === 4" :url="url" v-on:back="_resetView" :promotions="promotions"></read-promotions>
                </div>
            </div>
        

        </div>

    </article>

</template>

<script>

import ReadPromotions from './ReadPromotions.vue';

export default {
    template: "#template-users-index",
    components: { ReadPromotions },
    props: {
        'url': {
            type: String,
            default: ""
        },
        courses: {
            type: Array,
            default(){
                return []
            }
        },
        promotions: {
            type: Array,
            default () {
                return []
            }
        },
        
    },
    data () {
        return {
            options: 0,
            modal: {
                init: {},
                title: "",
                type: {
                    confirm: false,
                    action: 'view'
                },
                data: {
                    name: ''
                }
            }
        }
    },
    methods: {
        _resetView(option){
            this.options = option;
        },
        
    },
    mounted () {
        this.modal.init = M.Modal.init(document.querySelector('.modal'));
    }
}
</script>
