<template id="template-student">
    <card-main>
        <card-content>
            <article class="row">
                
                <!-- <div class="col s4">
                    <select name="" id="" class="browser-default" v-model="filter">
                        <option value="">Todos</option>
                        <option value="4">Promociones</option>
                    </select>               
                </div> -->

                <div class="col s12">
                    <table-byte :set-table="promotions" :filters="['id', 'code', 'num_uses', 'expire_date']">

                        <table-row slot="table-head" slot-scope="{ item }">
                            <table-head>Identificación</table-head>
                            <table-head>Codigo</table-head>
                            <table-head>Numero de Usos</table-head>
                            <table-head>Valor del descuento</table-head>
                            <table-head>Estado</table-head>
                            <table-head>Fecha de Vencimiento</table-head>
                            <table-head>Acciones</table-head>
                        </table-row>

                        <table-row slot="table-row" slot-scope="{ item }">
                            <table-cell>{{ item.id }}</table-cell>
                            <table-cell>{{ item.code }}</table-cell>
                            <table-cell>{{ item.num_uses == '0' ? 'Infinito': item.num_uses }}</table-cell>
                            <table-cell>CLP {{ item.amount }}</table-cell>
                            <table-cell>{{ item.status == '0' ? 'Inactivo':'Activo' }}</table-cell>
                            <table-cell> {{ item.expire_date | date }} </table-cell>
                            <table-cell>

                                <a title="Ver Detalles" href="#!" class="btn-action"  @click="_view(item, 'view')">
                                    <i class="material-icons prefix">remove_red_eye</i>
                                </a>

                                <a title="Editar" :href="`promotions/${item.id}/edit`" class="btn-action">
                                    <i class="material-icons prefix">edit</i>
                                </a>

                                <a :title="item.status == '0' ? 'Activar':'Desactivar'" href="#!" class="btn-action" @click="_activate(item)">
                                    <i class="material-icons prefix">{{ item.status == '0' ? 'check':'close' }}</i>
                                </a>

                                <a title="Eliminar" href="#!" class="btn-action"  @click="_confirm(item, 'destroy')">
                                    <i class="material-icons prefix">delete</i>
                                </a>
                                
                            </table-cell>

                        </table-row>

                        <table-row slot="empty-rows">
                            <table-cell colspan="7">
                                No se encontraron registros.
                            </table-cell>
                        </table-row>

                    </table-byte>

                    <byte-modal v-on:pressok="_delete" v-on:presscancel="_close" :confirm="modal.type.confirm">
                        <template v-if="modal.type.action == 'view' && modal.data">

                            <template>
                                <div class="col s12 modal-title">
                                    <h3>Datos de la Promocion</h3>
                                </div>
                                
                                <div class="col s9">
                                    <div class="col s12">
                                        <span>Identificación: </span> {{ modal.data.id }}
                                    </div>

                                    <div class="col s12">
                                        <span>Codigo: </span> {{ modal.data.code }}
                                    </div>

                                    <div class="col s12">
                                        <span>Numero de Usos: </span> {{ modal.data.num_uses }}
                                    </div>

                                    <div class="col s12">
                                        <span>Valor del descuento: </span> CLP {{ modal.data.amount }}
                                    </div>

                                    <div class="col s12">
                                        <span>Descripcion: </span> {{ modal.data.description }}
                                    </div>

                                    <div class="col s12">
                                        <span>Estado: </span> {{ modal.data.status == '0' ? 'Inactivo':'Activo' }}
                                    </div>

                                </div>

                            </template>

                        </template>

                        <template v-if="modal.type.action == 'destroy'">
                            <div class="container-confirmation">
                                <div class="confimation__icon">
                                    <i class="material-icons">error_outline</i>
                                </div>
                                <div class="confirmation__text">
                                    <h5>¿Realmente desea <b>Eliminar</b> la <b> promocion</b>?</h5>
                                </div>
                            </div>
                        </template>
                    </byte-modal>
                </div>

            </article>
        </card-content>
    </card-main>
</template>

<style>
    .input-search-table {
        display: none;
    }
    .collapsible-body {
        padding: 1rem;
    }
</style>

<script>
    export default {
        template: "#template-student",
        props: {
            url: String,
            promotions: {
                type: Array,
                default () {
                    return []
                }
            }
        },
        data () {
            return {
                filter: '',
                modal: {
                    init: {},
                    title: "",
                    type: {
                        confirm: false,
                        action: 'view'
                    },
                    data: {
                        id: '',
                        code: ''
                    }
                }
            }
        },
        methods: {
            _back(){
                this.$emit('back', 0);
            },
            _view(data, action){
                this.modal.title = "Ver promocion";
                this.modal.type.action = action;
                this.modal.type.confirm = false;
                this.modal.data = data;
                this.modal.init.open();
                setTimeout(() => {
                    var elems = document.querySelectorAll('.collapsible');
                    var instances = M.Collapsible.init(elems);
                }, 300)
                
            },
            _initCollabsible () {
                console.log('asd')
            },
            _destroyCollabsible () {
                instances.destroy()
            },
            _confirm(data, action){
                this.modal.title = "Eliminar promocion";
                this.modal.type.action = action;
                this.modal.type.confirm = true;
                this.modal.data = data;
                this.modal.init.open();
            },
            _activate_mod(data, action){
                if (data.status == '0') {
                    this.modal.title = "Activar promocion";
                } else {
                    this.modal.title = "Desactivar promocion";
                }
                this.modal.type.action = action;
                this.modal.type.activate = true;
                this.modal.data = data;
                this.modal.init.open();
            },
            _delete(){
                let index = this.promotions.findIndex(e => {
                    return e.id == this.modal.data.id
                })
                
                this.modal.init.close()

                axios.delete(`admin/promotions/${this.modal.data.id}`)
                    .then(res => {
                        if(res.data.result == undefined){
                            this.promotions.splice(index, 1);
                            swal('', 'Se ha eliminado la promocion con éxito', 'success');
                        }
                        
                    })
                    .catch(err => {
                        console.log(err, 'err')
                        swal('', 'Disculpe, ha ocurrido un error', "error")
                    });
            },
            _close() {
                this.modal.init.close()
                this.modal.title = "";
                this.modal.type.action = 'view';
                this.modal.type.confirm = false;
                this.modal.data = {};
            },
            _activate(data){

                axios.post(`admin/promotions-activate/${data.id}`)
                    .then(res => {
                        if (res.data.result) {
                            data.status = res.data.promotion
                            swal('', res.data.msg, "success")
                        }
                    })
                    .catch(err => {
                        swal('', 'Disculpe, ha ocurrido un error', "error")
                    });
            },
        },
        mounted () {
            this.modal.init = M.Modal.init(document.querySelector('.modal'));
        }
    }
</script>